Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Update shards.yml (#9644)
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
Labels: none

Remove `IInteractUsing` (#9718)
  Content.Shared/Interaction/InteractUsing.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove `IAfterInteract` (#9715)
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Interaction/AfterInteract.cs
  Content.Shared/Interaction/Helpers/SharedUnoccludedExtensions.cs
  Content.Shared/Interaction/RangedInteract.cs
  Content.Shared/Popups/SharedPopupExtensions.cs
Labels: none

dart becomestation comp fix (plus render) (#9497)
  Resources/Maps/dart.yml
Labels: Changes: Map

Hospital curtains add (#9707)
  Resources/Audio/Effects/curtain_openclose.ogg
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
  Resources/Textures/Structures/Decoration/curtains.rsi/closed.png
  Resources/Textures/Structures/Decoration/curtains.rsi/meta.json
  Resources/Textures/Structures/Decoration/curtains.rsi/open.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[2 lines] fix blinding (#9690)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlindingSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/BlindfoldComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/blindfold.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Shaders/greyscale.yml
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/meta.json
  Resources/Textures/Shaders/greyscale_fullscreen.swsl
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Re-implement recoil (#9406)
  Content.Client/Camera/CameraRecoilSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Camera/CameraRecoilSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Gravity/EntitySystems/GravityShakeSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix zombie percent in the round end summary (#9682)
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
Labels: none

Изменение формата правил
  Resources/Server Info/RulesCorvax.txt
Labels: none

Изменение формата правил
  Resources/Server Info/RulesCorvax.txt
Labels: none

Make controlmob not require sentience (#9479)
  Content.Server/Administration/Commands/ControlMob.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: none

Outer clothing nerf (#9143)
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Muzzle flash enhancements (#9527)
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Content.Shared/Weapons/Ranged/Events/MuzzleFlashEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

remove 1 taser (#9725)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Remove some tasers (#9727)
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/LootTables/suspicion_loot_table.yml
Labels: Changes: Map

Packed Station Update (#9722)
  Resources/Maps/packedstation.yml
Labels: Changes: Map

RPG-7, Kardashev rifle and Hristov heavy sniper resprites (#9729)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/rocket0-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/rocket0-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/meta.json
Labels: Changes: Sprites

Guard against weird renderer bug (#9720)
  Content.MapRenderer/Painters/EntityPainter.cs
Labels: none

Make disposal pipes use generic visualizer (#9672)
  Content.Client/Disposal/Visualizers/DisposalVisualizer.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add AMIV disease stages (#9637)
  Content.Server/Disease/Effects/DiseasePolymorph.cs
  Resources/Locale/en-US/disease/disease.ftl
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix bricked welding component (#9741)
  Content.Server/Tools/Systems/WeldableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make entity storage lookup range positive (#9735)
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add uplink command completions (#9742)
  Content.Server/Traitor/Uplink/Commands/AddUplinkCommand.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Resources/Locale/en-US/administration/commands/add-uplink-command.ftl
Labels: Changes: Localization

Remove telekinesis (#9737)
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: none

Add batch cooking (#9359)
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Prevent content from overriding sprite shader (#9036)
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Interactable/Components/InteractionOutlineComponent.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
Labels: none

Fix disappearing decals bug (#9608)
  Content.Client/Commands/ZoomCommand.cs
  Content.Client/Decals/DecalSystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Decals/SharedDecalSystem.cs
  Resources/Locale/en-US/commands/zoom-command.ftl
  Resources/clientCommandPerms.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make flash prevent handheld light toggle (#9448)
  Content.Server/Flash/FlashSystem.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
