Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Update meteor announce (#440)
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/meteors_end.ogg
  Resources/Audio/Announcements/meteors_start.ogg
  Resources/Locale/ru-RU/station-events/events/meteor-swarm.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization

Escape [ in changelog (#11710)
  Resources/Changelog/Changelog.yml
Labels: none

Translation corrections (#441)
  Resources/Locale/ru-RU/administration/commands/call-shuttle-command.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/chemistry/components/hypospray-component.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
Labels: Changes: Localization

Translation corrections (#441)
  Resources/Locale/ru-RU/administration/commands/call-shuttle-command.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/chemistry/components/hypospray-component.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add boxer locale (#11712)
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Labels: Changes: Localization

Fixing UI bugs (#11716)
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsWindow.xaml
  Content.Client/Administration/UI/Notes/AdminNotesControl.xaml
  Content.Client/Administration/UI/Notes/AdminNotesWindow.xaml
  Content.Client/Changelog/ChangelogWindow.xaml
Labels: Changes: UI

Removed a weird offset in closed_toilet_seat_up.png (#11711)
  Resources/Textures/Structures/Furniture/toilet.rsi/closed_toilet_seat_up.png
Labels: Changes: Sprites

watermelon flavor (#11701)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

view ghosts on round end (#11680)
  Content.Server/Administration/Commands/ShowGhostsCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Revenant/EntitySystems/CorporealSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update end event sound alert type (#442)
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/power_on.ogg
Labels: none

Update end event sound alert type (#442)
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/power_on.ogg
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update announces alert (#443)
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/meteors_end.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/welcome.ogg
Labels: none

Update announces alert (#443)
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/meteors_end.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/welcome.ogg
Labels: none

Use nearest edge for interaction range (#11660)
  Content.IntegrationTests/Tests/Interaction/InRangeUnobstructed.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Localize disposal unit state (#11725)
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Resources/Locale/en-US/disposal/unit/components/disposal-unit-component.ftl
Labels: Changes: Localization

Fix incorrect gender on humanoid appearance cloning (#11745)
  Content.Server/Humanoid/Systems/HumanoidSystem.cs
Labels: none

Fix drinks locale (#11722)
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: none

Fix space bears (#11749)
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Bandaid fixtureless buttons (#11748)
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

cencumtomroacuaomtomc (#11750)
  Resources/Maps/centcomm.yml
Labels: Changes: Map

Return "space station" to welcome AI announce (#446)
  Resources/Audio/Announcements/welcome.ogg
Labels: none

Return "space station" to welcome AI announce (#446)
  Resources/Audio/Announcements/welcome.ogg
Labels: none

Fix newline serialization in locale script
  Tools/ss14_ru/fluentast.py
Labels: none

Fix newline serialization in locale script
  Tools/ss14_ru/fluentast.py
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/base_clothingshoes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/furniture/memorial.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/substation.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/stay-alive-condition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/base_clothingshoes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/memorial.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/base_clothingshoes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/furniture/memorial.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/substation.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/stay-alive-condition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/base_clothingshoes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/memorial.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update artifact goal document fields (#448)
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: Changes: Localization

Update artifact goal document fields (#448)
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: Changes: Localization

Fixes singulo bouncing (#11756)
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
