Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Translate Upstream #1191 (#1193)
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/cuffs/components/cuffable-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/nutrition/components/animal-husbandry.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/radio/components/encryption-key-component.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/fluff_lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/monkeycube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/paintings.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Labels: Changes: Localization

Add Packed & Saltern to default map pool (#1208)
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: none

Add Packed & Saltern to default map pool (#1208)
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: none

Correct kvass translation (#1212)
  Resources/Locale/ru-RU/corvax/prototypes/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/tanks/tanks.ftl
Labels: Changes: Localization

Correct kvass translation (#1212)
  Resources/Locale/ru-RU/corvax/prototypes/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/tanks/tanks.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Power balancing + other fixes for Core (#18150)
  Resources/Maps/core.yml
Labels: Changes: Map

Make clumsy entities able to shoot funny weapons (#18156)
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add syndicate monkey reinforcement (#18126)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

omega update (#18159)
  Resources/Maps/omega.yml
Labels: Changes: Map

Disposable turret balance changes (#18155)
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/disposable_turret.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Box station psychologist (#18174)
  Resources/Maps/box.yml
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Arachnids: New markings, new organs sprites and chelicerae (#18177)
  Resources/Locale/en-US/markings/arachnid.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/chipped.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/curled.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/harvest.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/long.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/meta.json
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/sharp.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/short.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/stingers.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/web.png
  Resources/Textures/Mobs/Customization/Arachnid/appendages.rsi/zigzag.png
  Resources/Textures/Mobs/Customization/Arachnid/chelicerae.rsi/basic.png
  Resources/Textures/Mobs/Customization/Arachnid/chelicerae.rsi/meta.json
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/cross.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/heart.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/hourglass.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/meta.json
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/nail-and-hammer.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/slashes.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/star.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/stripes.png
  Resources/Textures/Mobs/Customization/Arachnid/chest.rsi/x.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/heart-off.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/heart-on.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/lung-l.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/lung-r.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/meta.json
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/muscle.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/stomach.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/web-gland.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/eyes.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/template.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Made Artifact EORG a server config (#18172)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix packaging (#18188)
  Tools/package_server_build.py
Labels: none

Admin notes bugfixes (#18189)
  Content.Client/Administration/UI/Notes/AdminNotesLinePopup.xaml.cs
  Content.Client/Administration/UI/Notes/NoteEdit.xaml.cs
  Content.Server.Database/Migrations/Postgres/20230503001749_AdminNotesImprovement.cs
  Content.Server/Administration/BanList/BanListEui.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/Database/ServerDbBase.cs
  Tools/package_server_build.py
Labels: Changes: UI

Reduce Nitrogen Tank output pressure (#18193)
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Labels: none

changes the id of the forensic gloves to be more structured and standards compliant (#18178)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/migration.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Change to allow Space creature types to float in space like carps do (#18190)
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

ERT security officer and CBURN cannot be Dyons (#1214)
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

ERT security officer and CBURN cannot be Dyons (#1214)
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Make the access list in the id card computer a separate control
  Content.Client/Access/UI/AccessLevelControl.xaml
  Content.Client/Access/UI/AccessLevelControl.xaml.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/Doors/Electronics/DoorElectronicsConfigurationMenu.xaml
  Content.Client/Doors/Electronics/DoorElectronicsConfigurationMenu.xaml.cs
  Content.Shared/Access/Systems/SharedAccessSystem.cs
Labels: Changes: UI

Nullable reference "warning" (#18191)
  Content.Server/Database/ServerDbBase.cs
Labels: none

Straitjacket Functionality. (#18052)
  Content.Shared/Cuffs/Components/CuffableComponent.cs
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Locale/en-US/cuffs/components/cuffable-component.ftl
  Resources/Locale/en-US/cuffs/components/handcuff-component.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Textures/Clothing/OuterClothing/Misc/straight_jacket.rsi/body-overlay-2.png
  Resources/Textures/Clothing/OuterClothing/Misc/straight_jacket.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nerf bed and medical bed healing potency for groups (#18222)
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix anomalies spawning on escape pods (#18225)
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
