Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Add space, question & exclamation mark
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

Fix ScaleSolution() (#13630)
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Tests/Shared/Chemistry/Solution_Tests.cs
Labels: none

Improve hand error log (#13631)
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
Labels: none

Fix active-wire error (#13632)
  Content.Server/Wires/WiresSystem.cs
Labels: none

predict emag and make blessed record struct events (#13623)
  Content.Server/Atmos/Monitor/Systems/FireAlarmSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Emag/EmagSystem.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Lock/LockSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Recycling/RecyclerSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/Emag/Systems/SharedEmagSystem.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Resources/Locale/en-US/emag/emag.ftl
Labels: Changes: Localization

Few physical description fixes (#13634)
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Reagents/chemicals.yml
Labels: Changes: Localization

Update bolt light after bolts fall (#13636)
  Content.Server/Doors/Systems/AirlockSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/dat_fukken_disk.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/server-tab.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/construction/steps/temperature-construction-graph-step.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu-presenter.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/power/components/power-switch-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/dat_fukken_disk.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/server-tab.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/construction/steps/temperature-construction-graph-step.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu-presenter.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/power/components/power-switch-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: Changes: Localization

fix cburn job spawner sprite (#13640)
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Textures/Markers/jobs.rsi/cburn.png
  Resources/Textures/Markers/jobs.rsi/meta.json
Labels: Changes: Sprites

Translation edits (#763)
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
Labels: Changes: Localization

Translation edits (#763)
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
Labels: Changes: Localization

Translate Upstream #764 (#765)
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/construction/steps/temperature-construction-graph-step.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu-presenter.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/power/components/power-switch-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/dat_fukken_disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: Changes: Localization

Translate Upstream #764 (#765)
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/construction/steps/temperature-construction-graph-step.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu-presenter.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/power/components/power-switch-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/dat_fukken_disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: Changes: Localization

[Map] Delta update (#766)
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: none

[Map] Delta update (#766)
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

More cookie fortunes (#13584)
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Unique Hardsuit Light Colors (#13639)
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: none

Tiny ERT touch-up (#13649)
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Clothing/Back/Backpacks/ertleader.rsi/equipped-BACKPACK.png
Labels: Changes: Sprites

Remove science screams (#13650)
  Resources/Audio/Voice/Human/science_scream1.ogg
  Resources/Audio/Voice/Human/science_scream2.ogg
  Resources/Audio/Voice/Human/science_scream3.ogg
  Resources/Audio/Voice/Human/science_scream4.ogg
  Resources/Audio/Voice/Human/science_scream5.ogg
  Resources/Audio/Voice/Human/science_scream6.ogg
  Resources/Prototypes/SoundCollections/screams.yml
Labels: none

Spiders Buff and critters change (#13377)
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/StationEvents/Events/SpiderSpawn.cs
  Content.Shared/Spider/IgnoreSpiderWebComponent.cs
  Content.Shared/Spider/SharedSpiderSystem.cs
  Content.Shared/Spider/SpiderComponent.cs
  Content.Shared/Spider/SpiderWebObjectComponent.cs
  Content.Shared/Spider/SpiderWebVisualsComponent.cs
  Resources/Locale/en-US/actions/actions/spider.ftl
  Resources/Prototypes/Actions/spider.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Interface/Actions/web.png
  Resources/Textures/Objects/Misc/spiderweb.rsi/meta.json
  Resources/Textures/Objects/Misc/spiderweb.rsi/spider_web_1.png
  Resources/Textures/Objects/Misc/spiderweb.rsi/spider_web_2.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Zombie cloning fix (#12520)
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add a crew monitoring server (#7542)
  Content.Server/DeviceNetwork/Components/StationLimitedNetworkComponent.cs
  Content.Server/DeviceNetwork/DeviceNet.cs
  Content.Server/DeviceNetwork/Systems/DeviceNetworkSystem.cs
  Content.Server/DeviceNetwork/Systems/StationLimitedNetworkSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Prototypes/Device/devicenet_frequencies.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
  Resources/Textures/Structures/Machines/server.rsi/meta.json
  Resources/Textures/Structures/Machines/server.rsi/variant-crew.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add credit to Tomb of the Unknown Employee sprite (#13652)
  Resources/Textures/Structures/Furniture/Memorials/ss13_memorial.rsi/meta.json
Labels: none

Gives clown access to the Happy Honk Dispenser (#13654)
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

Random filling for cabinets (#13633)
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: none

Fix damage flipflops (#13666)
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Rotation/RotationVisualizerSystem.cs
  Content.Client/Rotation/RotationVisualsComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add dot and semicolon to TTS whitelist
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

Add dot and semicolon to TTS whitelist
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

fix the last ignored prototypes in prototype save test (#13672)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Speech/VocalSystem.cs
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Specific/dragon.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
Labels: none

log error when trying to set invalid solution ratio and clamp it (#13675)
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
Labels: none

Add SpawnAndDirtyAllEntities test (#13629)
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Mind/MindSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
