Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Add new 6 TTS voices (#1670)
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Localization

Add new 6 TTS voices (#1670)
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Localization

fix cargo backpack inhand sprite (#22888)
  Resources/Textures/Clothing/Back/Backpacks/cargo.rsi/inhand-right.png
Labels: Changes: Sprites

Adds a vscode launch option for starting the client in the compatibility renderer (#22904)
  .vscode/launch.json
Labels: none

Clamp after AdjustMoles() (#22907)
  Content.Server/Atmos/GasMixture.cs
Labels: none

Fix missing pipe on barratry (#22889)
  Resources/Maps/barratry.yml
Labels: Changes: Map

Added Santa's hardsuit and helmet. (#22898)
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/santahelm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/santahelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/santahelm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/santahelm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/santahelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/santahardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/santahardsuit.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/santahardsuit.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/santahardsuit.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/santahardsuit.rsi/meta.json
Labels: Changes: Sprites

Fix nettle seeds inhand sprite (#22891)
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/Objects/Specific/Hydroponics/death_nettle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/death_nettle.rsi/produce-inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/death_nettle.rsi/produce-inhand-right.png
  Resources/Textures/Objects/Specific/Hydroponics/nettle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/nettle.rsi/produce-inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/nettle.rsi/produce-inhand-right.png
Labels: Changes: Sprites

Core update (#22909)
  Resources/Maps/core.yml
Labels: Changes: Map

Ion law visuals (#22908)
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/RichText/ScrambleTag.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Resources/Locale/en-US/station-events/events/ion-storm.ftl
  Resources/Prototypes/fonts.yml
Labels: Changes: UI, Changes: Localization

Fixed PaperSystem bugs (#22896)
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Server/Paper/PaperSystem.cs
Labels: none

bagel update (#22910)
  Resources/Maps/bagel.yml
Labels: Changes: Map

New boxstation emergency shuttle (#22912)
  Resources/Maps/Shuttles/emergency_box.yml
  Resources/Maps/Shuttles/emergency_omega.yml
  Resources/Prototypes/Maps/omega.yml
Labels: Changes: Map

add ninja borg laws (#22778)
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization

Add maximum atmos temperature limit (#22882)
  Content.Server/Atmos/GasMixture.cs
  Content.Shared/Atmos/Atmospherics.cs
Labels: none

Adds sound to Smoke Grenades (#22866)
  Resources/Audio/Effects/Smoke-grenade.ogg
  Resources/Audio/Effects/attributions.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/gamerules/midround.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-atmospherics.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/midround.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/gamerules/midround.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-atmospherics.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/midround.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: Changes: Localization

Adding intermediate industrial chems (#22614)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: Localization

Minor alert locale (#22926)
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/magboots.yml
  Resources/Prototypes/Alerts/revenant.yml
Labels: Changes: Localization

Janitor equipment slot locale, vehicle slot (Keys) locale (#22859)
  Resources/Locale/en-US/janitorial/janitorial-slot-component.ftl
  Resources/Locale/en-US/vehicle/vehicle.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: Changes: Localization

Nerfed bloodsuckers- They can no longer tank some incoming damage types by chugging blood (#22880)
  Resources/Prototypes/Reagents/biological.yml
Labels: none

Increase cigarette count in cig packs (#22919)
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
Labels: none

nukie medic chest rig explosion res buff (#22923)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

remove max item size from storage implant (#22928)
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Add hobo
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/Hobo/HoboSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Hobo/HoboSystem.cs
  Content.Shared/Ghost/DeadHearingComponent.cs
  Content.Shared/Hobo/HoboComponent.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/hobo.yml
  Resources/Prototypes/Entities/Mobs/Species/hobo.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Add hobo
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/Hobo/HoboSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Hobo/HoboSystem.cs
  Content.Shared/Ghost/DeadHearingComponent.cs
  Content.Shared/Hobo/HoboComponent.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/hobo.yml
  Resources/Prototypes/Entities/Mobs/Species/hobo.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Add hobo
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/Hobo/HoboSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Hobo/HoboSystem.cs
  Content.Shared/Ghost/DeadHearingComponent.cs
  Content.Shared/Hobo/HoboComponent.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/hobo.yml
  Resources/Prototypes/Entities/Mobs/Species/hobo.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Add new year lobby arts (#1673)
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.png
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.png
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-save.png
  Resources/Textures/Corvax/LobbyScreens/new-year-save.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.png
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.png.yml
Labels: none

Add new year lobby arts (#1673)
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.png
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.png
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-save.png
  Resources/Textures/Corvax/LobbyScreens/new-year-save.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.png
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.png.yml
Labels: none

Translation fixes (#1671)
  Resources/Locale/ru-RU/components/base-computer-ui-component.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
Labels: Changes: Localization

Translation fixes (#1671)
  Resources/Locale/ru-RU/components/base-computer-ui-component.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
Labels: Changes: Localization

Borg locale (#1663)
  Resources/Prototypes/Datasets/Names/borg.yml
Labels: none

Borg locale (#1663)
  Resources/Prototypes/Datasets/Names/borg.yml
Labels: none

fix fireaxe rotation (#22930)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: none

Janibelt whitelist fix and update (#21058)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

Add a 'Copy' button to the fax UI (#22027)
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Fax/UI/FaxWindow.xaml
  Content.Client/Fax/UI/FaxWindow.xaml.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/Fax/SharedFax.cs
  Resources/Locale/en-US/fax/fax.ftl
Labels: Changes: UI, Changes: Localization

Translate Upstream #1672 (#1674)
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: Changes: Localization

Translate Upstream #1672 (#1674)
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: Changes: Localization

add limits to steal objectives (#22672)
  Content.Server/Objectives/Components/ObjectiveLimitComponent.cs
  Content.Server/Objectives/Systems/ObjectiveLimitSystem.cs
  Resources/Prototypes/Objectives/traitor.yml
Labels: none
