Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fix the organtype (#21347)
  Resources/Prototypes/Reagents/gases.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

mindshield implants (#21269)
  Resources/Maps/origin.yml
Labels: Changes: Map

Candy Bucket for Halloween (#21257)
  Content.Shared/ContainerHeld/ContainerHeldComponent.cs
  Content.Shared/ContainerHeld/ContainerHeldSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/candy_bucket.yml
  Resources/Textures/Objects/Fun/candy_bucket.rsi/empty-inhand-left.png
  Resources/Textures/Objects/Fun/candy_bucket.rsi/empty-inhand-right.png
  Resources/Textures/Objects/Fun/candy_bucket.rsi/empty_icon.png
  Resources/Textures/Objects/Fun/candy_bucket.rsi/full-inhand-left.png
  Resources/Textures/Objects/Fun/candy_bucket.rsi/full-inhand-right.png
  Resources/Textures/Objects/Fun/candy_bucket.rsi/full_icon.png
  Resources/Textures/Objects/Fun/candy_bucket.rsi/meta.json
Labels: Changes: Sprites

make bloodred large size (#21362)
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Cockroach + Glockroach Admeme + Mothroach (#19752)
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/timed.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/NPCs/mob.yml
  Resources/Textures/Mobs/Animals/cockroach.rsi/cockroach_dead.png
  Resources/Textures/Mobs/Animals/cockroach.rsi/cockroach_icon.png
  Resources/Textures/Mobs/Animals/cockroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach_dead.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach_lazy.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach_sleep.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

blue blood now requires copper instead of iron to cure bloodloss (#20863)
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Prototypes/Animal/hemocyanin.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/elements.yml
Labels: Changes: Localization

Command Styled QM Card (#21368)
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/idquartermaster.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Validate PresetIdCardComponent.JobName prototype ids (#21361)
  Content.Server/Access/Components/PresetIdCardComponent.cs
Labels: none

Anomaly Cores (#21306)
  Content.Server/Anomaly/Components/AnomalyCoreComponent.cs
  Content.Server/Anomaly/Effects/AnomalyCoreSystem.cs
  Content.Shared/Anomaly/AnomalyCoreVisuals.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Textures/Structures/Specific/Anomalies/Cores/bluespace_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/bluespace_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/bluespace_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/electric_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/electric_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/electric_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/flesh_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/flesh_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/flesh_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/gravity_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/gravity_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/gravity_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/ice_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/ice_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/ice_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/liquid_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/liquid_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/liquid_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/pyro_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/pyro_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/pyro_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/rock_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/rock_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/rock_core.rsi/pulse.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Getting turned to a rev makes the rev antag sound (#21316)
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Update ban.ftl"
  Resources/Locale/ru-RU/info/ban.ftl
Labels: Changes: Localization

Revert "Update ban.ftl"
  Resources/Locale/ru-RU/info/ban.ftl
Labels: Changes: Localization

ban webhook from space stories
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Shared/AdventureSpace/CCVars.cs
  Resources/Locale/ru-RU/info/ban.ftl
Labels: Changes: Localization

ban webhook from space stories
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Shared/AdventureSpace/CCVars.cs
  Resources/Locale/ru-RU/info/ban.ftl
Labels: Changes: Localization

FIX CCVARS
  Content.Shared/AdventureSpace/ACCVars.cs
Labels: none

FIX CCVARS
  Content.Shared/AdventureSpace/ACCVars.cs
Labels: none

fix ban webhook
  Content.Shared/AdventureSpace/CCVars.cs
Labels: none

fix ban webhook
  Content.Shared/AdventureSpace/CCVars.cs
Labels: none

fix ban webhook
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/AdventureSpace/CCVars.cs
Labels: none

fix ban webhook
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/AdventureSpace/CCVars.cs
Labels: none

fix ban webhook
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/AdventureSpace/CCVars.cs
Labels: none

fix ban webhook
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/AdventureSpace/CCVars.cs
Labels: none

Revert "Enable skeletons temporarily for Halloween (#21356)" (#21385)
  Resources/Prototypes/Species/skeleton.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix tests fail (#21384)
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Mark all tests that restart rounds as dirty (#21376)
  Content.IntegrationTests/Tests/Minds/MindTests.ReconnectTests.cs
  Content.IntegrationTests/Tests/Replays/ReplayTests.cs
  Content.IntegrationTests/Tests/ResettingEntitySystemTests.cs
  Content.IntegrationTests/Tests/RestartRoundTest.cs
  Content.IntegrationTests/Tests/RoundEndTest.cs
Labels: none

Fix votes
  Resources/Prototypes/game_presets.yml
Labels: none

Fix votes
  Resources/Prototypes/game_presets.yml
Labels: none

Add map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

Add map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

Fix map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

Fix map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

Fix errors
  .github/workflows/conflict-labeler.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
