Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Use custom shuttle for maps
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map

Use custom shuttle for maps
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map

Update hjack shuttle objective
  Content.Server/Corvax/Objectives/Conditions/HijackShuttleCondition.cs
Labels: none

Update hjack shuttle objective
  Content.Server/Corvax/Objectives/Conditions/HijackShuttleCondition.cs
Labels: none

Use components for Corvax map prototypes
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/box.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: none

Use components for Corvax map prototypes
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/box.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: none

Translation fixes (#1079)
  Resources/Locale/ru-RU/advertisements/vending/theater.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
Labels: Changes: Localization

Translation fixes (#1079)
  Resources/Locale/ru-RU/advertisements/vending/theater.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
Labels: Changes: Localization

Fix arachnid last name species prototype (#1081)
  Resources/Prototypes/Species/arachnid.yml
Labels: none

Fix arachnid last name species prototype (#1081)
  Resources/Prototypes/Species/arachnid.yml
Labels: none

Skull bandana sprite updates (#16656)
  Resources/Textures/Clothing/Head/Bandanas/skull.rsi/equipped-HELMET.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Space sections substantially slower (5-15 sec, exponential) with cooling (#16115)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Shared/Atmos/Atmospherics.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

saltern gaming!!!! (#16636)
  Resources/Maps/saltern.yml
Labels: Changes: Map

[Items] Pins (#1037)
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit.png
Labels: Changes: Sprites

[Items] Pins (#1037)
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Add] Adds winterdrobe (#16652)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/winterdrobe.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/winterdrobe.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/winterdrobe.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/winterdrobe.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/winterdrobe.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/winterdrobe.rsi/panel.png
Labels: Changes: Sprites

bible is a book (#16660)
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Puddle drink fixes (#16661)
  Content.Server/Nutrition/Components/DrinkComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add AKMS into t-uplink (#16544)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix some announcements code (#16585)
  Content.Server/Announcements/RoundAnnouncementPrototype.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Prototypes/round_announcements.yml
Labels: none

Telepad revival (#16664)
  Content.Client/Cargo/CargoTelepadComponent.cs
  Content.Client/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Cargo/Components/CargoTelepadComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/Components/SharedCargoTelepadComponent.cs
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Structures/cargo_telepad.rsi/display.png
  Resources/Textures/Structures/cargo_telepad.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Upstream #1080 (#1082)
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/botany/swab.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/markings/arachnid.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/powersink/powersink.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/reagents/meta/cleaning.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/cargo.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/engineer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/heads.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/scarfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/frame.ftl
Labels: Changes: Localization

Translate Upstream #1080 (#1082)
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/botany/swab.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/markings/arachnid.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/powersink/powersink.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/reagents/meta/cleaning.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/cargo.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/engineer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/heads.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/scarfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/frame.ftl
Labels: Changes: Localization

Winterdrobe emag (#16672)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[entity] add flanel clothing (#16671)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/meta.json
Labels: Changes: Sprites

Nerf boots of blinding speed (#16649)
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

give handheld radio its own channel (#16673)
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add solution visuals for watertank, fueltank etc. (#16653)
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-6.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-7.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-6.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-7.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2.png
Labels: Changes: Sprites

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
