Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Kill `SharedEntityExtensions` and all popup extensions (#20909)
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/LogSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Coordinates/SpawnRandomOffsetSystem.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Popups/PopupExtensions.cs
  Content.Server/Popups/PopupMsgCommand.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Shared/Popups/SharedPopupExtensions.cs
  Content.Shared/Random/Helpers/SharedEntityExtensions.cs
  Content.Shared/Random/RandomHelperSystem.cs
  SpaceStation14.sln.DotSettings
Labels: none

Update secret server resource dir name
  Tools/package_client_build.py
Labels: none

Update secret server resource dir name
  Tools/package_client_build.py
Labels: none

Stun baton tweak (#20970)
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix item drop mispredicts (#21035)
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Update secret server resource dir name"
  Tools/package_client_build.py
Labels: none

Revert "Update secret server resource dir name"
  Tools/package_client_build.py
Labels: none

Translate Upstream #1501 (#1503)
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/corvax/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
Labels: Changes: Localization

Translate Upstream #1501 (#1503)
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/corvax/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
Labels: Changes: Localization

Revert "Update WL server title" (#1508)
  Resources/ConfigPresets/Corvax/wl.toml
Labels: none

Revert "Update WL server title" (#1508)
  Resources/ConfigPresets/Corvax/wl.toml
Labels: none

technology auto guidebook (#21029)
  Content.Client/Guidebook/Controls/GuideTechDisciplineEmbed.xaml
  Content.Client/Guidebook/Controls/GuideTechDisciplineEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideTechnologyEmbed.xaml
  Content.Client/Guidebook/Controls/GuideTechnologyEmbed.xaml.cs
  Content.Client/Research/UI/MiniTechnologyCardControl.xaml.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Server/Research/TechnologyDisk/Systems/TechnologyDiskSystem.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/research/components/research-console-component.ftl
  Resources/Prototypes/Guidebook/science.yml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Science/Technologies.xml
Labels: Changes: UI, Changes: Localization

Update submodule to 167.0.0 (#21060)
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
Labels: none

Translate Upstream #1507 (#1509)
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/ui/admin-erase.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/igniter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
Labels: Changes: Localization

Translate Upstream #1507 (#1509)
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/ui/admin-erase.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/igniter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
Labels: Changes: Localization

Restrict arrows from being used in cannons (#21067)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Spear 1984 (#21065)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Lockable Suit Storages (#20950)
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Textures/Structures/Storage/suit_storage.rsi/base.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/closed.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/door.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/locked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/meta.json
  Resources/Textures/Structures/Storage/suit_storage.rsi/panel.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/unlocked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/welded.png
Labels: Changes: Sprites

Replace Component.OnRemove with ComponentRemove event subscriptions (#21072)
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Power/Components/BaseNetConnectorComponent.cs
  Content.Server/Power/EntitySystems/PowerNetConnectorSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Shared/Pulling/Components/PullableComponent.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
Labels: none

Replace all T : Component constraints with T : IComponent (#21073)
  Content.Client/Antag/AntagStatusIconSystem.cs
  Content.IntegrationTests/PoolManager.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Parts.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
Labels: none

Fix build (#21075)
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Parts.cs
Labels: none

Fix debug assert when shooting guns (#21070)
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Emitter.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: none

Fix vaulting mispredict (#21082)
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
Labels: Changes: Localization

FIX (#21091)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
Labels: none

Added implanter sprite (#20758)
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Textures/Objects/Specific/Medical/implanter.rsi/broken.png
  Resources/Textures/Objects/Specific/Medical/implanter.rsi/implanter0.png
  Resources/Textures/Objects/Specific/Medical/implanter.rsi/implanter1.png
  Resources/Textures/Objects/Specific/Medical/syndi_implanter.rsi/broken.png
  Resources/Textures/Objects/Specific/Medical/syndi_implanter.rsi/implanter0.png
  Resources/Textures/Objects/Specific/Medical/syndi_implanter.rsi/implanter1.png
  Resources/Textures/Objects/Specific/Medical/syndi_implanter.rsi/meta.json
Labels: Changes: Sprites

Display current load and maximum capacity (#20181)
  Content.Client/Ame/UI/AmeWindow.xaml
  Content.Client/Ame/UI/AmeWindow.xaml.cs
  Content.Server/Ame/AmeNodeGroup.cs
  Content.Server/Ame/Components/AmeControllerComponent.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Shared/Ame/SharedAmeControllerComponent.cs
  Resources/Locale/en-US/ame/components/ame-controller-component.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Accurate temperature alerts (#19913)
  Content.Server/Temperature/Systems/TemperatureSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adjust warm donk pocket chemicals (#21052)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
Labels: none

Translate Upstream #1512 (#1513)
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/ServerInfo/Guidebook/Science/Technologies.xml
Labels: Changes: Localization

Translate Upstream #1512 (#1513)
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/ServerInfo/Guidebook/Science/Technologies.xml
Labels: Changes: Localization
