Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Polymorph Artifact Effect (#20660)
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/PolyArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PolyArtifactSystem.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Changes: Localization

Fix fast kudzu (#20875)
  Content.Server/Spreader/SpreaderGridComponent.cs
  Content.Server/Spreader/SpreaderSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Revert "Reenable kudzu."" (#20876)
  Content.Server/Botany/Systems/MutationSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Use conditions to store progress for Ninja objectives (#20254)
  Content.Server/Ninja/Systems/NinjaGlovesSystem.cs
  Content.Server/Ninja/Systems/SpaceNinjaSystem.cs
  Content.Server/Ninja/Systems/SpiderChargeSystem.cs
  Content.Server/Objectives/Components/DoorjackConditionComponent.cs
  Content.Server/Objectives/Components/SpiderChargeConditionComponent.cs
  Content.Server/Objectives/Components/StealResearchConditionComponent.cs
  Content.Server/Objectives/Components/TerrorConditionComponent.cs
  Content.Server/Objectives/Systems/NinjaConditionsSystem.cs
  Content.Server/Roles/NinjaRoleComponent.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/Ninja/Systems/SharedSpaceNinjaSystem.cs
Labels: none

Fix species speeds (#20890)
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

organs edible to lizards, and make their food contents uncooked proteins (#20882)
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/dwarf.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/rat.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Body/Organs/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix shuttle planet FTL overlapping markers (#20887)
  Content.Server/Parallax/BiomeSystem.cs
Labels: none

Fix salvage faction non-determinism (#20886)
  Content.Shared/Salvage/SharedSalvageSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix salvage mission biome seed (#20885)
  Content.Server/Parallax/BiomeSystem.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
Labels: none

Bagel Update (#20896)
  Resources/Maps/bagel.yml
Labels: Changes: Map

box update (#20897)
  Resources/Maps/box.yml
Labels: Changes: Map

Climbing refactor (#20516)
  Content.Client/Interaction/DragDropHelper.cs
  Content.Client/Interaction/DragDropSystem.cs
  Content.Client/Movement/Systems/ClimbSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.IntegrationTests/Tests/Climbing/ClimbingTest.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Interaction/DragDropSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Climbing/ClimbingComponent.cs
  Content.Shared/Climbing/Components/BonkableComponent.cs
  Content.Shared/Climbing/Components/ClimbableComponent.cs
  Content.Shared/Climbing/Components/ClimbingComponent.cs
  Content.Shared/Climbing/Components/GlassTableComponent.cs
  Content.Shared/Climbing/Events/ClimbedOnEvent.cs
  Content.Shared/Climbing/Events/EndClimbEvent.cs
  Content.Shared/Climbing/Events/StartClimbEvent.cs
  Content.Shared/Climbing/SharedClimbSystem.cs
  Content.Shared/Climbing/Systems/BonkSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/DragDrop/SharedDragDropSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

uncloak ninja after attacking (#20892)
  Content.Shared/Ninja/Systems/SharedNinjaSuitSystem.cs
  Content.Shared/Ninja/Systems/SharedSpaceNinjaSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeAttackEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix shuttle throwing (#20884)
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
Labels: none

crabs look for food (#20874)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hopefully??? (#20865)
  Content.Server/Anomaly/Effects/ElectricityAnomalySystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

glue only mutes if drank (#20627)
  Resources/Prototypes/Reagents/cleaning.yml
Labels: none

Add a command to hide replay UI (#19956)
  Content.Client/Ghost/GhostToggleSelfVisibility.cs
  Content.Client/Replay/ContentReplayPlaybackManager.cs
  Content.Client/Replay/ReplayToggleScreenshotModeCommand.cs
  Content.Client/Replay/UI/ReplaySpectateEntityState.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add mind entities to PVS overrides (#20847)
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Mind/MindSystem.cs
Labels: none

Add casual jumpsuit/skirts (#20422)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpskirt-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpsuit-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-shirt-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/icon-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/icon-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/icon-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-left-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-left-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-left-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-right-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-right-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-right-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/meta.json
Labels: Changes: Sprites

Rename SmokeDissipateSpawnComponent to SpawnOnDespawnComponent (#20782)
  Content.Server/Chemistry/Components/SmokeDissipateSpawnComponent.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/Spawners/Components/SpawnOnDespawnComponent.cs
  Content.Server/Spawners/EntitySystems/SpawnOnDespawnSystem.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
Labels: none

Fix typo (#20772)
  Content.Tests/Client/UserInterface/Controls/ListContainerTest.cs
Labels: none

Kill `GravityExtensions` (#20911)
  Content.Shared/Movement/Components/MovementIgnoreGravityComponent.cs
Labels: none

Kill `UserInterfaceHelpers` (#20912)
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Crayon/CrayonComponent.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Content.Server/UserInterface/IntrinsicUISystem.cs
  Content.Server/UserInterface/UserInterfaceHelpers.cs
Labels: none

Kill `ContainerHelpers` (#20908)
  Content.Client/Commands/HideMechanismsCommand.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Client/Interactable/InteractionSystem.cs
  Content.Server/Containers/EmptyOnMachineDeconstructSystem.cs
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/EmptyAllContainersBehaviour.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Virtual.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
Labels: Changes: UI

Kill `ComponentExt` (#20907)
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnCollideSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Tabletop/TabletopSystem.Session.cs
  Content.Shared/Singularity/Components/SingularityDistortionComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedSingularitySystem.cs
Labels: none

show battery charge when recharger is examined (#20098)
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
