Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

biofabricator (#23319)
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Textures/Structures/Machines/biofabricator.rsi/building.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/icon.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/inserting.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/meta.json
  Resources/Textures/Structures/Machines/biofabricator.rsi/panel.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/unlit.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

фикс SpawnerERTEngineerEVA
  Resources/Prototypes/_Alteros/Entities/Markers/ert_roles.yml
Labels: none

фикс SpawnerERTEngineerEVA
  Resources/Prototypes/_Alteros/Entities/Markers/ert_roles.yml
Labels: none

Fix wrong file pathes
  Resources/Prototypes/_Alteros/Entities/Objects/Specific/tapes.yml
Labels: none

Fix wrong file pathes
  Resources/Prototypes/_Alteros/Entities/Objects/Specific/tapes.yml
Labels: none

refill welders from wall dispensers (#23376)
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
Labels: none

Limits marking for certain species. (#23385)
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix some integration tests
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
Labels: Changes: Localization

Fix some integration tests
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
Labels: Changes: Localization

Fix tape player's audio error
  Resources/Audio/_Alteros/TapePlayer/Tracks/alesso.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/another_medium.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/arstotzka.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/asshole.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/blizzard.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/chippin.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/coin.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/count_to_three.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/crystals.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/deadline.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/death_by_glamour.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/death_row.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/divide.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/doomcrossing.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/dust.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/grass_at_home.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/group_blood.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/hotline.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/komarovo.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/mettaton.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/miami.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/paris.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/peacemakers.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/rebel_path.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/saul.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/spoiler.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/star_the_sun.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/starry_summer.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/tear_of_veil.ogg
Labels: none

Fix tape player's audio error
  Resources/Audio/_Alteros/TapePlayer/Tracks/alesso.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/another_medium.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/arstotzka.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/asshole.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/blizzard.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/chippin.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/coin.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/count_to_three.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/crystals.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/deadline.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/death_by_glamour.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/death_row.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/divide.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/doomcrossing.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/dust.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/grass_at_home.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/group_blood.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/hotline.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/komarovo.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/mettaton.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/miami.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/paris.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/peacemakers.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/rebel_path.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/saul.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/spoiler.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/star_the_sun.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/starry_summer.ogg
  Resources/Audio/_Alteros/TapePlayer/Tracks/tear_of_veil.ogg
Labels: none

Fix grind recipe entry
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
Labels: none

Fix grind recipe entry
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/lockers/dressers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/anti_anomaly_zone.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/flora.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/folders.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/paper_bin.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/hand-labeler/hand-labeler.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/dressers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/anti_anomaly_zone.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/folders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/paper_bin.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/lockers/dressers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/anti_anomaly_zone.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/flora.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/folders.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/paper_bin.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/hand-labeler/hand-labeler.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/dressers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/anti_anomaly_zone.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/folders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/paper_bin.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: Changes: Localization

Fix stamps localization
  Resources/Prototypes/Corvax/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Labels: none

Fix stamps localization
  Resources/Prototypes/Corvax/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Labels: none

atlas rd drip (#23381)
  Resources/Maps/atlas.yml
Labels: Changes: Map

saltern rd drip (#23379)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Add ERT UI to Comms
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI

Add ERT UI to Comms
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI

Localization
  Resources/Prototypes/Adventure/Entities/Objects/syringegun.yml
  Resources/Prototypes/_Alteros/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_Alteros/Entities/Objects/Devices/tape_player.yml
Labels: none

Localization
  Resources/Prototypes/Adventure/Entities/Objects/syringegun.yml
  Resources/Prototypes/_Alteros/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_Alteros/Entities/Objects/Devices/tape_player.yml
Labels: none

bagel update (#23398)
  Resources/Maps/bagel.yml
Labels: Changes: Map

box update (#23399)
  Resources/Maps/box.yml
Labels: Changes: Map

marathon update (#23401)
  Resources/Maps/marathon.yml
Labels: Changes: Map

meta update (#23402)
  Resources/Maps/meta.yml
Labels: Changes: Map

Added info to body bag description. (#23407)
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

bagel update (#23410)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Fix ConfigPresetTests.TestLoadAll not handling automatic panic bunker (#23414)
  Content.IntegrationTests/Tests/ConfigPresetTests.cs
Labels: none

Wire up the slime people TypingIndicator to use the existing slime speech. (#23415)
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/typing_indicator.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Disposals resprite [take 2] (#23418)
  Resources/Textures/Structures/Piping/disposal.rsi/condisposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/conmailing.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-charge.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-full.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
Labels: Changes: Sprites

Allow plungers to be fired by bows and embedded into entities (#23406)
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/pop.ogg
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Textures/Objects/Weapons/Guns/Bow/bow.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Bow/bow.rsi/unwielded-plunger.png
  Resources/Textures/Objects/Weapons/Guns/Bow/bow.rsi/wielded-plunger.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Flatpacks and the Flatpacker 1001 (#23338)
  Content.Client/Construction/FlatpackSystem.cs
  Content.Client/Construction/UI/FlatpackCreatorBoundUserInterface.cs
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
  Content.Client/Materials/UI/MaterialDisplay.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Server/Ame/Components/AmePartComponent.cs
  Content.Server/Ame/EntitySystems/AmePartSystem.cs
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/Components/FlatpackComponent.cs
  Content.Shared/Construction/Components/FlatpackCreatorComponent.cs
  Content.Shared/Construction/MachinePartSystem.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/construction/components/flatpack.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_part.yml
  Resources/Prototypes/Entities/Objects/Power/solar_parts.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/base.png
  Resources/Textures/Objects/Devices/flatpack.rsi/icon-default.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/overlay.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/base.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/inserting.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/meta.json
  Resources/Textures/Structures/Machines/flatpacker.rsi/packing.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/panel.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/screen.png
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Changes: UI, Changes: Localization

Fix small logic issue in item slot swapping (#23378)
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: none
