Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Перевод Upstream #1065 (#1069)
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/white_cane.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/big_boxes.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Перевод Upstream #1065 (#1069)
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/white_cane.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/big_boxes.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Locale] sigh (#1072)
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: none

[Locale] sigh (#1072)
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: none

[map] pirate shuttle update (#16467)
  Resources/Maps/Shuttles/pirate.yml
Labels: none

[map] wizer update (#16469)
  Resources/Maps/Shuttles/wizard.yml
Labels: none

[map] terminal update (#16471)
  Resources/Maps/Misc/terminal.yml
Labels: none

saltern chem and cargo changes (#16468)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Robotics guidebook translate (#1070)
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
Labels: none

Robotics guidebook translate (#1070)
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

derotate aspid and kettle and moose temporarily for publish (#16472)
  Resources/Prototypes/Maps/Pools/default.yml
Labels: none

make slime puddles sticky (#16454)
  Resources/Prototypes/Reagents/biological.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Resolves GenericEnumVisualizer is Obsolete (#13914)
  Content.Client/Visualizer/GenericEnumVisualizer.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Tools/t-ray.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Resolves BagOpenCloseVisualizer is Obsolete v2 Uncooked Edition (#16399)
  Content.Client/Storage/Visualizers/BagOpenCloseVisualizer.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: none

Fix crew monitoring direction & memory leak (#16459)
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix index out of range exception on the admin commands (#16478)
  Content.Server/Administration/Commands/AddBodyPartCommand.cs
  Content.Server/Administration/Commands/RoleUnbanCommand.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Change locale to reflect for network configurator (#16477)
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
  Resources/Locale/en-US/paper/book-atmos.ftl
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add AME Part and Solar Assembly Part to Drone interaction allowlist (#16456)
  Resources/Prototypes/Entities/Objects/Power/antimatter_part.yml
  Resources/Prototypes/Entities/Objects/Power/solar_parts.yml
Labels: none

remove artifact static price (#16480)
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/node_scanner.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
Labels: none

Added a component to eat bodies for health #8922 (#16345)
  Content.Client/Devour/DevourSystem.cs
  Content.Server/Devour/DevourSystem.cs
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Shared/Devour/Components/DevourerComponent.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Dragon/DragonDevourDoAfterEvent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix some misc anomaly locator bugs (#16488)
  Content.Server/Pinpointer/ProximityBeeperSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix action state handling (#16491)
  Content.Client/Actions/ActionsSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert handheld light changes (#16492)
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
Labels: none

Fix vomit puddles (#16449)
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Server/Medical/VomitSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Zombies recover faster from crit. They heal Piercing damage (#16325)
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/en-US/zombies/zombie.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Zombie virus delayed from 20-30 minutes from rule start. (#16346)
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/GameTicking/Rules/Components/ZombieRuleComponent.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Zombies/PendingZombieComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-zombies.ftl
Labels: Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
