Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update maploader to support loading onto an existing map (#10748)
  Content.Server/Administration/Commands/LoadGameMapCommand.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Removes hacky behavior from DeviceListSystem (#11255)
  Content.Client/NetworkConfigurator/NetworkConfiguratorBoundUserInterface.cs
  Content.Server/DeviceNetwork/Systems/DeviceListSystem.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Shared/DeviceNetwork/Systems/SharedDeviceListSystem.cs
  Content.Shared/DeviceNetwork/Systems/SharedNetworkConfiguratorSystem.cs
Labels: none

Fix toggle-subfloor visual bugs (#11239)
  Content.Client/SubFloor/SubFloorHideSystem.cs
Labels: none

Remove buyer from store messages (#11230)
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Store/ListingCondition.cs
  Content.Shared/Store/StoreUi.cs
Labels: Changes: UI

Allowed stunbaton for Wall Recharger (#11259)
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: none

Fix pathfinding exception (#11228)
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/PickAccessibleComponentOperator.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
Labels: none

Fix tile prying offset (#11206)
  Content.Shared/Maps/TurfHelpers.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't log missing flavour (#11229)
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
Labels: none

make windoor, railing, and directional window bounds not awful (#10469)
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: none

Use Segments for RandomMetadata (#11190)
  Content.Server/RandomMetadata/RandomMetadataComponent.cs
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
  Content.Server/RatKing/RatKingComponent.cs
  Content.Server/RatKing/RatKingSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: none

Pass IRobustSerializer to NetMessage (#11021)
  Content.Shared/Administration/GamePrototypeLoadMessage.cs
  Content.Shared/Administration/MsgUpdateAdminStatus.cs
  Content.Shared/Administration/NetworkResourceUploadMessage.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Content.Shared/Eui/MsgEuiCtl.cs
  Content.Shared/Eui/MsgEuiMessage.cs
  Content.Shared/Eui/MsgEuiState.cs
  Content.Shared/GhostKick/MsgGhostKick.cs
  Content.Shared/Info/SharedRulesManager.cs
  Content.Shared/Players/PlayTimeTracking/MsgPlayTime.cs
  Content.Shared/Preferences/MsgDeleteCharacter.cs
  Content.Shared/Preferences/MsgPreferencesAndSettings.cs
  Content.Shared/Preferences/MsgSelectCharacter.cs
  Content.Shared/Preferences/MsgUpdateCharacter.cs
  Content.Shared/Voting/MsgVoteCanCall.cs
  Content.Shared/Voting/MsgVoteData.cs
Labels: none

Chameleon clothing (#8444)
  Content.Client/Clothing/ClothingComponent.cs
  Content.Client/Clothing/Systems/ChameleonClothingSystem.cs
  Content.Client/Clothing/UI/ChameleonBoundUserInterface.cs
  Content.Client/Clothing/UI/ChameleonMenu.xaml
  Content.Client/Clothing/UI/ChameleonMenu.xaml.cs
  Content.Server/Clothing/Systems/ChameleonClothingSystem.cs
  Content.Shared/Clothing/Components/ChameleonClothingComponent.cs
  Content.Shared/Clothing/Components/SharedClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Resources/Locale/en-US/clothing/components/chameleon-component.ftl
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Hands/specific.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/specific.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/tags.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Emergency shuttle docking test (#10614)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/ShuttleTest.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Station/Components/StationDataComponent.cs
Labels: none

Add a debug overlay for accessreaders (#9681)
  Content.Client/Access/AccessOverlay.cs
  Content.Client/Access/AccessSystem.cs
  Content.Client/Access/Commands/ShowAccessReadersCommand.cs
  Content.Server/Access/Systems/AccessSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Sandbox/SandboxSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Access/Components/AccessComponent.cs
  Content.Shared/Access/Systems/SharedAccessSystem.cs
Labels: none

Content-side changes for packaging. (#9382)
  Content.IntegrationTests/Tests/ClickableTest.cs
  Content.Packaging/Content.Packaging.csproj
  Content.Packaging/ContentPackaging.cs
  Content.Packaging/Program.cs
  Content.Server/Acz/ContentMagicAczProvider.cs
  Content.Server/Content.Server.csproj
  Content.Server/Entry/EntryPoint.cs
  SpaceStation14.sln
Labels: none

Content changes for session specific entity states (#11235)
  Content.Server/Actions/ActionsSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Vehicle/VehicleSystem.Rider.cs
  Content.Shared/Actions/ActionsComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Alert/AlertsComponent.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Flash/SharedFlashableComponent.cs
  Content.Shared/Shuttles/Components/PilotComponent.cs
  Content.Shared/Vehicle/Components/RiderComponent.cs
Labels: none

Automatically TitleCase IC names (#10986)
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix projectiles and vehicles (#10358)
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add trash tags to some items (#11270)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: none

Adds a new SolutionExplosionBehavior for the benefit of fuel tanks and future exploding canisters (#11260)
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/SolutionExplosionBehavior.cs
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hide mob damage (#11217)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

BwoinkSystem improvements (#11258)
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
Labels: none

Event-ify Rejuvenate (#11145)
  Content.Server/Administration/Commands/RejuvenateCommand.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Atmos/Miasma/RottingComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Nutrition/EntitySystems/HungerSystem.cs
  Content.Server/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Jittering/SharedJitteringSystem.cs
  Content.Shared/Rejuvenate/RejuvenateEvent.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
Labels: none

Cleanup factions code (#11075)
  Content.Client/Entry/EntryPoint.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/NPC/Commands/FactionCommand.cs
  Content.Server/NPC/Components/AiFactionPrototype.cs
  Content.Server/NPC/Components/AiFactionTagComponent.cs
  Content.Server/NPC/Components/FactionComponent.cs
  Content.Server/NPC/Components/FactionPrototype.cs
  Content.Server/NPC/FactionData.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/NPCCombatOperator.cs
  Content.Server/NPC/Systems/AiFactionTagSystem.cs
  Content.Server/NPC/Systems/FactionSystem.cs
  Resources/Locale/en-US/ai/commands/faction-command.ftl
  Resources/Locale/en-US/npc/medibot.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: Localization

Merge more UI refactor stuff (#11277)
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/Changelog/ChangelogButton.cs
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/Options/EscapeMenuOwner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/Options/UI/EscapeMenu.xaml.cs
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Client/UserInterface/Systems/DecalPlacer/DecalPlacerUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/ChangelogUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/OptionsUIController.cs
  Content.Client/UserInterface/Systems/Sandbox/SandboxUIController.cs
  Content.Client/UserInterface/Systems/Sandbox/Windows/SandboxWindow.xaml
  Content.Client/UserInterface/Systems/Sandbox/Windows/SandboxWindow.xaml.cs
Labels: Changes: UI

Missing Camera names named (#11281)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Command perm modifications (#11273)
  Content.Server/Administration/Commands/AddBodyPartCommand.cs
  Content.Server/Administration/Commands/AddEntityStorageCommand.cs
  Content.Server/Administration/Commands/AddMechanismCommand.cs
  Content.Server/Administration/Commands/AddReagent.cs
  Content.Server/Administration/Commands/DeleteComponent.cs
  Content.Server/Administration/Commands/DeleteEntitiesWithComponent.cs
  Content.Server/Administration/Commands/RemoveBodyPartCommand.cs
  Content.Server/Administration/Commands/RemoveEntityStorageCommand.cs
  Content.Server/Administration/Commands/RemoveMechanismCommand.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/Power/SetBatteryPercentCommand.cs
  Content.Server/Roles/AddRoleCommand.cs
  Content.Server/Roles/ListRolesCommand.cs
  Content.Server/Roles/RemoveRoleCommand.cs
  Content.Server/Traitor/Uplink/Commands/AddUplinkCommand.cs
  Content.Shared/Administration/AdminFlags.cs
  Resources/clientCommandPerms.yml
Labels: none

Add Context Menu to Bwoink Window (#9374)
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Storage/UI/StorageWindow.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/EntityListDisplay.cs
  Content.Client/UserInterface/Controls/ListContainer.cs
  Content.Tests/Client/UserInterface/Controls/ListContainerTest.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nukie and priate outfit spawning fixes (#11274)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
Labels: none

Rework the ChemMaster's output handling (#11207)
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/Components/FitsInDispenserComponent.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
