Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

Makes repairable component able to heal a set amount of damage (#6852)
  Content.Server/Repairable/RepairableComponent.cs
  Content.Server/Repairable/RepairableSystem.cs
Labels: none

Added outline component to material doors (#6872)
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
Labels: none

Nuke fixes (#6868)
  Content.Client/Nuke/NukeMenu.xaml.cs
  Content.Server/Nuke/Commands/ToggleNukeCommand.cs
  Content.Server/Nuke/NukeCodePaperComponent.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/Nuke/NukeCodeSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Shared/Nuke/SharedNuke.cs
  Resources/Audio/Machines/Nuke/nuke_alarm.ogg
  Resources/Locale/en-US/nuke/nuke-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Clear up original infiltrator yaml
  Resources/Maps/infiltrator_orig.yml
Labels: Changes: Map

Clear up original infiltrator yaml
  Resources/Maps/infiltrator_orig.yml
Labels: Changes: Map

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/plastic_flaps.ftl
  Resources/Locale/ru-RU/bloodstream/bloodstream.ftl
  Resources/Locale/ru-RU/components/gas-thermomachine-component.ftl
  Resources/Locale/ru-RU/emag/emag.ftl
  Resources/Locale/ru-RU/game-ticking/discord-round.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/plastic_flaps.ftl
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/plastic_flaps.ftl
  Resources/Locale/ru-RU/bloodstream/bloodstream.ftl
  Resources/Locale/ru-RU/components/gas-thermomachine-component.ftl
  Resources/Locale/ru-RU/emag/emag.ftl
  Resources/Locale/ru-RU/game-ticking/discord-round.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/plastic_flaps.ftl
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add utility verbs (#6473)
  Content.Client/Verbs/UI/VerbMenuElement.cs
  Content.Client/Verbs/UI/VerbMenuPresenter.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Content.Shared/Verbs/Verb.cs
  Resources/Locale/en-US/storage/components/storage-component.ftl
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix midi verb (#6880)
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Resources/Locale/en-US/ui/verbs.ftl
  Resources/Prototypes/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Change material doors to not crush people (#6850)
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
Labels: none

Atmos Pipe Crafting (#6737)
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_pipes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_trinary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_unary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update health-examinable-carbon.ftl (#109)
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
Labels: none

Update health-examinable-carbon.ftl (#109)
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
Labels: none

Make centcom black clothes names shorter (#113)
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

Make centcom black clothes names shorter (#113)
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

Remove the singuloth toy from maint spawners. (#6878)
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
Labels: none

Fix RoleUnban referring to the wrong ban type (#6885)
  Content.Server.Database/Model.cs
Labels: none

Prevent non-airlock doors from closing on people. (#6882)
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/DoorEvents.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: none

Bagel Update 11.1 (#6876)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Update butcherable-component.ftl (#114)
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
Labels: none

Update butcherable-component.ftl (#114)
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Translation (accessories, human-hair, human-facial-hair) (#115)
  Resources/Locale/ru-RU/accessories/accesory.ftl
  Resources/Locale/ru-RU/accessories/human-facial-hair.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
Labels: none

Translation (accessories, human-hair, human-facial-hair) (#115)
  Resources/Locale/ru-RU/accessories/accesory.ftl
  Resources/Locale/ru-RU/accessories/human-facial-hair.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Pillar v5 (All new engineering, MORE maint, new bar etc) (#6883)
  Resources/Maps/nss_pillar.yml
  Resources/Prototypes/Maps/game.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

More events (#6894)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/StationEvents/Components/SentienceTargetComponent.cs
  Content.Server/StationEvents/Components/VentCritterSpawnLocationComponent.cs
  Content.Server/StationEvents/Events/BureaucraticError.cs
  Content.Server/StationEvents/Events/KudzuGrowth.cs
  Content.Server/StationEvents/Events/RadiationStorm.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
  Content.Server/StationEvents/Events/VentCritters.cs
  Resources/Locale/en-US/station-events/events/bureaucratic-error.ftl
  Resources/Locale/en-US/station-events/events/random-sentience.ftl
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: none

Musician job completeness (#6889)
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/musician.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-musician.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idmusician.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites

Make flashbang's bang respect distance to players (#6898)
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]
