Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

add starquest to the map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

add starquest to the map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

Add space heaters (#25250)
  Content.Client/Atmos/UI/SpaceHeaterBoundUserInterface.cs
  Content.Client/Atmos/UI/SpaceHeaterWindow.xaml
  Content.Client/Atmos/UI/SpaceHeaterWindow.xaml.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Portable/SpaceHeaterComponent.cs
  Content.Server/Atmos/Portable/SpaceHeaterSystem.cs
  Content.Shared/Atmos/Portable/Components/SharedSpaceHeaterComponent.cs
  Content.Shared/Atmos/Visuals/SpaceHeaterVisuals.cs
  Resources/Locale/en-US/components/space-heater-component.ftl
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Structures/Piping/Atmospherics/Portable/portable_sheater.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/Portable/portable_sheater.rsi/sheaterCool.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/portable_sheater.rsi/sheaterHeat.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/portable_sheater.rsi/sheaterOff.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/portable_sheater.rsi/sheaterPanelOpen.png
  Resources/Textures/Structures/Piping/Atmospherics/Portable/portable_sheater.rsi/sheaterStandby.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

fix ahelp dublicates message
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: none

fix ahelp dublicates message
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: none

update starquest
  Resources/Maps/starquest.yml
Labels: Changes: Map

update starquest
  Resources/Maps/starquest.yml
Labels: Changes: Map

change laughin pea values (#25672)
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix iron/copper being overtuned (infinite blood exploit!) (#25678)
  Resources/Prototypes/Reagents/elements.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Makes the e-sword light plasma fires, as intended. (#25665)
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: none

Add anchorable flags (#25667)
  Content.Shared/Construction/Components/AnchorableComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remake cargo orders to contains flatpacks (#25647)
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/shuttle.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/containment-field-generator.png
  Resources/Textures/Objects/Devices/flatpack.rsi/grounding-rod.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/radiation-collector.png
  Resources/Textures/Objects/Devices/flatpack.rsi/singularity-generator.png
  Resources/Textures/Objects/Devices/flatpack.rsi/solar-assembly-part.png
  Resources/Textures/Objects/Devices/flatpack.rsi/tesla-coil.png
  Resources/Textures/Objects/Devices/flatpack.rsi/tesla-generator.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix stray pixels on over ear headsets (#25675)
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/command.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/medical.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/security.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/syndicate.rsi/alt-equipped-EARS.png
Labels: Changes: Sprites

Fix cryostorage removing minds of players who have entered ghost role (#24991)
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Weld To Remove Rust On Reinforced Walls (#25690)
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove Eris UI theme (#25673)
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/hud.yml
  Resources/Prototypes/themes.yml
  Resources/Textures/Interface/Eris/Slots/back.png
  Resources/Textures/Interface/Eris/Slots/belt.png
  Resources/Textures/Interface/Eris/Slots/block.png
  Resources/Textures/Interface/Eris/Slots/ears.png
  Resources/Textures/Interface/Eris/Slots/glasses.png
  Resources/Textures/Interface/Eris/Slots/gloves.png
  Resources/Textures/Interface/Eris/Slots/hand_l.png
  Resources/Textures/Interface/Eris/Slots/hand_l_active.png
  Resources/Textures/Interface/Eris/Slots/hand_r.png
  Resources/Textures/Interface/Eris/Slots/hand_r_active.png
  Resources/Textures/Interface/Eris/Slots/head.png
  Resources/Textures/Interface/Eris/Slots/id.png
  Resources/Textures/Interface/Eris/Slots/mask.png
  Resources/Textures/Interface/Eris/Slots/meta.json
  Resources/Textures/Interface/Eris/Slots/neck.png
  Resources/Textures/Interface/Eris/Slots/pocket.png
  Resources/Textures/Interface/Eris/Slots/sheet.png
  Resources/Textures/Interface/Eris/Slots/shoes.png
  Resources/Textures/Interface/Eris/Slots/suit.png
  Resources/Textures/Interface/Eris/Slots/suit_storage.png
  Resources/Textures/Interface/Eris/Slots/toggle.png
  Resources/Textures/Interface/Eris/Slots/uniform.png
  Resources/Textures/Interface/Eris/Slots/web.png
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix price
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_other.yml
  Resources/Textures/Objects/Storage/boxes.rsi/box_indimedical.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites

fix price
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_other.yml
  Resources/Textures/Objects/Storage/boxes.rsi/box_indimedical.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites

train update (#25707)
  Resources/Maps/train.yml
Labels: Changes: Map

Fix tests
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Maps/corvax_paper.yml
Labels: Changes: Map, Changes: Localization

Fix tests
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Maps/corvax_paper.yml
Labels: Changes: Map, Changes: Localization

Fix locale (#1906)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: Changes: Localization

Fix locale (#1906)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: Changes: Localization

Update secret_weights.yml with survival (#1905)
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: none

Update secret_weights.yml with survival (#1905)
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: none

Fix some skirts sprite (#1874)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

Fix some skirts sprite (#1874)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

Resprite uniforms and winter coat mime (#1898)
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/meta.json
Labels: Changes: Sprites

Resprite uniforms and winter coat mime (#1898)
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/meta.json
Labels: Changes: Sprites

Resprite pumpkin head (#1901)
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/meta.json
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/on-inhand-right.png
Labels: Changes: Sprites

Resprite pumpkin head (#1901)
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/meta.json
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/on-inhand-right.png
Labels: Changes: Sprites

Fix typo (#25712)
  Resources/Prototypes/Catalog/Fills/Crates/shuttle.yml
Labels: none
