Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Kettle 1.7.1 (#16323)
  Resources/Maps/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: Changes: Map

[tweak] dermaline 3 healing (#16273)
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Sigh sound (#16223)
  Resources/Audio/Voice/Human/attributions.yml
  Resources/Audio/Voice/Human/female_sigh.ogg
  Resources/Audio/Voice/Human/male_sigh.ogg
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make potency visuals 1x scaling by default (#16324)
  Content.Client/Botany/Components/PotencyVisualsComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix dead mob sprites rotating on death (#16317)
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Rotation/RotationVisualsComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/blue_adult_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/green_adult_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/yellow_adult_slime_dead.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Allow PKA to gather (#16250)
  Content.Server/Gatherable/Components/GatheringProjectileComponent.cs
  Content.Server/Gatherable/GatherableSystem.Projectile.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Shared/Destructible/SharedDestructibleSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translation fixes (#1058)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
Labels: Changes: Localization

Translation fixes (#1058)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
Labels: Changes: Localization

[Resprite] Ore & hydro bag inhand (#1059)
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/inhand-right.png
Labels: Changes: Sprites

[Resprite] Ore & hydro bag inhand (#1059)
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/inhand-right.png
Labels: Changes: Sprites

TTS text sanitazation fixes (#1048)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

TTS text sanitazation fixes (#1048)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

Blast door/shutter, timer and or gate device linking fixes (#16347)
  Content.Server/DeviceLinking/Components/ActiveSignalTimerComponent.cs
  Content.Server/DeviceLinking/Components/OrGateComponent.cs
  Content.Server/DeviceLinking/Components/SignalTimerComponent.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Server/DeviceLinking/Systems/OrGateSystem.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
  Content.Server/DeviceNetwork/DeviceNetworkConstants.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/MachineLinking/Components/SignalTransmitterComponent.cs
  Content.Server/MachineLinking/Events/SignalReceivedEvent.cs
  Content.Server/MachineLinking/System/OrGateSystem.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
  Resources/Prototypes/Entities/Structures/gates.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Job names now start from a small letter (#1055)
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
Labels: Changes: Localization

Job names now start from a small letter (#1055)
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
Labels: Changes: Localization

Added directional sprites for lamps (#1047)
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp-on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp_on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
Labels: Changes: Sprites

Added directional sprites for lamps (#1047)
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp-on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp_on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
Labels: Changes: Sprites

[entity] Chemvend (#16326)
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/chemvend.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/chemvend.rsi/deny.png
  Resources/Textures/Structures/Machines/VendingMachines/chemvend.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/chemvend.rsi/normal.png
  Resources/Textures/Structures/Machines/VendingMachines/chemvend.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/chemvend.rsi/panel.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Monkeys can now have their ID cards examined (#16356)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Move StylesheetManager initialization to `PostInit()` (#16352)
  Content.Client/Entry/EntryPoint.cs
Labels: none

Try fix collision mispredicts (#16298)
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.Server/CardboardBox/CardboardBoxSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Movement/Components/MovementRelayTargetComponent.cs
  Content.Shared/Movement/Components/RelayInputMoverComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix several bottle prototypes not having solution visuals (#16012)
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

lube 1984 (#15996)
  Content.Server/StationEvents/Components/VentClogRuleComponent.cs
  Content.Server/StationEvents/Events/VentClogRule.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix Captains ID door bumper (#16365)
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

more monkey uniforms (#16343)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/meta.json
  Resources/Textures/Mobs/Animals/monkey.rsi/monkey.png
Labels: Changes: Sprites

[tweak] split out snack restock boxes (#16309)
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
Labels: Changes: Localization

Update head_of_personnel.yml accesses (#16348)
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
