Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Translation edits (#691)
  Resources/Locale/ru-RU/payload/payload-case.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Resprite] Syndicate EVA (#694)
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/meta.json
Labels: Changes: Sprites

[Resprite] Syndicate EVA (#694)
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/meta.json
Labels: Changes: Sprites

Custom default pool (#700)
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: none

Custom default pool (#700)
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

ejectOnBreak ejects locked slots too (#12933)
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: none

Refactored PowerNet (#13287)
  Content.Server/Power/NodeGroups/PowerNet.cs
Labels: none

`EmitSound` prediction (#13282)
  Content.Client/Sound/EmitSoundSystem.cs
  Content.Server/Sound/Components/EmitSoundOnTriggerComponent.cs
  Content.Server/Sound/Components/EmitSoundOnUIOpenComponent.cs
  Content.Server/Sound/Components/SpamEmitSoundComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Shared/Sound/Components/BaseEmitSoundComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnActivateComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnDropComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnLandComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnPickupComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnSpawnComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnThrowComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnUseComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
Labels: none

Fixes quick dialog exception (#13189)
  Content.Server/Administration/QuickDialogSystem.cs
Labels: none

Translate Upstream #695 (#701)
  Resources/Locale/ru-RU/construction/conditions/machine-frame-complete.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/hand_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/flashlights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/staves.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine-restock-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Translate Upstream #695 (#701)
  Resources/Locale/ru-RU/construction/conditions/machine-frame-complete.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/hand_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/flashlights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/staves.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine-restock-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fixes mass scanner UIs being smol by default by defining a setsize (#13327)
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove some explosion resolves (#13330)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
Labels: none

Bagel Hotfix (#13328)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Centcomm Hotfix (#13331)
  Resources/Maps/centcomm.yml
Labels: Changes: Map

Make clickmap lookups use the sprite tree (#13275)
  Content.Client/Clickable/ClickableComponent.cs
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.IntegrationTests/Tests/ClickableTest.cs
Labels: none

Add sprite fades for occluding sprites (#13267)
  Content.Client/Sprite/FadingSpriteComponent.cs
  Content.Client/Sprite/SpriteFadeSystem.cs
  Content.Shared/Sprite/SpriteFadeComponent.cs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Portal pull fix (#13336)
  Content.Shared/Teleportation/Systems/PortalSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Geiger component for utility and CE belts whitelist (#13290)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

Update locale
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

USG Ishimura (#687)
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: Changes: Map

USG Ishimura (#687)
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

allow RD, CMO, and QM to be traitors (#13343)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cluster Update 2.0 (#13314)
  Resources/Maps/cluster.yml
Labels: Changes: Map

Translate Upstream #705 (#707)
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Translate Upstream #705 (#707)
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Locale tweak (#708)
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
Labels: Changes: Localization
