Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Word replacement accent system (#15086)
  Content.Server/Speech/Components/DwarfAccentComponent.cs
  Content.Server/Speech/Components/ReplacementAccentComponent.cs
  Content.Server/Speech/EntitySystems/DwarfAccentSystem.cs
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
  Resources/Locale/en-US/accent/dwarf.ftl
  Resources/Locale/en-US/accent/mobster.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/keybinds.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

DoAfter fixes (#15127)
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
Labels: none

tiny poster tweaks (#15125)
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster27_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster5_contraband.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Ignore IanComradeBot in workflows
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: none

Ignore IanComradeBot in workflows
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: none

Added tcoms server to dev map (#15128)
  Resources/Maps/Test/dev_map.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Discord Rich Presence (#949)
  Resources/Locale/ru-RU/robust-toolbox/discord-rpc.ftl
Labels: Changes: Localization

Translate Discord Rich Presence (#949)
  Resources/Locale/ru-RU/robust-toolbox/discord-rpc.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[GameMap] Avrit Station (#951)
  Resources/Maps/corvax_avrit.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: Changes: Map

[GameMap] Avrit Station (#951)
  Resources/Maps/corvax_avrit.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Locale/ru-RU/accent/mobster.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/paper/book-atmos.ftl
  Resources/Locale/ru-RU/paper/book-escalation.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/robust-toolbox/discord-rpc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/weapons/reflect/reflect-component.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Locale/ru-RU/accent/mobster.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/paper/book-atmos.ftl
  Resources/Locale/ru-RU/paper/book-escalation.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/robust-toolbox/discord-rpc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/weapons/reflect/reflect-component.ftl
Labels: Changes: Localization

Update highfueltank sprite
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
Labels: Changes: Sprites

Update highfueltank sprite
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
Labels: Changes: Sprites

DoAfter & misc interaction fixes (#15144)
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

i wrote these changes in notepad (#15148)
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

More Musical Cargo (#15107)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Upstream #952 (#953)
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/weapons/reflect/reflect-component.ftl
Labels: Changes: Localization

Translate Upstream #952 (#953)
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/weapons/reflect/reflect-component.ftl
Labels: Changes: Localization

troooo (#15150)
  Content.Shared/CCVar/CCVars.cs
Labels: none

trust me bro (#15149)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Support Cyrillic stuttering (#955)
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
Labels: none

Support Cyrillic stuttering (#955)
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Resprite] Reinforced wall (#959)
  Resources/Textures/Structures/Walls/solid.rsi/meta.json
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over6.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over7.png
  Resources/Textures/Structures/Walls/solid.rsi/rgeneric.png
Labels: Changes: Sprites

[Resprite] Reinforced wall (#959)
  Resources/Textures/Structures/Walls/solid.rsi/meta.json
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over6.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over7.png
  Resources/Textures/Structures/Walls/solid.rsi/rgeneric.png
Labels: Changes: Sprites

Dwarfs correct translation (#958)
  Resources/Locale/ru-RU/accessories/human-facial-hair.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: Changes: Localization

Dwarfs correct translation (#958)
  Resources/Locale/ru-RU/accessories/human-facial-hair.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none
