Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Add error log test (#15768)
  Content.IntegrationTests/Tests/LogErrorTest.cs
Labels: none

Security holoprojector resprite (#15729)
  Resources/Textures/Structures/Holo/security.rsi/icon.png
  Resources/Textures/Structures/Holo/security.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix NPC awake assert (#15783)
  Content.Server/NPC/Systems/NPCSystem.cs
Labels: none

Fix negative artifact point values (#15748)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
Labels: none

fix hypo prick popup (#15782)
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
Labels: none

improve SpecialRespawn logs and add admin alert (#15784)
  Content.Server/Respawn/SpecialRespawnSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add pointlight to flashbangs (#15785)
  Content.Client/Light/Components/LightFadeComponent.cs
  Content.Client/Light/EntitySystems/LightFadeSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Explosion/Components/SpawnOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove speech & popups from actions (#15747)
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Ghost/GhostComponent.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Actions/ActionsSystem.cs
  Content.Server/Magic/Events/ChangeComponentsSpellEvent.cs
  Content.Server/Magic/Events/ISpeakSpell.cs
  Content.Server/Magic/Events/InstantSpawnSpellEvent.cs
  Content.Server/Magic/Events/KnockSpellEvent.cs
  Content.Server/Magic/Events/ProjectileSpellEvent.cs
  Content.Server/Magic/Events/SmiteSpellEvent.cs
  Content.Server/Magic/Events/TeleportSpellEvent.cs
  Content.Server/Magic/Events/WorldSpawnSpellEvent.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Actions/ActionTypes/ActionType.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Magic/forcewall_spells.yml
  Resources/Prototypes/Magic/knock_spell.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Prototypes/Magic/smite_spells.yml
  Resources/Prototypes/Magic/spawn_spells.yml
Labels: none

Fix ghost actions not appearing (#15805)
  Content.Client/Actions/ActionsSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[skub] Added a new job tab for Specific station jobs (#15695)
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[mob] Space Spider (#15744)
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Objects/Misc/eggspider.yml
  Resources/Textures/Mobs/Animals/spacespider.rsi/glow.png
  Resources/Textures/Mobs/Animals/spacespider.rsi/meta.json
  Resources/Textures/Mobs/Animals/spacespider.rsi/spacespider.png
  Resources/Textures/Mobs/Animals/spacespider.rsi/spacespider_dead.png
  Resources/Textures/Objects/Misc/eggspider.rsi/icon.png
  Resources/Textures/Objects/Misc/eggspider.rsi/meta.json
Labels: Changes: Sprites

[tweak] Minor Holoparasite tweak (#15803)
  Content.Server/Guardian/GuardianComponent.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: Changes: Localization

[tweak] Bump sound on collide velocity (#15806)
  Content.Shared/Sound/Components/EmitSoundOnCollideComponent.cs
Labels: none

[map] Cluster 2.5.5 (#15799)
  Resources/Maps/cluster.yml
Labels: Changes: Map

[tweak] HoS and CMO get survival boxes according to their departments (#15777)
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix Minibomb Name (#15819)
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Puddle fixes (#15820)
  Content.Client/Fluids/PuddleSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix harm mode popup (#15823)
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Resources/Locale/en-US/actions/actions/combat-mode.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix tests
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: Map

Fix tests
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: Map

Fix map renderer erroring on tiles with an empty sprite string (#15849)
  Content.MapRenderer/Painters/TilePainter.cs
Labels: none

Add admin alerts for explosions (#15786)
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

Fix ban_exemption_get only listing Datacenter flag (#15814)
  Content.Server/Administration/Commands/BanExemptionCommands.cs
Labels: none

Fix incorrect source weapon in stamina damage logs (#15778)
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Add IP ban exemption flag (#15815)
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
Labels: none

More names for called syndicate agents (#1015)
  Resources/Prototypes/Corvax/Datasets/Names/corvax_death_commando.yml
Labels: none

More names for called syndicate agents (#1015)
  Resources/Prototypes/Corvax/Datasets/Names/corvax_death_commando.yml
Labels: none

[Fix] Space Villain translation (#1018)
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
Labels: none

[Fix] Space Villain translation (#1018)
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
Labels: none

Remove some generate names (#1025)
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
Labels: none
