Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Making smites funnier (#9524)
  Content.Server/Magic/MagicSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Bagel E Lights (#9573)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Injector sprite fix (#9011)
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
  Content.Shared/SubFloor/SubFloorHideComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/Structures/Piping/Atmospherics/outletinjector.rsi/injector.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

marathon e lights (#9575)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Change yellow alert elight color to goldenrod (#9577)
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: none

Evac Shuttle Fans (#9578)
  Resources/Maps/Shuttles/emergency_shuttle.yml
Labels: none

Order manifests for shuttle orders. Now with item names and approver info. (#9464)
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Marathon Ore Processor and misc (#9580)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Kudzu nerf (#9576)
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Различные правки перевода (#295)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/atmos_alarms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/fire_alarm.ftl
Labels: Changes: Localization

Различные правки перевода (#295)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/atmos_alarms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/fire_alarm.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Convert Remaining Atmos Appearance Visualizers (#9582)
  Content.Client/Atmos/Components/FireVisualsComponent.cs
  Content.Client/Atmos/EntitySystems/FireVisualizerSystem.cs
  Content.Client/Atmos/Visualizers/AtmosPlaqueVisualizer.cs
  Content.Client/Atmos/Visualizers/FireVisualizer.cs
  Content.Client/Atmos/Visualizers/GasAnalyzerVisualizer.cs
  Content.Client/Atmos/Visualizers/GasCanisterVisualizer.cs
  Content.Client/Atmos/Visualizers/GasPortableVisualizer.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/atmos_plaque.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
Labels: none

Knock on shutters (#9586)
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update battery_guns.yml (#9581)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Shards damage barefoot users + steptrigger-related general cleanup (#9585)
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Damage/Components/DamageUserOnTriggerComponent.cs
  Content.Server/Damage/Systems/DamageOnTriggerSystem.cs
  Content.Server/Damage/Systems/DamageUserOnTriggerSystem.cs
  Content.Server/Explosion/Components/TriggerOnStepTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/LandMines/LandMineComponent.cs
  Content.Server/LandMines/LandMineSystem.cs
  Content.Server/Mousetrap/MousetrapComponent.cs
  Content.Server/Mousetrap/MousetrapSystem.cs
  Content.Shared/Slippery/SharedSlipperySystem.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Content.Shared/StepTrigger/Components/ShoesRequiredStepTriggerComponent.cs
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Systems/ShoesRequiredStepTriggerSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Locale/en-US/step-trigger/shoes-required.ftl
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Client command perms cleanup. (#9599)
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Shared/Administration/AdminCommandPermissions.cs
  Resources/clientCommandPerms.yml
  Resources/engineCommandPerms.yml
Labels: none

Update identification_cards.yml (#9603)
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: none

Поправлен перевод шлюзов (#299)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/base_structureairlocks.ftl
Labels: Changes: Localization

Поправлен перевод шлюзов (#299)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/base_structureairlocks.ftl
Labels: Changes: Localization

Правки перевода (#296)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ui/verbs.ftl
Labels: Changes: Localization

Правки перевода (#296)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ui/verbs.ftl
Labels: Changes: Localization

Update console.ftl (#298)
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: Changes: Localization

Update console.ftl (#298)
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/mousetrap.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/shards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/impacts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/actions/actions/egg-lay.ftl
  Resources/Locale/ru-RU/advertisements/vending/magivend.ftl
  Resources/Locale/ru-RU/movement/jetpacks.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/impacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/step-trigger/shoes-required.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/mousetrap.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/shards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/impacts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/actions/actions/egg-lay.ftl
  Resources/Locale/ru-RU/advertisements/vending/magivend.ftl
  Resources/Locale/ru-RU/movement/jetpacks.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/impacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/step-trigger/shoes-required.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
