Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fix tiny typo in guidebook (#13592)
  Resources/Server Info/Guidebook/Construction.xml
Labels: none

Remove last component.Name calls (#13593)
  Content.Client/Body/UI/BodyScannerDisplay.cs
  Content.Server/Administration/Commands/RemoveExtraComponents.cs
  Content.Server/Body/Commands/DestroyMechanismCommand.cs
  Content.Server/Cabinet/ItemCabinetSystem.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Shared/Construction/Steps/ComponentConstructionGraphStep.cs
  Content.Shared/Construction/Steps/EntityInsertConstructionGraphStep.cs
  Content.Shared/Construction/Steps/MaterialConstructionGraphStep.cs
  Content.Shared/Construction/Steps/MultipleTagsConstructionGraphStep.cs
  Content.Shared/Construction/Steps/TagConstructionGraphStep.cs
Labels: none

Sort entries in crew monitoring console by name (#13447)
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

anomaly guidebook entries (#13567)
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Server Info/Guidebook/Science/APE.xml
  Resources/Server Info/Guidebook/Science/AnomalousResearch.xml
  Resources/Server Info/Guidebook/Science/MachineUpgrading.xml
  Resources/Server Info/Guidebook/Science/ScannersAndVessels.xml
  Resources/Server Info/Guidebook/Science/Science.xml
Labels: Changes: Localization

Update steptrigger outside prediction (#13595)
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Pirate shuttle update (#13126)
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Resources/Maps/Shuttles/pirate.yml
  Resources/Maps/pirate.yml
  Resources/Prototypes/Maps/pirate.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Sponsor] Watches & augments (#760)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Locale/ru-RU/corvax/markings/sponsor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/equipped-HAND.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/robotic_r_arm.png
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/robotic_r_hand.png
Labels: Changes: Sprites, Changes: Localization

[Sponsor] Watches & augments (#760)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Locale/ru-RU/corvax/markings/sponsor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/equipped-HAND.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/robotic_r_arm.png
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/robotic_r_hand.png
Labels: Changes: Sprites, Changes: Localization

Floating Visualizer Fixes (#13576)
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make printed items from lathes automatically stack (#13603)
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Vinegar, Mayonnaise, Ketchunaise (#13288)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Textures/Objects/Consumable/Drinks/glass_light_yellow.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/glass_light_yellow.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Remove galoshes from janidrobe (#13602)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
Labels: none

Fix zipties (#13600)
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Shared/Cuffs/Components/SharedCuffableComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add SpriteFade to tables and counters (#13611)
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add first join message (#13583)
  Content.Server/GameTicking/GameTicker.Player.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Changes: Localization

Add syringe icon (#13599)
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

More opportunities to implement wizards! (#13586)
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Magic/rune_spells.yml
Labels: Changes: Localization

Fix mechs picking up portals (#13581)
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Kettle 1.6.1 (#13563)
  Resources/Maps/kettle.yml
Labels: Changes: Map

Bandaid InRangeUnoccluded length checks (#13568)
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

dart 2.1 (#12764)
  Resources/Maps/Shuttles/dart.yml
  Resources/Prototypes/Maps/dart.yml
Labels: Changes: Map

Plastic utensils are trash. (#13556)
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Space Damage Increase (#13486)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Increased the books size to 3000 symbols (#13577)
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix action callbacks when switching ui layout (#13366)
  Content.Client/UserInterface/Systems/Alerts/AlertsUIController.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
