Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fixed syndicate bombs being unpurchasable (#24469)
  Content.Shared/Store/ListingPrototype.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added new All at once game preset (#23171)
  Resources/Locale/en-US/game-ticking/game-presets/preset-allatonce.ftl
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix mispell of Atomic Amnesia MMX author (#24657)
  Resources/Audio/Lobby/atomicamnesiammx.ogg
  Resources/Audio/Lobby/attributions.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Give anomaly borg module a signaller (#24466)
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

Add support clothing equip/unequip doafters (#24389)
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: none

Lower speech noise volume & refactor system (#24579)
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Content.Shared/Speech/SpeechComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Map] Maus (#1812)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: Changes: Map

[Map] Maus (#1812)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: Changes: Map

Fix eris hud hand slot sprites (#24662)
  Resources/Textures/Interface/Eris/Slots/hand_l.png
  Resources/Textures/Interface/Eris/Slots/hand_l_active.png
  Resources/Textures/Interface/Eris/Slots/hand_r.png
  Resources/Textures/Interface/Eris/Slots/hand_r_active.png
  Resources/Textures/Interface/Eris/Slots/meta.json
Labels: none

Remove salvage flesh ghost roles (#24651)
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
Labels: none

Thiefs not pacified on nukes gamemode (#1815)
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

Thiefs not pacified on nukes gamemode (#1815)
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

Localize preset labels on chem dispenser (#24617)
  Content.Server/Labels/Label/Components/LabelComponent.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: none

Add events for GunComponent values, muzzle flashes and cartridge spread (#24077)
  Content.Client/Weapons/Ranged/GunSpreadOverlay.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Administration/Components/AdminMinigunComponent.cs
  Content.Server/Administration/Systems/AdminGunSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/PneumaticCannon/PneumaticCannonComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Events/GunGetAmmoSpreadEvent.cs
  Content.Shared/Weapons/Ranged/Events/GunMuzzleFlashAttemptEvent.cs
  Content.Shared/Weapons/Ranged/Events/GunRefreshModifiersEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: none

BatteryWeaponFireModes refactor (#24502)
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponFireModesComponent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

Revert "Make flare gun explode, damage and stun the player when used … (#24679)
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization

Anti-anomaly fixes (#24634)
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Resources/Prototypes/Entities/Markers/anti_anomaly_zone.yml
Labels: none

Fire anom rework (#24666)
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Textures/Structures/Specific/Anomalies/Cores/pyro_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/pyro_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/pyro_anom.rsi/anom.png
  Resources/Textures/Structures/Specific/Anomalies/pyro_anom.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/pyro_anom.rsi/pulse.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Health analyzers and cryopods also show temperature in Kelvin (#24643)
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Put entity resetting behind command flag (#24436)
  Resources/clientCommandPerms.yml
Labels: none

Make procgen use weighted variants (#24669)
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Procedural/DungeonJob.NoiseDunGen.cs
  Content.Server/Procedural/DungeonJob.PostGen.cs
  Content.Server/Procedural/DungeonJob.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Maps/TileSystem.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/Tiles/FloorTileSystem.cs
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: none

Store ninja objectives in conditions 2 (#20894)
  Content.Server/GenericAntag/GenericAntagSystem.cs
  Content.Server/Ninja/Systems/SpaceNinjaSystem.cs
  Content.Server/Ninja/Systems/SpiderChargeSystem.cs
  Content.Server/Objectives/Components/SpiderChargeConditionComponent.cs
  Content.Server/Objectives/Components/SpiderChargeTargetRequirementComponent.cs
  Content.Server/Objectives/Systems/NinjaConditionsSystem.cs
  Content.Server/Objectives/Systems/SpiderChargeTargetRequirementSystem.cs
  Content.Server/Roles/NinjaRoleComponent.cs
  Resources/Locale/en-US/objectives/conditions/spider-charge.ftl
  Resources/Prototypes/Objectives/ninja.yml
Labels: Changes: Localization

client loglevel command shouldn't require host (#23490)
  Resources/engineCommandPerms.yml
Labels: none

Implement basic emoji support (#24039)
  Content.Client/Stylesheets/StyleNano.cs
  Resources/Fonts/NotoEmoji.ttf
  Resources/Prototypes/fonts.yml
Labels: none

Detectives gain independency (#23114)
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Maps/aspid.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/migration.yml
Labels: Changes: Map, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Improve rotting examine text (#24689)
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Resources/Locale/en-US/disease/miasma.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Reduce synaptizine damage (#24676)
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make various sounds quieter (#24690)
  Resources/Audio/Effects/buckle.ogg
  Resources/Audio/Effects/teleport_arrival.ogg
  Resources/Audio/Effects/teleport_departure.ogg
  Resources/Audio/Effects/unbuckle.ogg
  Resources/Audio/Items/Medical/healthscanner.ogg
  Resources/Audio/Items/desk_bell_ring.ogg
  Resources/Audio/Items/welder2.ogg
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

remove clowns and centcom ERT calls
  Resources/Prototypes/_Alteros/ErtGroups/ert_groups.yml
Labels: none

remove clowns and centcom ERT calls
  Resources/Prototypes/_Alteros/ErtGroups/ert_groups.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
