Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Moose 3.2.1 (#12984)
  Resources/Maps/moose.yml
Labels: Changes: Map

Kettle 1.4.3 (#12859)
  Resources/Maps/kettle.yml
Labels: Changes: Map

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: Changes: Localization

Fix thread pool IoC context bug in DecalSystem. (#12993)
  Content.Server/Decals/DecalSystem.cs
Labels: none

CentComm Fax (#13000)
  Resources/Maps/centcomm.yml
Labels: Changes: Map

Change planet command gas constants (#13014)
  Content.Server/Maps/PlanetCommand.cs
Labels: none

Omega Update 1.2 (#13004)
  Resources/Maps/omega.yml
Labels: Changes: Map

Box Update 2.3 (#13003)
  Resources/Maps/box.yml
Labels: Changes: Map

Marathon Update 3.9 (#13002)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Bagel Update 15.7 (#13001)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Translate Upstream #636 (#637)
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/xenoarchaeology/traversal-distorter.ftl
Labels: Changes: Localization

Translate Upstream #636 (#637)
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/xenoarchaeology/traversal-distorter.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Network pacifiedcomponent (#13012)
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
  Content.Shared/CombatMode/Pacification/PacifiedComponent.cs
Labels: none

misc flare fixes (#12942)
  Content.Client/Light/Components/ExpendableLightComponent.cs
  Content.Client/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Client/Light/Visualizers/ExpendableLightVisualizer.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Shared/Light/Component/SharedExpendableLightComponent.cs
Labels: none

Condense PR template a bit (#13021)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Remove "Goebbles" from last name list (#13020)
  Resources/Prototypes/Datasets/Names/last.yml
Labels: none

Update content for pause event changes (#12970)
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Content.Shared/Timing/UseDelaySystem.cs
Labels: none

Make ghost boo action start with a cooldown. (#12936)
  Content.Server/Ghost/GhostSystem.cs
Labels: none

add fax machine logs (#13006)
  Content.Server/Fax/FaxSystem.cs
Labels: none

Make department radio messages work in default radio (#12834)
  Content.Server/Chat/Systems/ChatSystem.Radio.cs
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Intercoms [crappy radios] (#12898)
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/intercom.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/intercom.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove priority join button (#643)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

Remove priority join button (#643)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

Disable priority join button (#644)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

Disable priority join button (#644)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

Intercom Tweaks and Fixes (#13032)
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Shared/Radio/RadioVisuals.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Replaces anchored lookup flag with static (#13036)
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Construction/Conditions/EmptyOrWindowValidInTile.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: none

Fix NPC obstacle handling (#13007)
  Content.Server/NPC/Components/NPCRVOComponent.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Server/NPC/NPCBlackboardSerializer.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Avoidance.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hotfix Inject DI to queue GUI (#646)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
Labels: Changes: UI

Hotfix Inject DI to queue GUI (#646)
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
Labels: Changes: UI

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/intercom.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/intercom.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: Changes: Localization
