Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Marking default coloring (#13039)
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Humanoid/HumanoidMarkingModifierWindow.xaml.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Humanoid/Systems/HumanoidSystem.Modifier.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/ColoringTypes/CategoryColoring.cs
  Content.Shared/Humanoid/Markings/ColoringTypes/EyeColoring.cs
  Content.Shared/Humanoid/Markings/ColoringTypes/SimpleColoring.cs
  Content.Shared/Humanoid/Markings/ColoringTypes/SkinColoring.cs
  Content.Shared/Humanoid/Markings/ColoringTypes/TattooColoring.cs
  Content.Shared/Humanoid/Markings/Marking.cs
  Content.Shared/Humanoid/Markings/MarkingColoring.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/SharedHumanoidMarkingModifierSystem.cs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

New Traits (#13763)
  Content.Client/Traits/ParacusiaSystem.cs
  Content.Server/Chemistry/ReagentEffects/Drunk.cs
  Content.Server/Traits/Assorted/ParacusiaSystem.cs
  Content.Shared/Drunk/DrunkSystem.cs
  Content.Shared/Traits/Assorted/LightweightDrunkComponent.cs
  Content.Shared/Traits/Assorted/ParacusiaComponent.cs
  Content.Shared/Traits/Assorted/SharedParacusiaSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/SoundCollections/traits.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cleanup cargo shuttle/telepad order code (#13591)
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Server/Cargo/Components/StationCargoOrderDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cargo/Events/CargoConsoleApproveOrderMessage.cs
  Content.Shared/Cargo/Events/CargoConsoleRemoveOrderMessage.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add NPC stuck detection (#14410)
  Content.Server/NPC/Components/NPCSteeringComponent.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Another batch of DoAfter fixes (#14351)
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Nutrition/Components/DrinkComponent.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove use delay cancellation tokens (#14405)
  Content.Shared/Timing/UseDelayComponent.cs
  Content.Shared/Timing/UseDelaySystem.cs
Labels: none

Equipment verbs & admin inventory access. (#14315)
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Administration/Managers/IAdminManager.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Administration/Managers/ISharedAdminManager.cs
  Content.Shared/Clothing/Components/ToggleableClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/DoAfter/DoAfterComponent.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Examine/GroupExamineComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Inventory/InventorySystem.Helpers.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Strip/Components/StrippableComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Content.Shared/Verbs/Verb.cs
  Content.Shared/Verbs/VerbEvents.cs
  Resources/Locale/en-US/strip/strippable-component.ftl
  Resources/Locale/en-US/verbs/verbs.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

New botany mutations (#13646)
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/BotanySystem.Produce.cs
  Content.Server/Botany/Systems/MutationSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Garlic and vinaigrette (#14221)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/garlic.rsi/stage-3.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Encryption key boxes to the heads lockers. (#14110)
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Textures/Objects/Storage/boxes.rsi/encryptokey.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add lizard crate (#14337)
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-livestock.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

clipping and extracting put seeds in the users hands (#14343)
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Soybean and rice plants, tofu, tofu bread recipe (#13989)
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/tofu-slice.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/tofu.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/stage-3.png
  Resources/Textures/Objects/Specific/Hydroponics/rice.rsi/stage-4.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/stage-3.png
  Resources/Textures/Objects/Specific/Hydroponics/soybeans.rsi/stage-4.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Belt Appraisal Tools (#14413)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Tools/appraisal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Comfy Chair and Pilot Seat steel reduction (#14402)
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
Labels: none

add margins to round summary window (#14401)
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

slimes can finally get drunk (#14414)
  Resources/Prototypes/Body/Organs/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make pins 1 size (#14392)
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
Labels: none

grenades emit sound on trigger again (#14391)
  Content.Server/Sound/EmitSoundSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix powernetworkbattery typo (#14385)
  Content.Server/Power/Components/PowerNetworkBatteryComponent.cs
Labels: none

Bump parallax log level (#14384)
  Content.Client/Parallax/Managers/ParallaxManager.cs
Labels: none

Fix AlertManagerTests warnings (#14386)
  Content.Tests/Shared/Alert/AlertManagerTests.cs
Labels: none

Stimpacks - 100% Webedit Free Edition (#13810)
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: Localization
