Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Contraband Storage Crate (#25974)
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: none

Fixed bug with appearance of ammo battery magazine guns (#26009)
  Content.Client/Weapons/Ranged/Systems/GunSystem.Magazine.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/clothing/boots.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/categories.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/clothing/boots.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/categories.ftl
Labels: Changes: Localization

Fix placement mode on chairs (#26041)
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: none

foxes are now neutral🦊 (#25992)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

add radio name component
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/RadioNameComponent.cs
Labels: none

add radio name component
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/RadioNameComponent.cs
Labels: none

The lawyer finally gets a stamp (#26012)
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-lawyer.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-lawyer.png
Labels: Changes: Sprites, Changes: Localization

Fix vox custom sprites (#25989)
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: none

Make fireaxe & shotgun cabinets destructible (#25962)
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: none

[MapUpdate] Avrite (#1956)
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: none

[MapUpdate] Avrite (#1956)
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: none

don't send tts annnouncments for players with disabled tts
  Content.Server/SS220/TTS/TTSSystem.cs
Labels: none

1111 (#60)
  Resources/Locale/ru-RU/tts/tts-voices.ftl
  Resources/Prototypes/_White/tts-voices.yml
Labels: Changes: Localization

1111 (#60)
  Resources/Locale/ru-RU/tts/tts-voices.ftl
  Resources/Prototypes/_White/tts-voices.yml
Labels: Changes: Localization

Фикс одежки (#59)
  Resources/Prototypes/_evgencheg/sponsor_cloth.yml
  Resources/Prototypes/_evgencheg/sponsor_uplink.yml
Labels: none

Фикс одежки (#59)
  Resources/Prototypes/_evgencheg/sponsor_cloth.yml
  Resources/Prototypes/_evgencheg/sponsor_uplink.yml
Labels: none

Some more whitelists for belts (#26085)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/tags.yml
Labels: none

More good looking inventory part 2.2 (instruments version) (#26090)
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: none

Update pai.yml (#61)
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: none

Update pai.yml (#61)
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: none

Revert "fix cargo telepad not working"
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
Labels: none

Revert "fix cargo telepad not working"
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
Labels: none

Add log when a player starts observing. (#26091)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Trading Outpost now has half buy-only and half sell-only pallets (#25955)
  Content.Server/Cargo/Components/CargoPalletComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Textures/Structures/cargo_pallets.rsi/cargo_pallet_buy.png
  Resources/Textures/Structures/cargo_pallets.rsi/cargo_pallet_sell.png
  Resources/Textures/Structures/cargo_pallets.rsi/meta.json
Labels: Changes: Sprites

Fix some tags for prototypes (#26088)
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
Labels: none

Typo in guidebook for cyro pressure (#26094)
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: none

Remove the blue tint from the health analyzer (#26101)
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/meta.json
Labels: Changes: Sprites

Drink from closed container fix (#26103)
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Labels: none

Pipebombs and IED rework (#25705)
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/Explosion/ExplosionPrototype.cs
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/firebomb.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/pipebomb.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/explosion.yml
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/base.png
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/primed.png
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/wires.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Localization

Throttle people trying to connect to a full server. (#20972)
  Content.Client/Launcher/LauncherConnecting.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

Translate Upstream #1957 (#1959)
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/clothing/boots.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/categories.ftl
Labels: Changes: Localization

Translate Upstream #1957 (#1959)
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/clothing/boots.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/categories.ftl
Labels: Changes: Localization

Split smoke grenade sound into two parts (#26095)
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/smoke_grenade_prime.ogg
  Resources/Audio/Items/smoke_grenade_smoke.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Democratize C-20r SMG Magazines (#26086)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Sort agents by success rate in end game summary (#26058)
  Content.Server/Objectives/ObjectivesSystem.cs
Labels: none
