Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Holoprojectors are cool for officers and Dec (#24582)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix color tags in admin logs (#24606)
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: none

Rock and Meat anom rework (try 2) (#24449)
  Content.Server/Anomaly/Effects/EntityAnomalySystem.cs
  Content.Server/Anomaly/Effects/TileAnomalySystem.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/EntitySpawnAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/TileSpawnAnomaly.cs
  Content.Shared/Anomaly/Effects/Components/TileSpawnAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/SharedEntityAnomalySystem.cs
  Content.Shared/Anomaly/Effects/SharedTileAnomalySystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Prototypes/Entities/Effects/wallspawn.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/asteroidcrab.yml
  Resources/Prototypes/Entities/Objects/Misc/ice_crust.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Textures/Structures/Specific/anomaly.rsi/anom6-pulse.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom6.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make PACMANs a little better (#24604)
  Content.Client/Power/Generator/GeneratorWindow.xaml
  Content.Client/Power/Generator/GeneratorWindow.xaml.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Server/Power/NodeGroups/BasePowerNet.cs
  Content.Server/Power/NodeGroups/IBasePowerNet.cs
  Content.Shared/Power/Generator/SharedPortableGeneratorComponent.cs
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/en-US/power/components/generator.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

ERT, DeathSquad and Central Command Officer Inital Infected immunity (#23601)
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Zombies/InitialInfectedExemptComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: none

Make shotgun slug ammo not useless (#24196)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix singulo combining debug assert (#24602)
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
Labels: none

Add the minimumPlayers parameter to the ZombieOutbreak event (#24577)
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Biodome satellite ruin (#24608)
  Resources/Maps/Ruins/biodome_satellite.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: none

Keep reagent dispenser inventory ordered (#24304)
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
Labels: Changes: UI

Default navmap to show departments (#24613)
  Content.Client/Pinpointer/UI/NavMapControl.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Repairable vending machines (#24603)
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Gravity anomaly rework (#24452)
  Content.Server/Anomaly/Effects/GravityAnomalySystem.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
  Content.Shared/Anomaly/Effects/Components/GravityAnomalyComponent.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Content.Shared/Weapons/Melee/MeleeThrowOnHitSystem.cs
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
Labels: none

Hallway textscreens (#24189)
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Client/TextScreen/TextScreenSystem.cs
  Content.Client/TextScreen/TextScreenVisualsComponent.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Screens/Components/ScreenComponent.cs
  Content.Server/Screens/Systems/ScreenSystem.cs
  Content.Server/Shuttles/Components/ShuttleTimerComponent.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleTimerSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Content.Shared/TextScreen/TextScreenVisuals.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/shuttles/screens.ftl
  Resources/Locale/en-US/shuttles/timer.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Admin Observers get a hat slot and a pda (#20183)
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Powered light sprite glows with color of their pointlight (#24612)
  Content.Client/Light/Visualizers/PoweredLightVisualizerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Pka shuttle projectiles now actually break rocks in one hit (#24627)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Bartender limited reagents fixup (#24598)
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/Objects/Consumable/Drinks/generic_jug.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/generic_jug.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/water.rsi/icon.png
Labels: Changes: Sprites

Align sprite rear view (#24584)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cargotech.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

add plushies
  Resources/Prototypes/_c4llv07e/plushies.yml
  Resources/Textures/_c4llv07e/plushieWiki.rsi/meta.json
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieBartender.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieCBURN.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieCMO.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieERT.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieHOS.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieIAA.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieMaid.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieRD.png
Labels: Changes: Sprites

add plushies
  Resources/Prototypes/_c4llv07e/plushies.yml
  Resources/Textures/_c4llv07e/plushieWiki.rsi/meta.json
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieBartender.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieCBURN.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieCMO.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieERT.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieHOS.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieIAA.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieMaid.png
  Resources/Textures/_c4llv07e/plushieWiki.rsi/plushieRD.png
Labels: Changes: Sprites

Some fixes (#1811)
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Localization

Some fixes (#1811)
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Localization

Ion Storm Weight Increase (#24633)
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make some damage sources not cancel do afters (#24635)
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Guardian/GuardianSystem.cs
Labels: none

Security barriers take 5 seconds to (un)lock (#24637)
  Content.Shared/Lock/LockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Steal cleanup (#24428)
  Content.Server/Objectives/Components/StealConditionComponent.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: none
