Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Give security sunglasses the security HUD (#19904)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

bagel update (#22740)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added ore bag of holding (#22680)
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag_holding.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Shuttle timers (#19471)
  Content.Client/TextScreen/TextScreenSystem.cs
  Content.Client/TextScreen/TextScreenTimerComponent.cs
  Content.Client/TextScreen/TextScreenVisualsComponent.cs
  Content.Server/DeviceLinking/Components/SignalTimerComponent.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Components/ArrivalsShuttleComponent.cs
  Content.Server/Shuttles/Components/EmergencyShuttleComponent.cs
  Content.Server/Shuttles/Components/ShuttleTimerComponent.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleTimerSystem.cs
  Content.Shared/TextScreen/TextScreenVisuals.cs
  Resources/Maps/Misc/terminal.yml
  Resources/Maps/Shuttles/arrivals.yml
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Test/dev_map.yml
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Device/devicenet_frequencies.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Wallmounts/screen.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/screen.rsi/screen.png
  Resources/Textures/Structures/Wallmounts/signalscreen.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signalscreen.rsi/signalscreen.png
Labels: Changes: Sprites, Changes: Map

Fix master (#22757)
  Content.Server/RoundEnd/RoundEndSystem.cs
Labels: none

CVar for custom name in client-side ahelp menu. (#22069)
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

Fix item size misinterpretation (#22711)
  Resources/Locale/en-US/items/components/item-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix item cabinet's visual state desyncing when toggled by a different client in view (#22759)
  Content.Shared/Cabinet/ItemCabinetComponent.cs
  Content.Shared/Cabinet/SharedItemCabinetSystem.cs
Labels: none

Stop AtmosphereSystem from logging errors if an atmosphere gets deleted. (#22761)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
Labels: none

Update connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: Changes: Localization

Update connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: Changes: Localization

Update connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: Changes: Localization

Toy sword now specifies BaseItem as parent (#22746)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: none

Make airlocks able to be broken down (still strong) and modify a damage container to make more sense (#22764)
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: none

Make ethylredoxrazine effective at curing drunkness (#22763)
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Unbreak the Geneva Conventions (#22741)
  Resources/Textures/Interface/Alerts/human_alive.rsi/health4.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

New plant (#22704)
  Resources/Prototypes/Entities/Markers/Spawners/Random/pottedplants.yml
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Textures/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/Structures/Furniture/potted_plants.rsi/plant-26.png
  Resources/Textures/Structures/Furniture/potted_plants.rsi/plant-27.png
  Resources/Textures/Structures/Furniture/potted_plants.rsi/plant-28.png
  Resources/Textures/Structures/Furniture/potted_plants.rsi/plant-29.png
  Resources/Textures/Structures/Furniture/potted_plants.rsi/plant-30.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix shuttle loading error (#22767)
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Resources/Maps/Shuttles/emergency_transit.yml
Labels: none

Fix index out of range exception in atmosphere system (#22770)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
Labels: none

marathon update (#22772)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Improve gas analyzer interface (#22779)
  Content.Client/Atmos/UI/GasAnalyzerWindow.xaml.cs
  Content.Client/UserInterface/Controls/SplitBar.xaml.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Resources/Locale/en-US/atmos/gas-analyzer-component.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Reduce frezon price (#22784)
  Resources/Prototypes/Atmospherics/gases.yml
Labels: none

Translate Upstream #1653 (#1656)
  Resources/Locale/ru-RU/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/food.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/elemental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/crystal_shard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chapel/urn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/crystals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
Labels: Changes: Localization

Translate Upstream #1653 (#1656)
  Resources/Locale/ru-RU/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/food.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/elemental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/crystal_shard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chapel/urn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/crystals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
Labels: Changes: Localization

ports deltastation shuttle from ss13, assigned to fland installation (#22776)
  Resources/Maps/Shuttles/emergency_delta.yml
  Resources/Prototypes/Maps/fland.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

CentCom Agent Suit (#22700)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/meta.json
Labels: Changes: Sprites

Added CentCom clipboard, folder and added a normal green folder. (#22693)
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-centcom.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/clipboard.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/clipboard_over.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/clipboard_paper.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/clipboard_pen.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/equipped-BELT.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/cc-clipboard.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix mining airlock sprite (#1659)
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/panel_closed.png
Labels: Changes: Sprites

Fix mining airlock sprite (#1659)
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/panel_closed.png
Labels: Changes: Sprites

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
