Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Make mop buckets/trolleys spillable again. (#17148)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: none

Fix observer command & button (#17151)
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Movement.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Position.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Spectate.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.cs
  Resources/Locale/en-US/replays/replays.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Commented some tips longer than max symbols amount (#1120)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Commented some tips longer than max symbols amount (#1120)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Deleted some braindead's odd changelog (#1121)
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Deleted some braindead's odd changelog (#1121)
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Minor translation changes (#1113)
  Resources/Locale/ru-RU/medical/components/defibrillator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/glowstick.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Minor translation changes (#1113)
  Resources/Locale/ru-RU/medical/components/defibrillator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/glowstick.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

defib tweaks (#17167)
  Content.Server/Medical/DefibrillatorSystem.cs
  Resources/Locale/en-US/medical/components/defibrillator.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Seclite does 10 blunt (#17139)
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update seeds.yml (#17174)
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Misc implant fixes (#17172)
  Content.Server/Explosion/EntitySystems/TriggerSystem.Mobstate.cs
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/Implants/Components/ImplanterComponent.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
Labels: none

Adds Bingus and Space Cat spawners (#17150)
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: none

No more bloodbag mouse. (#17124)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

only show flavor above 0.1u (#17169)
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
Labels: none

Refactoring of roles and notifications about antagonist assignment (#16864)
  Content.Server/GameTicking/Rules/Components/NukeOperativeComponent.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/PiratesRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Objectives/Conditions/RandomTraitorProgressCondition.cs
  Content.Server/Objectives/Requirements/TraitorRequirement.cs
  Content.Server/Roles/AntagonistRole.cs
  Content.Server/Roles/NukeopsRole.cs
  Content.Server/Roles/TraitorRole.cs
  Content.Server/Roles/ZombieRole.cs
  Content.Server/Store/Conditions/BuyerAntagCondition.cs
  Content.Server/Traitor/TraitorRole.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/nukeops_start.ogg
  Resources/Audio/Ambience/Antag/pirate_start.ogg
  Resources/Audio/Ambience/Antag/traitor_start.ogg
  Resources/Audio/Ambience/Antag/zombie_start.ogg
  Resources/Audio/Misc/license.txt
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Guidebook links (#17162)
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
  Content.Client/UserInterface/Controls/FancyTree/FancyTree.xaml.cs
Labels: Changes: UI

Change DamageVisuals color for slime and diona (#17155)
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix missing cogchamp effect text (#17159)
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Purge IoC resolves from integration tests (#17185)
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Cleanup/EuiManagerTest.cs
  Content.IntegrationTests/Tests/ContainerOcclusionTest.cs
  Content.IntegrationTests/Tests/Damageable/DamageableTest.cs
  Content.IntegrationTests/Tests/DeleteInventoryTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDamageTypeTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDestructionTest.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterServerTest.cs
  Content.IntegrationTests/Tests/DummyIconTest.cs
  Content.IntegrationTests/Tests/FollowerSystemTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/ActionBlocking/HandCuffTest.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/HumanInventoryUniformSlotsTest.cs
  Content.IntegrationTests/Tests/InventoryHelpersTest.cs
  Content.IntegrationTests/Tests/Lobby/ServerReloginTest.cs
  Content.IntegrationTests/Tests/Networking/ReconnectTest.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.IntegrationTests/Tests/RestartRoundTest.cs
  Content.IntegrationTests/Tests/RoundEndTest.cs
Labels: none

Reagent "Fat" and reactions for soapification and meatification (#16058)
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Removes linter warnings from the PDA module (#17097)
  Content.Client/PDA/PDAMenu.xaml.cs
  Content.Client/PDA/PDAProgramItem.xaml.cs
  Content.Client/PDA/PDASettingsButton.xaml.cs
  Content.Client/PDA/PDASystem.cs
  Content.Client/PDA/PDAWindow.xaml.cs
  Content.Client/PDA/Ringer/RingtoneMenu.xaml.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/PDA/Ringer/RingerComponent.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Shared/PDA/PDAMessagesUI.cs
  Content.Shared/PDA/Ringer/RingerMessagesUI.cs
  Content.Shared/PDA/SharedPDASystem.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix defibs not reviving (#17195)
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix teleport here for grids (#17194)
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: none

Add cargo pallet to cargo products (#17192)
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
