Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Add checkbox for toggle walking (#20926)
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization

Tortilla dough, Taco shells, and Tacos (#20797)
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/tortilla.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/tortilladough-flat.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/tortilladough-slice.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/tortilladough.png
  Resources/Textures/Objects/Consumable/Food/meals.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meals.rsi/softtaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/beeftaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/beeftacosupreme.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/chickentaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/chickentacosupreme.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/fishtaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/taco.rsi/rattaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Swaps HV/MV/LV scaling to supply power scaling (#20880)
  Content.Server/Electrocution/Components/ElectrifiedComponent.cs
  Content.Server/Electrocution/Components/ElectrocutionComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Power/Pow3r/PowerState.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make gibbing drop items again (#21047)
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add security beacon (#21048)
  Resources/Prototypes/Entities/Markers/warp_point.yml
Labels: none

Add sufix to sci flash (#21095)
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: none

Atmos-tech's casual jumpsuit resprite (#20989)
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed players without headrevs ticked being picked anyway (#20895)
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Changes: Localization

make meat sizzle when cooked (#20877)
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/sizzle.ogg
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

wet floor bomb properties (#20823)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: none

Allow Chemical Dispenser to be scrollable (#20800)
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
Labels: Changes: UI

Added fun: Darts (#20582)
  Content.Server/Damage/Components/DamageRandomPopupComponent.cs
  Content.Server/Damage/Systems/DamageRandomPopupSystem.cs
  Resources/Locale/en-US/darts/darts-popup.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Textures/Objects/Fun/Darts/dart_blue.rsi/icon.png
  Resources/Textures/Objects/Fun/Darts/dart_blue.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Darts/dart_blue.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Darts/dart_blue.rsi/meta.json
  Resources/Textures/Objects/Fun/Darts/dart_purple.rsi/icon.png
  Resources/Textures/Objects/Fun/Darts/dart_purple.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Darts/dart_purple.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Darts/dart_purple.rsi/meta.json
  Resources/Textures/Objects/Fun/Darts/dart_red.rsi/icon.png
  Resources/Textures/Objects/Fun/Darts/dart_red.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Darts/dart_red.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Darts/dart_red.rsi/meta.json
  Resources/Textures/Objects/Fun/Darts/dart_yellow.rsi/icon.png
  Resources/Textures/Objects/Fun/Darts/dart_yellow.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Darts/dart_yellow.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Darts/dart_yellow.rsi/meta.json
  Resources/Textures/Objects/Fun/Darts/target.rsi/meta.json
  Resources/Textures/Objects/Fun/Darts/target.rsi/target_dart.png
  Resources/Textures/Objects/Storage/boxes.rsi/darts.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

reduce c4 and c4 bundle price (#21102)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update Secrets source
  .gitmodules
Labels: none

Update Secrets source
  .gitmodules
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/warp_point.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/darts/darts-popup.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/warp_point.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/warp_point.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/darts/darts-popup.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/warp_point.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
Labels: Changes: Localization

Yeah (#21112)
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
Labels: none

fix botany tools and air tank wide swing animations (#21103)
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: none

add craft rollerbed & wheelchair (#21110)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ghost actions disappearing when toggling visibility of other ghosts (#21033)
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Ghost/GhostSystem.cs
Labels: none

Legendary Rust Wall Resprite (#1474)
  Resources/Textures/Structures/Walls/solidrust.rsi/full.png
  Resources/Textures/Structures/Walls/solidrust.rsi/meta.json
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust0.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust1.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust2.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust3.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust4.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust5.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust6.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust7.png
Labels: Changes: Sprites

Legendary Rust Wall Resprite (#1474)
  Resources/Textures/Structures/Walls/solidrust.rsi/full.png
  Resources/Textures/Structures/Walls/solidrust.rsi/meta.json
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust0.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust1.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust2.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust3.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust4.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust5.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust6.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust7.png
Labels: Changes: Sprites

Use ssh-agent for publish workflow
  .github/workflows/publish.yml
Labels: none

Use ssh-agent for publish workflow
  .github/workflows/publish.yml
Labels: none

Translate Upstream #1514 (#1515)
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/darts/darts-popup.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
Labels: Changes: Localization

Translate Upstream #1514 (#1515)
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/darts/darts-popup.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
Labels: Changes: Localization

fixed localization for guardian (#21101)
  Content.Server/Guardian/GuardianSystem.cs
Labels: none

Add internal temperatures for cooking meats (#20659)
  Content.Server/Body/Systems/ThermalRegulatorSystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Temperature/Components/InternalTemperatureComponent.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix replay infinite loop (#21129)
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Position.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
