Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ninja/gloves.ftl
  Resources/Locale/ru-RU/ninja/katana.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/ninja/role.ftl
  Resources/Locale/ru-RU/ninja/spider-charge.ftl
  Resources/Locale/ru-RU/ninja/terror.ftl
  Resources/Locale/ru-RU/objectives/conditions/doorjack-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/download-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/survive-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/terror-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ninja/gloves.ftl
  Resources/Locale/ru-RU/ninja/katana.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/ninja/role.ftl
  Resources/Locale/ru-RU/ninja/spider-charge.ftl
  Resources/Locale/ru-RU/ninja/terror.ftl
  Resources/Locale/ru-RU/objectives/conditions/doorjack-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/download-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/survive-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/terror-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Bloodloss drunk status no longer persists after being healthy AND dead bodies will still bleed (#15189)
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/Drunk/DrunkSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Makes minibomb actually gib (#15330)
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/explosion.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Sprite] Stimpack Sprite (#14987)
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/stimpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/stimpen_empty.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add search to marking editors (#15526)
  Content.Client/Humanoid/MarkingPicker.xaml
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

emag refactor (#15181)
  Content.Client/Charges/Systems/ChargesSystem.cs
  Content.Server/Charges/Components/AutoRechargeComponent.cs
  Content.Server/Charges/Systems/ChargesSystem.cs
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Resources/Locale/en-US/emag/emag.ftl
  Resources/Locale/en-US/limited-charges/limited-charges.ftl
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
Labels: Changes: Localization

Localization of disease emojis (#1000)
  Resources/Prototypes/Voice/disease_emotes.yml
Labels: none

Localization of disease emojis (#1000)
  Resources/Prototypes/Voice/disease_emotes.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Translation of Space Ninja names dataset (#998)
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/ninja_title.yml
Labels: none

Translation of Space Ninja names dataset (#998)
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/ninja_title.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Brigmed fashion locale (#997)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/vests.ftl
Labels: Changes: Localization

Brigmed fashion locale (#997)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/vests.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add Chief Engineer's Bags (#995)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/satchel.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/meta.json
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/meta.json
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Add Chief Engineer's Bags (#995)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/satchel.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/meta.json
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/meta.json
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Bunch of resprites (#996)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/furniture/potted_plants.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/pottedplants.yml
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-0.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-1.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-2.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-3.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-4.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-5.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-6.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-7.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-8.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp_on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Bunch of resprites (#996)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/furniture/potted_plants.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/pottedplants.yml
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-0.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-1.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-2.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-3.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-4.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-5.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-6.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-7.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-8.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp_on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Entity] Add Ian's Backpack (#15519)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/SoundCollections/ian_bark.yml
  Resources/Textures/Clothing/Back/Backpacks/ian.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/ian.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/ian.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/ian.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/ian.rsi/meta.json
Labels: Changes: Sprites

[Tweak] Implanter Speed (#15523)
  Content.Shared/Implants/Components/ImplanterComponent.cs
Labels: none

[Entity] Add scientist lab coat (#15455)
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/open-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/open-inhand-right.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Entity] Hospital Gown for medical (#15405)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/Clothing/OuterClothing/Misc/hospitalgown.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/hospitalgown.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/hospitalgown.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Misc/hospitalgown.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Misc/hospitalgown.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Reflect changes (#15071)
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/SharedReflectSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: none

Reduce power of anomaly vessel upgrades (#15520)
  Content.Server/Anomaly/Components/AnomalyVesselComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove explosion visuals component references (#15264)
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Explosion/ExplosionOverlaySystem.cs
  Content.Client/Explosion/ExplosionVisualsTexturesComponent.cs
  Content.Server/Explosion/Components/ExplosionVisualsComponent.cs
  Content.Shared/Explosion/ExplosionVisualsComponent.cs
Labels: none

ECS BatteryComponent (#15337)
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
