Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Space Cash Sprite Tweak (#9120)
  Resources/Textures/Objects/Economy/cash.rsi/cash.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_10.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_100.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_1000.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_1000000.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_500.png
  Resources/Textures/Objects/Economy/cash.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix uncooked animal protein name (#9122)
  Resources/Locale/en-US/reagents/meta/toxins.ftl
Labels: Changes: Localization

Fixes storage eating buckled players (#9096)
  Content.Server/Buckle/Systems/BuckleSystem.cs
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixes counter vaulting (#9130)
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds jetpacks to Waystation (#9128)
  Resources/Maps/waystation.yml
Labels: Changes: Map

Fix space ambience issues (#8990)
  Content.Client/Audio/BackgroundAudioSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Lighthouse update (#9127)
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

Split update (#9125)
  Resources/Maps/splitstation.yml
  Resources/Prototypes/Maps/splitstation.yml
Labels: Changes: Map

Fire Axe Nerf (#9133)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds a tool for importing .netset files into the ban DB. (#9016)
  Content.Server/Administration/Commands/ImportNetsetCommand.cs
Labels: none

Revert "Adds a tool for importing .netset files into the ban DB. (#9016)" (#9149)
  Content.Server/Administration/Commands/ImportNetsetCommand.cs
Labels: none

[Resprite] Direct windows/doors (#281)
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closed.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closing.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/meta.json
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/open.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/opening.png
  Resources/Textures/Structures/Windows/directional.rsi/frosted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/Structures/Windows/directional.rsi/plasma_reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/plasma_window.png
  Resources/Textures/Structures/Windows/directional.rsi/reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/tinted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/window.png
Labels: Changes: Sprites

[Resprite] Direct windows/doors (#281)
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closed.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closing.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/meta.json
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/open.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/opening.png
  Resources/Textures/Structures/Windows/directional.rsi/frosted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/Structures/Windows/directional.rsi/plasma_reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/plasma_window.png
  Resources/Textures/Structures/Windows/directional.rsi/reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/tinted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/window.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix nukies (#9159)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: none

Quick miasma nerf (#9161)
  Content.Server/Atmos/Miasma/PerishableComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: none

Atlas Evac Shuttle Compat Update (#9166)
  Resources/Maps/atlas.yml
Labels: Changes: Map

Bagel Evac Compat Update (#9167)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Marathon Evac Compat Update (#9168)
  Resources/Maps/marathon.yml
Labels: Changes: Map

The quartermaster is now a head. (#9163)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: none

Saltern Evac Compat Update (#9169)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Fix some eshuttle stuff (#9171)
  Content.Client/Shuttles/UI/EmergencyConsoleWindow.xaml
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI

Remove common channel from syndie headset (#9173)
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: none

Eshuttle doors and colour (#9175)
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Hyperspace.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
Labels: none

Fix deleted outline crash (#9136)
  Content.Client/Outline/InteractionOutlineSystem.cs
Labels: none

Don't allow you to melee attack yourself (#9178)
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
Labels: none

Make space mobs immune to stun and knockdown (#9176)
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: none

Update cargodrobe.yml (#9186)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
Labels: none

Nerf singulo pulling (#9181)
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
Labels: none

Fireaxe cabinet lock and fireaxe actually heavy again (#9190)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: none

updates (#9191)
  Resources/Maps/barratry.yml
Labels: Changes: Map

Probably fix roundend test in debug (#9193)
  Content.IntegrationTests/Tests/RoundEndTest.cs
Labels: none

Fix emergency shuttle docking causing grid overlap (#9197)
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
Labels: none

Added a Jetpack and the Syndie Headset to the Uplink (#9123)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none
