Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Added verb action to Glue/Lube system (#26002)
  Content.Server/Glue/GlueSystem.cs
  Content.Server/Lube/LubeSystem.cs
  Resources/Locale/en-US/glue/glue.ftl
  Resources/Locale/en-US/lube/lube.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Resprite/Return] Exosuit CBURN (#1984)
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
Labels: Changes: Sprites

[Resprite/Return] Exosuit CBURN (#1984)
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
Labels: Changes: Sprites

Fix missing semicolon after migration. (#26337)
  Content.Server.Database/Migrations/Postgres/20240318022005_AdminMessageDismiss.cs
  Content.Server.Database/Migrations/Sqlite/20240318021959_AdminMessageDismiss.cs
Labels: none

The return of the 'long bedhead' haircut as an alternative (#26336)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/long_bedhead2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix cross-grid spreader behavior (#26346)
  Content.Server/Spreader/SpreaderSystem.cs
Labels: none

NPC steering tweaks (#26351)
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make air tanks appear on the back in suitstorage (#26353)
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/mini.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/mini.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/mini.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
Labels: Changes: Sprites

Fix crash on load when no slot key assigned (#26354)
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
Labels: none

Throwing Knives: Syndicate Kit (#26026)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/throwing_knives.png
  Resources/Textures/Objects/Storage/boxicons.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/throwing_knives.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Changed black carpet texture to correctly align itself. (#26358)
  Resources/Textures/Structures/Furniture/Carpets/black_carpet.rsi/carpet_5.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

1x2 cable coils (#26361)
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix bypassing vaulting clumsy check with verb action. (#24977)
  Content.Shared/Climbing/Components/BonkableComponent.cs
  Content.Shared/Climbing/Components/ClimbingComponent.cs
  Content.Shared/Climbing/Events/AttemptClimbEvent.cs
  Content.Shared/Climbing/Systems/BonkSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Resources/Locale/en-US/bonk/components/bonkable-component.ftl
  Resources/Locale/en-US/climbing/climbable-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Restrict door remotes to only being able to manipulate doors relevant to their type (#26371)
  Content.Server/Remotes/DoorRemoteSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Configuration argument for content packaging (#25569)
  Content.Packaging/ClientPackaging.cs
  Content.Packaging/CommandLineArgs.cs
  Content.Packaging/Program.cs
  Content.Packaging/ServerPackaging.cs
Labels: none

Admin New Player Notification Sound (#24327)
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/newplayerping.ogg
Labels: none

Fix playglobalsound autocompletion (#26167)
  Content.Server/Administration/Commands/PlayGlobalSoundCommand.cs
Labels: none

Haunted dungeon template (#23768)
  Content.Server/Procedural/DungeonJob.CorridorClutterPost.cs
  Content.Server/Procedural/DungeonJob.PostGen.cs
  Content.Server/Procedural/DungeonJob.PrefabDunGen.cs
  Content.Server/Procedural/DungeonJob.WormPost.cs
  Content.Server/Procedural/DungeonJob.cs
  Content.Shared/Procedural/Dungeon.cs
  Content.Shared/Procedural/DungeonRoom.cs
  Content.Shared/Procedural/PostGeneration/BoundaryWallPostGen.cs
  Content.Shared/Procedural/PostGeneration/CorridorClutterPostGen.cs
  Content.Shared/Procedural/PostGeneration/CorridorPostGen.cs
  Content.Shared/Procedural/PostGeneration/WormCorridorPostGen.cs
  Resources/Maps/Dungeon/haunted.yml
  Resources/Prototypes/Procedural/Themes/haunted.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/tags.yml
Labels: none

Maybe fix rsi truncheon error (#26374)
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: none

Add Prometheus stats for admin count (#26284)
  Content.Server/Administration/Managers/AdminManager.Metrics.cs
  Content.Server/Administration/Managers/AdminManager.cs
Labels: none

Hide empty marking categories in the markings picker (#26377)
  Content.Client/Humanoid/MarkingPicker.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Give cap door remote his access (#26378)
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Landmine stepoff (#22962)
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/LandMines/LandMineComponent.cs
  Content.Server/LandMines/LandMineSystem.cs
  Content.Server/Tiles/LavaSystem.cs
  Content.Shared/Chasm/ChasmSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/beep_landmine.ogg
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: none

Add stealthmins (#26263)
  Content.Server/Administration/Commands/AdminWhoCommand.cs
  Content.Server/Administration/Commands/StealthminCommand.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/Managers/IAdminManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Shared/Administration/AdminData.cs
  Content.Shared/Administration/AdminFlags.cs
  Content.Shared/Players/ContentPlayerData.cs
  Resources/Locale/en-US/administration/commands/stealthmin-command.ftl
  Resources/Locale/en-US/administration/managers/admin-manager.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Admin.yml
Labels: none

Run `fixgridatmos` for cargo & emergency shuttle (#26382)
  Content.Client/Atmos/Overlays/AtmosDebugOverlay.cs
  Content.Server/Atmos/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Shared/Atmos/EntitySystems/SharedAtmosDebugOverlaySystem.cs
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/emergency.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix Medical Hud death icon animation and Changes critical icon (#26391)
  Resources/Textures/Interface/Misc/health_icons.rsi/Critical.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Dead.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds "untriaged" labeler workflow (#26392)
  .github/workflows/labeler-untriaged.yml
Labels: none
