Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Reduces size of smaller cartons and fix size discrepancies with empty containers (#26430)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
Labels: none

Make chest rig purchasable in uplink (#26427)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix atmos NaN error (#26441)
  Content.Server/Atmos/Components/AirtightComponent.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Curtains fix (#26447)
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
Labels: none

Minor cleanup of cuffablesystem (#26434)
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[MapUpdate] Avrite (#1990)
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: none

[MapUpdate] Avrite (#1990)
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: none

Silly island next gen 4k update (#1988)
  Resources/Maps/Shuttles/arrivals_corvaxsilly.yml
  Resources/Maps/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/Shuttles/mining_corvaxsilly.yml
  Resources/Maps/Shuttles/trading_outpostcorvaxsilly.yml
  Resources/Maps/corvax_silly.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: Changes: Map

Silly island next gen 4k update (#1988)
  Resources/Maps/Shuttles/arrivals_corvaxsilly.yml
  Resources/Maps/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/Shuttles/mining_corvaxsilly.yml
  Resources/Maps/Shuttles/trading_outpostcorvaxsilly.yml
  Resources/Maps/corvax_silly.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: Changes: Map

Guidebook translate (Trairors, zombie) (#1987)
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: none

Guidebook translate (Trairors, zombie) (#1987)
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: none

Guidebook translate (Controls, radio, adv brute) (#1986)
  Resources/ServerInfo/Guidebook/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
Labels: none

Guidebook translate (Controls, radio, adv brute) (#1986)
  Resources/ServerInfo/Guidebook/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
Labels: none

Locale Guidebook for Revolution. (#1985)
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
Labels: none

Locale Guidebook for Revolution. (#1985)
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
Labels: none

Translate Upstream #1980 (#1983)
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/paint/paint.ftl
  Resources/Locale/ru-RU/replays/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/spray_paint.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/fence_wood.ftl
Labels: Changes: Localization

Translate Upstream #1980 (#1983)
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/paint/paint.ftl
  Resources/Locale/ru-RU/replays/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/spray_paint.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/fence_wood.ftl
Labels: Changes: Localization

Fix meta.json
  Resources/Textures/Mobs/Animals/regalrat.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: none

Fix meta.json
  Resources/Textures/Mobs/Animals/regalrat.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/accent/parrot.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/commands/stealthmin-command.ftl
  Resources/Locale/ru-RU/administration/managers/admin-manager.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/atmos/commands.ftl
  Resources/Locale/ru-RU/climbing/climbable-component.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/speech/speech-chatsan.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/accent/parrot.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/commands/stealthmin-command.ftl
  Resources/Locale/ru-RU/administration/managers/admin-manager.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/atmos/commands.ftl
  Resources/Locale/ru-RU/climbing/climbable-component.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/speech/speech-chatsan.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Objects such as lighters/welders are now able to be dropped in disposal units. (#26463)
  Content.Server/Tools/ToolSystem.Welder.cs
Labels: none

Revert "Give cap door remote his access" (#26465)
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: none

Fix GhostRoleComponent performing randomization on ComponentInit (#26466)
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
Labels: none

Remove Rubber Rounds, Give Security Disablers (#26470)
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Removed Box of Hugs and Donk Pockets from Bounties (#26481)
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Upstream #1993 (#1994)
  Resources/Locale/ru-RU/accent/parrot.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/commands/stealthmin-command.ftl
  Resources/Locale/ru-RU/administration/managers/admin-manager.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/climbing/climbable-component.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Translate Upstream #1993 (#1994)
  Resources/Locale/ru-RU/accent/parrot.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/commands/stealthmin-command.ftl
  Resources/Locale/ru-RU/administration/managers/admin-manager.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/climbing/climbable-component.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Artifact node IDs are now only 3 digits long (#26482)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Body code cleanup (#24946)
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Body/Commands/AddHandCommand.cs
  Content.Server/Body/Commands/AttachBodyPartCommand.cs
  Content.Server/Body/Components/BeingGibbedEvent.cs
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Components/InternalsComponent.cs
  Content.Server/Body/Components/LungComponent.cs
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Body/Components/ThermalRegulatorComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/Body/Systems/LungSystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Body/Systems/StomachSystem.cs
  Content.Server/Body/Systems/ThermalRegulatorSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Species/Systems/NymphSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Body/Events/MechanismBodyEvents.cs
  Content.Shared/Body/Events/ShiverAttemptEvent.cs
  Content.Shared/Body/Events/SweatAttemptEvent.cs
  Content.Shared/Body/Organ/OrganComponent.cs
  Content.Shared/Body/Part/BodyPartEvents.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: none

Add stacktrace to action error logs (#26486)
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: none

Late Join Menu Properly Retains Position On New Player Joins (#26483)
  Content.Client/LateJoin/LateJoinGui.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
