Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fix hijack objective (#21241)
  Content.Server/Objectives/Components/HijackShuttleComponent.cs
  Content.Server/Objectives/Components/HijackShuttleConditionComponent.cs
  Content.Server/Objectives/Systems/HijackShuttleConditionSystem.cs
  Resources/Locale/en-US/objectives/conditions/hijack-shuttle-condition.ftl
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: Localization

Remove GridModifiedEvent (#21291)
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
Labels: none

Fix namespace error (#21298)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: none

Update yaml sequence option in editorconfig (#21297)
  .editorconfig
Labels: none

fix cburn bag issue, make new bag entity for them and filled bag entity (#21295)
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Health analyzer UI improve (#17280)
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Textures/Objects/Devices/health_analyzer.rsi/airloss.png
  Resources/Textures/Objects/Devices/health_analyzer.rsi/brute.png
  Resources/Textures/Objects/Devices/health_analyzer.rsi/burn.png
  Resources/Textures/Objects/Devices/health_analyzer.rsi/genetic.png
  Resources/Textures/Objects/Devices/health_analyzer.rsi/meta.json
  Resources/Textures/Objects/Devices/health_analyzer.rsi/toxin.png
  Resources/Textures/Objects/Devices/health_analyzer.rsi/unknown.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove corvax hijack
  Content.Server/Corvax/Objectives/Components/HijackShuttleConditionComponent.cs
  Content.Server/Corvax/Objectives/Systems/HijackShuttleConditionSystem.cs
Labels: none

Remove corvax hijack
  Content.Server/Corvax/Objectives/Components/HijackShuttleConditionComponent.cs
  Content.Server/Corvax/Objectives/Systems/HijackShuttleConditionSystem.cs
Labels: none

Fix player session interface
  Corvax/Content.Corvax.Interfaces.Server/IServerDiscordAuthManager.cs
Labels: none

Fix player session interface
  Corvax/Content.Corvax.Interfaces.Server/IServerDiscordAuthManager.cs
Labels: none

Remove duplicate hijack
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
Labels: none

Remove duplicate hijack
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
Labels: none

User accessible playtime (#21242)
  Content.Client/Info/PlaytimeStats/PlaytimeStatsEntry.cs
  Content.Client/Info/PlaytimeStats/PlaytimeStatsEntry.xaml
  Content.Client/Info/PlaytimeStats/PlaytimeStatsHeader.cs
  Content.Client/Info/PlaytimeStats/PlaytimeStatsHeader.xaml
  Content.Client/Info/PlaytimeStats/PlaytimeStatsWindow.cs
  Content.Client/Info/PlaytimeStats/PlaytimeStatsWindow.xaml
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Resources/Locale/en-US/info/playtime-stats.ftl
  Resources/Locale/en-US/preferences/ui/character-setup-gui.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Moves cloning comp & cloning event to shared (#21253)
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Cloning/CloningPodComponent.cs
  Content.Shared/Cloning/SharedCloningPodComponent.cs
Labels: none

Generalizes solution overflow & slightly increases space lube yield (#21094)
  Content.Server/Chemistry/EntitySystems/SolutionSpikableSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Shared/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Shared/Chemistry/Reaction/ChemicalReactionSystem.cs
  Resources/Prototypes/Recipes/Reactions/cleaning.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

1
  .gitmodules
Labels: none

1
  .gitmodules
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Revert "1"
  .gitmodules
Labels: none

Revert "1"
  .gitmodules
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Fix planet command help message (#21312)
  Resources/Locale/en-US/maps/planet.ftl
Labels: Changes: Localization

Wearable bee plush (#20623)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/bee-equipped-HELMET.png
  Resources/Textures/Objects/Fun/toys.rsi/bee-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/bee-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

remove pulse rifle from ert medic (#21310)
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Atomic bomb add uranium (#21143)
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
