Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Semi-automatic changelog update
  Resources/Changelog/Parts/pr-14025.yml
  Resources/Changelog/Parts/pr-14234.yml
  Resources/Changelog/Parts/pr-14235.yml
  Resources/Changelog/Parts/pr-14236.yml
  Resources/Changelog/Parts/pr-14529.yml
  Resources/Changelog/Parts/pr-14587.yml
  Resources/Changelog/Parts/pr-14612.yml
  Resources/Changelog/Parts/pr-14653.yml
  Resources/Changelog/Parts/pr-14685.yml
  Resources/Changelog/Parts/pr-14703.yml
  Resources/Changelog/Parts/pr-14705.yml
  Resources/Changelog/Parts/pr-14787.yml
  Resources/Changelog/Parts/pr-14801.yml
  Resources/Changelog/Parts/pr-14828.yml
  Resources/Changelog/Parts/pr-14829.yml
  Resources/Changelog/Parts/pr-14830.yml
  Resources/Changelog/Parts/pr-14831.yml
  Resources/Changelog/Parts/pr-14835.yml
  Resources/Changelog/Parts/pr-14836.yml
  Resources/Changelog/Parts/pr-14839.yml
  Resources/Changelog/Parts/pr-14844.yml
  Resources/Changelog/Parts/pr-14851.yml
  Resources/Changelog/Parts/pr-14858.yml
  Resources/Changelog/Parts/pr-14859.yml
  Resources/Changelog/Parts/pr-14865.yml
  Resources/Changelog/Parts/pr-14868.yml
  Resources/Changelog/Parts/pr-14875.yml
  Resources/Changelog/Parts/pr-14877.yml
  Resources/Changelog/Parts/pr-14882.yml
  Resources/Changelog/Parts/pr-14889.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Parts/pr-14025.yml
  Resources/Changelog/Parts/pr-14234.yml
  Resources/Changelog/Parts/pr-14235.yml
  Resources/Changelog/Parts/pr-14236.yml
  Resources/Changelog/Parts/pr-14529.yml
  Resources/Changelog/Parts/pr-14587.yml
  Resources/Changelog/Parts/pr-14612.yml
  Resources/Changelog/Parts/pr-14653.yml
  Resources/Changelog/Parts/pr-14685.yml
  Resources/Changelog/Parts/pr-14703.yml
  Resources/Changelog/Parts/pr-14705.yml
  Resources/Changelog/Parts/pr-14787.yml
  Resources/Changelog/Parts/pr-14801.yml
  Resources/Changelog/Parts/pr-14828.yml
  Resources/Changelog/Parts/pr-14829.yml
  Resources/Changelog/Parts/pr-14830.yml
  Resources/Changelog/Parts/pr-14831.yml
  Resources/Changelog/Parts/pr-14835.yml
  Resources/Changelog/Parts/pr-14836.yml
  Resources/Changelog/Parts/pr-14839.yml
  Resources/Changelog/Parts/pr-14844.yml
  Resources/Changelog/Parts/pr-14851.yml
  Resources/Changelog/Parts/pr-14858.yml
  Resources/Changelog/Parts/pr-14859.yml
  Resources/Changelog/Parts/pr-14865.yml
  Resources/Changelog/Parts/pr-14868.yml
  Resources/Changelog/Parts/pr-14875.yml
  Resources/Changelog/Parts/pr-14877.yml
  Resources/Changelog/Parts/pr-14882.yml
  Resources/Changelog/Parts/pr-14889.yml
Labels: none

Add cardboard material (#14701)
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-materials.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/box.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/bigbox.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cardboardbox.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Textures/Objects/Materials/materials.rsi/cardboard.png
  Resources/Textures/Objects/Materials/materials.rsi/cardboard_2.png
  Resources/Textures/Objects/Materials/materials.rsi/cardboard_3.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

home depot noises (#14905)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Mark escapepod as protected (#14914)
  Resources/Maps/Shuttles/escape_pod_small.yml
Labels: none

Stretch top bar for separated hud (#14873)
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Feat 27 03 23 syndie balance (#14913)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix door remote not updating airlock lights (#14903)
  Content.Server/Remotes/DoorRemoteSystem.cs
Labels: none

fix sprite exceptions for cuffs (#14912)
  Content.Client/Cuffs/CuffableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix foldable mispredict (#14919)
  Content.Server/Foldable/FoldableSystem.cs
  Content.Shared/Foldable/SharedFoldableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

m m marma (#14920)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Fix sponsor TTS button disable
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
Labels: none

Fix sponsor TTS button disable
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
Labels: none

centvend (#14923)
  Resources/Maps/centcomm.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix Bureaucratic Error event affecting fewer jobs than intended (#14921)
  Content.Server/StationEvents/Events/BureaucraticError.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Always show ahelp relay message when the relay is enabled (#14931)
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
  Resources/Locale/en-US/administration/bwoink.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed godmode persisting (#14934)
  Content.Server/Damage/Systems/GodmodeSystem.cs
Labels: none

Gorlax Mandela effect (#14935)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add support for true randomized characters (#14918)
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Species/species_weights.yml
Labels: none

fix mug names (#14930)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix turret layer abuse (#14941)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none

Remove skub sound (#14945)
  Resources/Audio/Items/skub.ogg
  Resources/Prototypes/Entities/Objects/Fun/skub.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add protectedgrid to emergency shuttles (#14946)
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

turred (#14948)
  Resources/Maps/infiltrator.yml
Labels: Changes: Map

Fix vote popup (#14940)
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Vote/VoteUIController.cs
  Content.Client/Voting/VoteManager.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't spawn muzzle flashes for unresolvable coordinates (#14949)
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
Labels: none
