Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Adds Destructible data to some common objects. (#12524)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Replaces coughing with shorter sounds (#12435)" (#12533)
  Resources/Audio/Effects/Diseases/cough1.ogg
  Resources/Audio/Effects/Diseases/cough2.ogg
  Resources/Audio/Effects/Diseases/license.txt
Labels: none

Translate Upstream #530 (#531)
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Translate Upstream #530 (#531)
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix diona lastname generation (#533)
  Resources/Prototypes/Species/diona.yml
Labels: none

Fix diona lastname generation (#533)
  Resources/Prototypes/Species/diona.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

more cluster fixes (#12546)
  Resources/Maps/cluster.yml
Labels: Changes: Map

more xenoarch tweaks (#12540)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Prototypes/XenoArch/artifact_effects.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Firelock fixes (#12542)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
Labels: none

Rebuild excited groups if blocked airflow direction of tile has changed. (#12548)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: none

Translation edits (#532)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/artifacts.ftl
Labels: Changes: Localization

Translation edits (#532)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/artifacts.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update locale
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Remove another duplicate prototype (#12547)
  Resources/Prototypes/NPCs/medibot.yml
Labels: none

Add vv /c/enthover (#12545)
  Content.Client/Gameplay/GameplayStateBase.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Translate Upstream #535 (#536)
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Translate Upstream #535 (#536)
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add Robust readme and release notes to sln. (#12556)
  SpaceStation14.sln
Labels: none

Cache HTTP client in player locator (#12555)
  Content.Server/Administration/PlayerLocator.cs
Labels: none

Species specific jumpsuit sprite fixes (#12552)
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update emergency shuttle (#539)
  Resources/Maps/Shuttles/emergency.yml
Labels: none

Update emergency shuttle (#539)
  Resources/Maps/Shuttles/emergency.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
