Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Load prototype command (#11275)
  Content.Client/Administration/Commands/LoadPrototypeCommand.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Resources/clientCommandPerms.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

More minor UI refactor stuff (#11287)
  Content.Client/Administration/Systems/AdminSystem.Menu.cs
  Content.Client/Administration/Systems/AdminSystem.Overlay.cs
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/CharacterInfo/Components/CharacterInfoComponent.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Suspicion/SuspicionGui.xaml
  Content.Client/Suspicion/SuspicionGui.xaml.cs
  Content.Client/UserInterface/Controls/Placeholder.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Prototypes/themes.yml
Labels: Changes: UI

Remove ChemMasterSystem debug assertions (#11288)
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
Labels: none

Fix some UI refactor stuff (#11293)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
Labels: none

Fix ChemMaster labelling behavior (#11290)
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Labels/Label/HandLabelerSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ListContainer (#11296)
  Content.Client/UserInterface/Controls/ListContainer.cs
Labels: none

Правки перевода (#398)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
Labels: Changes: Localization

Правки перевода (#398)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add 2 bottle boxes to chemistry lockers (#11298)
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Textures/Objects/Storage/boxes.rsi/bottle.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Break joints on entering vehicle (#11313)
  Content.Server/Vehicle/VehicleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds another check in the Nukeops system (#11295)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: none

Beam Component and Lightning Component (#10196)
  Content.Client/Beam/BeamSystem.cs
  Content.Client/Beam/Components/BeamComponent.cs
  Content.Client/Lightning/Components/LightningComponent.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Beam/BeamSystem.cs
  Content.Server/Beam/Components/BeamComponent.cs
  Content.Server/Lightning/Components/LightningComponent.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Shared/Beam/Components/SharedBeamComponent.cs
  Content.Shared/Beam/SharedBeamSystem.cs
  Content.Shared/Lightning/Components/SharedLightningComponent.cs
  Content.Shared/Lightning/SharedLightningSystem.cs
  Resources/Audio/Effects/Lightning/licenses.txt
  Resources/Audio/Effects/Lightning/lightningshock.ogg
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/Entities/Virtual/beam.yml
  Resources/Textures/Effects/lightning.rsi/blue_lightning.png
  Resources/Textures/Effects/lightning.rsi/lightning_1.png
  Resources/Textures/Effects/lightning.rsi/lightning_10.png
  Resources/Textures/Effects/lightning.rsi/lightning_11.png
  Resources/Textures/Effects/lightning.rsi/lightning_12.png
  Resources/Textures/Effects/lightning.rsi/lightning_2.png
  Resources/Textures/Effects/lightning.rsi/lightning_3.png
  Resources/Textures/Effects/lightning.rsi/lightning_4.png
  Resources/Textures/Effects/lightning.rsi/lightning_5.png
  Resources/Textures/Effects/lightning.rsi/lightning_6.png
  Resources/Textures/Effects/lightning.rsi/lightning_7.png
  Resources/Textures/Effects/lightning.rsi/lightning_8.png
  Resources/Textures/Effects/lightning.rsi/lightning_9.png
  Resources/Textures/Effects/lightning.rsi/meta.json
  Resources/Textures/Effects/lightning.rsi/red_lightning.png
  Resources/Textures/Effects/lightning.rsi/yellow_lightning.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add lathe recipe for chemistry bottle (#11324)
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: none

Give suppressed artifacts a much higher sell price (#11305)
  Content.Server/Xenoarchaeology/XenoArtifacts/Equipment/Systems/SuppressArtifactContainerSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
Labels: none

Cargo price tweaks 2 (#11307)
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Entities/Structures/Storage/storage.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix admin ObjectsTab error (#11272)
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
Labels: Changes: UI

Update drinks_cans.yml (#11278)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

9263 Inconsistent Message Delimeter (#11326)
  Resources/Locale/en-US/headset/headset-component.ftl
Labels: Changes: Localization

9386 Permanent ban message change (#11325)
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/ServerBanDef.cs
  Resources/Locale/en-US/connection-messages.ftl
Labels: Changes: Localization

starting TC penalties for powerful roles (#11111)
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Shared/Roles/JobPrototype.cs
Labels: none

Bagel Small Fixe (#11331)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Meta Update 1.3 (#11329)
  Resources/Maps/meta.yml
Labels: Changes: Map

Salami Lid 1984 (#11332)
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add lock and unlock icons to verb in LockSystem (#11336)
  Content.Server/Lock/LockSystem.cs
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/lock.svg
  Resources/Textures/Interface/VerbIcons/lock.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/unlock.svg
  Resources/Textures/Interface/VerbIcons/unlock.svg.192dpi.png
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Marathon Update 3.4 (#11337)
  Resources/Maps/marathon.yml
Labels: Changes: Map

remove pointing arrow from salvage (#11340)
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
Labels: none

*actually* remove all the pointing arrows. (#11342)
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
Labels: none

Lock icon for latejoin GUI (#11187)
  Content.Client/LateJoin/LateJoinGui.cs
  Resources/Locale/en-US/late-join/late-join-gui.ftl
Labels: Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
