Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix artifact verb permissions (#14163)
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: none

Change bottle size from default (5) to 3 (#14159)
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cabbage, Red Onion and related salads. (#14161)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/caesar.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/coleslaw.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/kimchi.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/stage-1.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Rename migrations to fix CS8981 warnings. (#14160)
  Content.Server.Database/Migrations/Postgres/20220103235647_whitelist.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220103235647_whitelist.cs
  Content.Server.Database/Migrations/Postgres/20220108185749_add-species.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220108185749_add-species.cs
  Content.Server.Database/Migrations/Sqlite/20220103235637_whitelist.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220103235637_whitelist.cs
  Content.Server.Database/Migrations/Sqlite/20220108185734_add-species.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220108185734_add-species.cs
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/administration/commands/tag-commands.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/administration/commands/tag-commands.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Jetpacks can be worn in suit storage (#14168)
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: none

add entity logs verb (#14170)
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsEui.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/Administration/Logs/AdminLogsEuiState.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: UI, Changes: Localization

Fix adjusting slots on infinite slot jobs (#14154)
  Content.Server/Station/Systems/StationJobsSystem.cs
Labels: none

ECS SolutionTransfer, move to shared (#14156)
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Extinguisher/FireExtinguisherSystem.cs
  Content.Shared/Chemistry/Components/SolutionTransferComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make emagged marker component (fixed version of #13867) (#14096)
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bed/Components/StasisBedComponent.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Recycling/Components/RecyclerComponent.cs
  Content.Server/Recycling/RecyclerSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Emag/Components/EmaggedComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
Labels: none

Disable artifact griefing in round end (#835)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
Labels: none

Disable artifact griefing in round end (#835)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
Labels: none

Revert "Remove too long tip strings" (#836)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Revert "Remove too long tip strings" (#836)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Disable auto shuttle call in debug (#14175)
  Resources/ConfigPresets/Build/debug.toml
Labels: none

add clumsy deletion logs (#14172)
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: none

Fix tips length (#841)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Fix tips length (#841)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Add evil twin + Secrets (#823)
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .gitignore
  .gitmodules
  Resources/Locale/ru-RU/corvax-secrets/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/corvax-secrets/station-events/events/evil-twin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Tools/package_client_build.py
  Tools/package_server_build.py
  Tools/setup_secrets.ps1
Labels: Changes: Localization

Add evil twin + Secrets (#823)
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .gitignore
  .gitmodules
  Resources/Locale/ru-RU/corvax-secrets/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/corvax-secrets/station-events/events/evil-twin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Tools/package_client_build.py
  Tools/package_server_build.py
  Tools/setup_secrets.ps1
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Silly value change (#14180)
  Content.Server/Atmos/Components/GasTankComponent.cs
Labels: none

Fix whitelist (#14181)
  Content.Server/Connection/ConnectionManager.cs
Labels: none

Add missing DataField for currentTemperature (#14179)
  Content.Server/Temperature/Components/TemperatureComponent.cs
Labels: none

Fix pacifist trait apply for diona (#842)
  Content.Server/Traits/TraitSystem.cs
Labels: none

Fix pacifist trait apply for diona (#842)
  Content.Server/Traits/TraitSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix substation units (#14183)
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: none

Translate Upstream #840 (#843)
  Resources/Locale/ru-RU/administration/commands/tag-commands.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Translate Upstream #840 (#843)
  Resources/Locale/ru-RU/administration/commands/tag-commands.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none
