Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Medical Doctor guidebook. (#16769)
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/biomass_reclaimer.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Medical/Cloning.xml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Medical/Medical Doctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix guidebook examine not working in lobby (#17093)
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Guidebook/Controls/GuideEntityEmbed.xaml.cs
  Content.Client/Guidebook/GuidebookSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Shared/Verbs/Verb.cs
Labels: Changes: UI

Chef Guidebook (#17120)
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Chef.xml
  Resources/ServerInfo/Guidebook/Food Recipes.xml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Replace industrial welder with experimental welder for Advanced Tools (#17127)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/industrial.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Spears and Bats are big now (#17126)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[SG] IHS remove (#17081)
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

comit (#17037)
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Update Atmospherics.cs (#17125)
  Content.Shared/Atmos/Atmospherics.cs
Labels: none

Fix shield modifiers (#17071)
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Blocking/Components/BlockingComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Transit: NEW Evacuation shuttle (#17095)
  Resources/Maps/Shuttles/emergency_transit.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cargo shuttle fixes (#17118)
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

Misc replay related changes (#17102)
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Stunnable/Systems/StunOnCollideSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Changes: UI

Replay client (#15001)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Replay/ContentReplayPlaybackManager.cs
  Content.Client/Replay/LoadReplayJob.cs
  Content.Client/Replay/ReplayConGroup.cs
  Content.Client/Replay/Spectator/ReplaySpectatorComponent.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Blockers.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Movement.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.cs
  Content.Client/Replay/UI/Loading/LoadingScreen.cs
  Content.Client/Replay/UI/Loading/LoadingScreenControl.xaml
  Content.Client/Replay/UI/Loading/LoadingScreenControl.xaml.cs
  Content.Client/Replay/UI/ReplayGhostState.cs
  Content.Client/Replay/UI/ReplaySpectateEntityState.cs
  Content.Replay/Content.Replay.csproj
  Content.Replay/EntryPoint.cs
  Content.Replay/GlobalUsings.cs
  Content.Replay/Menu/ReplayMainMenu.cs
  Content.Replay/Menu/ReplayMainMenuControl.xaml
  Content.Replay/Menu/ReplayMainMenuControl.xaml.cs
  Content.Replay/Menu/SelectReplayWindow.xaml
  Content.Replay/Menu/SelectReplayWindow.xaml.cs
  Content.Replay/Program.cs
  Resources/Locale/en-US/replays/replays.ftl
  Resources/Textures/Mobs/Silicon/Bots/mommi.rsi/base.png
  Resources/Textures/Mobs/Silicon/Bots/mommi.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/mommi.rsi/wiggle.png
  SpaceStation14.sln
Labels: Changes: Sprites, Changes: UI, Changes: Localization

fax machine map updates (#17134)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

More gendered sprite masks (#14735)
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/female_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_top.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/meta.json
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/top.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_top.png
Labels: Changes: Sprites

Psychologist stamp now spawns in psychologist's backpack (#1101)
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
Labels: none

Psychologist stamp now spawns in psychologist's backpack (#1101)
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Tips translation + minor translation fixes (#1108)
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: Changes: Localization

Tips translation + minor translation fixes (#1108)
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Give categories to some reagents (#17142)
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Bartender guide (#17143)
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Bartender.xml
Labels: Changes: Localization

Chem/Medicine/Botanical Book Entries (#17145)
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/Chemist.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

GuideHelp Tags for Medical + Chef (#17138)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
