Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Add Colors Crew Monitor (#17819)
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: UI

6 slices to 8 (#17824)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
Labels: none

subfloor explosion resistance (#17816)
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix window placement (#17815)
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
Labels: none

Balance a laser carbine craft (#17814)
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: none

Fixes airlock construction graph issues (#17812)
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
Labels: none

Archaic Accent Trait (#17794)
  Content.Server/Speech/Components/ArchaicAccentComponent.cs
  Content.Server/Speech/EntitySystems/ArchaicAccentSystem.cs
  Resources/Locale/en-US/accent/archaic.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: Localization

reformatted syndicate objectives for readability (#17745)
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Client/UserInterface/Systems/Character/Windows/CharacterWindow.xaml
  Content.Client/UserInterface/Systems/Objectives/Controls/ObjectiveConditionsControl.xaml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

extends shuttle timer to 20m green / 10m on blue (#17826)
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make puddles not appear on space tiles (#17822)
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed args.Used instead of args.Target (#17838)
  Content.Server/Fluids/EntitySystems/DrainSystem.cs
  Content.Shared/Fluids/Components/DrainComponent.cs
Labels: none

adds the italian moustache (#17830)
  Resources/Locale/en-US/accent/italian.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/icon.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Major-ish™ armor rebalance, adds basic security armor and removes Kevlar armor (#17825)
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/inhand-right.png
  Resources/migration.yml
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nerfsgit add -A (#17827)
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Disposals refactor (#17803)
  Content.Client/Disposal/Components/DisposalUnitComponent.cs
  Content.Client/Disposal/DisposalUnitComponent.cs
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.Client/Disposal/UI/DisposalUnitBoundUserInterface.cs
  Content.Client/Disposal/UI/DisposalUnitWindow.xaml.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.Server/Disposal/Unit/Components/ActiveDisposalUnitComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Disposal/Components/SharedDisposalUnitComponent.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
  Content.Shared/Storage/Components/DumpableComponent.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
  Resources/Locale/en-US/disposal/unit/components/disposal-unit-component.ftl
  Resources/Maps/Salvage/small-4.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove redundant disposals layer (#17848)
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
Labels: none

Add smashing to carp NPCs (#17846)
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

Stop NPC smashing if it fails (#17847)
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Fix muzzle flash lights (#17843)
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix mime wall & turf/tile helper issues. (#17844)
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Chemistry/TileReactions/CreateEntityTileReaction.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Maps/TileSystem.cs
  Content.Server/Respawn/SpecialRespawnSystem.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Coordinates/Helpers/SnapgridHelper.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Maps/TurfSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Packed (#17864)
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/packed.yml
Labels: Changes: Map

balance a explosive payload craft (#17853)
  Resources/Prototypes/Recipes/Lathes/devices.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add chem solution atmos heating and cooling (#17854)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Chemistry/Components/SolutionManager/SolutionGasHeatConductivityComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionGasHeatConductivitySystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

wire fixe (#17868)
  Resources/Maps/packed.yml
Labels: Changes: Map

packed update (#17869)
  Resources/Maps/packed.yml
Labels: Changes: Map

[Fix] Dresser and broken ballistic turret (#17866)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: none

Adding sounds to stamps (#17834)
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Audio/Items/Stamp/attributions.yml
  Resources/Audio/Items/Stamp/automatic_stamp.ogg
  Resources/Audio/Items/Stamp/thick_stamp_sub.ogg
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
