Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Remove atmos method events (#26402)
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Anomaly/Effects/GasProducerAnomalySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/Piping/Components/AtmosDeviceComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosDeviceSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Server/Atmos/TileMixtureEnumerator.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TemperatureArtifactSystem.cs
Labels: none

Misc ItemToggleSystem changes (#26489)
  Content.Server/Item/ItemToggle/Components/ItemToggleDisarmMalusComponent.cs
  Content.Server/Item/ItemToggle/Components/ItemToggleSharpComponent.cs
  Content.Server/Item/ItemToggle/ItemToggleSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Shared/Item/ItemToggle/Components/ItemToggleComponent.cs
  Content.Shared/Item/ItemToggle/Components/ItemToggleHotComponent.cs
  Content.Shared/Item/ItemToggle/SharedItemToggleSystem.cs
Labels: none

Allow cargo bounties to be sold off-station (#26469)
  Content.Server/Cargo/Components/CargoBountyLabelComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/PriceGunSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove broadcast cooldown (#26492)
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
Labels: none

Add DoorBumpOpener to space dragon (#26490)
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Use nav beacon locations for announcements (#26437)
  Content.Server/Dragon/DragonRiftSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Pinpointer/NavMapBeaconComponent.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Resources/Locale/en-US/_directions.ftl
  Resources/Locale/en-US/dragon/rifts.ftl
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Locale/en-US/navmap-beacons/station_map.ftl
  Resources/Locale/en-US/nuke/nuke-component.ftl
  Resources/Locale/en-US/shuttles/emergency.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Arcade machine improvements (#24200)
  Content.Server/Arcade/BlockGame/BlockGameArcadeComponent.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/Sound/Components/SpamEmitSoundComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Server/Sound/SpamEmitSoundRequirePowerSystem.cs
  Content.Shared/Bed/Sleep/SleepEmitSoundComponent.cs
  Content.Shared/Sound/Components/SpamEmitSoundComponent.cs
  Content.Shared/Sound/Components/SpamEmitSoundRequirePowerComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Sound/SharedSpamEmitSoundRequirePowerSystem.cs
  Resources/Audio/Machines/Arcade/attributions.yml
  Resources/Audio/Machines/Arcade/hahaha.ogg
  Resources/Audio/Machines/Arcade/pew_pew.ogg
  Resources/Audio/Machines/Arcade/sting_01.ogg
  Resources/Audio/Machines/Arcade/sting_02.ogg
  Resources/Audio/Machines/Arcade/sting_03.ogg
  Resources/Audio/Machines/Arcade/sting_04.ogg
  Resources/Audio/Machines/Arcade/sting_05.ogg
  Resources/Audio/Machines/Arcade/sting_06.ogg
  Resources/Locale/en-US/advertisements/arcade/blockgame.ftl
  Resources/Locale/en-US/advertisements/arcade/spacevillain.ftl
  Resources/Prototypes/Catalog/Arcade/Advertisements/blockgame.yml
  Resources/Prototypes/Catalog/Arcade/Advertisements/spacevillain.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/SoundCollections/arcade.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Textures/Structures/Machines/arcade.rsi/meta.json
  Resources/Textures/Structures/Machines/arcade.rsi/panel.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_blockgame.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_invaders.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_spacevillain.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

biggest gridinv update OF ALL TIME (#25834)
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/ItemStorageLocation.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization

dynamic alert sprites (#25452)
  Content.Client/Alerts/UpdateAlertSpriteEvent.cs
  Content.Client/Revenant/RevenantSystem.cs
  Content.Client/UserInterface/Systems/Alerts/AlertsUIController.cs
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Shared/Alert/AlertPrototype.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/Revenant/SharedRevenant.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Textures/Interface/Alerts/essence_counter.rsi/0.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/1.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/2.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/3.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/4.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/5.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/6.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/7.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/8.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/9.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence0.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence1.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence10.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence11.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence12.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence13.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence14.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence15.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence16.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence2.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence3.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence4.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence5.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence6.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence7.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence8.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence9.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

voicemask can select speech verb (#25768)
  Content.Client/VoiceMask/VoiceMaskBoundUserInterface.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
  Content.Server/VoiceMask/VoiceMaskSystem.Equip.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/VoiceMask/VoiceMaskerComponent.cs
  Content.Shared/Speech/SpeechVerbPrototype.cs
  Content.Shared/VoiceMask/SharedVoiceMaskSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/voice-mask.ftl
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Set 20h bunker for Solaris
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: none

Set 20h bunker for Solaris
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: none

Send station goal also to centcomm fax (#1999)
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: none

Send station goal also to centcomm fax (#1999)
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: none

Fix master (#26501)
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Catalog/Arcade/Advertisements/blockgame.yml
  Resources/Prototypes/Catalog/Arcade/Advertisements/spacevillain.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: Changes: Localization

fix build
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: none

fix build
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: none

fix build
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/PowerSink/PowerSinkSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/StationEvents/Events/RandomSentienceRule.cs
Labels: none

fix build
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/PowerSink/PowerSinkSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/StationEvents/Events/RandomSentienceRule.cs
Labels: none

Outpost WorldsWide Update Steal (#2000)
  Resources/Maps/corvax_outpost.yml
Labels: Changes: Map

Outpost WorldsWide Update Steal (#2000)
  Resources/Maps/corvax_outpost.yml
Labels: Changes: Map

Sentien artifact ghost role locale (#26509)
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Changes: Localization

Fix arcade goodbye message implementation (#26514)
  Content.Server/Arcade/BlockGame/BlockGameArcadeComponent.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Resources/Prototypes/Catalog/Arcade/Advertisements/blockgame.yml
  Resources/Prototypes/Catalog/Arcade/Advertisements/spacevillain.yml
  Resources/Prototypes/Catalog/Arcade/Goodbyes/blockgame.yml
  Resources/Prototypes/Catalog/Arcade/Goodbyes/spacevillain.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: none

Fix Incorrect stealth messages appearing on readmin. (#26511)
  Content.Server/Administration/Managers/AdminManager.cs
Labels: none

Go back to constant electrocution damage based on voltage (#26455)
  Content.Server/Electrocution/Components/ElectrifiedComponent.cs
  Content.Server/Electrocution/Components/ElectrocutionComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

more melee weapon sound fixes (#26520)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/weapon_toolbox.yml
Labels: none

Foldable ushanka (#26519)
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
Labels: none

[BugFix] Persist Job Restrictions When New User Late Joins (#26498)
  Content.Client/LateJoin/LateJoinGui.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Send what seleted for secret to admin chat (#26500)
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-rules/rule-secret.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Admin.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update audioparams (#26387)
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/ContentAudioSystem.LobbyMusic.cs
  Content.Shared/Light/Components/SharedExpendableLightComponent.cs
Labels: none
