Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Mark some CVars as CONFIDENTIAL. (#10468)
  Content.Shared/CCVar/CCVars.cs
Labels: none

Fix events.enabled (#10345)
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
Labels: none

Update submodule to 0.38.1.0 again (#10481)
  Content.MapRenderer/Content.MapRenderer.csproj
Labels: none

Escape inventory refactor (#10203)
  Content.Server/Contests/ContestsSystem.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fancy IFF labels (#10475)
  Content.Client/Shuttles/UI/RadarControl.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't allow anchorable overlap (#10461)
  Content.Server/Construction/AnchorableSystem.cs
  Content.Shared/Construction/EntitySystems/SharedAnchorableSystem.cs
  Resources/Locale/en-US/anchorable/anchorable-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

give more info in examine for rotting (#10493)
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Resources/Locale/en-US/disease/miasma.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ore processor construction (#10505)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Listener fix for speech (#10240)
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Headset/HeadsetComponent.cs
  Content.Server/Radio/Components/HandheldRadioComponent.cs
  Content.Server/Radio/Components/IListen.cs
  Content.Server/Radio/EntitySystems/ListeningSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add missing break on RemoveDisallowedJobs (#10511)
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
Labels: none

Правки перевода (#351)
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/late-join/late-join-gui.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/atmos_alarms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/rplasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/window.ftl
Labels: Changes: Localization

Правки перевода (#351)
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/late-join/late-join-gui.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/atmos_alarms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/rplasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/window.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Disable role timer latejoin roles (#10512)
  Content.Client/LateJoin/LateJoinGui.cs
Labels: none

IFF console (#10504)
  Content.Client/Shuttles/BUI/IFFConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/EmergencyConsoleWindow.xaml
  Content.Client/Shuttles/UI/IFFConsoleWindow.xaml
  Content.Client/Shuttles/UI/IFFConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Server/Shuttles/Components/IFFConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.IFF.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/BUIStates/IFFConsoleBoundUserInterfaceState.cs
  Content.Shared/Shuttles/Components/IFFComponent.cs
  Content.Shared/Shuttles/Events/IFFShowIFFMessage.cs
  Content.Shared/Shuttles/Events/IFFShowVesselMessage.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Resources/Locale/en-US/shuttles/emergency.ftl
  Resources/Locale/en-US/shuttles/iff.ftl
  Resources/Maps/infiltrator.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Structures/Shuttles/iff.rsi/helm.png
  Resources/Textures/Structures/Shuttles/iff.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

makes terrain tiles show cables (#10490)
  Resources/Prototypes/Tiles/floors.yml
Labels: none

Revert "Disarms now deselect after a usage. (#9290)" (#10524)
  Resources/Prototypes/Actions/types.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make atmos Turing-complete (#10520)
  Content.Server/Atmos/Piping/Trinary/Components/PressureControlledValveComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_trinary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/pneumaticvalve.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pneumaticvalve.rsi/off.png
  Resources/Textures/Structures/Piping/Atmospherics/pneumaticvalve.rsi/on.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

wielding cleanup (#10525)
  Content.Server/Wieldable/Components/WieldableComponent.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Resources/Locale/en-US/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix lathe queue interruption bug (#10533)
  Content.Server/Lathe/LatheSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Makes projectile speed configurable in gun system (#10535)
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: none

Fix audio occlusion (#10538)
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Server/Audio/ContentAudioSystem.cs
  Content.Shared/Audio/SharedContentAudioSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove lokalise python module
  Tools/ss14_ru/lokalisemodels.py
Labels: none

Remove lokalise python module
  Tools/ss14_ru/lokalisemodels.py
Labels: none

Update ConstructionStation tilemap naming
  Resources/Maps/constructionstation.yml
Labels: Changes: Map

Update ConstructionStation tilemap naming
  Resources/Maps/constructionstation.yml
Labels: Changes: Map

Fix space tilemap
  Resources/Maps/constructionstation.yml
Labels: Changes: Map

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
