Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

fixing a bunch more prototype save tests (#12390)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Body/Organs/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/sprays.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/vaccinator.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: none

Fixing some prototypes modifying components on init (#12385)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/staves.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/wands.yml
  Resources/Textures/Objects/Misc/glowstick.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Misc/glowstick.rsi/meta.json
  Resources/Textures/Objects/Misc/glowstick.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/unlit-inhand-right.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Use correct image for air injector in construction menu (#12388)
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: none

Add DamagePopup, Target Entities, And Practice Laser Gun (#12317)
  Content.Server/Damage/Components/DamagePopupComponent.cs
  Content.Server/Damage/Systems/DamagePopupSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Specific/Security/target.rsi/meta.json
  Resources/Textures/Objects/Specific/Security/target.rsi/target_c.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_f.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_h.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_s.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_stake.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix machine upgrade examine missing loc (#12410)
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Resources/Locale/en-US/machine/machine.ftl
Labels: Changes: Localization

Translate Upstream #516 (#517)
  Resources/Locale/ru-RU/atmos/portable-scrubber.ftl
  Resources/Locale/ru-RU/botany/components/seed-extractor-component.ftl
  Resources/Locale/ru-RU/components/gas-filter-component.ftl
  Resources/Locale/ru-RU/components/gas-thermomachine-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/lathe/components/lathe-component.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/medical/components/stasis-bed-component.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigars/cigar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/matches.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/rollerbeds.ftl
Labels: Changes: Localization

Translate Upstream #516 (#517)
  Resources/Locale/ru-RU/atmos/portable-scrubber.ftl
  Resources/Locale/ru-RU/botany/components/seed-extractor-component.ftl
  Resources/Locale/ru-RU/components/gas-filter-component.ftl
  Resources/Locale/ru-RU/components/gas-thermomachine-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/lathe/components/lathe-component.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/medical/components/stasis-bed-component.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigars/cigar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/matches.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/rollerbeds.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Subscribe to attackattempt for stuncomp (#12415)
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Strip someone through the examine button (#12409)
  Content.Server/Strip/StrippableSystem.cs
Labels: none

Content struct enumerators (#11894)
  Content.Client/Revenant/RevenantOverloadedLightsSystem.cs
  Content.Shared/Revenant/EntitySystems/SharedRevenantOverloadedLightsSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
Labels: none

Power struct enumerators (#12396)
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Quick fix for holofan and tiny fan (#12420)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Resprite] Stamps (#519)
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-iaa.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-warden.png
Labels: Changes: Sprites

[Resprite] Stamps (#519)
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-iaa.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-warden.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

bunch of prototype save fixes (#12421)
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

xeno (#12427)
  Resources/Maps/kettle.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

update to origin (#12430)
  Resources/Prototypes/Maps/origin.yml
Labels: Changes: Map

Reduces the bb of computers a bit (#12443)
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cluster Overhaul (#12446)
  Resources/Maps/cluster.yml
Labels: Changes: Map

Bagel Update 15.5 (#12447)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Omega Xenoarch stuff (#12450)
  Resources/Maps/omega.yml
Labels: Changes: Map

Marathon Update 3.7 (#12449)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Box Update 2.2 (#12448)
  Resources/Maps/box.yml
Labels: Changes: Map

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/effects/bluespace_flash.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/security/target.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifacts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/bluespace_flash.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/security/target.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/effects/bluespace_flash.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/security/target.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifacts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/bluespace_flash.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/security/target.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
