Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/colored.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/color.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/random_suit.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/chameleon_projector.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/disease.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/base.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/lighting/strobe_lighting.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/jukebox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/chameleon_projector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/strobe_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/jukebox.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/colored.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/color.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/random_suit.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/chameleon_projector.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/disease.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/base.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/lighting/strobe_lighting.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/jukebox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/chameleon_projector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/strobe_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/jukebox.ftl
Labels: Changes: Localization

Emergency Lights now changes color depending on alert level and whether or not the light is powered. (#26932)
  Content.Server/Light/Components/EmergencyLightComponent.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: none

Adds plasma windoors for Armory, Sec, Command, and Atmos (#26149)
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Chemists now start with chemical analysis goggles (#27047)
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Killer tomatoes (#26053)
  Content.Server/NPC/Components/NPCImprintingOnSpawnBehaviourComponent.cs
  Content.Server/NPC/Systems/NPCImprintingOnSpawnBehaviourSystem.cs
  Content.Server/NPC/Systems/NPCSystem.cs
  Content.Shared/NPC/Components/FactionExceptionComponent.cs
  Content.Shared/NPC/Systems/SharedNPCImprintingOnSpawnBehaviourSystem.cs
  Content.Shared/NPC/Systems/SharedNPCSystem.cs
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/NPCs/mob.yml
  Resources/Textures/Mobs/Demons/tomatokiller.rsi/alive.png
  Resources/Textures/Mobs/Demons/tomatokiller.rsi/dead.png
  Resources/Textures/Mobs/Demons/tomatokiller.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tomatokiller.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/tomatokiller.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/tomatokiller.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tomatokiller.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/tomatokiller.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/tomatokiller.rsi/stage-2.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Component of planet initialization on the map (#26510)
  Content.Server/Station/Components/StationBiomeComponent.cs
  Content.Server/Station/Systems/StationBiomeSystem.cs
  Resources/Maps/europa.yml
  Resources/Prototypes/Maps/europa.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert #26994 and #27077 (#27090)
  Content.IntegrationTests/Pair/TestMapData.cs
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Tests/Administration/Logs/AddTests.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTest.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/Interaction/MovementTest.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.IntegrationTests/Tests/Shuttle/DockTest.cs
  Content.IntegrationTests/Tests/Tiles/TileConstructionTests.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/Mapping/MappingCommand.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: none

Nerfs the Experimental Research Hardsuit's size (#27094)
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix RD hardsuit description (#27094) (#27095)
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Fix duplicate science backpack for reserach assistant (#27096)
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
Labels: none

atlas update (#27070)
  Resources/Maps/atlas.yml
Labels: Changes: Map

saltern update (#27071)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Changes to frills axolotl (#27104)
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_axolotl.png
Labels: Changes: Sprites

add roboticist gear to science loadout (#27045)
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Raise difficulty class of RD hardsuit objective (#27103)
  Resources/Prototypes/Objectives/traitor.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Made glass more opaque (#26948)
  Resources/Textures/Tiles/glass.png
  Resources/Textures/Tiles/rglass.png
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix fixgridatmos command (#27113)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: none

Fix storage fill giving no reason for failing (#27122)
  Content.Server/Storage/EntitySystems/StorageSystem.Fill.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: none

Hide some map related logs from clients (#27127)
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
Labels: none

Make station components use StationPostInitEvent (#27126)
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

Fix Mindshield positioning (#27120)
  Resources/Prototypes/StatusEffects/health.yml
  Resources/Prototypes/StatusEffects/security.yml
  Resources/Prototypes/StatusIcon/antag.yml
Labels: none

"make thief" admin action: fix missing icon (#27119)
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
Labels: none

Fix lizard snouts disappearing when wearing masks (#25716)
  Content.Shared/Clothing/Components/HideLayerClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: none

add dirty calls to mask system (#27128)
  Content.Shared/Clothing/EntitySystems/MaskSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Stunprod rework (#25922)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/makeshiftstunprod.yml
Labels: none

webedit ops (#27131)
  Content.Shared/Clothing/EntitySystems/MaskSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make YAML Linter validate server/client-only components (#26809)
  Content.YAMLLinter/Program.cs
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: none

Fix emergency shuttle initialization
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Components/StationEmergencyShuttleComponent.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Station/Events/StationPostInitEvent.cs
  Content.Server/Station/Systems/StationSystem.cs
Labels: none

Update EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none
