Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix cryosleepers deleting the station (#24143)
  Content.Server/Spawners/Components/ContainerSpawnPointComponent.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Resources/Prototypes/Entities/Structures/cryopod.yml
Labels: none

terminal update (#24145)
  Resources/Maps/Misc/terminal.yml
Labels: none

Cleanup Medicine Descriptions (#24141)
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: Changes: Localization

medal case sprite (#24147)
  Resources/Prototypes/Entities/Objects/Misc/medalcase.yml
  Resources/Textures/Objects/Storage/medalcase.rsi/closed.png
  Resources/Textures/Objects/Storage/medalcase.rsi/icon.png
  Resources/Textures/Objects/Storage/medalcase.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/medalcase.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/medalcase.rsi/meta.json
  Resources/Textures/Objects/Storage/medalcase.rsi/open.png
Labels: Changes: Sprites

Explosion log fix fix (#24136)
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/Chemistry/Reaction/ChemicalReactionSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix radiators leaking heat into atmos blocked tiles (#24124)
  Content.Server/Atmos/EntitySystems/HeatExchangerSystem.cs
Labels: none

Don't throw on player spawn for playtime failure (#24148)
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
Labels: none

Update Core (#24149)
  Resources/Maps/core.yml
Labels: Changes: Map

Fix flare shell not applying firestacks and makes it embed (#23648)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix some closets being not deconstructable (#23054)
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wardrobe.yml
  Resources/migration.yml
Labels: none

Forensics guide addition (#1698)
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
Labels: none

Forensics guide addition (#1698)
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
Labels: none

Resprite buckets (#23866)
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_bucket.png
  Resources/Textures/Objects/Tools/bucket.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-1.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-2.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-3.png
  Resources/Textures/Objects/Tools/bucket.rsi/icon.png
  Resources/Textures/Objects/Tools/bucket.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/bucket.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/bucket.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translation fixes (#1768)
  Resources/Locale/ru-RU/corvax/markings/cyberlibs.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/base_structuretanks.ftl
Labels: Changes: Localization

Translation fixes (#1768)
  Resources/Locale/ru-RU/corvax/markings/cyberlibs.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/base_structuretanks.ftl
Labels: Changes: Localization

split magic mirror acitons to different types
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/MagicMirror/MagicMirrorWindow.xaml.cs
  Content.Server/MagicMirror/MagicMirrorComponent.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Shared/MagicMirror/SharedMagicMirrorSystem.cs
  Resources/Prototypes/Adventure/Entities/Objects/spray_paint.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
Labels: Changes: UI

split magic mirror acitons to different types
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/MagicMirror/MagicMirrorWindow.xaml.cs
  Content.Server/MagicMirror/MagicMirrorComponent.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Shared/MagicMirror/SharedMagicMirrorSystem.cs
  Resources/Prototypes/Adventure/Entities/Objects/spray_paint.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
Labels: Changes: UI

make magic mirror color selection less annoying
  Content.Client/Humanoid/SingleMarkingPicker.xaml
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
Labels: Changes: UI

make magic mirror color selection less annoying
  Content.Client/Humanoid/SingleMarkingPicker.xaml
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
Labels: Changes: UI

forgot to add spray paint sound fix
  Resources/Audio/Adventure/Items/spray_paint.ogg
Labels: none

forgot to add spray paint sound fix
  Resources/Audio/Adventure/Items/spray_paint.ogg
Labels: none

Fix missing [NetSerializable] in SimplePredictReconcileTest (#24161)
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
Labels: none

qol tweak: More context about how to access traitor uplink in character menu (#24163)
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
Labels: Changes: Localization

Fix DragDropHelper not respecting the control.drag_dead_zone cvar (#24166)
  Content.Client/Interaction/DragDropHelper.cs
Labels: none

try and purify cryosleeper code (#24165)
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Shared/Bed/Cryostorage/CryostorageComponent.cs
  Content.Shared/Bed/Cryostorage/CryostorageContainedComponent.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
Labels: none

Hauling shuttle wreck (#24152)
  Resources/Maps/Salvage/hauling-shuttle.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map

bagel update (#24168)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Follow command and ahelp menu follow (#24142)
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Server/Administration/Commands/FollowCommand.cs
  Resources/Locale/en-US/administration/commands/follow-command.ftl
  Resources/Locale/en-US/administration/ui/actions.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Defusal & cargo general guidebooks translate (#1761)
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
Labels: none

Defusal & cargo general guidebooks translate (#1761)
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
Labels: none

Nukies guidebook translate (#1732)
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
Labels: none

Nukies guidebook translate (#1732)
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
Labels: none

Make mindshielded not pacified at round end (#1708)
  Content.Server/Corvax/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
Labels: none

Make mindshielded not pacified at round end (#1708)
  Content.Server/Corvax/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
Labels: none

Add a way for bulk abstracting prototypes (#24140)
  Content.Shared/Entry/EntryPoint.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: none
