Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix disposal container names (#10646)
  Content.Server/Disposal/Tube/Components/DisposalBendComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalEntryComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalJunctionComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTaggerComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTransitComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Shared/Disposal/Components/SharedDisposalUnitComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: none

Fix empty guns (#10650)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed matchbox issue (#10648)
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: none

Station records patches (#10636)
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/CrewManifest/CrewManifestUi.xaml.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Shared/Access/Components/SharedIdCardConsoleComponent.cs
  Resources/Locale/en-US/access/components/id-card-console-component.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/dispensers/base_structuredispensers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/base_structuremachines.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/generators.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/base_structuremachines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/store.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/dispensers/base_structuredispensers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/base_structuremachines.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/generators.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/base_structuremachines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/store.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Change cartridge drawdepth to floor (#10657)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
Labels: none

Перевод Upstream #362 (#363)
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/base_structuredispensers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/store.ftl
Labels: Changes: Localization

Перевод Upstream #362 (#363)
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/base_structuredispensers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/store.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add musician, clown, and mime winter coats to uniform printer (#10676)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Marathon Update 3.1 (#10670)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Add "already full" message when refilling welder (#10491)
  Content.Server/Tools/ToolSystem.Welder.cs
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/en-US/tools/components/welder-component.ftl
Labels: Changes: Localization

Meta Update 1.1 (#10665)
  Resources/Maps/meta.yml
Labels: Changes: Map

Fixed nettle soup recipe (#10664)
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

Fix missing fluent var (#10663)
  Content.Client/Storage/UI/StorageWindow.cs
  Resources/Locale/en-US/components/storage-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fallback to guncomp on the entity (#10659)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

Fly-by sound tweaks (#10658)
  Content.Client/Weapons/Ranged/Systems/FlyBySoundSystem.cs
  Content.Shared/Weapons/Ranged/Components/FlyBySoundComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't play storage fill sounds on mapinit (#10653)
  Content.Server/Storage/EntitySystems/StorageSystem.Fill.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Damage Visualizer ECS (#10654)
  Content.Client/Damage/DamageVisualizer.cs
  Content.Client/Damage/DamageVisualizerComponent.cs
  Content.Client/Damage/DamageVisualsComponent.cs
  Content.Client/Damage/DamageVisualsSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: none

air sensor model (works well enough)
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
Labels: none

threshold cloning
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
Labels: none

Some signs I need for mapping pls merge (#10671)
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/metamap.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/metamap.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/metamap.rsi/metamap64x.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/goldenplaque.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/kiddieplaque.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/nanotrasen_sign1.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/nanotrasen_sign2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/nanotrasen_sign3.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/nanotrasen_sign4.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/nanotrasen_sign5.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/security.png
Labels: Changes: Sprites

some backend stuff for air alarms
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Shared/Atmos/Monitor/AtmosSensorData.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
Labels: Changes: UI

alert sounds from alarmables, sensor data ctor
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
  Content.Shared/Atmos/Monitor/AtmosSensorData.cs
Labels: none

set thresholds from network, reset command, removes OnFire from sensor data
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Shared/Atmos/Monitor/AtmosSensorData.cs
Labels: none

set threshold on server, pressure/temperature average from all sensors sent with air alarm state
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
Labels: none

ui updates (no sensors yet)
  Content.Client/Atmos/Monitor/UI/AirAlarmBoundUserInterface.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
Labels: Changes: UI

average calculation now returns 0 if there are no sensors
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
Labels: none

whoops, forgot to actually sync monitor data in
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
