Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Syncsprite for containment fields (#19319)
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix paused pickup animations lingering (#19325)
  Content.Client/Animations/ReusableAnimations.cs
Labels: none

[Resprite] ERT helmets (#1352)
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/meta.json
Labels: Changes: Sprites

[Resprite] ERT helmets (#1352)
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/meta.json
Labels: Changes: Sprites

Fix for aspid medical department's power grid. Again. (#19327)
  Resources/Maps/aspid.yml
  Resources/aspid.yml
Labels: Changes: Map

Secure three substations on saltern (#19334)
  Resources/Maps/saltern.yml
Labels: Changes: Map

I am being held at gunpoint by emisse (#19335)
  Resources/Textures/Mobs/Customization/human_hair.rsi/modern.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

bagel update (#19337)
  Resources/Maps/bagel.yml
Labels: Changes: Map

box update (#19338)
  Resources/Maps/box.yml
Labels: Changes: Map

marathon update (#19340)
  Resources/Maps/marathon.yml
Labels: Changes: Map

packed update (#19341)
  Resources/Maps/packed.yml
Labels: Changes: Map

Secure bar substation for omega station (#19346)
  Resources/Maps/omega.yml
Labels: Changes: Map

Center reagent grinders (#19309)
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: none

Closing bolt no longer removes cartridge (#19251)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
Labels: none

Gun bolt fixes and QoL (#19349)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

let loneops happen 10 minutes earlier (#19274)
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

crusher can be used with one hand (#19220)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Restore Miros player cap and tick rate (#19361)
  Resources/ConfigPresets/WizardsDen/miros.toml
Labels: none

sniper changes (#19353)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Lock the RnD doors to sci only on saltern (#19355)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Add unarmed stage to explosive banana peel (#19321)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add gatherable break sounds (#19360)
  Content.Server/Gatherable/Components/SoundOnGatherComponent.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Shared/Audio/SharedContentAudioSystem.cs
  Content.Shared/Fluids/AbsorbentComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/break_stone.ogg
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: none

Cheaper medkit crates (#19368)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix my incorrect changelog. (#19369)
  Resources/Changelog/Changelog.yml
Labels: none

Modern Hair Tweak (#19344)
  Resources/Textures/Mobs/Customization/human_hair.rsi/modern.png
Labels: Changes: Sprites

diona customization (#19304)
  Resources/Locale/en-US/markings/diona.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Textures/Mobs/Customization/diona.rsi/meta.json
  Resources/Textures/Mobs/Customization/diona.rsi/overlay.png
  Resources/Textures/Mobs/Customization/eyes.rsi/diona.png
  Resources/Textures/Mobs/Customization/eyes.rsi/meta.json
  Resources/Textures/Mobs/Species/Diona/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Slow kudzu growth (#19292)
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: none

botany locker (#19333)
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Labels: none

move freigh (#19330)
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
