Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Increase price of AME. (#6254)
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Construction graph serv3 (#6262)
  Content.Server/Construction/Components/ConstructionComponent.cs
Labels: none

Fix floodlights (#6251)
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

probably fix build-test not running on submodule update
  .github/workflows/build-test.yml
Labels: none

Gitignore images generated by `Content.MapRenderer` (#6261)
  .gitignore
Labels: none

No-Slip shoes are now only called such in the uplink catalog (#6266)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Glass tables break when climbed on (#6246)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Climbing/Components/GlassTableComponent.cs
  Resources/Locale/en-US/climbing/glass-table-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Disposal Pipe Crafting (#6188)
  Content.Client/Disposal/Visualizers/DisposalVisualizer.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Shared/Disposal/Components/SharedDisposalTubeComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_pipes.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds shotgun shell boxes (#6195)
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Textures/Objects/Storage/boxes.rsi/box_beanbag.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_lethalshot.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Mop & Bucket Behaviour Change (#6193)
  Content.Server/Fluids/Components/BucketComponent.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Resources/Locale/en-US/fluids/components/bucket-component.ftl
  Resources/Locale/en-US/fluids/components/mop-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Access fixes (#6215)
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/emprah.png
Labels: Changes: Sprites

Adds full-tile tinted windows. (#6278)
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Windows/tinted_window.rsi/full.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/meta.json
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow0.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow1.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow2.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow3.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow4.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow5.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow6.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow7.png
Labels: Changes: Sprites

Fix no lobby, no job spawn (#6265)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds paper folders (#6228)
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-base.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-colormap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-overlay-paper.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-white.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_blue.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_paper.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_red.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_white.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_yellow.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Labels: Changes: Sprites

Add simple wiki button to lobby (#6230)
  Content.Client/Info/ServerInfo.cs
  Content.Client/Links/UILinks.cs
  Resources/Locale/en-US/info/server-info.ftl
Labels: none

Makes SMES and Substation construct with no charge (#6242)
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update Syndie shuttle & add Syndie operative base (#79)
  Resources/Maps/infiltrator.yml
  Resources/Maps/syndiebase.yml
  Resources/Maps/syndieshuttle.yml
  Resources/Prototypes/Maps/game.yml
Labels: Changes: Map

Update Syndie shuttle & add Syndie operative base (#79)
  Resources/Maps/infiltrator.yml
  Resources/Maps/syndiebase.yml
  Resources/Maps/syndieshuttle.yml
  Resources/Prototypes/Maps/game.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

oops linter
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
Labels: none

linter incident
  Content.Shared/Construction/Prototypes/ConstructionPrototype.cs
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: none

Readjust radiation collectors. (#6255)
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
Labels: none

Tweak some probabilities. (#6281)
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/KudzuGrowth.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update GitHub action wiki url (#80)
  .github/workflows/update-wiki.yml
Labels: none

Update GitHub action wiki url (#80)
  .github/workflows/update-wiki.yml
Labels: none

Fix GitHub action wiki url (#81)
  .github/workflows/update-wiki.yml
Labels: none

Fix GitHub action wiki url (#81)
  .github/workflows/update-wiki.yml
Labels: none

HeightComparer is a little faster (#6021)
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
Labels: none
