Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fix some unneeded debug logs (#10485)
  Content.Server/AI/EntitySystems/NPCSystem.cs
  Content.Server/Polymorph/Systems/PolymorphableSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
Labels: none

increases pillAmount limit (#9185)
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

SanitizeMessageCapital: Check Empty String (#10616)
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: none

Remove delta and way (#10617)
  Resources/Maps/waystation.yml
  Resources/Prototypes/Maps/delta.yml
  Resources/Prototypes/Maps/waystation.yml
Labels: Changes: Map

Restore origin infiltrator.yml
  Resources/Maps/infiltrator.yml
Labels: Changes: Map

Restore origin infiltrator.yml
  Resources/Maps/infiltrator.yml
Labels: Changes: Map

Update locale (#357)
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
Labels: Changes: Localization

Update locale (#357)
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
Labels: Changes: Localization

Fixes typo (#10621)
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/cleanbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/medibot.yml
Labels: none

Keep player status on disconnect (#10624)
  Content.IntegrationTests/Tests/Lobby/ServerReloginTest.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: none

Added more docs to integration pool manager (#10632)
  Content.IntegrationTests/PoolManager.cs
Labels: none

Add self to code owners (#10634)
  .github/CODEOWNERS
Labels: none

Fix miasma error (#10629)
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: none

Fix station records error (#10631)
  Content.Server/StationRecords/StationRecordSet.cs
Labels: none

No pointing while sleeping (#10626)
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds some extra toys to the arcade machine (#10637)
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Content.Server/Weapon/Melee/EnergySword/Components/EnergySwordComponent.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/tags.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Port wires/maintenance panel visualizer (#10543)
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Client/Lathe/LatheSystem.cs
  Content.Client/Wires/Visualizers/WiresVisualizer.cs
  Content.Client/Wires/Visualizers/WiresVisualizerSystem.cs
  Content.Client/Wires/WiresVisualsComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
Labels: none

Move MultipleTool to shared (#9964)
  Content.Client/Tools/Components/MultipleToolComponent.cs
  Content.Client/Tools/ToolSystem.cs
  Content.Server/Tools/Components/MultipleToolComponent.cs
  Content.Server/Tools/ToolSystem.MultipleTool.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Tools/Components/SharedMultipleToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
Labels: none

Rebalance some hardsuits to be better/make more sense (RD, death squad) and renamed captain's armour (#10618)
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fixed missing magicarp and holocarp death sprite (#10639)
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/base_dead.png
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/base_dead.png
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locales
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/toy.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
Labels: Changes: Localization

Update locales
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/toy.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Перевод Upstream #357 (#359)
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/Datasets/Names/regalrat.yml
Labels: Changes: Localization

Перевод Upstream #357 (#359)
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/Datasets/Names/regalrat.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Перевод Upstream #360 (#361)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Перевод Upstream #360 (#361)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

fixed typos and added descriptions (#10615)
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
