Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

meta update (#22657)
  Resources/Maps/meta.yml
Labels: Changes: Map

omega update (#22659)
  Resources/Maps/omega.yml
Labels: Changes: Map

packed update (#22661)
  Resources/Maps/packed.yml
Labels: Changes: Map

saltern update (#22662)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Puts a rollerbed in paramedics bag, and gives em blue shoes (#22649)
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: none

the boxening (#22643)
  Content.Server/CardboardBox/CardboardBoxSystem.cs
Labels: none

Engineering Chunk Salvage (#22529)
  Resources/Maps/Salvage/engineering-chunk.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map

cull engineering-chunk size (#22664)
  Resources/Maps/Salvage/engineering-chunk.yml
Labels: none

Add 13 BG3 TTS voices (#1650)
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Localization

Add 13 BG3 TTS voices (#1650)
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Localization

Translate TTS voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: Changes: Localization

Translate TTS voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: Changes: Localization

Fix TTS voice translation
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: Changes: Localization

Fix TTS voice translation
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: Changes: Localization

[Wiki] Update recipes generator regex (#1649)
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
Labels: none

[Wiki] Update recipes generator regex (#1649)
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
Labels: none

Fix locale stuff (#1651)
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/medical/components/cryo-pod-component.ftl
Labels: Changes: Localization

Fix locale stuff (#1651)
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/medical/components/cryo-pod-component.ftl
Labels: Changes: Localization

Replaces the broken hallelujah.ogg file with a new one (#22670)
  Resources/Audio/Effects/hallelujah.ogg
Labels: none

decrease hypodart cost from 3 to 2 (#22671)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Adds construction effect to RCD (#22633)
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Prototypes/Entities/Effects/rcd.yml
  Resources/Textures/Effects/rcd.rsi/construct.png
  Resources/Textures/Effects/rcd.rsi/meta.json
Labels: Changes: Sprites

Fix nix devShell (#22663)
  flake.lock
  flake.nix
  shell.nix
Labels: none

Better tear gas grenade belt sprite (#22666)
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/tear_gas_grenade.png
Labels: Changes: Sprites

Update global.json
  global.json
Labels: none

Update global.json
  global.json
Labels: none

Update global.json
  global.json
Labels: none

Update global.json
  global.json
Labels: none

Update global.json
  global.json
Labels: none

Update global.json
  global.json
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

HOS's parade uniform available at the uniform printer (#22667)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: none

Tiny 1x1 Zipties (#22681)
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: none

Adds RCD and RCD ammo to all engineer lockers. (#22688)
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: none

Chemical Synthesis Kit (#22631)
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: Localization

Rubber gloves for janitors (#22668)
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Add NLR to MMIs on MRP (#22695)
  Resources/ServerInfo/RP_Rules.txt
Labels: none

Add atmos error log (#22696)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: none

Fix
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  global.json
Labels: none
