Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Word-wrap a translation line to improve UI (#1753)
  Resources/Locale/ru-RU/guidebook/guides.ftl
Labels: Changes: Localization

Word-wrap a translation line to improve UI (#1753)
  Resources/Locale/ru-RU/guidebook/guides.ftl
Labels: Changes: Localization

Translation fixes (#1742)
  Resources/Locale/ru-RU/cable/cable-multitool-system.ftl
  Resources/Locale/ru-RU/ui/solar-control.ftl
Labels: Changes: Localization

Translation fixes (#1742)
  Resources/Locale/ru-RU/cable/cable-multitool-system.ftl
  Resources/Locale/ru-RU/ui/solar-control.ftl
Labels: Changes: Localization

[Maps] Lil CentComm fix (#1759)
  Resources/Maps/corvax_centcomm.yml
Labels: Changes: Map

[Maps] Lil CentComm fix (#1759)
  Resources/Maps/corvax_centcomm.yml
Labels: Changes: Map

[Maps] Delta update (#1757)
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: none

[Maps] Delta update (#1757)
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: none

Update corvax_mining (#1758)
  Resources/Maps/Shuttles/corvax_mining.yml
Labels: none

Update corvax_mining (#1758)
  Resources/Maps/Shuttles/corvax_mining.yml
Labels: none

Add wagging localization
  Resources/Locale/ru-RU/actions/actions/wagging.ftl
Labels: Changes: Localization

Add wagging localization
  Resources/Locale/ru-RU/actions/actions/wagging.ftl
Labels: Changes: Localization

Fix admins unable to hide the coordinates debug monitor (#24084)
  Content.Client/DebugMon/DebugMonitorSystem.cs
Labels: none

Suit Storage Visual Change (#23799)
  Resources/Textures/Structures/Storage/suit_storage.rsi/base.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/door.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/locked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/meta.json
  Resources/Textures/Structures/Storage/suit_storage.rsi/panel.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/unlocked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/welded.png
Labels: Changes: Sprites

Plates & Cash gridinv visuals (#24075)
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Shared/Item/ItemComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Textures/Objects/Economy/cash.rsi/cash.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_10.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_100.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_1000.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_1000000.png
  Resources/Textures/Objects/Economy/cash.rsi/cash_500.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Grave digging and decomposition (#23646)
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Shared/Atmos/Rotting/ProRottingContainerComponent.cs
  Content.Shared/Burial/BurialSystem.cs
  Content.Shared/Burial/Components/GraveComponent.cs
  Content.Shared/Burial/Components/ShovelComponent.cs
  Content.Shared/Burial/GraveDiggingDoAfterEvent.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/shovel_dig.ogg
  Resources/Locale/en-US/burial/burial.ftl
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

TTS Sanitize update (#1755)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

TTS Sanitize update (#1755)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

Fix deathgasp emote (#1760)
  Resources/Locale/ru-RU/emotes/emotes.ftl
Labels: Changes: Localization

Fix deathgasp emote (#1760)
  Resources/Locale/ru-RU/emotes/emotes.ftl
Labels: Changes: Localization

Fix translation human-hair.ftl (#1749)
  Resources/Locale/ru-RU/corvax/accessories/human-hair.ftl
Labels: Changes: Localization

Fix translation human-hair.ftl (#1749)
  Resources/Locale/ru-RU/corvax/accessories/human-hair.ftl
Labels: Changes: Localization

[Map] Add Gelta (#1762)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
Labels: none

[Map] Add Gelta (#1762)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
Labels: none

Recorvax things (#1740)
  Resources/Audio/Machines/airlock_deny.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/Clothing/Mask/bear.rsi/equipped-MASK-digi.png
  Resources/Textures/Clothing/Mask/muzzle.rsi/equipped-MASK-digi.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/storage.png
  Resources/Textures/Objects/Tools/wrench.rsi/meta.json
  Resources/Textures/Objects/Tools/wrench.rsi/storage.png
  Resources/Textures/Structures/Piping/disposal.rsi/condisposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-charge.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-full.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
Labels: Changes: Sprites

Recorvax things (#1740)
  Resources/Audio/Machines/airlock_deny.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/Clothing/Mask/bear.rsi/equipped-MASK-digi.png
  Resources/Textures/Clothing/Mask/muzzle.rsi/equipped-MASK-digi.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/storage.png
  Resources/Textures/Objects/Tools/wrench.rsi/meta.json
  Resources/Textures/Objects/Tools/wrench.rsi/storage.png
  Resources/Textures/Structures/Piping/disposal.rsi/condisposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-charge.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-full.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
Labels: Changes: Sprites

Fix TTS selector (#1590)
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
Labels: none

Fix TTS selector (#1590)
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
Labels: none

Nerf and Add More Reagent Slimes (#24087)
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add cyrillic support for brig timers (#1706)
  Resources/Textures/Effects/text.rsi/meta.json
  Resources/Textures/Effects/text.rsi/а.png
  Resources/Textures/Effects/text.rsi/б.png
  Resources/Textures/Effects/text.rsi/в.png
  Resources/Textures/Effects/text.rsi/г.png
  Resources/Textures/Effects/text.rsi/д.png
  Resources/Textures/Effects/text.rsi/е.png
  Resources/Textures/Effects/text.rsi/ж.png
  Resources/Textures/Effects/text.rsi/з.png
  Resources/Textures/Effects/text.rsi/и.png
  Resources/Textures/Effects/text.rsi/й.png
  Resources/Textures/Effects/text.rsi/к.png
  Resources/Textures/Effects/text.rsi/л.png
  Resources/Textures/Effects/text.rsi/м.png
  Resources/Textures/Effects/text.rsi/н.png
  Resources/Textures/Effects/text.rsi/о.png
  Resources/Textures/Effects/text.rsi/п.png
  Resources/Textures/Effects/text.rsi/р.png
  Resources/Textures/Effects/text.rsi/с.png
  Resources/Textures/Effects/text.rsi/т.png
  Resources/Textures/Effects/text.rsi/у.png
  Resources/Textures/Effects/text.rsi/ф.png
  Resources/Textures/Effects/text.rsi/х.png
  Resources/Textures/Effects/text.rsi/ц.png
  Resources/Textures/Effects/text.rsi/ч.png
  Resources/Textures/Effects/text.rsi/ш.png
  Resources/Textures/Effects/text.rsi/щ.png
  Resources/Textures/Effects/text.rsi/ъ.png
  Resources/Textures/Effects/text.rsi/ы.png
  Resources/Textures/Effects/text.rsi/ь.png
  Resources/Textures/Effects/text.rsi/э.png
  Resources/Textures/Effects/text.rsi/ю.png
  Resources/Textures/Effects/text.rsi/я.png
  Resources/Textures/Effects/text.rsi/ё.png
Labels: Changes: Sprites

Add cyrillic support for brig timers (#1706)
  Resources/Textures/Effects/text.rsi/meta.json
  Resources/Textures/Effects/text.rsi/а.png
  Resources/Textures/Effects/text.rsi/б.png
  Resources/Textures/Effects/text.rsi/в.png
  Resources/Textures/Effects/text.rsi/г.png
  Resources/Textures/Effects/text.rsi/д.png
  Resources/Textures/Effects/text.rsi/е.png
  Resources/Textures/Effects/text.rsi/ж.png
  Resources/Textures/Effects/text.rsi/з.png
  Resources/Textures/Effects/text.rsi/и.png
  Resources/Textures/Effects/text.rsi/й.png
  Resources/Textures/Effects/text.rsi/к.png
  Resources/Textures/Effects/text.rsi/л.png
  Resources/Textures/Effects/text.rsi/м.png
  Resources/Textures/Effects/text.rsi/н.png
  Resources/Textures/Effects/text.rsi/о.png
  Resources/Textures/Effects/text.rsi/п.png
  Resources/Textures/Effects/text.rsi/р.png
  Resources/Textures/Effects/text.rsi/с.png
  Resources/Textures/Effects/text.rsi/т.png
  Resources/Textures/Effects/text.rsi/у.png
  Resources/Textures/Effects/text.rsi/ф.png
  Resources/Textures/Effects/text.rsi/х.png
  Resources/Textures/Effects/text.rsi/ц.png
  Resources/Textures/Effects/text.rsi/ч.png
  Resources/Textures/Effects/text.rsi/ш.png
  Resources/Textures/Effects/text.rsi/щ.png
  Resources/Textures/Effects/text.rsi/ъ.png
  Resources/Textures/Effects/text.rsi/ы.png
  Resources/Textures/Effects/text.rsi/ь.png
  Resources/Textures/Effects/text.rsi/э.png
  Resources/Textures/Effects/text.rsi/ю.png
  Resources/Textures/Effects/text.rsi/я.png
  Resources/Textures/Effects/text.rsi/ё.png
Labels: Changes: Sprites

Remove news CCVars
  Content.Shared/CCVar/CCVars.cs
Labels: none

Remove news CCVars
  Content.Shared/CCVar/CCVars.cs
Labels: none

decelerator nerf and projectile penetration mini refactor (#24032)
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/CanPenetrateComponent.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cryo Burn Chem - Aloxadone (#23980)
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
