Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fix changelog action python moment
  Tools/actions_changelogs_since_last_run.py
Labels: none

Fix changelog action buffers moment
  Tools/actions_changelogs_since_last_run.py
Labels: none

Fix changelog action buffers moment
  Tools/actions_changelogs_since_last_run.py
Labels: none

Genderful changelog action
  Tools/actions_changelogs_since_last_run.py
Labels: none

Genderful changelog action
  Tools/actions_changelogs_since_last_run.py
Labels: none

Better changelog formatting
  Tools/actions_changelogs_since_last_run.py
Labels: none

Better changelog formatting
  Tools/actions_changelogs_since_last_run.py
Labels: none

Give BaseItem a landing sound (#14504)
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/drop.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Prototypes/Entities/Objects/base_item.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove gun .Owners (#14585)
  Content.Client/Weapons/Ranged/GunSpreadOverlay.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Revolver.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Events/TakeAmmoEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.BasicEntity.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Cartridges.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Container.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

Translate Upstream #872 (#874)
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/procedural/command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/xeno.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/water.ftl
Labels: Changes: Localization

Translate Upstream #872 (#874)
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/procedural/command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/xeno.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/water.ftl
Labels: Changes: Localization

Space Bear 2 (#14591)
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Textures/Clothing/Head/Misc/hides.rsi/bear-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/hides.rsi/bear-inhand-left.png
  Resources/Textures/Clothing/Head/Misc/hides.rsi/bear-inhand-right.png
  Resources/Textures/Clothing/Head/Misc/hides.rsi/meta.json
  Resources/Textures/Mobs/Animals/bear.rsi/glow.png
  Resources/Textures/Mobs/Animals/bear.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/bearpelt.png
  Resources/Textures/Objects/Materials/materials.rsi/bearpelt_glow.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix slime hair translucent (#14478)
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove .Owner from melee weapons (#14600)
  Content.Client/Weapons/Melee/MeleeArcOverlay.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Melee/MeleeWindupOverlay.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

add fuel indicator to ame fuel jar, minor refactor (#14590)
  Content.Server/AME/AMESystem.Fuel.cs
  Content.Server/AME/AMESystem.cs
  Content.Server/AME/Components/AMEFuelContainerComponent.cs
  Resources/Locale/en-US/ame/components/ame-fuel-container-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix access on vehicles, mechs (#14458)
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove stamina + damageable .Owner (#14602)
  Content.IntegrationTests/Tests/Damageable/DamageableTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDamageGroupTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleThresholdActivationTest.cs
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.Server/Damage/Systems/GodmodeSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Salvage/SalvageMobRestrictionsSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Damage/Events/StaminaMeleeHitEvent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
Labels: none

Set water to clickable (#14605)
  Resources/Prototypes/Entities/Tiles/water.yml
Labels: none

Telecoms fixes (#14488)
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Allow grille to be placed on all tiles and space (#14483)
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Barratry 2.5 (#14596)
  Resources/Maps/barratry.yml
Labels: Changes: Map

Reduced cost of bottles in medfab (#14443)
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: none

Add missing DataDefinition constructors (#14603)
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/Marking.cs
  Content.Shared/Humanoid/Prototypes/HumanoidProfilePrototype.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Tests/Server/Preferences/ServerDbSqliteTests.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Stimpacks 1.1.1 - Intended Behavior Edition (#14608)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: Localization

Fix SetOutfitCommand not working when mob is crit or stunned (#14593)
  Content.Server/Administration/Commands/SetOutfitCommand.cs
Labels: none

Sort ID card console jobs (#14588)
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hotfix crashing the server on using the forensic pad on yourself. (#14528)
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
Labels: none

Fixes the blood red hardsuit sprite being identical to the syndicate commander hardsuit (#14552)
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
Labels: Changes: Sprites

Fix some gravity anomaly perf issues (#14502)
  Content.Shared/Anomaly/Effects/SharedGravityAnomalySystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Slower Meatzu (#14573)
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
