Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Fix keyboard sounds not playing when opening a computer UI (#24348)
  Content.Server/Sound/EmitSoundSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
Labels: none

Add chat.max_announcement_length cvar (#23571)
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Client/NukeOps/WarDeclaratorBoundUserInterface.cs
  Content.Client/NukeOps/WarDeclaratorWindow.xaml.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/NukeOps/WarDeclaratorComponent.cs
  Content.Server/NukeOps/WarDeclaratorSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Changes: UI

PA control box part detection fix (#24356)
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Parts.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.cs
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/completed.png
  Resources/Textures/Structures/Power/Generation/PA/control_box.rsi/wired.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Flora anom hotfix (#24364)
  Resources/Prototypes/Entities/Effects/mobspawn.yml
  Resources/Prototypes/Entities/Mobs/NPCs/living_light.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
Labels: none

Fix security camera sprite when viewed at an angle (#24357)
  Resources/Textures/Structures/Wallmounts/camera.rsi/meta.json
Labels: none

Bunch of revolver fixes (#19649)
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Shared/Timing/UseDelaySystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix dock highlighting (#24369)
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Locale fixes (#1785)
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/_units.ftl
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
Labels: Changes: Localization

Locale fixes (#1785)
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/_units.ftl
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
Labels: Changes: Localization

Translate Upstream #1787 (#1790)
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/medical/components/defibrillator.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/navmap-beacons/station_map.ftl
  Resources/Locale/ru-RU/reagents/meta/botany.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/skewer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
Labels: Changes: Localization

Translate Upstream #1787 (#1790)
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/medical/components/defibrillator.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/navmap-beacons/station_map.ftl
  Resources/Locale/ru-RU/reagents/meta/botany.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/skewer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/mobspawn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/mobspawn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
Labels: Changes: Localization

Reduce flatpack size (#24367)
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hotfix chemical use division by zero
  Content.Server/Power/Generator/GeneratorSystem.cs
Labels: none

Hotfix chemical use division by zero
  Content.Server/Power/Generator/GeneratorSystem.cs
Labels: none

working printer
  Content.Client/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Adventure/Entities/Objects/printer.yml
  Resources/Prototypes/Adventure/Entities/Objects/printer_documents.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/printer.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/unlit.png
Labels: Changes: Sprites

working printer
  Content.Client/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Adventure/Entities/Objects/printer.yml
  Resources/Prototypes/Adventure/Entities/Objects/printer_documents.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/printer.png
  Resources/Textures/Adventure/Structures/Machines/printer.rsi/unlit.png
Labels: Changes: Sprites

Change Tmax for fixed floating point epsilon limit (#24370)
  Content.Shared/Atmos/Atmospherics.cs
Labels: none

Largo sound & hearts on interact (#1794)
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
Labels: none

Largo sound & hearts on interact (#1794)
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
Labels: none

Vent Critter Alert (#24383)
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Disable record of TTS in replays
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: none

Disable record of TTS in replays
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: none

Revert "RD suit recolor" (#24377)
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

DamageSpecifier Total => GetTotal (#24160)
  Content.IntegrationTests/Tests/Construction/Interaction/WindowRepair.cs
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Damage/ForceSay/DamageForceSaySystem.cs
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Damage/Systems/DamagePopupSystem.cs
  Content.Server/KillTracking/KillTrackingSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/UserInterface/StatValuesCommand.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Tests/Shared/DamageTest.cs
Labels: none

Mothroach movement state (#24385)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/mothroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach-moving.png
  Resources/Textures/Mobs/Animals/mothroach.rsi/mothroach.png
Labels: Changes: Sprites

Zombie round shuttle autocall waits until more crew are zombied. (#24379)
  Content.Server/GameTicking/Rules/Components/ZombieRuleComponent.cs
Labels: none

Translate Upstream #1792 (#1793)
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
Labels: Changes: Localization

Translate Upstream #1792 (#1793)
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
Labels: Changes: Localization

Fix stray pixel on poster 22 legit (#1795)
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster22_legit.png
Labels: Changes: Sprites

Fix stray pixel on poster 22 legit (#1795)
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster22_legit.png
Labels: Changes: Sprites

Reinforced diagonal (#24393)
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state1.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
