Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

ctrl-rclick tweaks (#7170)
  Content.Client/Pulling/PullingSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "ctrl-rclick tweaks" (#7171)
  Content.Client/Pulling/PullingSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: none

Update contributors scripts to do more stuff
  Tools/dump_commits_since.ps1
  Tools/dump_contributors_since.ps1
Labels: none

Clash of the Titans: Return of Delta (#7178)
  Resources/Prototypes/Maps/delta.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Delta Hotfix (#7182)
  Resources/Prototypes/Maps/delta.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove Anti-Lizard Decal from Crayons (#7184)
  Resources/Prototypes/Decals/crayons.yml
Labels: none

Bandaid pullcontroller (#7176)
  Content.Server/Physics/Controllers/PullController.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: none

Adds more directional signs. Fixes directions on existing (#6401)
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_brig.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chapel.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_cryo.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_dorms.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_evac.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_gravity.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hydro.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_salvage.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_solar.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_supply.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_wash.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Use correct bowl trash id (#7183)
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: none

Add custom type serializer to destruction spawn (#7190)
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add myself to CODEOWNERS
  .github/CODEOWNERS
Labels: none

CODEOWNERS update
  .github/CODEOWNERS
Labels: none

Make more entities destructible (#7193)
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: none

Перевод коробки с ватными палочками (#154)
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
Labels: none

Перевод коробки с ватными палочками (#154)
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
Labels: none

Update Rules.txt (#7200)
  Resources/Server Info/Rules.txt
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Doctor PDA functions as a health analyzer (#7031)
  Content.Server/PDA/PDASystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Increase the cost of Emitters (#7066)
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: none

corrects hatsune sprite (#7163)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/performer.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update butchering popups (#7196)
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Resources/Locale/en-US/kitchen/components/kitchen-spike-component.ftl
Labels: none

Optimise pinpointer activation significantly (#7169)
  Content.Server/Pinpointer/ServerPinpointerSystem.cs
  Content.Shared/Nuke/NukeDiskComponent.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/Pinpointer/SharedPinpointerSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/tags.yml
Labels: none

Add door emag visuals and sound (#6971)
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/meta.json
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/sparks.png
Labels: Changes: Sprites

Bagel Update 11.6 (#7188)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Translate updated direction signs
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_evac.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_supply.png
Labels: Changes: Sprites

Translate updated direction signs
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_evac.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_supply.png
Labels: Changes: Sprites

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/guardian.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/fluids/components/mop-component.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/science.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/color.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/guardian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/guardian.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/fluids/components/mop-component.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/science.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/color.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/guardian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
Labels: none

Crafting obstruction check. (#7198)
  Content.Server/Construction/ConstructionSystem.Initial.cs
Labels: none

Formal Clothes PANTS FIX (#7194)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/centcomformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hosformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/capformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/capformaldress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/capformaldress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/capformaldress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/capformaldress.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hosformal.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Locale typo
  Resources/Locale/ru-RU/fluids/components/absorbent-component.ftl
Labels: none

Locale typo
  Resources/Locale/ru-RU/fluids/components/absorbent-component.ftl
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]
