Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

minor stun refactor (#18752)
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/SlowedDownComponent.cs
  Content.Shared/Stunnable/StunnedComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add radiators (#18728)
  Content.Server/Atmos/Components/HeatExchangerComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/HeatExchangerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/heatexchanger.rsi/heBend.png
  Resources/Textures/Structures/Piping/Atmospherics/heatexchanger.rsi/heStraight.png
  Resources/Textures/Structures/Piping/Atmospherics/heatexchanger.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds Checkerboard Tiles, External Hull Plating, Hardened Reinforced Floors, & Monotile Dirty Decal (#18676)
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Decals/dirty.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Decals/dirty.rsi/dirtheavy-mono.png
  Resources/Textures/Decals/dirty.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/checker-dark.png
  Resources/Textures/Objects/Tiles/tile.rsi/checker-light.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/hull.png
  Resources/Textures/Tiles/hull_reinforced.png
  Resources/Textures/Tiles/super_reinforced.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

stimulants increase stamina (#18754)
  Content.Shared/Damage/Components/StaminaModifierComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.Modifier.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/status_effects.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fixes brute and burn autoinjector inject amount (#18762)
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix reflected projectiles dealing stamina damage (#17648)
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Projectiles/ProjectileCollideEvent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Reflect/SharedReflectSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Melee rebalancing rebalancing, high damage single-target attacks (#18766)
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adjust radiator flow rate and fix space detection (#18764)
  Content.Server/Atmos/EntitySystems/HeatExchangerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Spawn spaceshroom structure instead (#18769)
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Let flesh mobs and xenos climb tables (#18774)
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: none

Fix TTS prototype ID serialization check
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/TTS/TTSComponent.cs
Labels: none

Fix TTS prototype ID serialization check
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/TTS/TTSComponent.cs
Labels: none

Update TTS prototype class formatting
  Content.Shared/Corvax/TTS/TTSVoicePrototype.cs
Labels: none

Update TTS prototype class formatting
  Content.Shared/Corvax/TTS/TTSVoicePrototype.cs
Labels: none

Add missing TTS comments
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
Labels: none

Add missing TTS comments
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
Labels: none

Revert "Make power grid check event force APCs off (#17935)" (#18731)
  Content.Server/StationEvents/Components/PowerGridCheckDisabledComponent.cs
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: Changes: Localization

Explicitly set float.Parse culture (#18778)
  Content.Client/Guidebook/Controls/GuideEntityEmbed.xaml.cs
Labels: Changes: UI

Make Shovel Item size 90 (#18779)
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: none

SandboxTest changes (#18595)
  Content.IntegrationTests/Tests/Utility/SandboxTest.cs
Labels: none

de-mixels the bleeding alert (#18787)
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed0.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed1.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed10.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed2.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed3.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed4.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed5.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed6.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed7.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed8.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed9.png
  Resources/Textures/Interface/Alerts/bleed.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix mind test issues (#18793)
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/Minds/GhostRoleTests.cs
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
  Content.IntegrationTests/Tests/Minds/MindTests.Helpers.cs
  Content.IntegrationTests/Tests/Minds/MindTests.cs
  Content.Server/Mind/MindSystem.cs
Labels: none

Make chemical analysis goggles cheaper to print (#18791)
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: none

Validate that client prototypes are serializable (#18780)
  Content.Client/Atmos/EntitySystems/AtmosPipeAppearanceSystem.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsComponent.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.IntegrationTests/Tests/PrototypeTests/PrototypeTests.cs
  Content.Shared/Atmos/Components/PipeAppearanceComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cull remaining Sprite netsync (#18770)
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/base.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
Labels: none

Rename spacebucks to spesos (#18805)
  Content.Server/Cargo/Systems/PricingSystem.cs
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/cargo/price-gun-component.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-pirates.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
Labels: Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
