Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

fix burning to ash not working on all mobs (#27158)
  Content.Server/Destructible/Thresholds/Behaviors/BurnBodyBehavior.cs
  Resources/Locale/en-US/burning/bodyburn.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make banpanel defaults use cvars (#27168)
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Admin.yml
Labels: none

Fix for inventory and belt not opening (#27179)
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: none

belts get their equip sound (#27174)
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
Labels: none

Fix borkroman's animations not working I broke something, I fixed it
  Resources/Prototypes/_c4llv07e/Aliens.yml
Labels: none

Fix borkroman's animations not working I broke something, I fixed it
  Resources/Prototypes/_c4llv07e/Aliens.yml
Labels: none

Un-revert #26994
  Content.IntegrationTests/Pair/TestMapData.cs
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Tests/Administration/Logs/AddTests.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTest.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/Interaction/MovementTest.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.IntegrationTests/Tests/Shuttle/DockTest.cs
  Content.IntegrationTests/Tests/Tiles/TileConstructionTests.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/Mapping/MappingCommand.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: none

Make material arbitrage test more verbose (#27180)
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
Labels: none

Fixed potential duplicate engraved lighter steal objective (#27177)
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
Labels: none

Possible fix for evac shuttle test failures (#27175)
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

Make material arbitrage test ignore price of contained entities (#27182)
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
Labels: none

Try fix random shuttle test failures (#27186)
  Content.IntegrationTests/Pair/TestPair.Recycle.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Station/EvacShuttleTest.cs
Labels: none

Update Core (#27195)
  Resources/Maps/core.yml
Labels: Changes: Map

Add map Oasis (#25736)
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/briggle.yml
  Resources/Maps/oasis.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/map_attributions.txt
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Two-Tone lizard snouts (#27143)
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_splotch_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_splotch_secondary.png
Labels: Changes: Sprites, Changes: Localization

Adds security webbing and security belts to Security Officer loadout (#27189)
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ghost prayer interaction (#27199)
  Content.Server/Prayer/PrayerSystem.cs
Labels: none

Add rainbow jumpsuit to passenger loadout. (#27211)
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Buff welding supplies closet (#27212)
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
Labels: none

Add clothing equipped/unequipped events (#27155)
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Server/Medical/Stethoscope/StethoscopeSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Speech/EntitySystems/AddAccentClothingSystem.cs
  Content.Server/VoiceMask/VoiceMaskSystem.Equip.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/SkatesSystem.cs
  Content.Shared/Inventory/Events/UnequippedEvents.cs
Labels: none

Removed CC and recall reference in pallet descriptions (#27209)
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
Labels: none

SS14-26480 Roll Traversal Distorter into regular Artifact Analyzers (#26545)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleBoundUserInterface.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Components/TraversalDistorterComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/TraversalDistorterSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/en-US/xenoarchaeology/traversal-distorter.ftl
  Resources/Maps/Dungeon/experiment.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/ServerInfo/Guidebook/Science/ArtifactReports.xml
  Resources/ServerInfo/Guidebook/Science/TraversalDistorter.xml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/icon.png
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed grammar when drinking empty drink (#27218)
  Resources/Locale/en-US/nutrition/components/drink-component.ftl
Labels: Changes: Localization

Escape markup for in-game chat, and labeler (#26359)
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
Labels: none

Make sterile masks a tiny item (#27213)
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: none

Add SharedPopupSystem.PopupClient for cursor and coordinates (#27231)
  Content.Client/Popups/PopupSystem.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
Labels: none

Polymorphs spawn using the parents world rotation (#27223)
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: none

Add events for custom action target validation (#27230)
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Actions/ActionOnInteractSystem.cs
  Content.Shared/Actions/Events/ValidateActionEntityTargetEvent.cs
  Content.Shared/Actions/Events/ValidateActionWorldTargetEvent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: none

make fire spreading scale with mass (#27202)
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make CLF3 reaction require heating first. (#27187)
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
