Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fixes store purchase events and adds support to raise a directed event (#26389)
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Store/ListingPrototype.cs
Labels: none

Store keybind priority (#26356)
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Resources/keybinds.yml
Labels: Changes: UI

Removed Cannabis from thief objectives (#26412)
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Gives borg industrial welder (#26332)
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Immovable Rod visual variations (#25932)
  Content.Server/StationEvents/Components/ImmovableRodRuleComponent.cs
  Content.Server/StationEvents/Events/ImmovableRodRule.cs
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/GameRules/events.yml
Labels: none

Fixed some icon rsi warnings (#26414)
  Resources/Prototypes/Actions/diona.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: none

Update close-master-pr.yml (#26416)
  .github/workflows/close-master-pr.yml
Labels: none

Accept cloth and ingots in the ammofab (#26413)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix admin verb to set unspawned ballisic ammo count (#26411)
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: none

Use entity queries in ambient sound & power receiver systems (#26410)
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Shared/Audio/SharedAmbientSoundSystem.cs
Labels: none

Unswap small and tall wodden fence gates (#26409)
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened_small.png
Labels: Changes: Sprites

Holoprojectors crafted at lathes no longer come with a cell (#26405)
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix tags on antique laser gun (#26398)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add astro-jungle/mowed grass and astro-snow (#26381)
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make parrots talk like parrots (#26340)
  Content.Server/Speech/Components/ParrotAccentComponent.cs
  Content.Server/Speech/EntitySystems/ParrotAccentSystem.cs
  Resources/Locale/en-US/accent/parrot.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Create DeviceNetworkJammerComponent & System as a general way for entities to act as jammers (#26342)
  Content.Server/DeviceNetwork/Systems/DeviceNetworkJammerSystem.cs
  Content.Server/DeviceNetwork/Systems/DeviceNetworkSystem.cs
  Content.Server/DeviceNetwork/Systems/SingletonDeviceNetServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Radio/EntitySystems/JammerSystem.cs
  Content.Shared/DeviceNetwork/Components/DeviceNetworkJammerComponent.cs
Labels: none

nerf rad artifacts (#26422)
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: none

Code cleanup: Purge obsoleted SharedPhysicsSystem methods (#26287)
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Emitter.cs
  Content.Server/Physics/Controllers/ChasingWalkSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/StationEvents/Events/MeteorSwarmRule.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/Weapons/Melee/MeleeThrowOnHitSystem.cs
  Content.Shared/Weapons/Misc/SharedTetherGunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

Cleaner Grenade (#25444)
  Resources/Prototypes/Catalog/Fills/Boxes/service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/primed.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Wearable Harmonicas (#26261)
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix mailing units turning into disposal units while recharging. (#26383)
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Church Bells (#26030)
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/church_bell1.ogg
  Resources/Audio/Effects/church_bell2.ogg
  Resources/Audio/Effects/church_bell3.ogg
  Resources/Audio/Effects/church_bell4.ogg
  Resources/Prototypes/Entities/Structures/Specific/church-bell.yml
  Resources/Prototypes/SoundCollections/church_bell.yml
  Resources/Textures/Structures/Specific/church-bell.rsi/church-bell.png
  Resources/Textures/Structures/Specific/church-bell.rsi/meta.json
Labels: Changes: Sprites

remove airalarm device limit
  Content.Server/DeviceNetwork/Systems/DeviceListSystem.cs
Labels: none

remove airalarm device limit
  Content.Server/DeviceNetwork/Systems/DeviceListSystem.cs
Labels: none

fix holosignprojector money abuse
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
Labels: none

fix holosignprojector money abuse
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
Labels: none

SS14-17313 Chatfactor: Chat Censorship Systems (#25908)
  Content.Shared/Chat/V2/Moderation/ChatCensor.cs
  Content.Shared/Chat/V2/Moderation/RegexCensor.cs
  Content.Shared/Chat/V2/Moderation/SimpleCensor.cs
  Content.Tests/Shared/Chat/V2/Moderation/SimpleCensor.cs
Labels: none

Make all implants unable to be implanted more than once (#26250)
  Content.Server/Implants/ImplanterSystem.cs
  Content.Shared/Implants/Components/ImplanterComponent.cs
  Resources/Locale/en-US/implant/implant.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nerf ninja research stealing (#26421)
  Content.Server/Research/Systems/ResearchStealerSystem.cs
  Content.Shared/Research/Components/ResearchStealerComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Prototypes/Objectives/ninja.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
