Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Make wielding precede cycling in event subs (#18915)
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: none

Ritual chair no longer deletes people when disassembled (#19145)
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/ritualseat.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add Mystery Figure Crate (#19134)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: Changes: Localization

More borg tweaks (#19143)
  Content.Server/Destructible/Thresholds/Behaviors/EmptyContainersBehaviour.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Ghost/Roles/Components/ToggleableGhostRoleComponent.cs
  Content.Server/Ghost/Roles/ToggleableGhostRoleSystem.cs
  Content.Server/Mind/Components/MindContainerComponent.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Roles/SubvertedSiliconRole.cs
  Content.Server/Silicons/Borgs/BorgSystem.MMI.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Access/Components/AccessComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Access/Systems/SharedAccessSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.Blocking.cs
  Content.Shared/NameIdentifier/NameIdentifierComponent.cs
  Content.Shared/PAI/PAIComponent.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Content.Shared/Silicons/Borgs/Components/BorgChassisComponent.cs
  Content.Shared/Silicons/Borgs/Components/MMIComponent.cs
  Content.Shared/Silicons/Borgs/Components/MMILinkedComponent.cs
  Content.Shared/Silicons/Borgs/SharedBorgSystem.cs
  Content.Shared/Silicons/Laws/Components/EmagSiliconLawComponent.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawBoundComponent.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawProviderComponent.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Stacks/StackComponent.cs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/base.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Roles/Antags/silicon.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add plastic sheets chemical recipe (#18865)
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Throwing fixes (#18576)
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: none

Construct and upgrade mini gravity generator (#18568)
  Content.Server/Gravity/GravityGeneratorComponent.cs
  Content.Server/Gravity/GravityGeneratorSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add doafter when disconnecting someone else's internals (#19148)
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: none

Realign plunger hat (#19147)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix search being case sensitive for admin logs from uncached db rounds (#19066)
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
Labels: none

Update smartfridge sprites
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/on.png
Labels: Changes: Sprites

Update smartfridge sprites
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/on.png
Labels: Changes: Sprites

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
Labels: Changes: Localization

Small LizardAccent update (#1336)
  Content.Server/Speech/EntitySystems/LizardAccentSystem.cs
Labels: none

Small LizardAccent update (#1336)
  Content.Server/Speech/EntitySystems/LizardAccentSystem.cs
Labels: none

Lavaland chasms (#19154)
  Content.Client/Chasm/ChasmFallingVisualsSystem.cs
  Content.Shared/Chasm/ChasmComponent.cs
  Content.Shared/Chasm/ChasmFallingComponent.cs
  Content.Shared/Chasm/ChasmSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/falling.ogg
  Resources/Prototypes/Entities/Tiles/chasm.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm0.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm2.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm5.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/chasm.rsi/chasm7.png
  Resources/Textures/Tiles/Planet/chasm.rsi/full.png
  Resources/Textures/Tiles/Planet/chasm.rsi/meta.json
Labels: Changes: Sprites

Fix combat action prediction (#19152)
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.IntegrationTests/Tests/Actions/ActionsAddedTest.cs
  Content.Shared/Actions/ActionTypes/ActionType.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: none

bug with reflection fixed (#19127)
  Content.Shared/Weapons/Reflect/SharedReflectSystem.cs
Labels: none

Allow mind system to spawn ghosts during the post-round phase. (#19091)
  Content.Server/Mind/MindSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove UI state enter/exit logic from DamageOverlayUi (#19149)
  Content.Client/UserInterface/Systems/DamageOverlays/DamageOverlayUiController.cs
Labels: none

Add placement logs (#18709)
  Content.Server/Placement/PlacementLoggerSystem.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

marathon update (#19162)
  Resources/Maps/marathon.yml
Labels: Changes: Map

meta update (#19163)
  Resources/Maps/meta.yml
Labels: Changes: Map

omega update (#19164)
  Resources/Maps/omega.yml
Labels: Changes: Map

packed update (#19166)
  Resources/Maps/packed.yml
Labels: Changes: Map

real cap gun on core (#19172)
  Resources/Maps/core.yml
Labels: Changes: Map

Change code levels text (#1289)
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: Changes: Localization

Change code levels text (#1289)
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: Changes: Localization

Update CODEOWNERS (#19173)
  .github/CODEOWNERS
Labels: none

remove id computer board objective (#19171)
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: none
