Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Pillar fixes and update (#11496)
  Resources/Maps/newpillar.yml
  Resources/Maps/pillar.yml
  Resources/Prototypes/Maps/pillar.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

User feedback for when you miss throwing something in disposals (#11426)
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Resources/Locale/en-US/disposal/unit/components/disposal-unit-component.ftl
Labels: Changes: Localization

Add a hot drinks vending sound (#11437)
  Resources/Audio/Machines/license.txt
  Resources/Audio/Machines/machine_vend_hot_drink.ogg
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

Localize seeds (#11377)
  Content.Server/Botany/SeedPrototype.cs
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Humanoid fixes (#11538)
  Content.Client/Humanoid/HumanoidSystem.cs
  Content.Client/Humanoid/HumanoidVisualizerSystem.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Server/Humanoid/Components/RandomHumanoidAppearanceComponent.cs
  Content.Server/Humanoid/Systems/HumanoidSystem.cs
  Content.Server/Humanoid/Systems/RandomHumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/HumanoidVisualizerKeys.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidSystem.cs
  Content.Shared/Humanoid/SkinColor.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: UI

bage (#11536)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Machine upgrading framework [NO CONTENT YET] (#11528)
  Content.Server/Atmos/Piping/Unary/Components/GasThermoMachineComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Construction/Components/MachineBoardComponent.cs
  Content.Server/Construction/Components/MachineFrameComponent.cs
  Content.Server/Construction/Components/MachinePartComponent.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Construction/MachinePart.cs
  Content.Shared/Construction/Prototypes/MachinePartPrototype.cs
  Resources/Prototypes/MachineParts/machine_parts.yml
Labels: none

Update CHANGES.md
  CHANGES.md
Labels: none

Update CHANGES.md
  CHANGES.md
Labels: none

Sponsor priority join (#428)
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/Sponsors/ISponsorsManager.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Server/Entry/EntryPoint.cs
Labels: none

Sponsor priority join (#428)
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/Sponsors/ISponsorsManager.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Server/Entry/EntryPoint.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

advanced parts recipes (#11541)
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Textures/Objects/Misc/stock_parts.rsi/adv_scan_module_static.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix some machines being unable to be deconstructed. (#11548)
  Content.Server/Construction/Conditions/WirePanel.cs
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Move BarSign appearance logic to client. (#11524)
  Content.Client/BarSign/BarSignSystem.cs
  Content.Server/BarSign/BarSignComponent.cs
  Content.Server/BarSign/Systems/BarSignSystem.cs
  Content.Shared/BarSign/BarSignComponent.cs
  Content.Shared/BarSign/BarSignPrototype.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
Labels: none

biomass reclaimer machine part upgrade support (#11545)
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Localize broken handcuffs (#11558)
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Resources/Locale/en-US/cuffs/components/handcuff-broken.ftl
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: Changes: Localization

Fix eating with utensils (#11557)
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

hotfixes bed healing not taking sleeping into account (#11560)
  Content.Server/Bed/BedSystem.cs
Labels: none

Allow gas analyzers to continue operation after the user moves without a target. (#11555)
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

BRB sign retexture (#429)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/brb_sign.ftl
  Resources/Textures/Objects/Misc/brbsign.rsi/icon.png
  Resources/Textures/Objects/Misc/brbsign.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

BRB sign retexture (#429)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/brb_sign.ftl
  Resources/Textures/Objects/Misc/brbsign.rsi/icon.png
  Resources/Textures/Objects/Misc/brbsign.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

make zombies go into FIGHT MODE (#11565)
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Try to fix getting old logs (#11568)
  Content.Server/Database/ServerDbBase.cs
Labels: none

Rat King buff (#11566)
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Keep collidable items from getting stuck at conveyor corners (#11508)
  Content.Server/Physics/Controllers/ConveyorController.cs
Labels: none

Fix carp sprites (#11572)
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: none

Refactor Discord round notifications (#430)
  Content.Server/Corvax/RoundNotifications/RoundNotificationsSystem.cs
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicket.Discord.cs
  Content.Shared/GameTicking/RoundStartedEvent.cs
  Resources/Locale/en-US/corvax/round-notifications/notifications.ftl
  Resources/Locale/ru-RU/corvax/round-notifications/notifications.ftl
Labels: Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
