Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

global radio toggle for observers (#22137)
  Content.Server/Radio/Components/ActiveRadioComponent.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: none

Change Biometrics after using Dna Scrambler Implant (#22098)
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
Labels: none

Fix upstream
  Content.Client/Corvax/TTS/TTSSystem.cs
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: none

Fix upstream
  Content.Client/Corvax/TTS/TTSSystem.cs
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: none

Fix Christmas tree bounding box (#22139)
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

boom (#22150)
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

paramedic on marathon (#22151)
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

lower chloral hydrate effect minimum to 10u (requires 11u to sleep) (#22148)
  Resources/Prototypes/Reagents/toxins.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds Emergency Nitrogen Tanks (#22142)
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-cat.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-dog.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-fox.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-hamster.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-kangaroo.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-possum.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-puppy.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/equipped-SUITSTORAGE-sloth.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/emergency_red.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added thresholds and new stomatch for mice (#22143)
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Removes paramedic suit from medidrobe (#22146)
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix maps
  Resources/Prototypes/Maps/gemini.yml
Labels: Changes: Map

Fix maps
  Resources/Prototypes/Maps/gemini.yml
Labels: Changes: Map

Use grid based storage
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
Labels: none

Use grid based storage
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
Labels: none

Fix loadout slots (#1608)
  Content.Server/Corvax/Loadout/LoadoutSystem.cs
Labels: none

Fix loadout slots (#1608)
  Content.Server/Corvax/Loadout/LoadoutSystem.cs
Labels: none

Revert "фикс VoteManager.cs для тестов"
  Content.Client/Voting/VoteManager.cs
  Content.Server/Voting/Managers/VoteManager.cs
Labels: none

Revert "фикс VoteManager.cs для тестов"
  Content.Client/Voting/VoteManager.cs
  Content.Server/Voting/Managers/VoteManager.cs
Labels: none

Action Cooldowns Reset on Rejuvenate (#22149)
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

gas tanks ops (#22154)
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: none

Set cocoa to trash on empty (#22155)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: none

fixes ghosts completely lacking speech (#22157)
  Content.Client/Chat/UI/SpeechBubble.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add water cups to water coolers (#22073)
  Content.Shared/Storage/EntitySystems/BinSystem.cs
  Resources/Locale/en-US/entity-systems/bin/bin-system.ftl
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed projectile spells not counting user (#22158)
  Content.Server/Magic/MagicSystem.cs
Labels: none

Cyborg assembly no longer need a power cell (#22144)
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
Labels: none

Change points per node to 6500 (#22163)
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
Labels: none

Grid inventory fixes (#22161)
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Textures/Interface/Default/Storage/tile_blocked_opaque.png
  Resources/Textures/Interface/Default/Storage/tile_empty_opaque.png
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Change combat boots to a 2x1 grid (#22167)
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
