Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

Add PDA Ringtones (#5842)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/PDA/PDABoundUserInterface.cs
  Content.Client/PDA/PDAMenu.xaml
  Content.Client/PDA/Ringer/RingerBoundUserInterface.cs
  Content.Client/PDA/Ringer/RingtoneMenu.xaml
  Content.Client/PDA/Ringer/RingtoneMenu.xaml.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/PDA/Ringer/RingerComponent.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Shared/PDA/PDAMessagesUI.cs
  Content.Shared/PDA/Ringer/RingerMessagesUI.cs
  Content.Shared/PDA/Ringer/RingerUpdateState.cs
  Content.Shared/PDA/Ringer/RingerVisuals.cs
  Content.Shared/PDA/SharedRingerSystem.cs
  Resources/Audio/Effects/RingtoneNotes/a.ogg
  Resources/Audio/Effects/RingtoneNotes/asharp.ogg
  Resources/Audio/Effects/RingtoneNotes/b.ogg
  Resources/Audio/Effects/RingtoneNotes/c.ogg
  Resources/Audio/Effects/RingtoneNotes/csharp.ogg
  Resources/Audio/Effects/RingtoneNotes/d.ogg
  Resources/Audio/Effects/RingtoneNotes/dsharp.ogg
  Resources/Audio/Effects/RingtoneNotes/e.ogg
  Resources/Audio/Effects/RingtoneNotes/f.ogg
  Resources/Audio/Effects/RingtoneNotes/fsharp.ogg
  Resources/Audio/Effects/RingtoneNotes/g.ogg
  Resources/Audio/Effects/RingtoneNotes/gsharp.ogg
  Resources/Locale/en-US/pda/Ringer/ringer-component.ftl
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds dedicated salvage specialist role (#6451)
  Resources/Prototypes/AccessLevels/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wardrobe.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Textures/Clothing/Shoes/Boots/explorer.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/explorer.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/explorer.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/explorer.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/explorer.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds the Mothership Syndieship (#6284)
  Resources/Maps/mothership.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fires burn bright (#6516)
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/FireTileOverlay.cs
  Content.Client/Atmos/Visualizers/FireVisualizer.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds quartermaster spawnpoint (without changing maps) (#6503)
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: none

Shutter construction (#6427)
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shutter.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/frame.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nerf ringers (#6558)
  Content.Server/PDA/Ringer/RingerComponent.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Resources/Audio/Effects/RingtoneNotes/a.ogg
  Resources/Audio/Effects/RingtoneNotes/asharp.ogg
  Resources/Audio/Effects/RingtoneNotes/b.ogg
  Resources/Audio/Effects/RingtoneNotes/c.ogg
  Resources/Audio/Effects/RingtoneNotes/csharp.ogg
  Resources/Audio/Effects/RingtoneNotes/d.ogg
  Resources/Audio/Effects/RingtoneNotes/dsharp.ogg
  Resources/Audio/Effects/RingtoneNotes/e.ogg
  Resources/Audio/Effects/RingtoneNotes/f.ogg
  Resources/Audio/Effects/RingtoneNotes/fsharp.ogg
  Resources/Audio/Effects/RingtoneNotes/g.ogg
  Resources/Audio/Effects/RingtoneNotes/gsharp.ogg
  Resources/engineCommandPerms.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Allow a range <= 0 in InRangeUnoccluded (#6440)
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

Updates reinforced tile sprite. (#6556)
  Resources/Textures/Tiles/copyright.txt
  Resources/Textures/Tiles/reinforced.png
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add inflatable door (#6393)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Engineering/Components/DisassembleOnAltVerbComponent.cs
  Content.Server/Engineering/EntitySystems/DisassembleOnActivateSystem.cs
  Content.Server/Engineering/EntitySystems/DisassembleOnAltVerbSystem.cs
  Resources/Audio/Effects/door_close.ogg
  Resources/Audio/Effects/door_open.ogg
  Resources/Locale/en-US/structure/disassemble-system.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Stacks/engineering_stacks.yml
  Resources/Textures/Objects/Misc/inflatable_door.rsi/closed.png
  Resources/Textures/Objects/Misc/inflatable_door.rsi/closing.png
  Resources/Textures/Objects/Misc/inflatable_door.rsi/item_door.png
  Resources/Textures/Objects/Misc/inflatable_door.rsi/meta.json
  Resources/Textures/Objects/Misc/inflatable_door.rsi/open.png
  Resources/Textures/Objects/Misc/inflatable_door.rsi/opening.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/closed.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/closing.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/meta.json
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/open.png
  Resources/Textures/Structures/Doors/MineralDoors/wood_door.rsi/opening.png
Labels: Changes: Sprites

Rules.txt tweaks (#6484)
  Resources/Server Info/Rules.txt
Labels: none

Added Fly Amanita and Galaxythistle (#6538)
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Textures/Objects/Specific/Hydroponics/ambrosia_vulgaris.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/stage-3.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Change decal spawn flag to +SPAWN instead of +MAPPING
  Content.Server/Decals/DecalSystem.cs
Labels: none

Spationaut -> Specialist
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Labels: none

Fix decal placer crashing when placing/removing in space
  Content.Server/Decals/DecalSystem.cs
Labels: none

Tweak Window Shutters to have a rectangular window. (#6564)
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/closed.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/closing.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/meta.json
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/opening.png
Labels: Changes: Sprites

Bagel Update 3 (#6568)
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: Map

Move ButtonBar view out of GameHud into GameHud.ButtonBar (#6491)
  Content.Client/CharacterInterface/CharacterInterfaceSystem.cs
  Content.Client/HUD/GameHud.ButtonBar.cs
  Content.Client/HUD/GameHud.cs
  Content.Client/HUD/UI/TopButton.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Sandbox/SandboxManager.cs
  Content.Client/Stylesheets/StyleNano.cs
Labels: none

Removes Airloss and Radiation from Tricord (#6573)
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

Added Gatfruit (#6569)
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/stage-2.png
Labels: Changes: Sprites

Unpowered lights and new ground light structure (#6566)
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
  Resources/Prototypes/Entities/Structures/lighting_ground.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/lighting.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Decoration/LightPosts/small_light_post.rsi/meta.json
  Resources/Textures/Structures/Decoration/LightPosts/small_light_post.rsi/off.png
  Resources/Textures/Structures/Decoration/LightPosts/small_light_post.rsi/on.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Redo ClickableComponent (#6221)
  Content.Client/Clickable/ClickableComponent.cs
  Content.IntegrationTests/Tests/ClickableTest.cs
Labels: none

Replace the cursed locker in salvage (#6576)
  Resources/Maps/Salvage/small-3.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Optimize pipe net appearance updating. (#6469)
  Content.Server/Atmos/Piping/EntitySystems/AtmosPipeNodeAppearanceSystem.cs
  Content.Server/NodeContainer/EntitySystems/NodeContainerSystem.cs
  Content.Server/NodeContainer/EntitySystems/NodeGroupSystem.cs
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
  Content.Server/NodeContainer/Nodes/IRotatableNode.cs
  Content.Server/NodeContainer/Nodes/Node.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Content.Server/Power/EntitySystems/CableVisSystem.cs
  Content.Server/Power/Nodes/CableNode.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hide Targeting Dummy (#6580)
  Content.Client/CombatMode/CombatModeComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]
