Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Translation edits (#721)
  Resources/Locale/ru-RU/chemistry/solution/components/shared-solution-container-component.ftl
  Resources/Locale/ru-RU/commands/stat-values-command.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/chemistry_effects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/surveillance_camera_routers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wardrobe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/surveillance_camera.ftl
Labels: Changes: Localization

Translate upstream #722 (#723)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cups.ftl
Labels: Changes: Localization

Translate upstream #722 (#723)
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cups.ftl
Labels: Changes: Localization

Custom app icon (#717)
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/manifest.yml
Labels: none

Custom app icon (#717)
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/manifest.yml
Labels: none

Update Ishimura station (#720)
  Resources/Maps/corvax_ishimura.yml
Labels: Changes: Map

Update Ishimura station (#720)
  Resources/Maps/corvax_ishimura.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix health overlay from togglehealthoverlay being hidden (#13418)
  Content.Client/HealthOverlay/UI/HealthOverlayGui.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix not showing player names on context menu for admins (#13422)
  Content.Client/ContextMenu/UI/EntityMenuElement.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix playglobalsound with a volume parameter being too loud (#13421)
  Content.Server/Audio/ServerGlobalSoundSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

TTS (Text-To-Speech) (#618)
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Corvax/TTS/TTSManager.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Migrations/Postgres/20221214230019_TTSVoice.Designer.cs
  Content.Server.Database/Migrations/Postgres/20221214230019_TTSVoice.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20221214230014_TTSVoice.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20221214230014_TTSVoice.cs
  Content.Server.Database/Model.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/HumanoidSystem.TTS.cs
  Content.Server/Corvax/TTS/TTSComponent.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.SSML.cs
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Humanoid/Systems/HumanoidSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Corvax/TTS/MsgRequestTTS.cs
  Content.Shared/Corvax/TTS/PlayTTSEvent.cs
  Content.Shared/Corvax/TTS/TTSVoicePrototype.cs
  Content.Shared/Humanoid/SharedHumanoidSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Tests/Server/Preferences/ServerDbSqliteTests.cs
  Resources/Credits/TTS.txt
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: UI, Changes: Localization

TTS (Text-To-Speech) (#618)
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Corvax/TTS/TTSManager.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Migrations/Postgres/20221214230019_TTSVoice.Designer.cs
  Content.Server.Database/Migrations/Postgres/20221214230019_TTSVoice.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20221214230014_TTSVoice.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20221214230014_TTSVoice.cs
  Content.Server.Database/Model.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/HumanoidSystem.TTS.cs
  Content.Server/Corvax/TTS/TTSComponent.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.SSML.cs
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Humanoid/Systems/HumanoidSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Corvax/TTS/MsgRequestTTS.cs
  Content.Shared/Corvax/TTS/PlayTTSEvent.cs
  Content.Shared/Corvax/TTS/TTSVoicePrototype.cs
  Content.Shared/Humanoid/SharedHumanoidSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Tests/Server/Preferences/ServerDbSqliteTests.cs
  Resources/Credits/TTS.txt
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix TTS [Part 1] (#724)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
Labels: none

Fix TTS [Part 1] (#724)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Bagel Update 16.2 (#13430)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Box Update 2.6 (#13431)
  Resources/Maps/box.yml
Labels: Changes: Map

Marathon Update 4.1 (#13432)
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: Changes: Map

Meta Update 1.6 (#13433)
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map

Omega Update 1.5 (#13434)
  Resources/Maps/omega.yml
Labels: Changes: Map

Narcolepsy Treatment (#13427)
  Content.Server/Chemistry/ReagentEffects/ResetNarcolepsy.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Resources/Prototypes/Reagents/narcotics.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add prayer logs (#13362)
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared.Database/LogType.cs
Labels: none

Minor artifact fixes (#13360)
  Content.Server/Construction/AnchorableSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/PhasingArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PhasingArtifactSystem.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Optimise spreadersystem (#13329)
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Kudzu/SpreaderSystem.cs
Labels: none

Add scream action popup message (#13429)
  Content.Server/Speech/VocalSystem.cs
  Resources/Locale/en-US/actions/actions/vocal.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

TTS Fix [Part 2] (#726)
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Humanoid/SharedHumanoidSystem.cs
Labels: none

TTS Fix [Part 2] (#726)
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Humanoid/SharedHumanoidSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none
