Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

updates supply department jumpsuits (#17506)
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/cargosoft_flipped.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft_flipped.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/cargosoft_flipped.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/cargosoft_flipped.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/cargosoft_flipped.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cargotech.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cargotech.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cargotech.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/salvage.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

buff atmos firesuits, nerf atmos hardsuits (#17507)
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Vend contraband/emag inventory expansion (#17503)
  Resources/Maps/nukieplanet.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/tacticool.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/tacticool.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/tacticool.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/tacticool.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/tacticool.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/tacticool.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

dorf (#17475)
  Resources/Locale/en-US/accent/dwarf.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

bagel test fixes (#17510)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Bagel fix (#17514)
  Content.Server/NPC/Pathfinding/GridPathfindingComponent.cs
  Resources/Maps/bagel.yml
Labels: Changes: Map

Remove chemistry from nukieplanet (#17518)
  Resources/Maps/nukieplanet.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ghost respawn bug (#17511)
  Content.IntegrationTests/Tests/Minds/MindTests.Helpers.cs
  Content.IntegrationTests/Tests/Minds/MindTests.ReconnectTests.cs
  Content.IntegrationTests/Tests/Minds/MindTests.cs
  Content.Server/GameTicking/Commands/ObserveCommand.cs
  Content.Server/GameTicking/Commands/RespawnCommand.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Players/PlayerData.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix round end window (#17512)
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Mind/MindSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix throw hotkey also focusing UI (#17493)
  Resources/keybinds.yml
Labels: none

Slight mind test cleanup (#17521)
  Content.IntegrationTests/Tests/Minds/GhostRoleTests.cs
  Content.IntegrationTests/Tests/Minds/MindEntityDeletionTest.cs
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
  Content.IntegrationTests/Tests/Minds/MindTests.Helpers.cs
  Content.IntegrationTests/Tests/Minds/MindTests.ReconnectTests.cs
  Content.IntegrationTests/Tests/Minds/MindTests.cs
  Content.Server/Mind/MindSystem.cs
Labels: none

Bleed Tweaks (#17528)
  Content.Server/Body/Components/BloodstreamComponent.cs
Labels: none

remove armor from uniforms (#17523)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

Cleans up warnings in disposals (#17419)
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Disposal/Mailing/MailingUnitSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalEntryComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTaggerComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Tube/GetDisposalsConnectableDirectionsEvent.cs
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Shared/Disposal/MailingUnitBoundUserInterfaceState.cs
  Content.Shared/Disposal/MailingUnitUiMessages.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

some more netsync: false removing (#17472)
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: none

secure windoor id standartization (#17531)
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/migration.yml
Labels: none

marathon update (#17534)
  Resources/Maps/marathon.yml
Labels: Changes: Map

meta update (#17535)
  Resources/Maps/meta.yml
Labels: Changes: Map

bagel update (#17537)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Omega (#17539)
  Resources/Maps/omega.yml
Labels: Changes: Map

animals.yml pets.yml cleaning (#17533)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

modify medkit fill (#17527)
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add missing border colors on PDAs (#17541)
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Research console auto syncing (#17540)
  Content.Server/Research/Systems/ResearchSystem.Console.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Try fix random TestGhostToAghost test failures (#17546)
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
  Content.IntegrationTests/Tests/Minds/MindTests.Helpers.cs
Labels: none

Energy Shield (#16996)
  Content.Server/Item/ItemToggleSystem.cs
  Content.Server/Weapons/Reflect/ReflectSystem.cs
  Content.Shared/Item/ItemToggleComponent.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-icon.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-on.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/inhand-left-shield.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/inhand-right-shield.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cargo Bounties (#17344)
  Content.Client/Cargo/BUI/CargoBountyConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/BountyEntry.xaml
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoBountyMenu.xaml
  Content.Client/Cargo/UI/CargoBountyMenu.xaml.cs
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.Server/Cargo/Components/CargoBountyLabelComponent.cs
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Content.Shared/Cargo/Components/CargoBountyConsoleComponent.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Content.Shared/Cargo/SharedCargoSystem.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Cargo/CargoBounties.xml
  Resources/Textures/Structures/Machines/computers.rsi/bounty.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Some more tts sanitize (#1136)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
