Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Lighthouse Station (#8650)
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

Don't consider power for docking (#9054)
  Content.Server/Shuttles/Systems/DockingSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Displaying of player characters in the round end statistics (#9006)
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Server/Administration/Commands/ThrowScoreboardCommand.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/administration/commands/throw-scoreboard-command.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Projectile spells + fireball spell (#9058)
  Content.Server/Magic/Events/ProjectileSpellEvent.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Resources/Audio/Magic/fireball.ogg
  Resources/Audio/Magic/licenses.txt
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Textures/Objects/Magic/magicactions.rsi/fireball.png
  Resources/Textures/Objects/Magic/magicactions.rsi/gib.png
  Resources/Textures/Objects/Magic/magicactions.rsi/magicmissile.png
  Resources/Textures/Objects/Magic/magicactions.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/arcane_barrage.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/blastwave.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/bluespace.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/chronobolt.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/cryoshot.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/declone.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/energy.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/energy2.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/energy3.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/fireball.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/ice.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/infernoshot.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/magicm.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/spell.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/magic.rsi/spellcard.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ghost radios and colours (#9064)
  Content.Server/Ghost/Components/GhostRadioComponent.cs
  Resources/Prototypes/radio_channels.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Lighthouse Playable (#9067)
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map

Head specific headsets (#9069)
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nerf L6 (#9063)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Greytide Not So Worldwide (passenger specific headset) (#9073)
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: none

Convert AME Visualizers (#9037)
  Content.Client/AME/AMEControllerVisualizerSystem.cs
  Content.Client/AME/AMEShieldingVisualizerSystem.cs
  Content.Client/AME/Components/AMEControllerVisualsComponent.cs
  Content.Client/AME/Components/AMEShieldingVisualsComponent.cs
  Content.Client/AME/Visualizers/AMEControllerVisualizer.cs
  Content.Client/AME/Visualizers/AMEVisualizer.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
Labels: none

Unlocalized reagents localization (#9041)
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Changes: Localization

Команда adminwho не требует прав (#276)
  Content.Server/Administration/Commands/AdminWhoCommand.cs
Labels: none

Команда adminwho не требует прав (#276)
  Content.Server/Administration/Commands/AdminWhoCommand.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Cleans up the appearance and ambience of various atmos devices. (#9071)
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

EI NATH (#9060)
  Content.Server/Magic/Events/SmiteSpellEvent.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Body/Components/SharedBodyPartComponent.cs
  Resources/Audio/Magic/disintegrate.ogg
  Resources/Audio/Magic/licenses.txt
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Magic/smite_spells.yml
Labels: Changes: Localization

Node network bug (#9039)
  Content.Server/AME/AMENodeGroup.cs
  Content.Server/NodeContainer/NodeGroups/BaseNodeGroup.cs
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
  Content.Server/Power/NodeGroups/ApcNet.cs
Labels: none

Fix chat bubbles in low resolution (reported by Beridot) (#8997)
  Content.Client/Chat/UI/SpeechBubble.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add workflow to remove statuses after approve
  .github/workflows/labeler-approve.yml
Labels: none

Add workflow to remove statuses after approve
  .github/workflows/labeler-approve.yml
Labels: none

Stop labeling draft PRs with merge conflicts (#9089)
  .github/workflows/conflict-labeler.yml
Labels: none

Fix disposal unit endless pressurizing (#9086)
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fire Axe [New syndie item] (#9088)
  Content.Server/Atmos/Components/IgniteOnMeleeHitComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Убрать доступ к техам у пассажиров (#269)
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: none

Убрать доступ к техам у пассажиров (#269)
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: none

Адаптация акцента крысиного короля (#274)
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
Labels: none

Адаптация акцента крысиного короля (#274)
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
