Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revenants no longer cause the object to emag itself (#19199)
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
Labels: none

Hotfix entitystorage (#19206)
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add binary radio to the various bots (#19203)
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

binary channel for sentient vendomats (#19212)
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

Add fingerless insulated gloves (#19111)
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/meta.json
Labels: Changes: Sprites

Rework salvage crate loot (#19215)
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nert part creation (#19216)
  Resources/Prototypes/Recipes/Lathes/Parts.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Merge pull request #19223
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Resources/Locale/en-US/round-end/round-end-summary-window.ftl
Labels: Changes: Localization

Merge pull request #19226
  Resources/Prototypes/Recipes/Lathes/Parts.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cartons.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/kitchen/foodcarts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/tiles/chasm.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/pai/pai-system.ftl
  Resources/Locale/ru-RU/portal/portal.ftl
  Resources/Locale/ru-RU/radio/radio-event.ftl
  Resources/Locale/ru-RU/round-end/round-end-summary-window.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/kitchen/foodcarts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/chasm.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cartons.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/kitchen/foodcarts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/tiles/chasm.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/pai/pai-system.ftl
  Resources/Locale/ru-RU/portal/portal.ftl
  Resources/Locale/ru-RU/radio/radio-event.ftl
  Resources/Locale/ru-RU/round-end/round-end-summary-window.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/kitchen/foodcarts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/chasm.ftl
Labels: Changes: Localization

Fix moth speech bubble
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth3.png
Labels: Changes: Sprites

Fix moth speech bubble
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth3.png
Labels: Changes: Sprites

Update restart eta announcement
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
Labels: Changes: Localization

Update restart eta announcement
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
Labels: Changes: Localization

box update (#19232)
  Resources/Maps/box.yml
Labels: Changes: Map

meta update (#19234)
  Resources/Maps/meta.yml
Labels: Changes: Map

packed update (#19235)
  Resources/Maps/packed.yml
Labels: Changes: Map

omega update (#19236)
  Resources/Maps/omega.yml
Labels: Changes: Map

8 -> 5 (#19231)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

laser costs (#19228)
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

new machine frame sprites (#19211)
  Resources/Textures/Structures/Machines/parts.rsi/box_0.png
  Resources/Textures/Structures/Machines/parts.rsi/box_1.png
  Resources/Textures/Structures/Machines/parts.rsi/box_2.png
  Resources/Textures/Structures/Machines/parts.rsi/destroyed.png
  Resources/Textures/Structures/Machines/parts.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed Dan's Soaked Cigs Typo (#19239)
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Resprite] Secret Door (#1342)
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
Labels: Changes: Sprites

[Resprite] Secret Door (#1342)
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

update rules for borgs (#19248)
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/Rules.txt
Labels: none

Add lathe material ejection (#19218)
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMaterialEjector.xaml
  Content.Client/Lathe/UI/LatheMaterialEjector.xaml.cs
  Content.Client/Lathe/UI/LatheMaterialsEjectionMenu.xaml
  Content.Client/Lathe/UI/LatheMaterialsEjectionMenu.xaml.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/LatheQueueMenu.xaml
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/LatheEjectMaterialMessage.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix some TEG code conventions (#19259)
  Content.Client/Power/Generation/Teg/TegSystem.cs
  Content.Server/Power/Generation/Teg/TegCirculatorComponent.cs
  Content.Server/Power/Generation/Teg/TegGeneratorComponent.cs
  Content.Server/SensorMonitoring/SensorMonitoringConsoleComponent.cs
  Resources/Maps/Test/test_teg.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: none

Fix failing tests (probably) (#19261)
  Resources/Maps/box.yml
Labels: Changes: Map

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
