Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Botany guide chemicals (#24194)
  Resources/Locale/en-US/reagents/meta/botany.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/ServerInfo/Guidebook/Service/Botany.xml
Labels: Changes: Localization

Adjust produce (#24220)
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: none

Fix salvage wreck names (#24256)
  Resources/Locale/en-US/salvage/salvage-magnet.ftl
Labels: Changes: Localization

Rework wheelchairbound (#24173)
  Content.Server/Traits/Assorted/BuckleOnMapInitComponent.cs
  Content.Server/Traits/Assorted/BuckleOnMapInitSystem.cs
  Content.Server/Traits/Assorted/WheelchairBoundComponent.cs
  Content.Server/Traits/Assorted/WheelchairBoundSystem.cs
  Resources/Prototypes/Traits/disabilities.yml
Labels: none

Make super bite burger easier to craft (#24231)
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

Change the station map dot color to cyan (#24082)
  Content.Client/Pinpointer/UI/StationMapWindow.xaml.cs
Labels: Changes: UI

Restart votes check player count and ghost levels (#23453)
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/voting/managers/vote-manager.ftl
Labels: Changes: Localization

Run fixgridatmos on trading outpost (#24264)
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add ability to put spesos into cargo console (#24263)
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Shared/Cargo/Components/CashComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added defib to Brigmed on Box (#24269)
  Resources/Maps/box.yml
Labels: Changes: Map

Moved Gemini's Brigmed defib to the inside (#24273)
  Resources/Maps/gemini.yml
Labels: Changes: Map

Added defib to Brigmed on Meta (#24271)
  Resources/Maps/meta.yml
Labels: Changes: Map

Clear cargo orders on approval (#24278)
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
Labels: none

Update Trading Outpost (#24281)
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: none

Fix gun bolt crash (#24283)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Improve light tube sprites (#24270)
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/broken.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/burned.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/empty.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/glow.png
Labels: Changes: Sprites

Actually fix carrot oculine this time (#24290)
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Can emag artifact crusher (#23957)
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactCrusherSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/ArtifactCrusherComponent.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactCrusherSystem.cs
  Resources/Locale/en-US/artifacts/artifact-crusher.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds more grindables (#24267)
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: none

Fix reagents obtained from grinding iron ore. (#24215)
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: none

Mustard, ketchup and mayonnaise now tastes distinct (#24297)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
Labels: Changes: Localization

Gate Returns + Outpost hotfix (#1784)
  Resources/Maps/corvax_outpost.yml
  Resources/Prototypes/Corvax/Entities/Effects/portal.yml
Labels: Changes: Map

Gate Returns + Outpost hotfix (#1784)
  Resources/Maps/corvax_outpost.yml
  Resources/Prototypes/Corvax/Entities/Effects/portal.yml
Labels: Changes: Map

Update Trade Station (#24295)
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: none

Update Core (#24294)
  Resources/Maps/Shuttles/cargo_core.yml
  Resources/Maps/core.yml
Labels: Changes: Map

Update Rod and Transit evacuation shuttles (#24296)
  Resources/Maps/Shuttles/emergency_rod.yml
  Resources/Maps/Shuttles/emergency_transit.yml
Labels: none

Lathe Categories (#24247)
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/RecipeTooltip.xaml.cs
  Content.Shared/Lathe/Prototypes/LatheCategoryPrototype.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Unrevivable trait (#24226)
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Traits/Assorted/UncloneableComponent.cs
  Content.Server/Traits/Assorted/UnrevivableComponent.cs
  Resources/Locale/en-US/medical/components/defibrillator.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Toolboxes (#24305)
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/Objects/Tools/Cowtools/cow_toolbox.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Cowtools/cow_toolbox.rsi/icon.png
  Resources/Textures/Objects/Tools/Cowtools/cow_toolbox.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Adds more grindables (#24267)" (#24311)
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: none

Rebalance of Lobbying bundle (#24303)
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
