Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

warden (#10071)
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map

Fixes issue with camera switching static appearing when it shouldn't be (#10067)
  Content.Client/SurveillanceCamera/SurveillanceCameraMonitorSystem.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Vampire cloak (#10073)
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Frezon (#9980)
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/IGasReactionEffect.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/FrezonCoolantReaction.cs
  Content.Server/Atmos/Reactions/FrezonProductionReaction.cs
  Content.Server/Atmos/Reactions/MiasmicSubsumationReaction.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/reagents/frezon.ftl
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Textures/Effects/atmospherics.rsi/frezon.png
  Resources/Textures/Effects/atmospherics.rsi/frezon_old.png
  Resources/Textures/Effects/atmospherics.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/frezon-1.png
  Resources/Textures/Structures/Storage/canister.rsi/frezon.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

freon fixes (#10076)
  Content.Server/Atmos/Reactions/FrezonCoolantReaction.cs
  Resources/Prototypes/Atmospherics/reactions.yml
Labels: none

Fix Saltern cvar (#10077)
  Content.Shared/CCVar/CCVars.cs
Labels: none

Cleanup species prototypes a bit (#9513)
  Content.IntegrationTests/Tests/Interaction/InRangeUnobstructed.cs
  Resources/Prototypes/Entities/Mobs/NPCs/dummy_npcs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: none

ramen description fix (#10078)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Rectifying attribution error(s). (#10090)
  Resources/Textures/Tiles/copyright.txt
Labels: none

renamed mime suit to mime jumpskirt (#9889)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

yaml linter fix & alert sprite specifier changes (#10015)
  Content.Shared/Alert/AlertPrototype.cs
  Content.Tests/Shared/Alert/AlertManagerTests.cs
  Content.Tests/Shared/Alert/AlertOrderPrototypeTests.cs
  Content.Tests/Shared/Alert/AlertPrototypeTests.cs
  Content.YAMLLinter/Program.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/magboots.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
Labels: none

Throwing event improvements (#10055)
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Throwing/BeforeThrowEvent.cs
  Content.Shared/Throwing/ThrowAttemptEvent.cs
Labels: none

missing sprites for syndi bags (#9956)
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/ammo-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/ammo-inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/ammo-inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/med-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/med-inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/med-inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix FTL exception (#10099)
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: none

Фикс перевода одежды священника (#329)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wardrobe.ftl
Labels: Changes: Localization

Фикс перевода одежды священника (#329)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wardrobe.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Don't allow nullspace FTL (#10110)
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: none

Fix identity bug (#10117)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Latejoin traitors (#9783)
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix item/clothing visual & networking bugs (#10116)
  Content.Client/Light/Components/HandheldLightComponent.cs
  Content.Client/Light/HandheldLightSystem.cs
  Content.Client/Light/Visualizers/FlashLightVisualizer.cs
  Content.IntegrationTests/Tests/DeleteInventoryTest.cs
  Content.Server/Light/Components/HandheldLightComponent.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Shared/Clothing/Components/SharedClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Light/Component/HandheldLightComponent.cs
  Content.Shared/Light/Component/SharedHandheldLightComponent.cs
  Content.Shared/Light/SharedHandheldLightSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

allow syringes in medical belts (#10113)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Move some default window positions (#10007)
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/PDA/PDABoundUserInterface.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Wires/UI/WiresBoundUserInterface.cs
Labels: none

Pulling state handling changes (#9952)
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Shared/Pulling/Components/PullableComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: none

Make miasma start being visible later (#10128)
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/Prototypes/GasPrototype.cs
  Resources/Prototypes/Atmospherics/gases.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Salvage magnet accuracy fix (#10124)
  Content.Server/Salvage/SalvageSystem.cs
  Resources/Locale/en-US/salvage/salvage-system.ftl
Labels: Changes: Localization

marathon 2.8 (#10132)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Bagel Update 14.6 (#10130)
  Resources/Maps/bagel.yml
Labels: Changes: Map

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
