Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

removes obsolete attribute
  Content.Client/Atmos/Monitor/AtmosAlarmableVisualsSystem.cs
Labels: none

Add wall mounted lockers (#10673)
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/Structures/Storage/wall_locker.rsi/door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/locked.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
  Resources/Textures/Structures/Storage/wall_locker.rsi/unlocked.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/welded.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Syndi Fireaxe Weight Nerf (#10819)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: none

Ensnaring Component and Bola Update (#9968)
  Content.Client/Ensnaring/Components/EnsnareableComponent.cs
  Content.Client/Ensnaring/Components/EnsnaringComponent.cs
  Content.Client/Ensnaring/Visualizers/EnsnareableVisualizerComponent.cs
  Content.Client/Ensnaring/Visualizers/EnsnareableVisualizerSystem.cs
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Server/Alert/Click/RemoveEnsnare.cs
  Content.Server/Ensnaring/Components/EnsnareableComponent.cs
  Content.Server/Ensnaring/Components/EnsnaringComponent.cs
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Ensnaring/EnsnareableSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayers.cs
  Content.Shared/Ensnaring/Components/SharedEnsnareableComponent.cs
  Content.Shared/Ensnaring/Components/SharedEnsnaringComponent.cs
  Content.Shared/Ensnaring/EnsnareableVisuals.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Content.Shared/Strip/Components/SharedStrippableComponent.cs
  Content.Tests/Shared/Alert/AlertOrderPrototypeTests.cs
  Resources/Locale/en-US/ensnare/ensnare-component.ftl
  Resources/Locale/en-US/strip/strippable-component.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Textures/Interface/Alerts/ensnared.rsi/ensnared.png
  Resources/Textures/Interface/Alerts/ensnared.rsi/meta.json
  Resources/Textures/Objects/Misc/ensnare.rsi/icon.png
  Resources/Textures/Objects/Misc/ensnare.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Kill tests when can't make test pair (#10861)
  Content.IntegrationTests/PoolManager.cs
Labels: none

Add Wallmount substation to printer (#9977)
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Load grid error related changes (#10817)
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/engineCommandPerms.yml
Labels: none

Partial kudzu fix (#10854)
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Movement/Components/SlowContactsComponent.cs
  Content.Shared/Movement/Components/SlowedByContactComponent.cs
  Content.Shared/Movement/Components/SlowsOnContactComponent.cs
  Content.Shared/Movement/Systems/SlowContactsSystem.cs
Labels: none

Cig 1984 (#10863)
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
Labels: none

Fix guardian error (#10857)
  Content.Server/Guardian/GuardianSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix two grafana errors (#10858)
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

give boxing gloves fist arc (#10856)
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

store system prototype modification oversight (#10801)
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Shared/Store/ListingPrototype.cs
Labels: none

Important fix for table climbing (#10803)
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/trayhit1.ogg
  Resources/Audio/Items/trayhit2.ogg
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/SoundCollections/tray.yml
Labels: none

wield popup fix (#10855)
  Content.Server/Wieldable/WieldableSystem.cs
  Resources/Locale/en-US/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix typing indicator input validation. (#10818)
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Server/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingChangedEvent.cs
Labels: none

Remove all but 1 IsIncapacitated (#10661)
  Content.Client/Pointing/PointingSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Shared/Interaction/RotateToFaceSystem.cs
Labels: none

Remove Ratatouille (#10859)
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cleanup pAI synth instrument in soundfont (#10836)
  Resources/Audio/MidiCustom/space-station-14.sf2
Labels: none

Fix disposal pipe visuals (#10873)
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
Labels: none

Update YamlDotNet (#10052)
  Content.Tools/Content.Tools.csproj
Labels: none

Add sandbox test (#10767)
  Content.IntegrationTests/Tests/Utility/SandboxTest.cs
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Перевод Upstream #373 (#374)
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/botparts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Перевод Upstream #373 (#374)
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/botparts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

removed several unused maps from files (#10880)
  Resources/Maps/atlas.yml
  Resources/Maps/packedstationxmas.yml
  Resources/Maps/ssreach.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Maps/holiday.yml
Labels: Changes: Map

Fix nonlethals crate entry showing taser in Cargo console (#10844)
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none
