Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Eye opening/closing is now possible while cuffed (#24097)
  Resources/Prototypes/Actions/types.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nerf lava firestacks (#24100)
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cryogenic Sleep Units (#24096)
  Content.Client/Bed/Cryostorage/CryostorageBoundUserInterface.cs
  Content.Client/Bed/Cryostorage/CryostorageEntryControl.xaml
  Content.Client/Bed/Cryostorage/CryostorageEntryControl.xaml.cs
  Content.Client/Bed/Cryostorage/CryostorageMenu.xaml
  Content.Client/Bed/Cryostorage/CryostorageMenu.xaml.cs
  Content.Client/Bed/Cryostorage/CryostorageSlotControl.xaml
  Content.Client/Bed/Cryostorage/CryostorageSlotControl.xaml.cs
  Content.Client/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Spawners/Components/ContainerSpawnPointComponent.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/Station/Components/StationJobsComponent.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Bed/Cryostorage/CryostorageComponent.cs
  Content.Shared/Bed/Cryostorage/CryostorageContainedComponent.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Containers/DragInsertContainerComponent.cs
  Content.Shared/Containers/DragInsertContainerSystem.cs
  Content.Shared/Containers/ExitContainerOnMoveComponent.cs
  Content.Shared/Containers/ExitContainerOnMoveSystem.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Resources/Locale/en-US/containers/containers.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Locale/en-US/round-end/cryostorage.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Textures/Structures/cryostorage.rsi/meta.json
  Resources/Textures/Structures/cryostorage.rsi/sleeper_0.png
  Resources/Textures/Structures/cryostorage.rsi/sleeper_1.png
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Action, Action Container, and Action Upgrade changes (#24005)
  Content.Server/Commands/ActionCommands.cs
  Content.Shared/Actions/ActionContainerSystem.cs
  Content.Shared/Actions/ActionUpgradeComponent.cs
  Content.Shared/Actions/ActionUpgradeSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: none

fix medhud bounds with 64x64 inhands (#24102)
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

aspid update (#24103)
  Resources/Maps/aspid.yml
Labels: Changes: Map

bagel update (#24104)
  Resources/Maps/bagel.yml
Labels: Changes: Map

box update (#24105)
  Resources/Maps/box.yml
Labels: Changes: Map

centcomm update (#24107)
  Resources/Maps/centcomm.yml
Labels: Changes: Map

cluster update (#24108)
  Resources/Maps/cluster.yml
Labels: Changes: Map

gemini update (#24110)
  Resources/Maps/gemini.yml
Labels: Changes: Map

marathon update (#24111)
  Resources/Maps/marathon.yml
Labels: Changes: Map

meta update (#24112)
  Resources/Maps/meta.yml
Labels: Changes: Map

omega update (#24113)
  Resources/Maps/omega.yml
Labels: Changes: Map

packed update (#24114)
  Resources/Maps/packed.yml
Labels: Changes: Map

reach update (#24115)
  Resources/Maps/reach.yml
Labels: Changes: Map

Fixes the eye protection requirement of welding tools being inverted (#24106)
  Content.Server/Eye/Blinding/EyeProtection/EyeProtectionSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Reduces stimpack price to 4 TC (#24117)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Readd core cargo shuttle (#24118)
  Resources/Maps/Shuttles/cargo_core.yml
  Resources/Prototypes/Maps/core.yml
Labels: Changes: Map

Update Core (#24121)
  Resources/Maps/core.yml
Labels: Changes: Map

Construction Blast door (#24050)
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/blast_door.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Tropico pet added to thief objective pool (#24119)
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: none

Outpost Update (#1766)
  Resources/Maps/corvax_outpost.yml
Labels: Changes: Map

Outpost Update (#1766)
  Resources/Maps/corvax_outpost.yml
Labels: Changes: Map

add spray paint prototype
  Resources/Audio/Adventure/Items/attributions.yml
  Resources/Audio/Adventure/Items/spray_paint.ogg
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Adventure/Entities/Objects/spray_paint.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Textures/Adventure/spray_paint.rsi/icon.png
  Resources/Textures/Adventure/spray_paint.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

add spray paint prototype
  Resources/Audio/Adventure/Items/attributions.yml
  Resources/Audio/Adventure/Items/spray_paint.ogg
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Adventure/Entities/Objects/spray_paint.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Textures/Adventure/spray_paint.rsi/icon.png
  Resources/Textures/Adventure/spray_paint.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

fix damage type for arachnid melee (#24137)
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Labels: none

fix cryo bed dragging (#24125)
  Content.Shared/Containers/DragInsertContainerSystem.cs
Labels: none

atlas cryosleep (#24126)
  Resources/Maps/atlas.yml
Labels: Changes: Map

saltern cryosleep (#24127)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Flatcaps (#24134)
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/brownflatcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/brownflatcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/brownflatcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/brownflatcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/brownflatcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/greyflatcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/greyflatcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/greyflatcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/greyflatcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/greyflatcap.rsi/meta.json
Labels: Changes: Sprites

Cossack Visual Change (#24129)
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cossack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cossack.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cossack.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cossack.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cossack.rsi/meta.json
Labels: Changes: Sprites

more objective logging + maybe fix the no objective bug (#24139)
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: none

Reinforced glass reacting fix (#24135)
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: none
