Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Make some items goodlooking in inventory (rotate) (#22935)
  Resources/Prototypes/Entities/Clothing/Eyes/base_clothingeyes.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: none

exterminator midround minor antag (#19946)
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Destructible/Thresholds/Behaviors/PopupBehavior.cs
  Content.Server/Objectives/Components/TerminatorTargetOverrideComponent.cs
  Content.Server/Objectives/Systems/TerminatorTargetOverrideSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Server/Roles/TerminatorRoleComponent.cs
  Content.Server/Terminator/Components/TerminatorComponent.cs
  Content.Server/Terminator/Components/TerminatorTargetComponent.cs
  Content.Server/Terminator/Systems/TerminatorSystem.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/game-ticking/game-rules/rule-terminator.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/objectives/conditions/terminate.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Body/Parts/terminator.yml
  Resources/Prototypes/Body/Prototypes/terminator.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/Objectives/terminator.yml
  Resources/Prototypes/Roles/Antags/terminator.yml
  Resources/Prototypes/Species/terminator.yml
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/skull_icon.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: Localization

Thief pacifist (#22932)
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/GameTicking/Rules/Components/ThiefRuleComponent.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
Labels: none

Make some prototypes use frozen collections (#22576)
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/Commands/DumpReagentGuideText.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: none

Fix closet skeletons spawning in nullspace (#22942)
  Content.Server/StationEvents/Components/RandomEntityStorageSpawnRuleComponent.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
Labels: none

Revert "Add YAML gas reactions (#22803)" (#22939)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/GenericGasReactionSystem.cs
  Content.Server/Atmos/Reactions/AmmoniaOxygenReaction.cs
  Content.Server/Atmos/Reactions/FrezonCoolantReaction.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/Atmos/Reactions/N2ODecompositionReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Atmospherics/reactions.yml
Labels: none

give plasma half of co2 air alarm threshold (#22938)
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none

Automatic holiday sprites (#22929)
  Content.Client/Holiday/HolidayRsiSwapComponent.cs
  Content.Client/Holiday/HolidaySystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Holiday/HolidaySystem.cs
  Content.Server/Holiday/HolidayVisualsComponent.cs
  Content.Shared/Holiday/HolidayVisuals.cs
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/throwing_stars.yml
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nukefestive.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/christmaslamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/christmaslamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/c4gift.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/c4gift.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Bombs/c4gift.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Bombs/c4gift.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/c4gift.rsi/primed.png
  Resources/Textures/Objects/Weapons/Throwable/throwing_star.rsi/festive.png
  Resources/Textures/Objects/Weapons/Throwable/throwing_star.rsi/meta.json
  Resources/Textures/Structures/Decoration/fireplace.rsi/fireplacefestive.png
  Resources/Textures/Structures/Decoration/fireplace.rsi/meta.json
Labels: Changes: Sprites

add round time to the ahelp relay (#22937)
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: none

Make cargo arbitrage test ignore gambling crate (#22943)
  Content.IntegrationTests/Tests/CargoTest.cs
Labels: none

Fix pulling mispredicts (#22941)
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Hands/SharedHandVirtualItemSystem.cs
  Content.Shared/Pulling/Components/PullableComponent.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
Labels: none

Add sprite movement states (#22940)
  Content.Client/Movement/Systems/SpriteMovementSystem.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Components/SpriteMovementComponent.cs
  Content.Shared/Movement/Events/MoveInputEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Textures/Mobs/Silicon/chassis.rsi/janitor.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/janitor_moving.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/medical.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/medical_moving.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/miner.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/miner_moving.png
Labels: Changes: Sprites

Atmos crab pet: Tropico! (#22773)
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Localization

change the restart vote to have no effect with admins online (#22945)
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

centcomm update (#22944)
  Resources/Maps/centcomm.yml
Labels: Changes: Map

nukieplanet update (#22946)
  Resources/Maps/nukieplanet.yml
Labels: Changes: Map

reduce nuke required floor radius variable (#22947)
  Content.Server/Nuke/NukeComponent.cs
Labels: none

bagel update (#22948)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Adds gingerbread men to the game (#22927)
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/Body/Prototypes/gingerbread.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Gingerbread/parts.rsi/torso_m.png
Labels: Changes: Sprites

Thief description & grammar fixes (#22951)
  Resources/Locale/en-US/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/en-US/objectives/conditions/steal.ftl
  Resources/Locale/en-US/thief/backpack.ftl
Labels: Changes: Localization

Botany yaml fixing (#22865)
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
Labels: none

Fix multi-ghosts (#22964)
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Mind/MindSystem.cs
Labels: none

Removed senior roles from job supervisor locales (#22972)
  Resources/Locale/en-US/job/job-supervisors.ftl
Labels: Changes: Localization

Move corvax datasets to corvax folder (#1680)
  Resources/Prototypes/Corvax/Datasets/Names/vulp_first_female.yml
  Resources/Prototypes/Corvax/Datasets/Names/vulp_first_male.yml
  Resources/Prototypes/Corvax/Datasets/Names/vulp_last.yml
Labels: none

Move corvax datasets to corvax folder (#1680)
  Resources/Prototypes/Corvax/Datasets/Names/vulp_first_female.yml
  Resources/Prototypes/Corvax/Datasets/Names/vulp_first_male.yml
  Resources/Prototypes/Corvax/Datasets/Names/vulp_last.yml
Labels: none

Optimize artifact analyzer UI state sending (#22949)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleBoundUserInterface.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
Labels: Changes: UI

Make thieves not pacifist (#1682)
  Content.Server/GameTicking/Rules/Components/ThiefRuleComponent.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

Make thieves not pacifist (#1682)
  Content.Server/GameTicking/Rules/Components/ThiefRuleComponent.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: none

Change looc prefix (#1676)
  Content.Shared/Chat/SharedChatSystem.cs
Labels: none

Change looc prefix (#1676)
  Content.Shared/Chat/SharedChatSystem.cs
Labels: none

fixed the sulfacid issue, made some more chems use the industrial chems (#22981)
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/cleaning.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: none

Add chaplain stoles (#22955)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Clothing/Neck/stoles.yml
  Resources/Textures/Clothing/Neck/Stoles/chaplain.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Stoles/chaplain.rsi/icon.png
  Resources/Textures/Clothing/Neck/Stoles/chaplain.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Stoles/chaplain.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Stoles/chaplain.rsi/meta.json
Labels: Changes: Sprites

фикс апстрима
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

фикс апстрима
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

фикс апстрима
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

fix the mothroach crate saying it contains six mothroaches instead of four (#22968)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/livestock-crates.ftl
Labels: Changes: Localization

Fix potted plants going over doors (#22869)
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
Labels: none

Fix tts
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

Fix tts
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

Fix tts
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
