Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Role bans (#6703)
  Content.Server.Database/Migrations/Postgres/20220214061058_RoleBans.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220214061058_RoleBans.cs
  Content.Server.Database/Migrations/Sqlite/20220214060745_RoleBans.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220214060745_RoleBans.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server.Database/ModelPostgres.cs
  Content.Server.Database/ModelSqlite.cs
  Content.Server/Administration/Commands/JobBanCommand.cs
  Content.Server/Administration/Commands/RoleBanListCommand.cs
  Content.Server/Administration/Managers/RoleBanManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Server/Database/ServerRoleBanDef.cs
  Content.Server/Database/ServerRoleUnbanDef.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.JobController.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/IoC/ServerContentIoC.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Syndicate Infiltrator (#6810)
  Resources/Maps/infiltrator.yml
Labels: Changes: Map

Addsss GhostTakeover to xenossss and givessss them an accent (#6846)
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/accents.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Prevent players from late joining as role banned jobs (#6853)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Role ban improvements (#6855)
  Content.Server.Database/Model.cs
  Content.Server/Administration/Commands/RoleBanListCommand.cs
  Content.Server/Administration/Commands/RoleUnbanCommand.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
Labels: none

Fix two interaction obstruction checks (#6793)
  Content.Server/RCD/Systems/RCDSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
Labels: none

adds prying tool quality to fireaxe (#6844)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: none

Quick box size + capacity fix (no more boxed hardsuits) (#6843)
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Boxes/science.yml
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Objects/Misc/box.yml
Labels: none

Door collision fixes (#6836)
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: none

Add buildable plastic flaps (#6583)
  Content.Shared/Climbing/SharedClimbingComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/plastic_flaps.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/plastic_flaps.rsi/meta.json
  Resources/Textures/Structures/plastic_flaps.rsi/plasticflaps.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

More feedback for emag recharging (#6835)
  Content.Shared/Emag/Systems/SharedEmagSystem.cs
  Resources/Locale/en-US/emag/emag.ftl
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove "join public server" button. (#6839)
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Content.Client/MainMenu/UI/MainMenuControl.xaml.cs
Labels: Changes: UI

new holiday (#6862)
  Resources/Prototypes/holidays.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove reference to missing JoinPublicServerButton (#6863)
  Content.Client/MainMenu/MainMenu.cs
Labels: none

Thermomachine UI (#6833)
  Content.Client/Atmos/UI/GasThermomachineBoundUserInterface.cs
  Content.Client/Atmos/UI/GasThermomachineWindow.xaml
  Content.Client/Atmos/UI/GasThermomachineWindow.xaml.cs
  Content.Server/Atmos/Piping/Unary/Components/GasThermoMachineComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedGasThermomachineComponent.cs
  Resources/Locale/en-US/components/gas-thermomachine-component.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

nowarn virtual analyzer for migrations
  Content.Server.Database/Content.Server.Database.csproj
Labels: none

Fix interact using sometimes having target==used (#6847)
  Content.Shared/Interaction/IInteractUsing.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: none

Remove reverse dixel from Clown (#6842)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

Change mandella to not beep loudly on mag empty (#6858)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: none

Furniture dragging and climbing (#6860)
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Storage/storage.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Extra mapping assets (#6854)
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
Labels: none

Remove drone AA (#6652)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Walls/base_structurewalls.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Move Rename infiltrator to infiltrator origin
  Resources/Maps/infiltrator_orig.yml
  Resources/Prototypes/Maps/game.yml
Labels: Changes: Map

Move Rename infiltrator to infiltrator origin
  Resources/Maps/infiltrator_orig.yml
  Resources/Prototypes/Maps/game.yml
Labels: Changes: Map

Map renderer decal painter (#6754)
  Content.MapRenderer/Painters/DecalData.cs
  Content.MapRenderer/Painters/DecalPainter.cs
  Content.MapRenderer/Painters/EntityPainter.cs
  Content.MapRenderer/Painters/GridPainter.cs
Labels: none

Bagel Update 11 (#6838)
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: Map

Possums and Raccoons and Ferrets, Oh My! (#6808)
  Content.Server/Interaction/InteractionPopupSystem.cs
  Resources/Audio/Animals/cat_hiss.ogg
  Resources/Audio/Animals/ferret_happy.ogg
  Resources/Audio/Animals/license.txt
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Mobs/Animals/possum.rsi/meta.json
  Resources/Textures/Mobs/Animals/possum.rsi/possum.png
  Resources/Textures/Mobs/Animals/possum.rsi/possum_dead.png
  Resources/Textures/Mobs/Animals/raccoon.rsi/meta.json
  Resources/Textures/Mobs/Animals/raccoon.rsi/raccoon.png
  Resources/Textures/Mobs/Animals/raccoon.rsi/raccoon_dead.png
  Resources/Textures/Mobs/Pets/ferret.rsi/ferret.png
  Resources/Textures/Mobs/Pets/ferret.rsi/ferret_dead.png
  Resources/Textures/Mobs/Pets/ferret.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add airtight flaps for mapping (#6875)
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: none

Turn SandboxManager into a system (#6867)
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Sandbox/ISandboxManager.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/Rules/SandboxRuleSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Content.Server/Sandbox/ISandboxManager.cs
  Content.Server/Sandbox/SandboxSystem.cs
  Content.Shared/Sandbox/SharedSandboxManager.cs
  Content.Shared/Sandbox/SharedSandboxSystem.cs
Labels: Changes: UI
