Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[SFX] Jester shoes now jingle. Sounds by GentleJester#8754 (#15457)
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/jesterstep1.ogg
  Resources/Audio/Effects/Footsteps/jesterstep2.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
Labels: none

[Sci] Non-destructive XenoArch Research (#15398)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleBoundUserInterface.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisDestroyWindow.xaml
  Content.Client/Xenoarchaeology/Ui/AnalysisDestroyWindow.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/SuppressArtifactContainerSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Fix?] Chameleon mimics hardsuit helmets (#15386)
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Antag] Lone Ops (#14647)
  Content.Server/GameTicking/Rules/Configurations/NukeopsRuleConfiguration.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/StationEvents/Events/LoneOpsSpawn.cs
  Resources/Maps/Shuttles/striker.yml
  Resources/Prototypes/Datasets/Names/syndicate.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add climb & slip tests (#15459)
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/Climbing/ClimbingTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Movement/ClimbUnitTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Constants.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/Interaction/MovementTest.cs
  Content.IntegrationTests/Tests/Slipping/SlippingTest.cs
  Content.IntegrationTests/Tests/Tiles/TileConstructionTests.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
Labels: none

Fix not being to take ghost role for rat king spawners (#15473)
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: none

Fix admin note updates duplicating visually across all open note windows (#15471)
  Content.Server/Administration/Notes/AdminNotesEui.cs
  Content.Server/Administration/Notes/AdminNotesExtensions.cs
  Content.Server/Administration/Notes/AdminNotesManager.cs
  Content.Server/Administration/Notes/IAdminNotesManager.cs
  Content.Shared/Administration/Notes/SharedAdminNote.cs
Labels: none

Security boots new sound (#14926)
  Resources/Audio/Effects/Footsteps/suitstep1.ogg
  Resources/Audio/Effects/Footsteps/suitstep2.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add fax admin panel (#15215)
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Fax/AdminUI/AdminFaxEui.cs
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml.cs
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Fax/UI/FaxWindow.xaml.cs
  Content.Server/Administration/Commands/FaxUiCommand.cs
  Content.Server/Fax/AdminUI/AdminFaxEui.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/Fax/AdminFaxEui.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/fax/fax-admin.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix drinking and eating with a mask on (#15468)
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[fix] lone ops fix (#15478)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/StationEvents/Events/LoneOpsSpawn.cs
  Resources/Maps/Shuttles/striker.yml
  Resources/Prototypes/GameRules/events.yml
Labels: none

[map] cluster minor update and tweaks (#15479)
  Resources/Maps/cluster.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[RND] Research magboots (#15485)
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Fix] ERT Gear Fix (#15488)
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[fix] prevent removing battery from suit (#15491)
  Content.Shared/Ninja/Systems/NinjaSuitSystem.cs
Labels: none

[Map] Cluster bridge door access fix (#15497)
  Resources/Maps/cluster.yml
Labels: Changes: Map

[Fix] Gun safe, not a shotgun safe (#15495)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: none

[Fix] move ninja objectives into NinjaRole (#15490)
  Content.Server/Ninja/NinjaRole.cs
  Content.Server/Ninja/Systems/NinjaGlovesSystem.cs
  Content.Server/Ninja/Systems/NinjaSystem.cs
  Content.Server/Ninja/Systems/SpiderChargeSystem.cs
  Content.Server/Objectives/Conditions/DoorjackCondition.cs
  Content.Server/Objectives/Conditions/DownloadCondition.cs
  Content.Server/Objectives/Conditions/SpiderChargeCondition.cs
  Content.Server/Objectives/Conditions/SurviveCondition.cs
  Content.Server/Objectives/Conditions/TerrorCondition.cs
  Content.Server/Objectives/Requirements/NinjaRequirement.cs
  Content.Server/Traitor/TraitorRole.cs
  Content.Shared/Ninja/Components/NinjaComponent.cs
  Content.Shared/Ninja/Systems/NinjaGlovesSystem.cs
  Content.Shared/Ninja/Systems/NinjaSystem.cs
  Resources/Prototypes/Objectives/ninjaObjectives.yml
Labels: none

[Fix] ninja hotfix (#15489)
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Sprite] Brigmed hardsuit sprite stylization (#15461)
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/inhand-right.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Syringe changes. (#14441)
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
Labels: none

experimental welder fuel regeneration (#15475)
  Content.Server/Chemistry/Components/SolutionRegenerationComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionRegenerationSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Tweak] adds SolutionRegeneration component to parent sink at 1u per second (#15514)
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Changelog Fix for syringes (#15517)
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
