Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

[Tweak] Remove some confusing words from archaic. (#18393)
  Resources/Locale/en-US/accent/archaic.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: Localization

Improve implanter descriptions (#18403)
  Content.Client/Implants/UI/ImplanterStatusControl.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add pockets to hazard vests (#18394)
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Retexture of weapons in the hands of the character Part 2 (#18365)
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/suppressor.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

convert News read tab to PDA Cartridge (#18368)
  Content.Client/CartridgeLoader/Cartridges/NewsReadUi.cs
  Content.Client/CartridgeLoader/Cartridges/NewsReadUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/NewsReadUiFragment.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/NotekeeperUiFragment.xaml
  Content.Client/MassMedia/Ui/NewsReadBoundUserInterface.cs
  Content.Client/MassMedia/Ui/NewsReadMenu.xaml
  Content.Client/MassMedia/Ui/NewsReadMenu.xaml.cs
  Content.Client/MassMedia/Ui/NewsWriteBoundUserInterface.cs
  Content.Client/MassMedia/Ui/NewsWriteMenu.xaml.cs
  Content.Client/PDA/PdaBoundUserInterface.cs
  Content.Client/PDA/PdaMenu.xaml
  Content.Server/CartridgeLoader/Cartridges/NewsReadCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/NotekeeperCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/NotekeeperCartridgeSystem.cs
  Content.Server/MassMedia/Components/NewsReadComponent.cs
  Content.Server/MassMedia/Components/NewsWriteComponent.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/NewsReadUiMessageEvent.cs
  Content.Shared/CartridgeLoader/Cartridges/NewsReadUiState.cs
  Content.Shared/CartridgeLoader/Cartridges/NotekeeperUiMessageEvent.cs
  Content.Shared/MassMedia/Components/SharedNewsReadComponent.cs
  Content.Shared/MassMedia/Components/SharedNewsWriteComponent.cs
  Content.Shared/PDA/PdaMessagesUi.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/mass-media/news-ui.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Textures/Interface/Misc/program_icons.rsi/meta.json
  Resources/Textures/Interface/Misc/program_icons.rsi/news_read.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

firesuits/jugsuits buff (#18407)
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: none

Remove straps from wt550 sprite
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/equipped-BACKPACK.png
Labels: Changes: Sprites

Remove straps from wt550 sprite
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/equipped-BACKPACK.png
Labels: Changes: Sprites

Correct Largo description
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
Labels: none

Correct Largo description
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/accent/archaic.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/accent/archaic.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
Labels: Changes: Localization

Replace captain cap (#1233)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Replace captain cap (#1233)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

[Resprite] Atmospheric backpacks (#1235)
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/meta.json
Labels: Changes: Sprites

[Resprite] Atmospheric backpacks (#1235)
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Tweak] LawDrobe for IAA (#1223)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

[Tweak] LawDrobe for IAA (#1223)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Move Corvax/Catalog/Datasets/Names/military.yml to Corvax/Datasets/Names/military.yml (#1228)
  Resources/Prototypes/Corvax/Datasets/Names/military.yml
Labels: none

Move Corvax/Catalog/Datasets/Names/military.yml to Corvax/Datasets/Names/military.yml (#1228)
  Resources/Prototypes/Corvax/Datasets/Names/military.yml
Labels: none

Add time info to role required time comments (#1231)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Add time info to role required time comments (#1231)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: none

Revert "New tabletop RPG rulebook (#1008)" (#1236)
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/rulebook.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_stationsagents.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Revert "New tabletop RPG rulebook (#1008)" (#1236)
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/rulebook.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_stationsagents.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Plunger is now a hat (#18410)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/plunger.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Specific/Janitorial/plunger.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/plunger.rsi/plunger-inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/plunger.rsi/plunger-inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/plunger.rsi/plunger.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Upstream #1229 (#1234)
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
Labels: Changes: Localization

Translate Upstream #1229 (#1234)
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
Labels: Changes: Localization

Add logs for research (#18388)
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Server/Research/Systems/ResearchSystem.cs
Labels: none

clean champagne from cyrillic letter (#18412)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: none

Syndicate Sniper bundle change and rework of the anti-material ammo box (#18414)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/base-b.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/magb-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization
