Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Make BaseMedicalPDA abstract (#26567)
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

Fix GasMixers/Filters not working (#26568)
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/NodeContainer/EntitySystems/NodeContainerSystem.cs
Labels: none

Industrial Reagent Grinder Hotfix (#26571)
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: none

Give stores the ability to check for owner only (#26573)
  Content.Server/Store/Components/StoreComponent.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Resources/Locale/en-US/store/store.ftl
Labels: Changes: Localization

Fix round start crash (causing instant restart) (#26579)
  Content.Shared/Objectives/Systems/SharedObjectivesSystem.cs
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: none

Fix initial infected icon hiding (#26585)
  Content.Client/Zombies/ZombieSystem.cs
Labels: none

Fix Meta evac shuttle name (#26587)
  Resources/Maps/Shuttles/emergency_meta.yml
Labels: none

Make timer ignore client predict setting (#26554)
  Content.Client/TextScreen/TextScreenSystem.cs
Labels: none

Make advertise system survive no map inits (#26553)
  Content.Server/Advertise/EntitySystems/AdvertiseSystem.cs
Labels: none

Fix fox spawn on reach (#26584)
  Resources/Maps/reach.yml
Labels: Changes: Map

Removes SCAF armor (#26566)
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Head/Helmets/scaf.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/scaf.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/scaf.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/scaf.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/scaf.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/scaf.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/scaf.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/scaf.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/scaf.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/scaf.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

Update Patrons.yml (#26578)
  Resources/Credits/Patrons.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make aghost command work on other players using optional argument (#26546)
  Content.Server/Administration/Commands/AGhost.cs
  Resources/Locale/en-US/administration/commands/aghost.ftl
  Resources/Locale/en-US/shell.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Admin.yml
Labels: none

Add new component to Make sound on interact (#26523)
  Content.Shared/Sound/Components/EmitSoundOnInteractUsingComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
Labels: none

Increase syndi duffelbag storage (#26565)
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds construction/decon graphs for plastic flaps (#26341)
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/plastic_flaps.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Makes secglasses roundstart (#26487)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/glasses_sechud.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/tags.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Uplink store interface searchable with a searchbar. (#24287)
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Store/ListingLocalisationHelpers.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Southern accent (#26543)
  Content.Server/Speech/Components/SouthernAccentComponent.cs
  Content.Server/Speech/EntitySystems/SouthernAccentSystem.cs
  Resources/Locale/en-US/accent/southern.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: Localization

Prevent storing liquids in equipped buckets (#24412)
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Shared/Chemistry/Components/BlockSolutionAccessComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix 'Hypopen shouldn't display solution examine text' (#26453)
  Content.Shared/Chemistry/Components/SolutionManager/ExaminableSolutionComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix: Prevent single-use hyposprays from getting the toggle draw verb (#26595)
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedHypospraySystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: none

MeleeHitSoundSystem (#25005)
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Melee/MeleeSoundSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Remove physics comp from VendingMachineWallmount (#25632)
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

Remake hairflowers (#25475)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/hairflower.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/lily.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Specific/Hydroponics/lily.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/poppy.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Specific/Hydroponics/poppy.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Injector UI shows TransferAmount change, Spilling liquid changes Injector mode (#26596)
  Content.Client/Chemistry/UI/InjectorStatusControl.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
Labels: none

disallow unanchoring or opening panels on locked emitters/APEs (#26600)
  Content.Client/Popups/PopupSystem.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Lock/LockedAnchorableComponent.cs
  Content.Shared/Lock/LockedWiresPanelComponent.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Content.Shared/Wires/WiresPanelComponent.cs
  Resources/Locale/en-US/lock/lock-component.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix grave digging sound indefinitely playing if dug by aghost. (#26420)
  Content.Shared/Burial/BurialSystem.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
