Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Agent id card interact fix (#10703)
  Content.Server/Access/Systems/AgentIDCardSystem.cs
Labels: none

Marathon Update 3.3 (science redone) (#10704)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Bagel Update 14.9 (#10705)
  Resources/Maps/bagel.yml
Labels: Changes: Map

[1 line] fix disarm oversight (#10709)
  Content.Server/CombatMode/CombatModeSystem.cs
Labels: none

Only use Bible on Mobs (#10712)
  Content.Server/Bible/BibleSystem.cs
Labels: none

Change gun activates to uses (#10699)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Decrease shot glass max volume (#10711)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

circuitry resprite (#10691)
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/particle_accelerator.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Textures/Objects/Misc/module.rsi/airalarm_electronics.png
  Resources/Textures/Objects/Misc/module.rsi/blank_mod.png
  Resources/Textures/Objects/Misc/module.rsi/charger_APC.png
  Resources/Textures/Objects/Misc/module.rsi/charger_wire.png
  Resources/Textures/Objects/Misc/module.rsi/cpu.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_adv.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_command.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_engineering.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_medical.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_science.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_security.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_service.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_super.png
  Resources/Textures/Objects/Misc/module.rsi/cpu_supply.png
  Resources/Textures/Objects/Misc/module.rsi/cpuboard.png
  Resources/Textures/Objects/Misc/module.rsi/cpuboard_adv.png
  Resources/Textures/Objects/Misc/module.rsi/cpuboard_super.png
  Resources/Textures/Objects/Misc/module.rsi/cyborg_upgrade.png
  Resources/Textures/Objects/Misc/module.rsi/cyborg_upgrade1.png
  Resources/Textures/Objects/Misc/module.rsi/cyborg_upgrade2.png
  Resources/Textures/Objects/Misc/module.rsi/cyborg_upgrade3.png
  Resources/Textures/Objects/Misc/module.rsi/cyborg_upgrade4.png
  Resources/Textures/Objects/Misc/module.rsi/cyborg_upgrade5.png
  Resources/Textures/Objects/Misc/module.rsi/door_electronics.png
  Resources/Textures/Objects/Misc/module.rsi/id_mod.png
  Resources/Textures/Objects/Misc/module.rsi/mainboard.png
  Resources/Textures/Objects/Misc/module.rsi/meta.json
  Resources/Textures/Objects/Misc/module.rsi/net_wired.png
  Resources/Textures/Objects/Misc/module.rsi/power_mod.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

updates to air sensor
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none

removes atmos alarmable from scrubbers and vents
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: none

sensor updates
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none

ui fix for sensor info
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
Labels: Changes: UI

Правки перевода (#368)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/puddle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
Labels: Changes: Localization

Правки перевода (#368)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/puddle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

starts moving alarm sync logic to alarmables
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosAlarmingComponent.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmingSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
Labels: none

Content changes for engine state-handling & PVS PR (#9273)
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.Shared/Entry/EntryPoint.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: Changes: UI, Changes: Localization

Remove fake lag in release mode (#10713)
  Content.Shared/Entry/EntryPoint.cs
Labels: none

Fix AI/NPC error (#10730)
  Content.Server/AI/WorldState/States/Clothing/NearbyClothingState.cs
Labels: none

Revert PVS changes (#10735)
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.Shared/Entry/EntryPoint.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: Changes: UI, Changes: Localization

Add XAML control file template (#10737)
  SpaceStation14.sln.DotSettings
Labels: none

new eye damage effect (#10728)
  Content.Client/Eye/Blinding/BlurryVisionOverlay.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/dim.swsl
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed PVS changes. (#10740)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.Shared/Entry/EntryPoint.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: Changes: UI, Changes: Localization

Fix NetBufferSize test error (#10743)
  Content.Client/Entry/EntryPoint.cs
Labels: none

Fix PA error (#10733)
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
Labels: none

Old School Space Station 14 Sign (#10742)
  Resources/Prototypes/Decals/ss14sign.yml
  Resources/Textures/Decals/ss14sign.rsi/meta.json
  Resources/Textures/Decals/ss14sign.rsi/ss14sign1.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign2.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign3.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign4.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign5.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign6.png
  Resources/Textures/Decals/ss14sign.rsi/ss14sign7.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix ambient audio nags (#10698)
  Content.Client/Audio/BackgroundAudioSystem.cs
Labels: none

Fixed playtime requirement tooltip (#10756)
  Content.Client/LateJoin/LateJoinGui.cs
  Resources/Locale/en-US/job/role-timers.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix health examine shock color
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
Labels: Changes: Localization

Fix health examine shock color
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
