Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

New salvage expedition ambience. (#25983)
  Resources/Audio/Ambience/attributions.yml
  Resources/Audio/Ambience/unanchored.ogg
  Resources/Prototypes/audio.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Upstream #1949 (#1951)
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
Labels: Changes: Localization

Translate Upstream #1949 (#1951)
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
Labels: Changes: Localization

Какая броня! Это косметика!
  Resources/Prototypes/_evgencheg/sponsor_cloth.yml
Labels: none

Какая броня! Это косметика!
  Resources/Prototypes/_evgencheg/sponsor_cloth.yml
Labels: none

Изменить название и ценники
  Resources/Prototypes/_evgencheg/sponsor_uplink.yml
Labels: none

Изменить название и ценники
  Resources/Prototypes/_evgencheg/sponsor_uplink.yml
Labels: none

FIX Criminal SecHud icon Rsi path BUG (#26001)
  Resources/Prototypes/StatusEffects/security.yml
Labels: none

Update space_cash.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: none

Update space_cash.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
Labels: none

allow biomass reclaimer to reclaim plants (#23731)
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

marathon update (#26016)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Add "Juice that makes you Weh" to moths eating Lizard plushies (#26003)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix RUN_THIS.py so it would be cross-platform and it would be possible to use it from cmd on Windows (#26017)
  RUN_THIS.py
Labels: none

Space damage now causes heat along with blunt (#25770)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update Core (#25927)
  Resources/Maps/core.yml
Labels: Changes: Map

Add logs to recycler gibbing and broadcasting. (#26008)
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared.Database/LogType.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Enable multiple Solution Editor windows (#26005)
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Administration/UI/EditSolutionsEui.cs
Labels: none

Fix arrivals not docking on spinning stations (#26033)
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove random Cyrillic characters from locale files (#26043)
  Resources/Locale/en-US/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/food.ftl
Labels: Changes: Localization

update map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

update map pool
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
Labels: none

kobolds no longer die at 40 hp (#25984)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Buff Zombie Infection (#25954)
  Content.Server/Zombies/PendingZombieComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

new haircut alternative (brought back old one) (#25935)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/crewcut2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nuke Music start adjusted for duration (#25946)
  Content.Server/Audio/ServerGlobalSoundSystem.cs
  Content.Server/Nuke/NukeSystem.cs
Labels: none

Fix rounds restarting in the next round (#25856)
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: none

Revert "Move out loadout system to Secrets"
  Content.Server/Corvax/Loadout/LoadoutPrototype.cs
  Content.Server/Corvax/Loadout/LoadoutSystem.cs
  Corvax/Content.Corvax.Interfaces.Server/IServerLoadoutManager.cs
  Resources/Prototypes/Corvax/Catalog/Loadout/head.yml
Labels: none

Revert "Move out loadout system to Secrets"
  Content.Server/Corvax/Loadout/LoadoutPrototype.cs
  Content.Server/Corvax/Loadout/LoadoutSystem.cs
  Corvax/Content.Corvax.Interfaces.Server/IServerLoadoutManager.cs
  Resources/Prototypes/Corvax/Catalog/Loadout/head.yml
Labels: none

111
  Resources/Prototypes/_evgencheg/sponsor_loadouts.yml
Labels: none

111
  Resources/Prototypes/_evgencheg/sponsor_loadouts.yml
Labels: none

fix upstream build errors
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
Labels: Changes: UI
