Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Ключ
  Content.Server/_White/TTS/TTSManager.cs
Labels: none

Ключ
  Content.Server/_White/TTS/TTSManager.cs
Labels: none

FIx fix fix
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_White/TTS/TTSComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: none

FIx fix fix
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_White/TTS/TTSComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: none

explosion minor rework + fix (#21718)
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Explosion/ExplosionEvents.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Resources/Prototypes/Body/Parts/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix
  Content.Client/_White/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/_White/TTS/TTSManager.cs
  Content.Client/_White/TTS/TTSSystem.cs
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Shared/_White/TTS/PlayGlobalTTSEvent.cs
  Content.Shared/_White/TTS/RequestGlobalTTSEvent.cs
Labels: none

fix
  Content.Client/_White/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/_White/TTS/TTSManager.cs
  Content.Client/_White/TTS/TTSSystem.cs
  Content.Server/_White/TTS/TTSSystem.cs
  Content.Shared/_White/TTS/PlayGlobalTTSEvent.cs
  Content.Shared/_White/TTS/RequestGlobalTTSEvent.cs
Labels: none

Adds slices for banana cream pie and mime tart (#21043)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/bananapie-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/mime-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/mime-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/mimetart-slice.png
Labels: Changes: Sprites

Make more fields VV-writeable (#21754)
  Content.Server/Atmos/Components/BarotraumaComponent.cs
  Content.Server/Forensics/Components/FingerprintComponent.cs
  Content.Server/Gateway/Components/GatewayComponent.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Nutrition/Components/SmokableComponent.cs
  Content.Shared/Nutrition/Components/ThirstComponent.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/Teleportation/Components/LinkedEntityComponent.cs
  Content.Shared/Teleportation/Components/PortalComponent.cs
  Content.Shared/Weapons/Ranged/Components/BatteryAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: none

Tiny mobs can no longer pass on the zombie disease (#21676)
  Content.Server/Zombies/NonSpreaderZombieComponent.cs
  Content.Server/Zombies/ZombieImmuneComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix FTL arrival deleting ghosts (#21778)
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: none

Add vibe ace to the lobby playlist (#21751)
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: none

Update lizard vocalizations (#21750)
  Resources/Audio/Voice/Talk/attributions.yml
  Resources/Audio/Voice/Talk/lizard.ogg
  Resources/Audio/Voice/Talk/lizard_ask.ogg
  Resources/Audio/Voice/Talk/lizard_exclaim.ogg
Labels: none

Atlas hotfixes (#21781)
  Resources/Maps/atlas.yml
Labels: Changes: Map

Ripley APLU is now T1 Industrial. (#21787)
  Resources/Prototypes/Research/industrial.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make T-ray entity query use lookup flags (#21793)
  Content.Client/SubFloor/TrayScannerSystem.cs
Labels: none

Rename SpriteView field (#21794)
  Content.Client/UserInterface/Controls/SlotControl.cs
Labels: none

Re-use atmos queues (#21803)
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: none

Sound Effect For Emagged Borgs (#21451)
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/Components/EmagSiliconLawComponent.cs
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/emagged_borg.ogg
Labels: none

Снизил и убрал лимиты с карт. (РЕВЁРТНУТЬ В СКОРОМ ВРЕМЕНИ)
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/kettle.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map

Снизил и убрал лимиты с карт. (РЕВЁРТНУТЬ В СКОРОМ ВРЕМЕНИ)
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/kettle.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map

Make shuttle walls/windows constructable (#19255)
  Content.Client/Wall/ShuttleWallVisuals.cs
  Content.Shared/Wall/ShuttleWallVisuals.cs
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-0.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-1.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-2.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-3.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-4.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-5.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/full.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/meta.json
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state0.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state1.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state2.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state3.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state4.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state5.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state6.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state7.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Replace usages of MobObserver and AdminObserver with GameTicker consts (#21814)
  Content.IntegrationTests/Tests/FollowerSystemTest.cs
  Content.IntegrationTests/Tests/Minds/MindTests.EntityDeletion.cs
  Content.IntegrationTests/Tests/Minds/MindTests.Helpers.cs
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Mapping/MappingCommand.cs
  Content.Server/Mind/MindSystem.cs
Labels: none

Add files via upload
  Resources/Maps/Test/Polygon.yml
  Resources/Maps/Test/test2.yml
Labels: none

Add files via upload
  Resources/Maps/Test/Polygon.yml
  Resources/Maps/Test/test2.yml
Labels: none

[Wiki] MealRecipes json generator (#1566)
  .github/workflows/update-wiki.yml
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
  Content.Server/Corvax/GuideGenerator/EntityJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/HeatableRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/MicrowaveRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/SliceRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/ToolRecipeEntry.cs
  Content.Server/Entry/EntryPoint.cs
Labels: none

[Wiki] MealRecipes json generator (#1566)
  .github/workflows/update-wiki.yml
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
  Content.Server/Corvax/GuideGenerator/EntityJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/HeatableRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/MicrowaveRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/SliceRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/ToolRecipeEntry.cs
  Content.Server/Entry/EntryPoint.cs
Labels: none

GuideGenerator TextTools (#1523)
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/HeatableRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MicrowaveRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/SliceRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/TextTools.cs
  Content.Server/Corvax/GuideGenerator/ToolRecipeEntry.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
Labels: none

GuideGenerator TextTools (#1523)
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/HeatableRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MicrowaveRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/SliceRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/TextTools.cs
  Content.Server/Corvax/GuideGenerator/ToolRecipeEntry.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
Labels: none

Remove extra pumpkinds from autodrobe (#21822)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: none

Fix handcuffed entity deletion and a mind shutdown error. (#21825)
  Content.Server/Mind/MindSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: none

Update desert planet walls to WallRockSand (#21783)
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: none

Fix docking FTL to planets being impossible (#21780)
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
Labels: none

Gave freelance to ghosts (#21764)
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add localization for pda footer text (#21749)
  Content.Client/PDA/PdaWindow.xaml
  Resources/Locale/en-US/pda/pda-component.ftl
Labels: Changes: UI, Changes: Localization
