Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Remove kvass (#15939)
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/barratry.yml
  Resources/Maps/centcomm.yml
  Resources/Maps/omega.yml
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/Structures/Storage/kvass.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Tweaks to ContainerAmmoProvider (#15945)
  Content.Shared/Weapons/Ranged/Components/ContainerAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Container.cs
Labels: none

Botany guidebook translate (#1028)
  Resources/ServerInfo/Guidebook/Botany.xml
Labels: none

Botany guidebook translate (#1028)
  Resources/ServerInfo/Guidebook/Botany.xml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Remove flare flickering (#15787)
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Cached barotrauma resistance and immunity values instead of computing them each Update() (#15055)
  Content.Server/Atmos/Components/BarotraumaComponent.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
Labels: none

Minor translation fixes (#1039)
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Minor translation fixes (#1039)
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Update chat filter (#1024)
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: none

Update chat filter (#1024)
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: none

[Fix] Small mistakes (#15955)
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
Labels: none

[Tweak] Arachnid tweaks (#15950)
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[entity] new gas miner prototypes (#15916)
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
Labels: none

Changing the side sprites of tactical vests (#15870)
  Resources/Textures/Clothing/OuterClothing/Vests/mercwebvest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/webvest.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add basic map loader support for entity renaming (#15862)
  Content.IntegrationTests/Tests/Chemistry/DispenserTest.cs
  Content.Server/Maps/MapMigrationSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/migration.yml
Labels: none

[fix] ammo typo(#15954)
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Salvage/medium-pirate.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
Labels: Changes: Sprites

Content fixes for timeoffsets (#15934)
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
  Content.Server/Charges/Components/AutoRechargeComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionPurgeSystem.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/NPC/NPCBlackboardSerializer.cs
  Content.Server/Pinpointer/ProximityBeeperSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Sound/Components/EmitSoundOnCollideComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: none

Cluster 2.5.6 (#15959)
  Resources/Maps/cluster.yml
Labels: Changes: Map

[map] cluster prototype update (#15963)
  Resources/Prototypes/Maps/cluster.yml
Labels: Changes: Map

uplink locking/unlocking, minor pda refactor (#15842)
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Server/PDA/Ringer/RingerUplinkComponent.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/Store/StoreUi.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/store/store.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Moves buckling and vehicles to shared, some cleanup (#15923)
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Vehicle/VehicleSystem.cs
  Content.Client/Vehicle/VehicleVisualsComponent.cs
  Content.Client/Vehicle/VehicleVisualsSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Alert/Click/Unbuckle.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Buckle/Systems/BuckleSystem.Buckle.cs
  Content.Server/Buckle/Systems/BuckleSystem.Strap.cs
  Content.Server/Buckle/Systems/BuckleSystem.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Disease/Cures/DiseaseBedrestCure.cs
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Light/Components/UnpoweredFlashlightComponent.cs
  Content.Server/Light/EntitySystems/UnpoweredFlashlightSystem.cs
  Content.Server/NPC/HTN/Preconditions/BuckledPrecondition.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Server/Vehicle/VehicleSystem.Rider.cs
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/Light/Component/UnpoweredFlashlightComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Vehicle/Components/RiderComponent.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
  Content.Shared/Vehicle/SharedVehicleSystem.Rider.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: none

Paramedic role, redone (#15439)
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Paramedic.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-paramedic.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/paramed.png
  Resources/Textures/Structures/Storage/closet.rsi/paramed_door.png
  Resources/Textures/Structures/Storage/closet.rsi/paramed_open.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Slimes and their habitats (#15379)
  Content.Server/StationEvents/Components/SpiderSpawnRuleComponent.cs
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/SpiderSpawnRule.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/slime1.ogg
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Textures/Mobs/Aliens/slimes.rsi/blue_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/blue_adult_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/green_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/green_adult_slime_dead.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/meta.json
  Resources/Textures/Mobs/Aliens/slimes.rsi/yellow_adult_slime.png
  Resources/Textures/Mobs/Aliens/slimes.rsi/yellow_adult_slime_dead.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Small tweak and cleanup of spells and actions (#15943)
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Magic/Components/SpellbookComponent.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Actions/ActionsComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Prototypes/Entities/Objects/Magic/books.yml
Labels: none

Mobmover tweaks (#15942)
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

rcd refactor (#15172)
  Content.Client/Popups/PopupSystem.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Server/RCD/Components/RCDAmmoComponent.cs
  Content.Server/RCD/Components/RCDComponent.cs
  Content.Server/RCD/Systems/RCDAmmoSystem.cs
  Content.Server/RCD/Systems/RCDSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Content.Shared/RCD/Components/RCDAmmoComponent.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Systems/RCDAmmoSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/rcd/components/rcd-ammo-component.ftl
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Nuke agent is separete role (#15385)
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: Localization
