Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Fix white pixels on nukie suit (#20507)
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: Sprites

Adjust armor item size (#20492)
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: none

Change min temp delta to 0.1 (#20512)
  Content.Shared/Atmos/Atmospherics.cs
Labels: none

Fix spacemen not being able to sleep (#20514)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove duplicated lines from soap prototypes (#20511)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: none

Syndicate Bomb Fix (#20486)
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make bucket tranfer 100u by default (#20532)
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
Labels: none

Further interaction outline tweaks (tonemap rework) (#19898)
  Resources/Prototypes/Shaders/outline.yml
  Resources/Textures/Shaders/outline.swsl
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix role bans having no confirmation (#20544)
  Content.Server/Administration/BanPanelEui.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Moth food fix (#20522)
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/Neck/ties.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Rename dinnerware vendor (#1457)
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: Changes: Localization

Rename dinnerware vendor (#1457)
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: Changes: Localization

Update Gate station (#1460)
  Resources/Prototypes/Corvax/Maps/gate.yml
Labels: none

Update Gate station (#1460)
  Resources/Prototypes/Corvax/Maps/gate.yml
Labels: none

Translation fixes (#1463)
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/fluids/components/spillable-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/external.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/shuttle.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Translation fixes (#1463)
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/fluids/components/spillable-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/external.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/shuttle.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: Changes: Localization

Cleanup TTS & fix voice preview (#1458)
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Corvax/TTS/TTSManager.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/TTS/MsgRequestTTS.cs
  Content.Shared/Corvax/TTS/PlayTTSEvent.cs
  Content.Shared/Corvax/TTS/RequestGlobalTTSEvent.cs
Labels: none

Cleanup TTS & fix voice preview (#1458)
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Corvax/TTS/TTSManager.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/TTS/MsgRequestTTS.cs
  Content.Shared/Corvax/TTS/PlayTTSEvent.cs
  Content.Shared/Corvax/TTS/RequestGlobalTTSEvent.cs
Labels: none

Fix mispredict when closing a crematorium you are standing over (#20541)
  Content.Shared/Morgue/Components/EntityStorageLayingDownOverrideComponent.cs
  Content.Shared/Morgue/EntityStorageLayingDownOverrideSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make NPC names proper nouns & fix some genders (#20534)
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: none

fix bingus wrinkly head (#20531)
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Localization

rouny meat and steak (#20526)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/rouny-cooked.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/rouny.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Wearable Wet Floor Sign and 'Janitorial Suicide Vest' (#20311)
  Content.Server/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Resources/Audio/Items/Janitor/floor_sign_beep.ogg
  Resources/Locale/en-US/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/wet_floor_sign.rsi/caution.png
  Resources/Textures/Objects/Specific/Janitorial/wet_floor_sign.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Objects/Specific/Janitorial/wet_floor_sign.rsi/icon.png
  Resources/Textures/Objects/Specific/Janitorial/wet_floor_sign.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/wet_floor_sign.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/wet_floor_sign.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Minor slippery stuff (#20535)
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
Labels: none

Predicted armor (#20560)
  Content.Client/Armor/ArmorSystem.cs
  Content.Server/Armor/ArmorComponent.cs
  Content.Server/Armor/ArmorSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: none

clean up some lines in smile the slime prototype (#20552)
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

Revert "Use full file path for temp replays (#19002)" (#20545)
  Content.Server/GameTicking/GameTicker.Replays.cs
Labels: none

Add EyesGlasses into ClothesMate (#20523)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix Punpun crew monitor sensor (#20484)
  Content.Server/Access/Components/PresetIdCardComponent.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

EasyPry airlocks for arrivals. Now also prying refactor I guess (#19394)
  Content.Client/Doors/AirlockSystem.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/DoorEvents.cs
  Content.Shared/Doors/Systems/SharedDoorBoltSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Prying/Components/PryUnpoweredComponent.cs
  Content.Shared/Prying/Components/PryingComponent.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
  Resources/Prototypes/Entities/Debugging/spanisharmyknife.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/easy_pry.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
