Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Add admin alerts (#13589)
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Server/AME/AMENodeGroup.cs
  Content.Server/AME/Components/AMEControllerComponent.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Resources/Locale/en-US/chat/ui/chat-box.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add explosive banana peel 2 (#14491)
  Content.Server/Explosion/Components/TriggerOnSlipComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/Objects/Specific/Hydroponics/banana.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/banana.rsi/primed.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Spear and Baseball bat tweak (#14375)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix shotgun start node not being named start (#14611)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shotgunsawn.yml
Labels: none

Added light post sprites (#14533)
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/broken.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/burnt.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/empty.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Zombies drop their headsets. (#14525)
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

list codewords on traitor round end (#14810)
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Dame Dane Change (#14686)
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/inhand-right.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Paperwork Resprite (#14568)" (#14698)
  Resources/Textures/Mobs/Pets/paperwork.rsi/meta.json
  Resources/Textures/Mobs/Pets/paperwork.rsi/paperwork.png
  Resources/Textures/Mobs/Pets/paperwork.rsi/paperwork_dead.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix welder interaction (#14704)
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

i can this. i can that. i am doctor mario i can all (#14662)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

dehydrated carp can fit in locker again (#14694)
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

holster + sus box tweaks (#14802)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Godmode refactor (#14651)
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Damage/Components/GodmodeComponent.cs
  Content.Server/Damage/Systems/GodmodeSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
Labels: none

Add telecomms system (#14486)
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/EntitySystems/TelecomSystem.cs
  Content.Server/Radio/RadioReceiveEvent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/StationEvents/Events/SolarFlare.cs
  Content.Shared/Radio/Components/TelecomServerComponent.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/radio_channels.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Telecom server panel check (#14523)
  Content.Client/Wires/WiresSystem.cs
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Construction/Conditions/WirePanel.cs
  Content.Server/Construction/PartExchangerSystem.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/VendingMachines/Restock/VendingMachineRestockSystem.cs
  Content.Server/Wires/WiresComponent.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Content.Shared/Wires/WiresPanelComponent.cs
  Resources/Locale/en-US/radio/components/encryption-key-component.ftl
  Resources/Locale/en-US/wires/components/wires-component.ftl
  Resources/Locale/en-US/wires/components/wires-panel-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Ammo Now Appear on Tables (#14639)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added orderable crates for biosuits (#14374)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/emergency-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/science-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix mech double interactions (#14672)
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Interaction/Components/InteractionRelayComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Labels: none

storage open sound has cooldown now (#14811)
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
Labels: none

Remove BoxerComponent (#13935)
  Content.Server/Abilities/Boxer/Boxer/BoxerComponent.cs
  Content.Server/Abilities/Boxer/Boxer/BoxingGlovesComponent.cs
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Escape pods (#14809)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Commands/DelayShuttleRoundEndCommand.cs
  Content.Server/Shuttles/Commands/DockCommand.cs
  Content.Server/Shuttles/Commands/DockEmergencyShuttleCommand.cs
  Content.Server/Shuttles/Commands/LaunchEmergencyShuttleCommand.cs
  Content.Server/Shuttles/Components/ArrivalsShuttleComponent.cs
  Content.Server/Shuttles/Components/ArrivalsSourceComponent.cs
  Content.Server/Shuttles/Components/EscapePodComponent.cs
  Content.Server/Shuttles/Components/GridFillComponent.cs
  Content.Server/Shuttles/Components/StationArrivalsComponent.cs
  Content.Server/Shuttles/DockingConfig.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.AutoDock.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Station/Components/StationDataComponent.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Resources/Maps/Shuttles/escape_pod_small.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: none

Fix static melee effect offsets (#14815)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
