Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Fix] "Syndicate Rubber Btamp" (#15401)
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Multiline edit everywhere (#15216)
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml.cs
  Content.Client/Administration/UI/AdminMenuWindowEui.cs
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Locale/en-US/administration/ui/admin-announce-window.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add Emisse to CODEOWNERS for maps (#15416)
  .github/CODEOWNERS
Labels: none

Adds a second pair of jester shoes for the clothing set missing shoes. (#15408)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix and update VehicleSystem.cs (#15284)
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove brigmedic hypospray (#15426)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Copy-paste moth3 state
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth3.png
Labels: Changes: Sprites

Copy-paste moth3 state
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth3.png
Labels: Changes: Sprites

[StartingGear] Update misc SG (#14955)
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds repeating DoAfters to Food and Drink (#15233)
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/DoAfterEvent.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add word to chat filter (#985)
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: none

Add word to chat filter (#985)
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: none

[Recipe] QM mantle (#979)
  Resources/Prototypes/Corvax/Recipes/Lathes/clothing.yml
Labels: none

[Recipe] QM mantle (#979)
  Resources/Prototypes/Corvax/Recipes/Lathes/clothing.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Map] Cluster 2.0 (Update 2.5) (#15361)
  Resources/Maps/cluster.yml
Labels: Changes: Map

[Tweak] Adjusted cake sizes (#15382)
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
Labels: none

[Tweak] Buff syndie smokes (#15428)
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: none

[Tweak] Made Synaptizine treat hallucinations (#15431)
  Resources/Prototypes/Reagents/medicine.yml
Labels: none

[Entity] Centcom PDA (#15415)
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-centcom.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/pen_centcom.png
Labels: Changes: Sprites

[Sprite] Toy Mouse is hat!? (#15425)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/mouse-equipped-HELMET.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Tweak] Janibucket buffs (#15422)
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_bucket.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Rename "Server Info" to ServerInfo (#15436)
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Server/Info/InfoSystem.cs
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/meta.yml
  Resources/Prototypes/Guidebook/radio.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Gameplay.txt
  Resources/ServerInfo/Guidebook/AME.xml
  Resources/ServerInfo/Guidebook/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Botany.xml
  Resources/ServerInfo/Guidebook/Construction.xml
  Resources/ServerInfo/Guidebook/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Engineering.xml
  Resources/ServerInfo/Guidebook/Fires.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/Power.xml
  Resources/ServerInfo/Guidebook/Science/APE.xml
  Resources/ServerInfo/Guidebook/Science/AnomalousResearch.xml
  Resources/ServerInfo/Guidebook/Science/ArtifactReports.xml
  Resources/ServerInfo/Guidebook/Science/MachineUpgrading.xml
  Resources/ServerInfo/Guidebook/Science/ScannersAndVessels.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Science/TraversalDistorter.xml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
  Resources/ServerInfo/Guidebook/Security/DNA.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/Guidebook/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Singularity.xml
  Resources/ServerInfo/Guidebook/Space Station 14.xml
  Resources/ServerInfo/Guidebook/Survival.xml
  Resources/ServerInfo/Intro.txt
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/Sandbox.txt
Labels: none

Makes water not slippery (#15440)
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Makes water not slippery" (#15441)
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
