Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Server names and admin log full-text search (#6327)
  Content.Server.Database/Migrations/Postgres/20220313151800_ServerNameFts.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220313151800_ServerNameFts.cs
  Content.Server.Database/Migrations/Sqlite/20220313151753_ServerNameFts.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220313151753_ServerNameFts.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server.Database/ModelPostgres.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/CCVar/CCVars.cs
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/reptilian.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/hrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/hrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/hitscan.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/administration/commands/variantize-command.ftl
  Resources/Locale/ru-RU/medical/components/medical-scanner-component.ftl
  Resources/Locale/ru-RU/robotics/ai-actions.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/hitscan.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/reptilian.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/hrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/hrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/hitscan.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/administration/commands/variantize-command.ftl
  Resources/Locale/ru-RU/medical/components/medical-scanner-component.ftl
  Resources/Locale/ru-RU/robotics/ai-actions.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/hitscan.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: none

Return tiles
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/white.png
Labels: none

Return tiles
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/white.png
Labels: none

Remove lean. (#7110)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Use multi state sprites of floor
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/white.png
Labels: none

Use multi state sprites of floor
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/white.png
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Foxes and Renault (#7111)
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/fox.rsi/fox.png
  Resources/Textures/Mobs/Animals/fox.rsi/fox_dead.png
  Resources/Textures/Mobs/Animals/fox.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Disease performance improvements (#7118)
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Disease/Effects/DiseaseSnough.cs
Labels: none

Moose Update 1.2 (#7114)
  Resources/Maps/moose.yml
Labels: Changes: Map

Saltern Update 2.2 (#7115)
  Resources/Maps/saltern.yml
Labels: Changes: Map

Bagel Update 11.5 (#7113)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Lobby Refactor (#7077)
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Info/DevInfoBanner.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/UserInterface/Controls/HLine.cs
  Content.Client/UserInterface/Controls/HSpacer.cs
  Content.Client/UserInterface/Controls/VSpacer.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/lobby/lobby-gui.ftl
  Resources/Textures/LobbyScreens/PutLobbyScreensHere.txt
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make plates and bowls recyclable (#7095)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
Labels: none

Fix cloner UI toggle (#7092)
  Content.Server/Medical/MedicalScannerSystem.cs
Labels: none

Generic clothing speed modifiers + hardsuit slowdown (#7094)
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/SharedMagbootsComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Update nuget dependencies (#6975)
  Content.Client/Content.Client.csproj
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.Server/Content.Server.csproj
  Content.Shared/Content.Shared.csproj
  Content.Tests/Content.Tests.csproj
Labels: none

Buff meth (#7106)
  Resources/Prototypes/Reagents/narcotics.yml
Labels: none

Disease Tweaks & Fixes (#7121)
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Diseases/noninfectious.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Increast interaction range (#147)
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: none

Increast interaction range (#147)
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Additional_animated_alien_called_purple_snake (#7089)
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/dead_purple_snake.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/dead_small_purple_snake.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/purple_snake.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/small_purple_snake.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added new sprites for the security techfab (#7022)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Structures/Machines/security_techfab.rsi/icon.png
  Resources/Textures/Structures/Machines/security_techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/security_techfab.rsi/panel.png
  Resources/Textures/Structures/Machines/security_techfab.rsi/unlit.png
Labels: Changes: Sprites

Fix sloth's disease shit (#7123)
  Content.Server/Chemistry/ReagentEffects/ChemCauseDisease.cs
  Content.Server/Disease/Components/DiseaseVaccineComponent.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/StationEvents/Events/DiseaseOutbreak.cs
  Content.Shared/Disease/DiseasePrototype.cs
Labels: none

Mopping ECS (No BucketComponents allowed!) (#6718)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Fluids/Components/AbsorbentComponent.cs
  Content.Server/Fluids/Components/BucketComponent.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Content.Server/Fluids/EntitySystems/MoppingSystem.cs
  Resources/Locale/en-US/fluids/components/absorbent-component.ftl
  Resources/Locale/en-US/fluids/components/mop-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/tags.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

failed merge incident
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: none

New generators and wallmount substation (Shuttle power PR) (#6795)
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/apc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/solar.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen0_0.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen0_1.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen1_0.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen1_1.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen2_0.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen2_1.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg_damaged.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg_glow.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg_open.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/on.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/panel.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/warning.png
  Resources/Textures/Structures/Power/apc.rsi/apcframe.png
  Resources/Textures/Structures/Power/substation.rsi/meta.json
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
Labels: Changes: Sprites
