Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

vv for tripped thresholds, device list update event for air alarms
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
Labels: none

Bagel small update (#10775)
  Resources/Maps/bagel.yml
Labels: Changes: Map

Fix bang, ded (#10768)
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove problematic body code (#10783)
  Content.Shared/Body/Components/SharedBodyPartComponent.cs
Labels: none

Fix some bugs in stations and do a little cleanup. (#10787)
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Audio/ServerGlobalSoundSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
Labels: none

Fix AI crash (#10788)
  Content.Server/AI/Operators/Inventory/OpenStorageOperator.cs
Labels: none

threshold checking is now always truthy if a threshold isn't being ignored
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
Labels: none

Fix xenos prying doors from afar (#10778)
  Content.Client/Doors/DoorSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add test for soft cap (#10627)
  Content.IntegrationTests/Tests/Lobby/ServerReloginTest.cs
Labels: none

Set MoverController angular velocities to zero (#10715)
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: none

shields no longer break from healing (#10719)
  Content.Shared/Blocking/BlockingUserSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds the super speed smite (#10707)
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Textures/Interface/AdminActions/super_speed.png
Labels: Changes: Localization

Only show gun examines in detail range (#10697)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
Labels: none

Fix salvage small-4 (#10798)
  Resources/Maps/Salvage/small-4.yml
Labels: none

renames AtmosMonitorAlarmEvent to AtmosAlarmEvent
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
Labels: none

file-scoped namespaces
  Content.Client/Atmos/Monitor/AtmosMonitorVisualizer.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmBoundUserInterface.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdControl.xaml.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Components/FireAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Monitor/Systems/FireAlarmSystem.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThreshold.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
  Content.Shared/Atmos/Monitor/AtmosMonitorAlarmType.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
  Content.Shared/Atmos/Monitor/Components/SharedFireAlarmComponent.cs
Labels: Changes: UI

air sensor assembly
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none

air sensor construction graph
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_sensor.yml
Labels: none

air sensor in construction window
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: none

air alarm now sends the count of known devices, rather than all types of devices
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
Labels: none

whoops
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_sensor.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/soft.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/soft.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
Labels: Changes: Localization

assembly deletes on final step, sensor prefix in locale
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_sensor.yml
Labels: Changes: Localization

removes air alarm replace mode
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
Labels: none

fixes constructor
  Content.Client/Atmos/Monitor/UI/AirAlarmBoundUserInterface.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

fixtures, baseitem parent for airsensorassembly
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none

Перевод Upstream #371 (#372)
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
Labels: Changes: Localization

Перевод Upstream #371 (#372)
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

changes how the emag function works in fire alarms
  Content.Server/Atmos/Monitor/Systems/FireAlarmSystem.cs
Labels: none

atmos alarmable visuals
  Content.Client/Atmos/Monitor/AtmosAlarmableVisualsComponent.cs
  Content.Client/Atmos/Monitor/AtmosAlarmableVisualsSystem.cs
  Content.Client/Atmos/Monitor/AtmosMonitorVisualizer.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
Labels: none

powered visuals for air sensors
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none

oops
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: none
