Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Make hijack objective entity
  Content.Server/Corvax/Objectives/Components/HijackShuttleConditionComponent.cs
  Content.Server/Corvax/Objectives/Systems/HijackShuttleConditionSystem.cs
  Resources/Locale/ru-RU/corvax/objectives/conditions/hijack-shuttle-condition.ftl
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/objectives/traitorObjectives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hoods.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/gateway/gateway.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/objectives/traitorObjectives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/objectives/traitorObjectives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hoods.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/gateway/gateway.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/objectives/traitorObjectives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Fix locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
Labels: Changes: Localization

Fix locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/skeleton.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/gamerules/events.ftl
  Resources/Locale/ru-RU/decals/decal-window.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/events.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/skeleton.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/gamerules/events.ftl
  Resources/Locale/ru-RU/decals/decal-window.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/events.ftl
Labels: Changes: Localization

Fix linter error (#20334)
  Content.YAMLLinter/Program.cs
Labels: none

Update Gate station (#1426)
  Resources/Prototypes/Corvax/Maps/gate.yml
Labels: none

Update Gate station (#1426)
  Resources/Prototypes/Corvax/Maps/gate.yml
Labels: none

Decrease announcement sound volume (#1428)
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Decrease announcement sound volume (#1428)
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Datasets translate (#1411)
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Datasets/Names/borer.yml
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/hologram.yml
  Resources/Prototypes/Datasets/Names/mushman_first.yml
  Resources/Prototypes/Datasets/Names/mushman_last.yml
Labels: none

Datasets translate (#1411)
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Datasets/Names/borer.yml
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/hologram.yml
  Resources/Prototypes/Datasets/Names/mushman_first.yml
  Resources/Prototypes/Datasets/Names/mushman_last.yml
Labels: none

[Translate] Logical items and network ports (#1404)
  Resources/Locale/ru-RU/logic-gates/logic-gates.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
Labels: Changes: Localization

[Translate] Logical items and network ports (#1404)
  Resources/Locale/ru-RU/logic-gates/logic-gates.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
Labels: Changes: Localization

Edit translations (#1429)
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: Changes: Localization

Edit translations (#1429)
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: Changes: Localization

Tiles Corvax Stylization (#1431)
  Resources/Textures/Decals/bricktile.rsi/steel_line_s.png
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/mime.png
Labels: Changes: Sprites

Tiles Corvax Stylization (#1431)
  Resources/Textures/Decals/bricktile.rsi/steel_line_s.png
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/mime.png
Labels: Changes: Sprites

Update Spectrum station (#1425)
  Resources/Prototypes/Corvax/Maps/spectrum.yml
Labels: none

Update Spectrum station (#1425)
  Resources/Prototypes/Corvax/Maps/spectrum.yml
Labels: none

Remove IoC resolves in BaseNetConnectorNodeGroup and friends (#20333)
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/Components/BaseNetConnectorComponent.cs
  Content.Server/Power/NodeGroups/ApcNet.cs
  Content.Server/Power/NodeGroups/BaseNetConnectorNodeGroup.cs
  Content.Server/Power/NodeGroups/BasePowerNet.cs
  Content.Server/Power/NodeGroups/PowerNet.cs
Labels: none

Expeditions rework (#18960)
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Server/Procedural/DungeonJob.PostGen.cs
  Content.Server/Salvage/Expeditions/SalvageEliminationExpeditionComponent.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/Expeditions/SalvageMiningExpeditionComponent.cs
  Content.Server/Salvage/Expeditions/SalvageStructureExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Procedural/Loot/RandomSpawnsLoot.cs
  Content.Shared/Procedural/Loot/SalvageLootPrototype.cs
  Content.Shared/Procedural/SalvageDifficultyPrototype.cs
  Content.Shared/Random/IBudgetEntry.cs
  Content.Shared/Random/RandomSystem.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageAirMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageBiomeModPrototype.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageDungeonModPrototype.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageLightMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageTemperatureMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageTimeMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageWeatherMod.cs
  Content.Shared/Salvage/Expeditions/SalvageExpeditions.cs
  Content.Shared/Salvage/Expeditions/SalvageFactionPrototype.cs
  Content.Shared/Salvage/Expeditions/SalvageMobEntry.cs
  Content.Shared/Salvage/Expeditions/SalvageMobGroup.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Procedural/salvage_difficulties.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix collector.ftl translation (#1436)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/singularity/collector.ftl
Labels: Changes: Localization

Fix collector.ftl translation (#1436)
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/singularity/collector.ftl
Labels: Changes: Localization

localize slurred accent (#1419)
  Content.Server/Speech/EntitySystems/SlurredSystem.cs
Labels: none

localize slurred accent (#1419)
  Content.Server/Speech/EntitySystems/SlurredSystem.cs
Labels: none

Sex restriction for markings (#19894)
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Humanoid/HumanoidMarkingModifierBoundUserInterface.cs
  Content.Client/Humanoid/HumanoidMarkingModifierWindow.xaml.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.Modifier.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/SharedHumanoidMarkingModifierSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: UI

Update engine to v162.1.1 (#20348)
  Resources/Prototypes/Actions/types.yml
Labels: none

Option to delay uplink item purchase (#20214)
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Shared/Store/ListingPrototype.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix component constraints (#20241)
  Content.Client/Damage/DamageVisualsSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/CartridgeLoader/CartridgeLoaderSystem.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Construction/RefiningSystem.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
Labels: none

Fix explosion preview/debug overlay (#20353)
  Content.Client/Administration/UI/SpawnExplosion/SpawnExplosionEui.cs
Labels: none

Tweak Moth Values (#20327)
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: none

Reduce buckler and makeshift shield costs (#20356)
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/makeshift_shield.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/wooden_buckler.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Added lisp as a character trait (#20350)
  Content.Server/Speech/Components/FrontalLispComponent.cs
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
