Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

animals and pets cleanup (#11956)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

Add hud-chatbox-info reads keybinds (#12192)
  Content.Client/UserInterface/Systems/Chat/Controls/ChatInputBox.cs
  Resources/Locale/en-US/chat/ui/chat-box.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix gun ItemStatus (#12225)
  Content.Client/Weapons/Ranged/Systems/GunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Kettle 1.4.2 (#12222)
  Resources/Maps/kettle.yml
Labels: Changes: Map

Make #11647 actually function (#12229)
  Content.Shared/Movement/Systems/SlowContactsSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

New Dart and removed jobs info (#12232)
  Resources/Maps/dart.yml
  Resources/Prototypes/Maps/dart.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Deprecate entitylookupcomponent (#12159)
  Content.Client/Access/AccessOverlay.cs
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Weapons/Ranged/Systems/SharedFlyBySoundSystem.cs
  Resources/Maps/bagel.yml
  Resources/Maps/centcomm.yml
  Resources/Maps/cluster.yml
  Resources/Maps/dart.yml
  Resources/Maps/kettle.yml
  Resources/Maps/marathon.yml
Labels: Changes: Map

Fix lookup flags (#12235)
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
Labels: none

Delete ghost when player is detached (#12221)
  Content.Server/Ghost/GhostSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

New station map Origin (#11659)
  Resources/Prototypes/Decals/originsign.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Textures/Decals/originsign.rsi/meta.json
  Resources/Textures/Decals/originsign.rsi/origin1.png
  Resources/Textures/Decals/originsign.rsi/origin10.png
  Resources/Textures/Decals/originsign.rsi/origin11.png
  Resources/Textures/Decals/originsign.rsi/origin12.png
  Resources/Textures/Decals/originsign.rsi/origin13.png
  Resources/Textures/Decals/originsign.rsi/origin2.png
  Resources/Textures/Decals/originsign.rsi/origin3.png
  Resources/Textures/Decals/originsign.rsi/origin4.png
  Resources/Textures/Decals/originsign.rsi/origin5.png
  Resources/Textures/Decals/originsign.rsi/origin6.png
  Resources/Textures/Decals/originsign.rsi/origin7.png
  Resources/Textures/Decals/originsign.rsi/origin8.png
  Resources/Textures/Decals/originsign.rsi/origin9.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/originmap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster39_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster55_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster56_contraband.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/eight.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/five.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/four.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/nine.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/one.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/seven.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/six.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/three.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/two.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/zero.png
Labels: Changes: Sprites, Changes: Map

Remove split. (#12236)
  Resources/Maps/split.yml
  Resources/Prototypes/Maps/split.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix lag compensation exception (#12243)
  Content.Server/Movement/Systems/LagCompensationSystem.cs
Labels: none

fixed mouse scream sound (#12198)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update explosion lookups (#12250)
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
Labels: none

Increases VoiceRange To 10 From 7 (#12254)
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't log missing inventory. (#12258)
  Content.Client/Inventory/ClientInventorySystem.cs
Labels: none

Power cell added (#12251)
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove physics from constructionghost (#12259)
  Resources/Prototypes/Entities/Markers/construction_ghost.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add missing engine locale lib (#487)
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
Labels: Changes: Localization

Add missing engine locale lib (#487)
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
Labels: Changes: Localization

Cap ChemMaster label length (#12260)
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
Labels: Changes: UI

[Resprite] Pattern floors (#489)
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/dark_diagonal.png
  Resources/Textures/Tiles/dark_mini.png
  Resources/Textures/Tiles/dark_offset.png
  Resources/Textures/Tiles/dark_pavement.png
  Resources/Textures/Tiles/dark_plastic.png
  Resources/Textures/Tiles/plastic.png
  Resources/Textures/Tiles/steel_diagonal.png
  Resources/Textures/Tiles/steel_mini.png
  Resources/Textures/Tiles/steel_offset.png
  Resources/Textures/Tiles/steel_pavement.png
  Resources/Textures/Tiles/white_diagonal.png
  Resources/Textures/Tiles/white_mini.png
  Resources/Textures/Tiles/white_offset.png
  Resources/Textures/Tiles/white_pavement.png
  Resources/Textures/Tiles/white_plastic.png
Labels: none

[Resprite] Pattern floors (#489)
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/dark_diagonal.png
  Resources/Textures/Tiles/dark_mini.png
  Resources/Textures/Tiles/dark_offset.png
  Resources/Textures/Tiles/dark_pavement.png
  Resources/Textures/Tiles/dark_plastic.png
  Resources/Textures/Tiles/plastic.png
  Resources/Textures/Tiles/steel_diagonal.png
  Resources/Textures/Tiles/steel_mini.png
  Resources/Textures/Tiles/steel_offset.png
  Resources/Textures/Tiles/steel_pavement.png
  Resources/Textures/Tiles/white_diagonal.png
  Resources/Textures/Tiles/white_mini.png
  Resources/Textures/Tiles/white_offset.png
  Resources/Textures/Tiles/white_pavement.png
  Resources/Textures/Tiles/white_plastic.png
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Fix disposal unit termination (#12266)
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: none

Translate Upstream #486 (#488)
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
