Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

In game guide books (#17304)
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-service.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/salvage.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Construction.xml
  Resources/ServerInfo/Guidebook/Engineering/Engineering.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Engineering/NetworkConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/Networking.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Engineering/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
  Resources/ServerInfo/Guidebook/Service/Chef.xml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

give shuttle airlocks a wire layout (#17318)
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix bluespace syringe test fails (#17347)
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Mass hallucinations event (#17321)
  Content.Server/StationEvents/Components/MassHallucinationsComponent.cs
  Content.Server/StationEvents/Components/MassHallucinationsRuleComponent.cs
  Content.Server/StationEvents/Events/MassHallucinationsRule.cs
  Content.Server/Traits/Assorted/ParacusiaSystem.cs
  Content.Shared/Traits/Assorted/ParacusiaComponent.cs
  Content.Shared/Traits/Assorted/SharedParacusiaSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

ECS Arcade Machines (#16791)
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Arcade/SpaceVillainArcadeMenu.cs
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
  Content.Client/Arcade/UI/SpaceVillainArcadeBoundUserInterface.cs
  Content.Server/Arcade/ArcadeSystem.BlockGame.cs
  Content.Server/Arcade/ArcadeSystem.SpaceVillain.cs
  Content.Server/Arcade/ArcadeSystem.cs
  Content.Server/Arcade/BlockGame/BlockGame.GameState.cs
  Content.Server/Arcade/BlockGame/BlockGame.Pieces.cs
  Content.Server/Arcade/BlockGame/BlockGame.Ui.cs
  Content.Server/Arcade/BlockGame/BlockGame.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeComponent.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/Components/BlockGameArcadeComponent.cs
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainGame.Fighter.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainGame.Ui.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainGame.cs
  Content.Server/Arcade/WireActions/ArcadeInvincibilityWireActions.cs
  Content.Server/Arcade/WireActions/ArcadeOverflowWireAction.cs
  Content.Shared/Arcade/BlockGameBlock.cs
Labels: none

Fix foam artifacts (#17332)
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/FoamArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/FoamArtifactSystem.cs
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

[Sprites] guitar back and some resprites (#16611)
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/icon.png
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/icon.png
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/icon.png
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/icon.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

canister refactor + fixes (#17317)
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make mice not eat uranium bananium and pills (#17110)
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Nutrition/Components/BadFoodComponent.cs
  Content.Server/Nutrition/Components/IgnoreBadFoodComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Ishimura [Fix] (#1128)
  Resources/Maps/corvax_ishimura.yml
Labels: Changes: Map

Ishimura [Fix] (#1128)
  Resources/Maps/corvax_ishimura.yml
Labels: Changes: Map

Allow specific entities to bypass DoAfter delays (#17349)
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/tags.yml
Labels: none

Give female dwarves female laughs (#17362)
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix action bar not filling with mappables (#17218)
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: none

Ice anomaly buff (anti-box maneuvers) (#17293)
  Content.Server/Anomaly/Components/ProjectileAnomalyComponent.cs
  Content.Server/Anomaly/Effects/ProjectileAnomalySystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Color Coded Anchor Examine Text (#17363)
  Resources/Locale/en-US/examine/examine-system.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Move PKA to a tech (#17043)
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: Localization

Diagonal wall resprite (#1130)
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state1.png
Labels: Changes: Sprites

Diagonal wall resprite (#1130)
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state1.png
Labels: Changes: Sprites

Translate author books (#1111)
  Resources/Locale/ru-RU/paper/book-authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
Labels: Changes: Localization

Translate author books (#1111)
  Resources/Locale/ru-RU/paper/book-authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
Labels: Changes: Localization

expedition rewards (#16972)
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cargo/Events/CargoConsoleAddOrderMessage.cs
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

expedition air mod (#17369)
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageAirMod.cs
  Content.Shared/Salvage/SalvageExpeditions.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix transit power (#17200)
  Resources/Maps/Shuttles/emergency_transit.yml
Labels: none

arrivals (#17373)
  Resources/Maps/Shuttles/arrivals.yml
Labels: none

bagel silly update (#17375)
  Resources/Maps/bagel.yml
Labels: Changes: Map

add strip attempt logs (#17376)
  Content.Server/Strip/StrippableSystem.cs
Labels: none

add airlock pry logs (#17377)
  Content.Server/Doors/Systems/DoorSystem.cs
Labels: none
