Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Use linter for vendingmachinetest (#12445)
  Content.IntegrationTests/Tests/VendingMachineTest.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
Labels: none

HoP starting access tweak (#12345)
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Getting the tooltip to display (#12275)
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

fix butchering bug (#12253)
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
Labels: none

delete duplicate entities (#12454)
  Resources/Prototypes/Entities/Objects/Consumable/Food/RandomSpawns/food_snacks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: none

Implements pill container insertion/removal sounds (#12377)
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/pill_insert.ogg
  Resources/Audio/Effects/pill_remove.ogg
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Detective Coat Resprite (#12472)
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/meta.json
Labels: Changes: Sprites

Prevent inserting into unpowered lathes (#12405)
  Content.Server/Materials/MaterialStorageSystem.cs
Labels: none

make all mobs injectable (#12381)
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Prayers Again (#10960)
  Content.Client/Prayer/PrayerSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Prayer/PrayableComponent.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Prayer/SharedPrayerSystem.cs
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Textures/Interface/pray.svg
  Resources/Textures/Interface/pray.svg.png
  Resources/Textures/Interface/pray.svg.png.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

pipes (#12475)
  Resources/Maps/cluster.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix forensic scanner UI. (#12398)
  Content.Client/Forensics/ForensicScannerBoundUserInterface.cs
  Content.Client/Forensics/ForensicScannerMenu.xaml
  Content.Client/Forensics/ForensicScannerMenu.xaml.cs
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/short_print_and_rip.ogg
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Speedloader fix (#12417)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization

Fix blindness and UIs (#12326)
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionComponent.cs
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionSystem.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Locale/en-US/eye/blindness.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Localization

fix shove regression (#12316)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Locale/en-US/actions/actions/disarm-action.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix latejoin arrival announcement for roles with special entities (#12210)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Access group, locker fill and entity (#12244)
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Heterochromia (#12126)
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_l.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_r.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Localize sentience event target flavors (#11726)
  Content.Server/StationEvents/Events/RandomSentience.cs
  Resources/Locale/en-US/station-events/events/random-sentience.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: Localization

Localize nukeops ranks (#12393)
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-nukeops.ftl
Labels: Changes: Localization

Localize store categories (#12453)
  Content.Shared/Store/StoreCategoryPrototype.cs
  Resources/Locale/en-US/store/categories.ftl
  Resources/Prototypes/Store/categories.yml
Labels: Changes: Localization

Fix latejoin announce
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: Changes: Localization

Fix latejoin announce
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: Changes: Localization

do not use identity for join announcement (#12479)
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/body/parts/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/effects/weapon_arc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/species/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/surveillance_camera.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridge-loader-component.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/crew-manifest/crew-manifest.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/eye/blindness.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/markings/diona.ftl
  Resources/Locale/ru-RU/markings/tattoos.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/species/namepreset.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/weapon_arc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/body/parts/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/effects/weapon_arc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/species/diona.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/surveillance_camera.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridge-loader-component.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/crew-manifest/crew-manifest.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/eye/blindness.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/markings/diona.ftl
  Resources/Locale/ru-RU/markings/tattoos.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/species/namepreset.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/weapon_arc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: Changes: Localization

Localize traits (#11765)
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: Changes: Localization

Maybe fix test (#12480)
  Content.Server/Drone/DroneSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Parallelize BatteryRampPegSolver (#12351)
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/NodeGroups/PowerNet.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Power/Pow3r/IPowerSolver.cs
  Content.Server/Power/Pow3r/NoOpSolver.cs
  Content.Server/Power/Pow3r/PowerState.cs
  Pow3r/Program.Simulation.cs
  Pow3r/Program.UI.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
