Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Beret resprite and security beret (#19958)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/beret.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_engineering.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_engineering.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_engineering.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_merc.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixes a borg error that was causing random test failures (#20297)
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
Labels: none

Don't show verb confirmation pop-ups in debug mode (#20300)
  Content.Client/Verbs/UI/VerbMenuUIController.cs
Labels: none

gateway changes (#20304)
  Content.Client/Gateway/UI/GatewayWindow.xaml.cs
  Content.Server/Gateway/Components/GatewayComponent.cs
  Content.Server/Gateway/Components/GatewayDestinationComponent.cs
  Content.Server/Gateway/Systems/GatewaySystem.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
  Resources/Locale/en-US/gateway/gateway.ftl
Labels: Changes: UI, Changes: Localization

Chaplain Hoodie change (#20096)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

HoloBarrier Fix and Buff (#20129)
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix bloodred boots (#20309)
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adds Duration to EMP Event (#18437)
  Content.Server/Emp/EmpSystem.cs
Labels: none

noRo: true for asteroids (#20289)
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: none

Adds stair entities (with new sprites,) nukes stair decals (#20279)
  Resources/Prototypes/Decals/stairs.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
  Resources/Textures/Decals/stairs.rsi/material_e.png
  Resources/Textures/Decals/stairs.rsi/material_n.png
  Resources/Textures/Decals/stairs.rsi/material_s.png
  Resources/Textures/Decals/stairs.rsi/material_w.png
  Resources/Textures/Decals/stairs.rsi/meta.json
  Resources/Textures/Decals/stairs.rsi/stairs_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_w.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_w.png
  Resources/Textures/Decals/stairs.rsi/stairs_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_w.png
  Resources/Textures/Decals/stairs.rsi/stairs_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_w.png
  Resources/Textures/Decals/stairs.rsi/stone_e.png
  Resources/Textures/Decals/stairs.rsi/stone_n.png
  Resources/Textures/Decals/stairs.rsi/stone_s.png
  Resources/Textures/Decals/stairs.rsi/stone_w.png
  Resources/Textures/Decals/stairs.rsi/wood_e.png
  Resources/Textures/Decals/stairs.rsi/wood_n.png
  Resources/Textures/Decals/stairs.rsi/wood_s.png
  Resources/Textures/Decals/stairs.rsi/wood_w.png
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage.png
  Resources/Textures/deprecated.rsi/deprecated.png
  Resources/Textures/deprecated.rsi/meta.json
Labels: Changes: Sprites

now with sound! (#20287)
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Textures/Structures/Decoration/bonfire.rsi/bonfire.png
  Resources/Textures/Structures/Decoration/bonfire.rsi/bonfire_extinguished.png
  Resources/Textures/Structures/Decoration/bonfire.rsi/meta.json
Labels: Changes: Sprites

syndie headset 1 TC (#20284)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Adds Cap Cap to Captains Hardsuit+Clothing Locker (#20278)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

add binary translator key to uplink (#20295)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: Changes: Localization

Space Damage Increase Part 2 (#20234)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Stealth rebalance (#20314)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

bagel update (#20315)
  Resources/Maps/bagel.yml
Labels: Changes: Map

box update (#20318)
  Resources/Maps/box.yml
Labels: Changes: Map

decal settings (#20324)
  Content.Client/Decals/UI/DecalPlacerWindow.xaml
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
  Content.Shared/Decals/DecalPrototype.cs
  Resources/Locale/en-US/decals/decal-window.ftl
  Resources/Prototypes/Decals/Overlays/grayscale.yml
  Resources/Prototypes/Decals/crayons.yml
  Resources/Prototypes/Decals/dirty.yml
  Resources/Prototypes/Decals/flora.yml
  Resources/Prototypes/Decals/markings.yml
  Resources/Prototypes/Decals/planet.yml
  Resources/Prototypes/Decals/rock.yml
Labels: Changes: UI, Changes: Localization

Fixes Syndicate Bomb logs (#20240)
  Content.Server/Defusable/Systems/DefusableSystem.cs
Labels: none

New crops: Berries and Bungo (#19800)
  Resources/Locale/en-US/botany/components/seed-component.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/stage-3.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/stage-4.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/stage-5.png
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/stage-6.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/pit.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/stage-3.png
  Resources/Textures/Objects/Specific/Hydroponics/bungo.rsi/stage-4.png
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

closet skeleton event (#19802)
  Content.Server/StationEvents/Components/RandomEntityStorageSpawnRuleComponent.cs
  Content.Server/StationEvents/Events/RandomEntityStorageSpawnRule.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add TTS to BaseMod
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: none

Add TTS to BaseMod
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: none

Remake hijack shuttle into component & system
  Content.Server/Corvax/Objectives/Components/HijackShuttleComponent.cs
  Content.Server/Corvax/Objectives/Systems/HijackShuttleConditionSystem.cs
Labels: none

Remake hijack shuttle into component & system
  Content.Server/Corvax/Objectives/Components/HijackShuttleComponent.cs
  Content.Server/Corvax/Objectives/Systems/HijackShuttleConditionSystem.cs
Labels: none

Remove old condition
  Content.Server/Corvax/Objectives/Conditions/HijackShuttleCondition.cs
Labels: none

Remove old condition
  Content.Server/Corvax/Objectives/Conditions/HijackShuttleCondition.cs
Labels: none

Fix locale
  Resources/Locale/ru-RU/paper/book-salvage.ftl
Labels: Changes: Localization

Fix locale
  Resources/Locale/ru-RU/paper/book-salvage.ftl
Labels: Changes: Localization

Make hijack objective entity
  Content.Server/Corvax/Objectives/Components/HijackShuttleConditionComponent.cs
  Content.Server/Corvax/Objectives/Systems/HijackShuttleConditionSystem.cs
  Resources/Locale/ru-RU/corvax/objectives/conditions/hijack-shuttle-condition.ftl
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
Labels: Changes: Localization
