Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Fix ruins being added to station grid (#23865)
  Content.Server/Shuttles/Components/GridSpawnComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Resources/Prototypes/Entities/Stations/base.yml
Labels: none

Fix flippo sprite layer (#23877)
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: none

Fixed opened cargo airlock sprite (#23889)
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/open.png
Labels: Changes: Sprites

Fix roller skates debug assert (#23876)
  Content.Shared/Damage/Components/DamageOnHighSpeedImpactComponent.cs
Labels: none

Aghosts and other powerful beings no longer burn their hands on lights. (#23879)
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
Labels: none

Fix borg becoming emag immune if emag attempted with panel closed. (#23729)
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
Labels: none

box update (#23871)
  Resources/Maps/box.yml
Labels: Changes: Map

Gemini Hotfix (#23869)
  Resources/Maps/gemini.yml
Labels: Changes: Map

bagel update (#23870)
  Resources/Maps/bagel.yml
Labels: Changes: Map

aspid update (#23872)
  Resources/Maps/aspid.yml
Labels: Changes: Map

Fix tranquiliser shells not working (#23886)
  Content.Server/Chemistry/Components/SolutionInjectOnCollideComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnCollideSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: none

make intercoms draw above table (#23897)
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Fix admin log key order. (#23052)
  Content.Server.Database/Migrations/Postgres/20231226154937_AdminLogPk.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231226154937_AdminLogPk.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20231226154929_AdminLogPk.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231226154929_AdminLogPk.cs
  Content.Server.Database/Model.cs
Labels: none

Makes lights use the "old" light fixture sprites (#23898)
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/broken.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/burned.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/empty.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/glow.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/broken.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/burned.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/emergency.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/empty.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/off.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/on.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube_old.rsi/on_unlit.png
Labels: Changes: Sprites

remove ame parts from cargo (#23903)
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: none

marathon update (#23904)
  Resources/Maps/marathon.yml
Labels: Changes: Map

Throttle MagicMirror do_afters (#23867)
  Content.Server/MagicMirror/MagicMirrorComponent.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
Labels: none

bagel update (#23905)
  Resources/Maps/bagel.yml
Labels: Changes: Map

remove 1 chemist from gemini (#23909)
  Resources/Prototypes/Maps/gemini.yml
Labels: Changes: Map

machine parts + power cell resprite (#23913)
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Textures/Objects/Misc/stock_parts.rsi/capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/micro_mani.png
  Resources/Textures/Objects/Power/power_cells.rsi/antique.png
  Resources/Textures/Objects/Power/power_cells.rsi/high.png
  Resources/Textures/Objects/Power/power_cells.rsi/hyper.png
  Resources/Textures/Objects/Power/power_cells.rsi/medium.png
  Resources/Textures/Objects/Power/power_cells.rsi/meta.json
  Resources/Textures/Objects/Power/power_cells.rsi/microreactor.png
  Resources/Textures/Objects/Power/power_cells.rsi/o1.png
  Resources/Textures/Objects/Power/power_cells.rsi/o2.png
  Resources/Textures/Objects/Power/power_cells.rsi/small.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/full.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charged.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charging.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/meta.json
  Resources/Textures/Structures/Power/cell_recharger.rsi/open.png
Labels: Changes: Sprites, Changes: Localization

reach update (#23915)
  Resources/Maps/reach.yml
  Resources/Prototypes/Maps/reach.yml
Labels: Changes: Map

crusher rebalanceing (#23916)
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: none

revert core cargo shuttle for now (#23921)
  Resources/Maps/Shuttles/cargo_core.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/core.yml
Labels: Changes: Map

Fix tips (#23920)
  Resources/Prototypes/Datasets/tips.yml
Labels: none

Disable round restart vote on Corvax
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: none

Disable round restart vote on Corvax
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: none

Only hide ruins labels (#23925)
  Content.Server/Shuttles/Components/GridSpawnComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
Labels: none

Add doors to the station map (#23639)
  Content.Client/Pinpointer/NavMapSystem.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Shared/Pinpointer/NavMapComponent.cs
  Content.Shared/Pinpointer/NavMapDoorComponent.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: none

Optimise the puddle system to reach an equilibrium quickly. (#23776)
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
Labels: none

Split cargo shuttle to its own component (#23926)
  Content.Server/Shuttles/Components/StationCargoShuttleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Resources/Prototypes/Entities/Stations/base.yml
Labels: none

Fix light tube broken state (#23939)
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/broken.png
Labels: Changes: Sprites

Remove time info from Corvax Solaris server desc
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: none

Remove time info from Corvax Solaris server desc
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: none

maybe fix the problem with incorect roundstart role for sponsors
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
Labels: none

maybe fix the problem with incorect roundstart role for sponsors
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
Labels: none

fix some bugs
  Content.Client/PDA/PdaMenu.xaml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: UI

fix some bugs
  Content.Client/PDA/PdaMenu.xaml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: UI

Bluespace Anomaly Admin Logs (#23942)
  Content.Server/Anomaly/Effects/BluespaceAnomalySystem.cs
Labels: none

Fix clumsy defib debug assert (#23930)
  Content.Server/Medical/DefibrillatorSystem.cs
Labels: none

Respite and minor changes to mercenary items (#23783)
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Back/Backpacks/merc.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/merc.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/merc.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/merc.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/Color/olive.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/mercbattle.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/mercfingerless.rsi/meta.json
Labels: Changes: Sprites
