Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]

Make HeatCapacity use FixturesMass (#8661)
  Content.Server/Temperature/Components/TemperatureComponent.cs
Labels: none

ERT Update (#8617)
  Resources/Maps/dart.yml
  Resources/Maps/shuttleert.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Maps/dart.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix cross grid movement (#8790)
  Content.Shared/Movement/SharedMoverController.cs
Labels: none

temporary test fix (#8791)
  Resources/Maps/nss_pillar.yml
Labels: Changes: Map

Make decal gridinit use gridentityid (#8792)
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: none

Fix SMG box sizes (#8793)
  Resources/Maps/waystation.yml
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
Labels: Changes: Map

Fix winter coats holding more than what they weigh (#8750)
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: none

Tweak Commands (#8769)
  Resources/clientCommandPerms.yml
Labels: none

Fix translation of DrinkHellRamen description
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
Labels: none

Fix translation of DrinkHellRamen description
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
Labels: none

Prevent accidental crayon eating (#8799)
  Content.Server/Crayon/CrayonSystem.cs
Labels: none

Add ReadExecute perms to all of DamageableComponent (#8800)
  Content.Shared/Damage/Components/DamageableComponent.cs
Labels: none

Fix microwave eating wrench (#8801)
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
Labels: none

Vote commands completions. (#8758)
  Content.Server/Voting/VoteCommands.cs
  Resources/Locale/en-US/voting/vote-commands.ftl
Labels: none

Prevent door remote zaps (#8803)
  Content.Server/Remotes/DoorRemoteSystem.cs
Labels: none

TauCeti smoothing mode (#8723)
  Tools/iconsmooth_lib.py
Labels: none

Fix firelock prying (#8804)
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Slight DoAfterSystem improvement (#8806)
  Content.Client/DoAfter/DoAfterSystem.cs
Labels: none

Use correct PRGlass parent (#8805)
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
Labels: none

Make two overlays use OverlayDrawArgs aabbs. (#8808)
  Content.Client/AI/ClientPathfindingDebugSystem.cs
  Content.Client/Administration/AdminNameOverlay.cs
Labels: none

Fix large_casing sprite and cobra mag (#8809)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/mining/ore_bag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/devices/network-configurator.ftl
  Resources/Locale/ru-RU/disease/zombie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mining/ore_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/stunnable/components/stunbaton-component.ftl
  Resources/Locale/ru-RU/voting/vote-commands.ftl
  Resources/Locale/ru-RU/zombies/zombie.ftl
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/mining/ore_bag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/devices/network-configurator.ftl
  Resources/Locale/ru-RU/disease/zombie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mining/ore_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/stunnable/components/stunbaton-component.ftl
  Resources/Locale/ru-RU/voting/vote-commands.ftl
  Resources/Locale/ru-RU/zombies/zombie.ftl
Labels: none

Remove merge conflict comment (#8819)
  .github/workflows/conflict-labeler.yml
Labels: none

Revert "Remove merge conflict comment" (#8820)
  .github/workflows/conflict-labeler.yml
Labels: none

Fix ConstructionStation map
  Resources/Maps/constructionstation.yml
Labels: Changes: Map

Fix ConstructionStation map
  Resources/Maps/constructionstation.yml
Labels: Changes: Map

Remove saltern power prototype locales
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/saltern_power.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/saltern_power.ftl
Labels: none

Remove saltern power prototype locales
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/saltern_power.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/saltern_power.ftl
Labels: none

[Resprite] Material sheets (#248)
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_3.png
Labels: Changes: Sprites

[Resprite] Material sheets (#248)
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_3.png
Labels: Changes: Sprites

Mistake in Machete locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
Labels: none

Mistake in Machete locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
Labels: none

Use custom rules file
  Resources/Server Info/Rules.txt
  Resources/Server Info/RulesCorvax.txt
Labels: none

Use custom rules file
  Resources/Server Info/Rules.txt
  Resources/Server Info/RulesCorvax.txt
Labels: none

Captain laser self recharge (#8826)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Update coffee.yml (#8830)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
Labels: none
