Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Reduces the density of the nuclear bomb (#11667)
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make FireExtinguisher shared (#11666)
  Content.Client/Extinguisher/FireExtinguisherComponent.cs
  Content.Shared/Extinguisher/SharedFireExtinguisherComponent.cs
Labels: none

Cap passive research points so people spend points more (#11606)
  Content.Server/Research/Components/ResearchServerComponent.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Close context menu on entering combat mode (#11624)
  Content.Client/CombatMode/CombatModeComponent.cs
  Content.Client/Verbs/UI/VerbMenuPresenter.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
Labels: none

Fix melee windup persisting in some circumstances (#11625)
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Voice mask fixes (#11638)
  Content.Server/Clothing/MaskSystem.cs
  Content.Server/Headset/HeadsetComponent.cs
Labels: none

Can't butcher objects inside containers. (this time, the pr contains the code 🙃) (#11685)
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/kitchen/components/butcherable-component.ftl
Labels: Changes: Localization

Permit ReagentEffect PopupMessage to access the solutionEntity it occurs in. (#11537)
  Content.Server/Chemistry/ReagentEffects/PopupMessage.cs
Labels: none

pillar minor decoration update (#11561)
  Resources/Maps/pillar.yml
Labels: Changes: Map

Fix airlock dock rotation (#11581)
  Content.Client/Shuttles/UI/DockingControl.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Make CanAttack check for container (#11650)
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: none

Biomass Reclaimer cleanup (#11551)
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: none

Drain fix (#11432)
  Content.Server/Fluids/EntitySystems/DrainSystem.cs
Labels: none

New sprites for pirate and deckard revolvers (#11481)
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/meta.json
Labels: Changes: Sprites

Set solution for tranquilizer rounds (#11469)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: none

Only show melee windup for yourself (#11626)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Melee/MeleeWindupOverlay.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Some vehicle bugfixes (#11692)
  Content.Client/Vehicle/VehicleSystem.cs
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Movement/Components/RelayInputMoverComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: none

Add all job timers localization strings (#11577)
  Resources/Locale/en-US/job/job-names.ftl
Labels: Changes: Localization

Fix gamemap name casing (#11474)
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Station/Components/StationDataComponent.cs
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/Maps/infiltrator.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/pirate.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/salvage.yml
  Resources/Prototypes/Maps/test.yml
  Resources/Prototypes/shuttles.yml
Labels: Changes: Map

de-capitalize revenant names (#11691)
  Resources/Prototypes/Datasets/Names/revenant.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix saltern cvar (again) (#11695)
  Content.Shared/CCVar/CCVars.cs
Labels: none

Shuttle impact sounds (#11099)
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Resources/Audio/Effects/Shuttle/shuttle_impact1.ogg
  Resources/Audio/Effects/Shuttle/shuttle_impact2.ogg
  Resources/Audio/Effects/Shuttle/shuttle_impact3.ogg
  Resources/Prototypes/SoundCollections/shuttle.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Oops (#11698)
  Content.Client/Info/RulesManager.cs
Labels: none

biomass reclaimer suicide (#11649)
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Resources/Locale/en-US/medical/components/biomass-reclaimer-component.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate revenant name datasets (#439)
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: none

Translate revenant name datasets (#439)
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Replace StayAliveObjective with EscapeShuttleObjective. (#11642)
  Content.Server/Objectives/Conditions/EscapeShuttleCondition.cs
  Content.Server/Objectives/Conditions/StayAliveCondition.cs
  Resources/Locale/en-US/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/en-US/objectives/conditions/stay-alive-condition.ftl
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update meteor announce (#440)
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/meteors_end.ogg
  Resources/Audio/Announcements/meteors_start.ogg
  Resources/Locale/ru-RU/station-events/events/meteor-swarm.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
