Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Stop puddles and soap from blocking doors (#16258)
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add other shutter construction (#16282)
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix filter popup prediction spam (#16274)
  Content.Client/Popups/PopupSystem.cs
Labels: none

Predict wielding (#16275)
  Content.Server/Actions/Events/DisarmAttemptEvent.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Wieldable/Components/IncreaseDamageOnWieldComponent.cs
  Content.Server/Wieldable/Components/WieldableComponent.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Content.Shared/Actions/Events/DisarmAttemptEvent.cs
  Content.Shared/Wieldable/BeforeUnwieldEvent.cs
  Content.Shared/Wieldable/BeforeWieldEvent.cs
  Content.Shared/Wieldable/Components/IncreaseDamageOnWieldComponent.cs
  Content.Shared/Wieldable/Components/WieldableComponent.cs
  Content.Shared/Wieldable/ItemUnwieldedEvent.cs
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Frezon reaction requires 50:1 Oxy:Trit ratio (#16295)
  Content.Server/Atmos/Reactions/FrezonProductionReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Use resaved maps
  Resources/Maps/Misc/corvax_terminal.yml
  Resources/Maps/Shuttles/emergency_avrit.yml
  Resources/Maps/Shuttles/emergency_delta.yml
  Resources/Maps/Shuttles/escape_pod_security.yml
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: Changes: Map

Use resaved maps
  Resources/Maps/Misc/corvax_terminal.yml
  Resources/Maps/Shuttles/emergency_avrit.yml
  Resources/Maps/Shuttles/emergency_delta.yml
  Resources/Maps/Shuttles/escape_pod_security.yml
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: Changes: Map

Update corvax emergency
  Resources/Maps/Shuttles/corvax_emergency.yml
Labels: none

Update corvax emergency
  Resources/Maps/Shuttles/corvax_emergency.yml
Labels: none

Add python requirements file for ss14_ru scripts
  Tools/ss14_ru/requirements.txt
Labels: none

Add python requirements file for ss14_ru scripts
  Tools/ss14_ru/requirements.txt
Labels: none

Update locale
  Resources/Locale/ru-RU/cuffs/components/cuffable-component.ftl
  Resources/Locale/ru-RU/disease/diagnoser.ftl
  Resources/Locale/ru-RU/disease/disease-proto.ftl
  Resources/Locale/ru-RU/disease/disease.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/disease/scanner.ftl
  Resources/Locale/ru-RU/disease/swab.ftl
  Resources/Locale/ru-RU/disease/vaccine.ftl
  Resources/Locale/ru-RU/flash/components/flash-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/radio/components/radio-jammer-component.ftl
  Resources/Locale/ru-RU/rcd/components/rcd-ammo-component.ftl
  Resources/Locale/ru-RU/rcd/components/rcd-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/chem.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/events.ftl
  Resources/Locale/ru-RU/station-events/events/disease-outbreak.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/ru-RU/cuffs/components/cuffable-component.ftl
  Resources/Locale/ru-RU/disease/diagnoser.ftl
  Resources/Locale/ru-RU/disease/disease-proto.ftl
  Resources/Locale/ru-RU/disease/disease.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/disease/scanner.ftl
  Resources/Locale/ru-RU/disease/swab.ftl
  Resources/Locale/ru-RU/disease/vaccine.ftl
  Resources/Locale/ru-RU/flash/components/flash-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/radio/components/radio-jammer-component.ftl
  Resources/Locale/ru-RU/rcd/components/rcd-ammo-component.ftl
  Resources/Locale/ru-RU/rcd/components/rcd-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/chem.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/events.ftl
  Resources/Locale/ru-RU/station-events/events/disease-outbreak.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: Localization

Cluster 2.5.9 (#16227)
  Resources/Maps/cluster.yml
Labels: Changes: Map

Saltern 4.2 (#16226)
  Resources/Maps/saltern.yml
Labels: Changes: Map

condiment rework (#16247)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-alpha-1.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-alpha-2.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-alpha-3.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-coldsauce.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-empty.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-hotsauce.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-ketchup.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-s-vinegar.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/bottle-vinegar.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/label-s-c.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/label-s-h.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/label-s-k.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/label-s-v.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/label-v.png
  Resources/Textures/Objects/Consumable/Food/condiments.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add more cyrillic chat sanitizaion (#1050)
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: none

Add more cyrillic chat sanitizaion (#1050)
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: none

Removes duplicate fortune cookie (#16304)
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/cookie-fortune.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites

Add TTS to vend machines & hydro tray (#1043)
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: none

Add TTS to vend machines & hydro tray (#1043)
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: none

Disable round start arachnid (#1057)
  Resources/Prototypes/Species/arachnid.yml
Labels: none

Disable round start arachnid (#1057)
  Resources/Prototypes/Species/arachnid.yml
Labels: none

Re-add kvass (#1045)
  Resources/Locale/ru-RU/corvax/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/corvax/prototypes/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Corvax/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Corvax/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/Corvax/Objects/Consumable/Drinks/kvass.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/kvass.rsi/meta.json
  Resources/Textures/Corvax/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/Corvax/Structures/Storage/kvass.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Re-add kvass (#1045)
  Resources/Locale/ru-RU/corvax/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/corvax/prototypes/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Corvax/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Corvax/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/Corvax/Objects/Consumable/Drinks/kvass.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/kvass.rsi/meta.json
  Resources/Textures/Corvax/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/Corvax/Structures/Storage/kvass.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

saltern 4.3 (#16311)
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map

gun safe tweaks (#16312)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/migration.yml
Labels: none

Temporarily disable survival from being picked (#16319)
  Resources/Prototypes/secret_weights.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Give monkeys clumsy (#16320)
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Interaction/Components/ClumsyComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hotfix round restart loops (#16292)
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
Labels: none

fix key debug assert on round restart (#16296)
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
Labels: none

Disable role timers for the dev cvar preset. (#16327)
  Resources/ConfigPresets/Build/development.toml
Labels: none

Aspid 1.0.6 (#16322)
  Resources/Maps/aspid.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: Changes: Map
