Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]

Fix StepTrigger error (#8480)
  Content.Shared/StepTrigger/StepTriggerSystem.cs
Labels: none

Attempt to reduce audio helper resolves (#8493)
  Content.Shared/Audio/AudioHelpers.cs
  Content.Shared/Sound/SoundSpecifier.cs
Labels: none

Fix signal linker locale
  Resources/Locale/ru-RU/machine-linking/components/signal-linker-component.ftl
Labels: none

Fix signal linker locale
  Resources/Locale/ru-RU/machine-linking/components/signal-linker-component.ftl
Labels: none

Remove old consumable locale files
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_bottles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_cans.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_cups.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_flasks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_solutioncontainerexample.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_special.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_cups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_solutioncontainerexample.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/trash_drinks.ftl
Labels: none

Remove old consumable locale files
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_bottles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_cans.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_cups.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_flasks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_solutioncontainerexample.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks_special.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_cups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_solutioncontainerexample.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks_special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/trash_drinks.ftl
Labels: none

Minor locale formatting
  Resources/Locale/ru-RU/immovable-rod/immovable-rod.ftl
  Resources/Locale/ru-RU/machine-linking/components/signal-linker-component.ftl
Labels: none

Minor locale formatting
  Resources/Locale/ru-RU/immovable-rod/immovable-rod.ftl
  Resources/Locale/ru-RU/machine-linking/components/signal-linker-component.ftl
Labels: none

Bump engine to 0.19.0.0 (#8417)
  Content.Benchmarks/EntityManagerGetAllComponents.cs
  Content.Client/Access/Components/IdCardConsoleComponent.cs
  Content.Client/Nutrition/Components/HungerComponent.cs
  Content.IntegrationTests/Tests/Destructible/TestDestructibleListenerSystem.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalBendComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalEntryComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalJunctionComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTaggerComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTransitComponent.cs
  Content.Server/Nutrition/Components/HungerComponent.cs
  Content.Shared/Whitelist/EntityWhitelist.cs
Labels: none

Remove IgnoreComponents on the client (#8308)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.IntegrationTests/Tests/GameObjects/Components/EntityPrototypeComponentsTest.cs
Labels: none

Fix GasThermoMachine upgrading (#8313)
  Content.Server/Atmos/Piping/Unary/Components/GasThermoMachineComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix hardhat shading (#8508)
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
Labels: none

step trigger fix + optimization (#8503)
  Content.Shared/StepTrigger/StepTriggerComponent.cs
  Content.Shared/StepTrigger/StepTriggerSystem.cs
Labels: none

Underplating Must Die (The Movie) (The Video Game) (#8498)
  Resources/Prototypes/Tiles/plating.yml
Labels: none

Add a BRB Sign (#8437)
  Resources/Prototypes/Entities/Objects/Misc/brb_sign.yml
  Resources/Textures/Objects/Misc/brbsign.rsi/icon.png
  Resources/Textures/Objects/Misc/brbsign.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Set alert level command (#8507)
  Content.Server/AlertLevel/AlertLevelComponent.cs
  Content.Server/AlertLevel/AlertLevelPrototype.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Nuke/NukeSystem.cs
Labels: none

Add completions to the damage command (#8510)
  Content.Server/Damage/Commands/HurtCommand.cs
  Resources/Locale/en-US/damage/damage-command.ftl
Labels: none

Fix map rendering (#8514)
  Content.MapRenderer/Painters/GridPainter.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.MapRenderer/Painters/TilePainter.cs
Labels: none

Improve the templates, add networked entity system templates. (#8518)
  SpaceStation14.sln.DotSettings
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove extra ;
  Content.MapRenderer/Painters/MapPainter.cs
Labels: none

Gamma & Epsilon alerts levels (#8517)
  Resources/Audio/Misc/epsilon.ogg
  Resources/Audio/Misc/license.txt
  Resources/Audio/Misc/siren.ogg
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Waystation: The Station That Will Succeed Packed's Legacy (#8398)
  Resources/Maps/waystation.yml
  Resources/Prototypes/Maps/waystation.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Decouples starting gear from UtilityAI (#8512)
  Content.Server/AI/Components/AiControllerComponent.cs
  Content.Server/Clothing/Components/LoadoutComponent.cs
  Content.Server/Clothing/LoadoutSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: none

Interrupt uncuff on target movement (#8511)
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
Labels: none

Fix mapping actions for engine PR (#8296)
  Resources/mapping_actions.yml
Labels: none

Adds TimedDespawn component to Invisible Walls, nukes DeleteAfterTime (#8528)
  Content.Server/Delete/DeleteAfterTimeComponent.cs
  Content.Server/Delete/DeleteAfterTimeSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: none

Dirty Command (#8533)
  Content.Server/Administration/Commands/DirtyCommand.cs
Labels: none

Dirty command fix (#8534)
  Content.Server/Administration/Commands/DirtyCommand.cs
Labels: none

Fix server update restarts when server paused. (#8509)
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Updates.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/ServerUpdates/ServerUpdateManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/server-updates/server-updates.ftl
Labels: none

Examinable Anchors (#8407)
  Content.Server/Construction/AnchorableSystem.cs
  Resources/Locale/en-US/battery/components/examinable-battery-component.ftl
  Resources/Locale/en-US/examine/examine-system.ftl
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update Changelog.yml
  Resources/Changelog/Changelog.yml
Labels: none

More github action tests (#7301)
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/test-packaging.yml
Labels: none
