Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Use construction graphs for hacking protections (#20265)
  Content.Server/Construction/Completions/ChangeWiresPanelSecurityLevel.cs
  Content.Server/Construction/Completions/SetWiresPanelSecurity.cs
  Content.Server/Construction/Conditions/HasTag.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Construction/ConstructionGraphEdge.cs
  Content.Shared/Construction/ConstructionGraphNode.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Content.Shared/Wires/WiresPanelComponent.cs
  Content.Shared/Wires/WiresPanelSecurityComponent.cs
  Content.Shared/Wires/WiresPanelSecurityLevelPrototype.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/wires_panel_security.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/highsec.yml
  Resources/Prototypes/tags.yml
Labels: none

Minor Rev changes (#20771)
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
Labels: Changes: Localization

Make syndicate bombs collidable again (#20573)
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove extra white pixels (#20791)
  Resources/Textures/Interface/Misc/job_icons.rsi/Revolutionary.png
Labels: Changes: Sprites

Four 'new' signs (#20792)
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/court.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/janitor.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/psychology.png
Labels: Changes: Sprites

add (#20781)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

bagel update (#20795)
  Resources/Maps/bagel.yml
Labels: Changes: Map

New Signs to Packed (#20796)
  Resources/Maps/packed.yml
Labels: Changes: Map

Lizard "Rework" (#20328)
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/tags.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix opening wire panels without WiresPanelSecurityComponent (#20798)
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Wires/WiresSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Liquid anomaly (#20626)
  Content.Server/Anomaly/Components/InjectionAnomalyComponent.cs
  Content.Server/Anomaly/Components/PuddleCreateAnomalyComponent.cs
  Content.Server/Anomaly/Components/ReagentProducerAnomalyComponent.cs
  Content.Server/Anomaly/Effects/InjectionAnomalySystem.cs
  Content.Server/Anomaly/Effects/PuddleCreateAnomalySystem.cs
  Content.Server/Anomaly/Effects/ReagentProducerAnomalySystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/waterswirl.ogg
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
  Resources/Textures/Mobs/Aliens/elemental.rsi/alive.png
  Resources/Textures/Mobs/Aliens/elemental.rsi/dead.png
  Resources/Textures/Mobs/Aliens/elemental.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/liquid_anom.rsi/anom.png
  Resources/Textures/Structures/Specific/Anomalies/liquid_anom.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/liquid_anom.rsi/pulse.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make tinned foods use openable (#19884)
  Content.Server/Destructible/Thresholds/Behaviors/OpenBehavior.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/icon-hot.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/mre.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/meta.json
Labels: Changes: Sprites

Change ThrownItemComponent to be removed after flytime (#20700)
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemComponent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/Weapons/Misc/SharedTetherGunSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

To weld the secret door (#20707)
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add mob retaliation (#19901)
  Content.Server/Friends/Systems/PettableFriendSystem.cs
  Content.Server/NPC/Components/FactionExceptionComponent.cs
  Content.Server/NPC/Components/FactionExceptionTrackerComponent.cs
  Content.Server/NPC/Components/NPCRetaliationComponent.cs
  Content.Server/NPC/Systems/FactionExceptionSystem.cs
  Content.Server/NPC/Systems/NPCRetaliationSystem.cs
  Content.Server/NPC/Systems/NpcFactionSystem.Exception.cs
  Content.Server/NPC/Systems/NpcFactionSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/NPCs/mob.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Misc mind tweaks and fixes (#20614)
  Content.IntegrationTests/Pair/TestPair.cs
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
  Content.Server/Ghost/Ghost.cs
  Content.Server/Mind/MindSystem.cs
  Content.Shared/Mind/MindComponent.cs
  Content.Shared/Mind/SharedMindSystem.cs
Labels: none

Add test to load all config presets (#20705)
  Content.IntegrationTests/Tests/ConfigPresetTests.cs
  Content.Server/AssemblyInfo.cs
  Content.Server/Entry/EntryPoint.cs
Labels: none

Disable manifest download for public build
  .github/workflows/publish-publish.yml
  Tools/gen_build_info.py
Labels: none

Disable manifest download for public build
  .github/workflows/publish-publish.yml
  Tools/gen_build_info.py
Labels: none

Revert "Disable manifest download for public build"
  .github/workflows/publish-publish.yml
  Tools/gen_build_info.py
Labels: none

Revert "Disable manifest download for public build"
  .github/workflows/publish-publish.yml
  Tools/gen_build_info.py
Labels: none

Use ACZ for public builds
  .github/workflows/publish-publish.yml
Labels: none

Use ACZ for public builds
  .github/workflows/publish-publish.yml
Labels: none

Fix GH vars use
  .github/workflows/publish-publish.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
Labels: none

Fix GH vars use
  .github/workflows/publish-publish.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
Labels: none

Remove build info generation for public build
  .github/workflows/publish-publish.yml
Labels: none

Remove build info generation for public build
  .github/workflows/publish-publish.yml
Labels: none

Spiders inject toxin (#19497)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Tag tinned peaches and meat with Fruit and Meat, respectively (#20814)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
Labels: none

Add corvax interfaces to Magic ACZ
  Content.Packaging/ContentPackaging.cs
Labels: none

Add corvax interfaces to Magic ACZ
  Content.Packaging/ContentPackaging.cs
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
