Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

return foam artifact effects (#21656)
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/FoamArtifactComponent.cs
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: none

small action bar fixes (#21655)
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

remove evac shuttle emag lmao (#21657)
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
Labels: none

Gateway nerfs (#21659)
  Content.Server/Gateway/Components/GatewayGeneratorComponent.cs
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Shared/Salvage/RestrictedRangeComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove remote signal from ieds (#21660)
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/ied.yml
Labels: none

Make bloodloss and asphyxiation damage not ignore resistances (#21665)
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update round-notifications.ftl
  Resources/Locale/ru-RU/discord/round-notifications.ftl
Labels: Changes: Localization

Update round-notifications.ftl
  Resources/Locale/ru-RU/discord/round-notifications.ftl
Labels: Changes: Localization

the boz (#21675)
  Resources/Maps/Misc/terminal.yml
Labels: none

Kettle updoot (#21666)
  Resources/Maps/kettle.yml
Labels: Changes: Map

Fix corgi pup fixture (#21671)
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_dead.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_deadcollar.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_deadtag.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_shaved.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_shaved_dead.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppycollar.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppytag.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add new lobby arts (#1574)
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/singulord-cage.png
  Resources/Textures/Corvax/LobbyScreens/singulord-cage.png.yml
  Resources/Textures/Corvax/LobbyScreens/xenosattack.png
  Resources/Textures/Corvax/LobbyScreens/xenosattack.png.yml
Labels: none

Add new lobby arts (#1574)
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/singulord-cage.png
  Resources/Textures/Corvax/LobbyScreens/singulord-cage.png.yml
  Resources/Textures/Corvax/LobbyScreens/xenosattack.png
  Resources/Textures/Corvax/LobbyScreens/xenosattack.png.yml
Labels: none

remove qm externals access (#21677)
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: none

give supply bot cargo access (#21679)
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: none

Allow unbuckling incapacitated people from vehicles. Fix being able to unbuckle yourself while incapacitated (#21556)
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

janiborg cleaning module starts with trashbag now (#21680)
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: none

ok final actions fixes fr this time (#21683)
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

aspid update (#21685)
  Resources/Maps/aspid.yml
Labels: Changes: Map

kettle update (#21687)
  Resources/Maps/kettle.yml
Labels: Changes: Map

cargo update (#21686)
  Resources/Maps/Shuttles/cargo.yml
Labels: none

корвакс и спектрум - нахуй с огорода
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: none

корвакс и спектрум - нахуй с огорода
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: none

фикс GhostThemeSystem
  Content.Server/Alteros/GhostTheme/GhostThemeSystem.cs
Labels: none

фикс GhostThemeSystem
  Content.Server/Alteros/GhostTheme/GhostThemeSystem.cs
Labels: none

удалил полностью гейт и спектрум
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/gate.yml
  Resources/Prototypes/Corvax/Maps/spectrum.yml
Labels: none

удалил полностью гейт и спектрум
  Resources/Prototypes/Adventure/Maps/Pools/Adventure.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/gate.yml
  Resources/Prototypes/Corvax/Maps/spectrum.yml
Labels: none

Cak Upgrade (#21678)
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/cat_meow2.ogg
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Voice/speech_sounds.yml
Labels: none

Remove usages of obsolete methods in ChargeBatteryArtifactSystem (#21664)
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ChargeBatteryArtifactSystem.cs
Labels: none

блядь пошло оно нахуй
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: none

блядь пошло оно нахуй
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: none

фикс test-packaging.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
Labels: none
