Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Delta Fixed, Reuploaded Again (#8105)
  Resources/Prototypes/Maps/delta.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

filing collision + outline fix (#8122)
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: none

Barratry Update (#8118)
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: Changes: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix fish hat (#8123)
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/equipped-HELMET.png
Labels: Changes: Sprites

Suicide2 (#8117)
  Content.Server/Chat/Commands/SuicideCommand.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/Toilet/ToiletSystem.cs
Labels: none

The Newest Furry Race [Skeletons] (#7825)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Body/Components/BodyComponent.cs
  Content.Server/Body/Components/BodyReassembleComponent.cs
  Content.Server/Body/Systems/BodyReassembleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Body/Part/BodyPartCompatibility.cs
  Content.Shared/Species/SpeciesPrototype.cs
  Resources/Audio/Effects/bone_rattle.ogg
  Resources/Audio/Effects/license.txt
  Resources/Audio/Effects/licenses.txt
  Resources/Audio/Voice/Skeleton/license.txt
  Resources/Audio/Voice/Skeleton/skeleton_scream.ogg
  Resources/Locale/en-US/body/behavior/reassemble.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Presets/skeleton.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/skull_icon.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Optionally deserialize `AudioParams` in `SoundSpecifier` (#8065)
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Sound/SoundSpecifier.cs
Labels: none

Lizard name datasets (#7890)
  Content.Client/Preferences/UI/HumanoidProfileEditor.Random.cs
  Content.Shared/CharacterAppearance/Sex.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Species/SpeciesPrototype.cs
  Resources/Prototypes/Datasets/Names/reptilian_female.yml
  Resources/Prototypes/Datasets/Names/reptilian_male.yml
  Resources/Prototypes/species.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't force bwoink window open for admins (#8066)
  Content.Client/Administration/BwoinkSystem.cs
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
  Content.Client/HUD/GameHud.ButtonBar.cs
Labels: Changes: UI

Powercell adjustment (#7828)
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Shuttle Assembly Crate (#7898)
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Round end audio (#8048)
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Audio/Announcements/RoundEnd/apc_destroyed.ogg
  Resources/Audio/Announcements/RoundEnd/bangin_donk.ogg
  Resources/Audio/Announcements/RoundEnd/license.txt
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Laser gun bugfix & damage adjustment (#8069)
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: none

fix elite suit (#8127)
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Skeleton Sprite Fix (#8126)
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_m.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Legally distinct gravity gun (#8114)
  Content.Client/Weapons/Ranged/TetherGunCommand.cs
  Content.Client/Weapons/Ranged/TetherGunSystem.cs
  Content.Server/Weapon/Ranged/TetherGunSystem.cs
  Content.Shared/Weapons/Ranged/SharedTetherGunSystem.cs
  Resources/Prototypes/Entities/Virtual/tether.yml
  Resources/clientCommandPerms.yml
Labels: none

Escalation rules (#8128)
  Resources/Server Info/Rules.txt
Labels: none

Added the TechFabCircuitboards and made them spawn in the head's lockers (#8124)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

Stripping ECS + window do_after (#8111)
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Strip/StrippableComponent.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Strip/Components/SharedStrippableComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Move disarmed event (#8130)
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Server/CombatMode/DisarmedEvent.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Recycling/Components/RecyclerComponent.cs
  Content.Server/Stunnable/StunSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
Labels: none

Fixing warnings (#8131)
  Content.Server/AI/Utility/AiLogic/UtilityAI.cs
  Content.Server/AI/WorldState/States/Clothing/NearbyClothingState.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Administration/Commands/Station/ListStationJobsCommand.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzableSystem.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Body/Components/BodyScannerComponent.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Doors/WireActions/DoorBoltLightWireAction.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Doors/WireActions/DoorSafetyWireAction.cs
  Content.Server/Doors/WireActions/DoorTimingWireAction.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Payload/EntitySystems/PayloadSystem.cs
  Content.Server/Remotes/DoorRemoteComponent.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/RadiationStorm.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Server/Weapon/Melee/ZombieTransfer/ZombieTransferSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/RadiateArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TemperatureArtifactComponent.cs
Labels: none

Tether gun fixes (#8129)
  Content.Client/Maps/GridDraggingCommand.cs
  Content.Client/Weapons/Ranged/TetherGunCommand.cs
  Content.Client/Weapons/Ranged/TetherGunSystem.cs
  Content.Server/Weapon/Ranged/TetherGunSystem.cs
  Content.Shared/Audio/AmbientSoundComponent.cs
  Content.Shared/Weapons/Ranged/SharedTetherGunSystem.cs
Labels: none

Salvage mob restrictions (#8080)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Salvage/SalvageMobRestrictionsComponent.cs
  Content.Server/Salvage/SalvageMobRestrictionsGridComponent.cs
  Content.Server/Salvage/SalvageMobRestrictionsSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: none

unbork (#8139)
  Resources/Maps/barratry.yml
Labels: Changes: Map

Add files via upload (#8142)
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/animated.png
Labels: Changes: Sprites

Flavor text (#8070)
  Content.Client/FlavorText/FlavorText.xaml
  Content.Client/FlavorText/FlavorText.xaml.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Migrations/Postgres/20220509060724_FlavorText.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220509060724_FlavorText.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20220509060717_FlavorText.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220509060717_FlavorText.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/DetailExaminable/DetailExaminableComponent.cs
  Content.Server/DetailExaminable/DetailExaminableystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Tests/Server/Preferences/ServerDbSqliteTests.cs
  Resources/Locale/en-US/detail-examinable/detail-examinable.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Server Info/Rules.txt
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

It's a waffle home. [New Salvage] (#7991)
  Resources/Maps/Salvage/wh-salvage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map

Skeleton Bugfix Pt. 2 (#8137)
  Content.Server/Body/Systems/BodyReassembleSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Textures/Mobs/Customization/eyes.rsi/meta.json
  Resources/Textures/Mobs/Customization/eyes.rsi/no_eyes.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"No C#":
- all: ["!**/*.cs"]
