Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Resolves PowerDeviceVisualizer is Obsolete (#13900)
  Content.Client/Power/Visualizers/PowerDeviceVisualizer.cs
  Content.Client/Power/Visualizers/PowerDeviceVisuals.cs
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
Labels: none

Resolves ParticleAcceleratorPartVisualizer is Obsolete (#13897)
  Content.Client/ParticleAccelerator/ParticleAcceleratorPartVisualizer.cs
  Content.Client/ParticleAccelerator/ParticleAcceleratorPartVisualizerComponent.cs
  Content.Client/ParticleAccelerator/ParticleAcceleratorPartVisualizerSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/fuel_chamber.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/power_box.yml
Labels: none

fix holofan loc string missing (#15648)
  Content.Server/Holosign/HolosignSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add scroll zooming for admins and ghosts (#14061)
  Content.Client/Input/ContentContexts.cs
  Content.Client/Movement/Systems/ContentEyeSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/Movement/Systems/ContentEyeSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Movement/Components/ActiveContentEyeComponent.cs
  Content.Shared/Movement/Components/ContentEyeComponent.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

small ambient sound update (#15480)
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Some fixes to magboots (#15392)
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Remove stun and knockdown status effects before applying sleep (#15460)
  Content.Server/Bed/Sleep/SleepingSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Orderable crates: boxing equipment, empty boxes, bodybags (#14378)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add hot potato (#14204)
  Content.Client/HotPotato/HotPotatoSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/HotPotato/HotPotatoSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/HotPotato/ActiveHotPotatoComponent.cs
  Content.Shared/HotPotato/HotPotatoComponent.cs
  Content.Shared/HotPotato/SharedHotPotatoSystem.cs
  Resources/Locale/en-US/hot-potato/hot-potato.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
  Resources/Textures/Objects/Weapons/Bombs/hot_potato.rsi/activated.png
  Resources/Textures/Objects/Weapons/Bombs/hot_potato.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/hot_potato.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

autogen parallax state (#15384)
  Content.Client/Parallax/ParallaxSystem.cs
  Content.Server/Parallax/ParallaxSystem.cs
  Content.Shared/Parallax/ParallaxComponent.cs
Labels: none

Translate Upstream #1002 (#1004)
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ninja/gloves.ftl
  Resources/Locale/ru-RU/ninja/katana.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/ninja/role.ftl
  Resources/Locale/ru-RU/ninja/spider-charge.ftl
  Resources/Locale/ru-RU/ninja/terror.ftl
  Resources/Locale/ru-RU/objectives/conditions/doorjack-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/download-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/survive-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/terror-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Translate Upstream #1002 (#1004)
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ninja/gloves.ftl
  Resources/Locale/ru-RU/ninja/katana.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/ninja/role.ftl
  Resources/Locale/ru-RU/ninja/spider-charge.ftl
  Resources/Locale/ru-RU/ninja/terror.ftl
  Resources/Locale/ru-RU/objectives/conditions/doorjack-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/download-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/survive-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/terror-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Translate space villain arcade (#1003)
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
Labels: none

Translate space villain arcade (#1003)
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
Labels: none

Update lamp plushie sprite (#1006)
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lamp.png
Labels: Changes: Sprites

Update lamp plushie sprite (#1006)
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lamp.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add extended to secret gamemode preset (#1009)
  Resources/Prototypes/secret_weights.yml
Labels: none

Add extended to secret gamemode preset (#1009)
  Resources/Prototypes/secret_weights.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

[Map] Avrite 0.22 (#1012)
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: none

[Map] Avrite 0.22 (#1012)
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Rigged boxing gloves (#13847)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Power cell slot QOL (#15373)
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Pinpointer/StationMapSystem.cs
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/PowerCell/PowerCellDrawComponent.cs
  Content.Server/PowerCell/PowerCellSlotEmptyEvent.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/UserInterface/ActivatableUIRequiresPowerCellComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.Power.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Resources/Locale/en-US/power-cell/components/power-cell-component.ftl
  Resources/Locale/en-US/stunnable/components/stunbaton-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_map.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/station_map.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Security boots new sound" (#15668)
  Resources/Audio/Effects/Footsteps/suitstep1.ogg
  Resources/Audio/Effects/Footsteps/suitstep2.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
