Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Persist Agent ID Job Icon between UI loads (#27379)
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
Labels: Changes: UI

Add test for failing and then successfully starting a round (#27375)
  Content.IntegrationTests/Tests/GameRules/FailAndStartPresetTest.cs
Labels: none

Hide disposal unit "Jump inside" verb for mobs that won't fit (#27367)
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Adjusts price of SWAT crate (#27365)
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: none

add cancer mouse for real (#26768)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/GameRules/events.yml
Labels: none

welding gas mask (#27108)
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/icon-up.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/icon.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/meta.json
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-equipped-MASK.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-inhand-left.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-inhand-right.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix stupid NPC. (#26868)
  Content.Server/NPC/HTN/Preconditions/InContainerPrecondition.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/ContainerOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/EscapeOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnPullOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnbuckleOperator.cs
  Resources/Prototypes/NPCs/Combat/melee.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Displacement map prototype (#26709)
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Shaders/displacement.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/jumpsuit.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/Shaders/displacement.swsl
  Tools/SS14 Aseprite Plugins/Displacement Map Flip.lua
  Tools/SS14 Aseprite Plugins/Displacement Map Visualizer.lua
Labels: Changes: Sprites

Fix prying error when opening locked airlocks (#27386)
  Content.Shared/Prying/Systems/PryingSystem.cs
Labels: none

Fix lint (#27388)
  Resources/Prototypes/NPCs/Combat/melee.yml
Labels: none

fix: deconstruct verb on undeconstructables (#27387)
  Content.Server/Construction/ConstructionSystem.Guided.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix db
  Content.Server.Database/Migrations/Postgres/20230319110655_ProfileTraitIndexUnique.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230319112124_ServerBanExemption.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230402214647_BanAutoDelete.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230503001749_AdminNotesImprovement.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230725193102_AdminNotesImprovementsForeignKeys.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230727190902_AdminLogCompoundKey.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231021071411_RoundStartDate.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231024041204_DropAdminLogEntity.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231126234054_ConnectionLogServer.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231226154937_AdminLogPk.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240201091301_SpawnPriorityPreference.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240301130641_ClothingRemoval.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240318022005_AdminMessageDismiss.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240403072242_Loadouts.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240409013837_FixRoundStartDateNullability.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230319110651_ProfileTraitIndexUnique.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230319112120_ServerBanExemption.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230402214642_BanAutoDelete.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230503001739_AdminNotesImprovement.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230725193058_AdminNotesImprovementsForeignKeys.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230727190858_AdminLogCompoundKey.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231021071407_RoundStartDate.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231024041159_DropAdminLogEntity.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231126234049_ConnectionLogServer.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231226154929_AdminLogPk.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240201091254_SpawnPriorityPreference.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240301130602_ClothingRemoval.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240318021959_AdminMessageDismiss.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240403072258_Loadouts.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240409013832_FixRoundStartDateNullability.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240409014937_FixRoundStartDateNullability2.Designer.cs
Labels: none

Fix db
  Content.Server.Database/Migrations/Postgres/20230319110655_ProfileTraitIndexUnique.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230319112124_ServerBanExemption.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230402214647_BanAutoDelete.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230503001749_AdminNotesImprovement.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230725193102_AdminNotesImprovementsForeignKeys.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230727190902_AdminLogCompoundKey.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231021071411_RoundStartDate.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231024041204_DropAdminLogEntity.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231126234054_ConnectionLogServer.Designer.cs
  Content.Server.Database/Migrations/Postgres/20231226154937_AdminLogPk.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240201091301_SpawnPriorityPreference.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240301130641_ClothingRemoval.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240318022005_AdminMessageDismiss.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240403072242_Loadouts.Designer.cs
  Content.Server.Database/Migrations/Postgres/20240409013837_FixRoundStartDateNullability.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230319110651_ProfileTraitIndexUnique.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230319112120_ServerBanExemption.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230402214642_BanAutoDelete.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230503001739_AdminNotesImprovement.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230725193058_AdminNotesImprovementsForeignKeys.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230727190858_AdminLogCompoundKey.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231021071407_RoundStartDate.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231024041159_DropAdminLogEntity.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231126234049_ConnectionLogServer.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20231226154929_AdminLogPk.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240201091254_SpawnPriorityPreference.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240301130602_ClothingRemoval.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240318021959_AdminMessageDismiss.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240403072258_Loadouts.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240409013832_FixRoundStartDateNullability.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20240409014937_FixRoundStartDateNullability2.Designer.cs
Labels: none

Update Secrets
  Corvax/Content.Corvax.Interfaces.Server/IServerLoadoutManager.cs
Labels: none

Update Secrets
  Corvax/Content.Corvax.Interfaces.Server/IServerLoadoutManager.cs
Labels: none

Set Oasis station IAA
  Resources/Prototypes/Maps/oasis.yml
Labels: Changes: Map

Set Oasis station IAA
  Resources/Prototypes/Maps/oasis.yml
Labels: Changes: Map

tweaked the old dress sprite (#27391)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/olddress.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

Add missing RSI states for Clockwork doors
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/panel_closed.png
Labels: Changes: Sprites

Add missing RSI states for Clockwork doors
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/panel_closed.png
Labels: Changes: Sprites

Canes + Cane Blade for Syndicate Librarians (#25873)
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/sheath.ogg
  Resources/Audio/Items/unsheath.ogg
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/cane-empty.png
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/cane.png
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cane.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/cane_blade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/cane_blade.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cane_blade.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/cane_blade.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix: localisation keys in random content books (#27390)
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
Labels: none

Add tooltips to artifact analyzer UI (#27393)
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: UI, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

vox oxygen toxicity, respiration changes (#26705)
  Content.Shared/Preferences/Loadouts/Effects/SpeciesLoadoutEffect.cs
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Admin.yml
  Resources/Changelog/Changelog.yml
Labels: none

Small tomato killer tweak (#27265)
  Resources/Prototypes/Entities/Effects/mobspawn.yml
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Printable Special Mags and Empty Mags and Material Rebalance for Ammo (#26178)
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/RecipeControl.xaml
  Content.Client/Lathe/UI/RecipeControl.xaml.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shelluranium.png
Labels: Changes: Sprites, Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/chopsticks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghostrole-spawner-verb-selectable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/chopsticks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/chopsticks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghostrole-spawner-verb-selectable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/chopsticks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

Fix voice mask TTS
  Content.Server/Corvax/TTS/VoiceMaskSystem.TTS.cs
Labels: none

Fix voice mask TTS
  Content.Server/Corvax/TTS/VoiceMaskSystem.TTS.cs
Labels: none

[Admin QOL] +Adminchat flag (#26930)
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/Commands/AdminChatCommand.cs
  Content.Shared/Administration/AdminFlags.cs
Labels: none
