Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Status Icons (#17529)
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/StatusIcon/Components/StatusIconComponent.cs
  Content.Shared/StatusIcon/SharedStatusIconSystem.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/StatusIcon/antag.yml
  Resources/Prototypes/StatusIcon/debug.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Zombie.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites

More Pirate Accenting (#17564)
  Resources/Locale/en-US/accent/pirate.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

mining shuttle poor (#17701)
  Resources/Maps/Shuttles/mining.yml
Labels: none

add device linking logs (#17555)
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
Labels: none

Refactor TriggerSystem.Proximity (#17554)
  Content.Client/Explosion/TriggerSystem.Proximity.cs
  Content.Server/Explosion/Components/TriggerOnProximityComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Proximity.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
Labels: none

Nerf folding chair (#17699)
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

welder stuff (#17476)
  Content.Client/Tools/ToolSystem.cs
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Construction/RefiningSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Tools/Components/WeldableComponent.cs
  Content.Server/Tools/Components/WelderComponent.cs
  Content.Server/Tools/Systems/WeldableSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add leech to crusher (#17683)
  Content.Shared/Weapons/Marker/LeechOnMarkerComponent.cs
  Content.Shared/Weapons/Marker/SharedDamageMarkerSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Disable smoke reactions (#17693)
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
Labels: none

Turns 90% of vomit into actual vomit (#17697)
  Content.Server/Medical/VomitSystem.cs
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Reagents/biological.yml
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Mateba and Decard buff (#17631)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make it even more obvious extracting is good (#17487)
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
Labels: Changes: Localization

Add space lube tube (#17387)
  Content.Server/Lube/LubeSystem.cs
  Content.Server/Lube/LubedSystem.cs
  Content.Shared/Lube/LubeComponent.cs
  Content.Shared/Lube/LubedComponent.cs
  Resources/Locale/en-US/lube/lube.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_fun.yml
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/fill1.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/fill2.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/fill3.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/fill4.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/fill5.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/fill6.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/icon-front.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/lube-tube.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

salvage updatety (#17705)
  Resources/Maps/Salvage/asteroid-base.yml
  Resources/Maps/Salvage/cargo-1.yml
  Resources/Maps/Salvage/medium-1.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-dock.yml
  Resources/Maps/Salvage/medium-library.yml
  Resources/Maps/Salvage/medium-pet-hospital.yml
  Resources/Maps/Salvage/medium-pirate.yml
  Resources/Maps/Salvage/medium-ruined-emergency-shuttle.yml
  Resources/Maps/Salvage/medium-silent-orchestra.yml
  Resources/Maps/Salvage/medium-vault-1.yml
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
  Resources/Maps/Salvage/small-ai-survey-drone.yml
  Resources/Maps/Salvage/small-ship-1.yml
Labels: none

Draw MapAtmosphere gasses (#17688)
  Content.Client/Atmos/Components/MapAtmosphereComponent.cs
  Content.Client/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.Server/Atmos/Components/MapAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Maps/PlanetCommand.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Atmos/Components/SharedMapAtmosphereComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Little NodeContainer ECS (#17702)
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPassiveGateSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasRecyclerSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasValveSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasOutletInjectorSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPassiveVentSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPortableSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Server/DeviceNetwork/Systems/ApcNetworkSystem.cs
  Content.Server/Electrocution/ElectrocutionNode.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/NodeContainer/EntitySystems/NodeContainerSystem.cs
  Content.Server/NodeContainer/NodeContainerComponent.cs
  Content.Server/Power/EntitySystems/CableVisSystem.cs
  Content.Server/Power/EntitySystems/PowerMonitoringConsoleSystem.cs
  Content.Server/Spreader/SpreaderNode.cs
  Content.Server/Spreader/SpreaderSystem.cs
Labels: none

Add snow rocks to planets (#17692)
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Procedural/Loot/BiomeMarkerLoot.cs
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_snow.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_snow_east.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_snow_north.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_snow_south.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_snow_west.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

ECS AME (#16779)
  Content.Client/AME/AMEControllerVisualizerSystem.cs
  Content.Client/AME/AMEShieldingVisualizerSystem.cs
  Content.Client/AME/Components/AMEControllerVisualsComponent.cs
  Content.Client/AME/Components/AMEShieldingVisualsComponent.cs
  Content.Client/Ame/UI/AmeControllerBoundUserInterface.cs
  Content.Client/Ame/UI/AmeWindow.xaml
  Content.Client/Ame/UI/AmeWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Server/AME/AMENodeGroup.cs
  Content.Server/AME/AMESystem.cs
  Content.Server/AME/Components/AMEControllerComponent.cs
  Content.Server/AME/Components/AMEFuelContainerComponent.cs
  Content.Server/AME/Components/AMEPartComponent.cs
  Content.Server/AME/Components/AMEShieldComponent.cs
  Content.Server/Ame/AmeNodeGroup.cs
  Content.Server/Ame/Components/AmeControllerComponent.cs
  Content.Server/Ame/Components/AmeFuelContainerComponent.cs
  Content.Server/Ame/Components/AmePartComponent.cs
  Content.Server/Ame/Components/AmeShieldComponent.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Server/Ame/EntitySystems/AmeFuelSystem.cs
  Content.Server/Ame/EntitySystems/AmePartSystem.cs
  Content.Server/Ame/EntitySystems/AmeShieldingSystem.cs
  Content.Shared/AME/SharedAMEControllerComponent.cs
  Content.Shared/AME/SharedAMEShieldComponent.cs
  Content.Shared/Ame/SharedAmeControllerComponent.cs
  Content.Shared/Ame/SharedAmeShieldComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/particle_accelerator.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_part.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/ame_shielding.yml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/migration.yml
Labels: Changes: UI

Fix DrinkBeer in Avrite shuttle
  Resources/Maps/Shuttles/emergency_avrit.yml
Labels: none

Fix DrinkBeer in Avrite shuttle
  Resources/Maps/Shuttles/emergency_avrit.yml
Labels: none

Add basalt walls for lavaland (#17709)
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_wall.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_wall_east.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_wall_north.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_wall_south.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_wall_west.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_fun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/power/antimatter_part.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/ame.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/accent/pirate.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_part.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/ame.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
Labels: Changes: Localization

Update locale
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_fun.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/power/antimatter_part.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/ame.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/accent/pirate.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_part.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/ame.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
Labels: Changes: Localization

ListObjectivesCommand localisation and completion (#17630)
  Content.Server/Objectives/Commands/ListObjectivesCommand.cs
  Resources/Locale/en-US/objectives/commands/lsobjectives.ftl
  Resources/Locale/en-US/shell.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

more expedition changes (#17403)
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Salvage/Expeditions/Modifiers/IBiomeSpecificMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/ISalvageMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageAirMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageDungeonMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageTemperatureMod.cs
  Content.Shared/Salvage/Expeditions/Modifiers/SalvageWeatherMod.cs
  Content.Shared/Salvage/Expeditions/SalvageExpeditions.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: Changes: UI

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translation of the pirates accent prefix (#1154)
  Resources/Locale/ru-RU/accent/pirate.ftl
Labels: Changes: Localization

Translation of the pirates accent prefix (#1154)
  Resources/Locale/ru-RU/accent/pirate.ftl
Labels: Changes: Localization

Remove some garbage from salvage rewards list (#1173)
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: none
