Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]

Fix station goal with fax
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
Labels: none

Fix airlock closed light
  Content.Server/Doors/Systems/AirlockSystem.cs
Labels: none

Fix airlock closed light
  Content.Server/Doors/Systems/AirlockSystem.cs
Labels: none

Update patrons and credits (#13554)
  Resources/Credits/GitHub.txt
  Resources/Credits/Patrons.yml
  Tools/dump_patrons.ps1
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Proper ERT Uniforms (#13439)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Makes mobs visually float when weightless (#13391)
  Content.Client/Gravity/FloatingVisualizerSystem.cs
  Content.Client/Pointing/Components/PointingArrowComponent.cs
  Content.Client/Pointing/PointingSystem.cs
  Content.Server/Gravity/FloatingVisualizerSystem.cs
  Content.Shared/Gravity/FloatingVisualsComponent.cs
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix not being able to message players that weren't filtered by the ahelp menu (#13553)
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
Labels: Changes: UI

Locksystem cleanup (#13409)
  Content.Server/Lock/LockSystem.cs
Labels: none

Anomaly fixes (#13558)
  Content.Client/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/Effects/SharedGravityAnomalySystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Bluespace lockers fix (#13575)
  Content.Server/StationEvents/Events/BluespaceLocker.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
Labels: none

Fix nested context menu popup (#13578)
  Content.Client/ContextMenu/UI/EntityMenuUIController.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Bluespace lockers fix fix (#13579)
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
Labels: none

Bagel Update 16.4 (#13562)
  Resources/Maps/bagel.yml
Labels: Changes: Map

wizard ship (#13373)
  Resources/Maps/Shuttles/wizard.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Moose 3.3.2 (#13571)
  Resources/Maps/moose.yml
Labels: Changes: Map

StepTrigger stuff (#13574)
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
Labels: none

IgnitionSourceComponent added (#13555)
  Content.Server/IgnitionSource/IgnitionSourceComponent.cs
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Don't log resolve for waking (#13435)
  Content.Server/Bed/Sleep/SleepingSystem.cs
Labels: none

Fix rotation visualizer (#13580)
  Content.Client/Rotation/RotationVisualizerSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Translate Upstream #754 (#755)
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/guidebook/verb.ftl
  Resources/Locale/ru-RU/paper/paper-component.ftl
  Resources/Locale/ru-RU/pneumatic-cannon/pneumatic-cannon-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/handcuffs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/cult.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/disease_diagnoser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tile/basalt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/lava.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tips/tips-system.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/weather/weather.ftl
Labels: Changes: Localization

Translate Upstream #754 (#755)
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/guidebook/verb.ftl
  Resources/Locale/ru-RU/paper/paper-component.ftl
  Resources/Locale/ru-RU/pneumatic-cannon/pneumatic-cannon-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/handcuffs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/cult.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/disease_diagnoser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tile/basalt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/lava.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tips/tips-system.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/weather/weather.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Add CE and QM to TTS replacer (#752)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

Add CE and QM to TTS replacer (#752)
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Translation edits (#753)
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/recycler.ftl
Labels: Changes: Localization

Translation edits (#753)
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/recycler.ftl
Labels: Changes: Localization

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Automatic changelog update
  Resources/Changelog/ChangelogSyndie.yml
Labels: none

Remove the last comp shutdown methods (#13582)
  Content.Server/Spawners/Components/TimedSpawnerComponent.cs
  Content.Server/Spawners/EntitySystems/TimedDespawnSystem.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
Labels: none
