Repository AdventureSpaceTeam/AdventureSpace, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization

Add sh setup secrets script
  .github/workflows/publish.yml
  Tools/corvax/setup_secrets.sh
Labels: none

Add sh setup secrets script
  .github/workflows/publish.yml
  Tools/corvax/setup_secrets.sh
Labels: none

Fix sh setup_secret script call
  .github/workflows/publish.yml
Labels: none

Fix sh setup_secret script call
  .github/workflows/publish.yml
Labels: none

chmod setup_secrets script
  .github/workflows/publish.yml
Labels: none

chmod setup_secrets script
  .github/workflows/publish.yml
Labels: none

Fix setup_secrets.sh
  .github/workflows/publish.yml
  Tools/corvax/setup_secrets.sh
Labels: none

Fix setup_secrets.sh
  .github/workflows/publish.yml
  Tools/corvax/setup_secrets.sh
Labels: none

just directly call ln in publish workflow
  .github/workflows/publish.yml
  Tools/corvax/setup_secrets.sh
Labels: none

just directly call ln in publish workflow
  .github/workflows/publish.yml
  Tools/corvax/setup_secrets.sh
Labels: none

Remove old corvax secrets locale dir
  Resources/Locale/ru-RU/corvax-secrets/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/corvax-secrets/station-events/events/evil-twin.ftl
Labels: Changes: Localization

Remove old corvax secrets locale dir
  Resources/Locale/ru-RU/corvax-secrets/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/corvax-secrets/station-events/events/evil-twin.ftl
Labels: Changes: Localization

Use cp instead of ln for publish workflow
  .github/workflows/publish.yml
Labels: none

Use cp instead of ln for publish workflow
  .github/workflows/publish.yml
Labels: none

Set smile TTS (#1482)
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

Set smile TTS (#1482)
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: none

Hotfix join queue resolve in status shell
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: none

Hotfix join queue resolve in status shell
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: none

Take fork_id from workflow env
  .github/workflows/publish-publish.yml
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: none

Take fork_id from workflow env
  .github/workflows/publish-publish.yml
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: none

Add names to unnamed SMES and Subs (#20712)
  Resources/Maps/meta.yml
Labels: Changes: Map

Fix plant species reagent mutations (#20702)
  Content.Server/Botany/SeedPrototype.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix omnitool not prying airlocks (#20697)
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix (#20719)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

Translate Upstream #1473 (#1478)
  Resources/Locale/ru-RU/damage/damage-force-say.ftl
  Resources/Locale/ru-RU/dragon/dragon.ftl
  Resources/Locale/ru-RU/dragon/rifts.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/objectives/conditions/carp-rifts.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-research.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/slimes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecretsserver/objectives/evilTwinObjectives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/grill.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/temperature/entity-heater.ftl
Labels: Changes: Localization

Translate Upstream #1473 (#1478)
  Resources/Locale/ru-RU/damage/damage-force-say.ftl
  Resources/Locale/ru-RU/dragon/dragon.ftl
  Resources/Locale/ru-RU/dragon/rifts.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/objectives/conditions/carp-rifts.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-research.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/slimes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecretsserver/objectives/evilTwinObjectives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/grill.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/temperature/entity-heater.ftl
Labels: Changes: Localization

fix borgs not being able to toggle flashlight (#20448)
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Shared/Light/Components/HandheldLightComponent.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

fix magboots equipped sprites (#20723)
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/on-equipped-FEET.png
Labels: Changes: Sprites

Remove unused methods
  Content.Client/Doors/Electronics/DoorElectronicsConfigurationMenu.xaml.cs
Labels: Changes: UI

Newline fix
  Content.Client/Access/UI/AccessLevelControl.xaml.cs
Labels: Changes: UI

Add missing type argument from PopupClient to PopupEntity (#20725)
  Content.Client/Popups/PopupSystem.cs
Labels: none

Add trading ship for future implementation (#20715)
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: none

Space Ninja 3: an old enemy in a new environment (#20713)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/meta.json
  Resources/Textures/Clothing/Mask/ninja.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/ninja.rsi/icon.png
  Resources/Textures/Clothing/Mask/ninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/ninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/ninja.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/primed.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/meta.json
Labels: Changes: Sprites

Add clipboards (#20717)
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_over.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_paper.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_pen.png
  Resources/Textures/Objects/Misc/clipboard.rsi/equipped-BELT.png
  Resources/Textures/Objects/Misc/clipboard.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/clipboard.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/clipboard.rsi/meta.json
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Add ashwalker and gladiator starting gear sets (#20688)
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: none

emag inhand sprites (#20729)
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Textures/Objects/Tools/emag.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/emag.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/emag.rsi/meta.json
Labels: Changes: Sprites

.github/labeler.yml:

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"No C#":
- all: ["!**/*.cs"]
